<?xml version="1.0" encoding="utf-8"?>
<File guid="b354597d-06c0-4c92-8d8f-128bc3371819" id="3368" nodeName="SB Coop Logo RGB svg" isDoc="" updated="2022-04-26T11.39.50.1100000Z" parentGUID="b545c4db-8039-48df-972c-ce2ca73ba962" nodeTypeAlias="File" path="-1,3341,3368">
  <relations></relations>
  <umbracoBytes><![CDATA[6798]]></umbracoBytes>
  <umbracoExtension><![CDATA[svg]]></umbracoExtension>
  <umbracoFile><![CDATA[/media/2451/sb-coop_logo_rgb.svg]]></umbracoFile>
</File>