<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Banner creater" Key="5f8d17d3-b3d1-4b2f-87ea-a19819f76969" Id="Our.Umbraco.StackedContent" DatabaseType="Ntext" Folder="Baseline/Offers">
  <PreValues>
    <PreValue SortOrder="1" Alias="contentTypes"><![CDATA[[
  {
    "icContentTypeGuid": "236c8a0a-0efe-4661-bc88-c5a5ec789947",
    "nameTemplate": "Banner"
  }
]]]></PreValue>
    <PreValue SortOrder="2" Alias="enableCopy"><![CDATA[0]]></PreValue>
    <PreValue SortOrder="3" Alias="enablePreview"><![CDATA[1]]></PreValue>
    <PreValue SortOrder="4" Alias="hideLabel"><![CDATA[0]]></PreValue>
    <PreValue SortOrder="5" Alias="maxItems"><![CDATA[0]]></PreValue>
    <PreValue SortOrder="6" Alias="singleItemMode"><![CDATA[0]]></PreValue>
  </PreValues>
</DataType>