<?xml version="1.0" encoding="utf-8"?>
<Image guid="4e662e29-bfb5-4454-bbfd-514574c24a8c" id="1955" nodeName="KV_SB_Tinka_Slider_Mobil_600x400.jpg" isDoc="" updated="2022-04-11T12.09.21.2670000Z" parentGUID="0d0678d3-7c08-4325-92b1-946e3be27c60" nodeTypeAlias="Image" path="-1,1706,2849,1955">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[141388]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1349/kv_sb_tinka_slider_mobil_600x400.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[400]]></umbracoHeight>
  <umbracoWidth><![CDATA[600]]></umbracoWidth>
</Image>