<?xml version="1.0" encoding="utf-8"?>
<Image guid="cc4bf259-52ba-471d-82a9-d620dc054700" id="2844" nodeName="1700_Coop_Hverdagsaktivister_Topslider_600x400.png" isDoc="" updated="2022-04-11T12.28.17.9130000Z" parentGUID="f988736b-cdc5-4d6e-9869-7db6fd10557e" nodeTypeAlias="Image" path="-1,1706,2908,2844">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[430326]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2023/1700_coop_hverdagsaktivister_topslider_600x400.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[400]]></umbracoHeight>
  <umbracoWidth><![CDATA[600]]></umbracoWidth>
</Image>