<?xml version="1.0" encoding="utf-8"?>
<Image guid="298593d6-e5c2-4a4e-b890-0d4e512c66ea" id="3608" nodeName="600X400 Topbanner Opskrifter Converted" isDoc="" updated="2023-01-03T16.21.36.1370000Z" parentGUID="c95a91e2-b4d9-4cb5-a112-a88692e40d77" nodeTypeAlias="Image" path="-1,1706,3607,3608">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[90601]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2623/600x400_topbanner_opskrifter_converted.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[400]]></umbracoHeight>
  <umbracoWidth><![CDATA[600]]></umbracoWidth>
</Image>