<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>929550d9-bd2f-404a-8fbe-0368c9484827</Key>
    <Name>Menu</Name>
    <Alias>menu</Alias>
    <Icon>icon-list color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Folder>Baseline/Website+setup</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>927a5c91-8a0d-4626-b260-3b7eec215744</Key>
      <Name>Logo</Name>
      <Alias>logo</Alias>
      <Definition>135d60e0-64d9-49ed-ab08-893c9ba44ae5</Definition>
      <Type>Umbraco.MediaPicker2</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Bruger logoet for den aktive kæde hvis intet vælges]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Indhold</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>02df672f-9317-4ff9-bfea-efbea57d98bd</Key>
      <Name>Logo url</Name>
      <Alias>logoUrl</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Brug dette felt hvis logoet ikke findes i Media arkivet. Overskriver valget ovenfor]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Indhold</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>faebf750-76aa-43ba-bf6f-e32d272cf9f6</Key>
      <Name>Menu</Name>
      <Alias>menu</Alias>
      <Definition>515ae820-5934-46bd-9a23-153eb212239a</Definition>
      <Type>RJP.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Indhold</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>b2876542-b3f9-46d8-9b63-da62969d97c3</Key>
      <Name>Styles</Name>
      <Alias>styles</Alias>
      <Definition>563a4b80-714c-46e7-8675-a60f80818b15</Definition>
      <Type>Our.Umbraco.StackedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Styles</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Indhold</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Styles</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>