<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>47fcaa81-8392-409f-a3a3-36c413bdeda9</Key>
    <Name>Billedslider bånd</Name>
    <Alias>ribbonImageSlider</Alias>
    <Icon>icon-pictures-alt-2 color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Folder>Baseline/Ribbons</Folder>
    <Compositions>
      <Composition Key="0a480072-8385-43fb-8d87-6dadd929858d">compositionRibbon</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>0136a2d7-4ab4-4d34-a79f-d8c5f8170ba1</Key>
      <Name>Autoplay</Name>
      <Alias>autoplay</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Indhold</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>7353c68a-43d5-450e-9769-ef77826a59c0</Key>
      <Name>Slå prissplash fra</Name>
      <Alias>disablePriceSplash</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Hvis dette felt afkrydses så slås prissplashen fra på alle billederne i båndet.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Indhold</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>9146da00-9c91-44a0-bbb3-920f4179c1b4</Key>
      <Name>Udvidet billeder</Name>
      <Alias>extendedImages</Alias>
      <Definition>1213595d-431f-4cd7-987b-265da56c3914</Definition>
      <Type>Our.Umbraco.StackedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Bliver overskrevet af indhold under "Billeder". Bruges hvis man ønsker at der skal være et link på billedet.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Indhold</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>1fa04e1c-2ddd-47aa-bcf9-c479534d30dc</Key>
      <Name>Billeder</Name>
      <Alias>images</Alias>
      <Definition>015d2e6d-accc-4f6d-95f1-a1171bac3741</Definition>
      <Type>Umbraco.MediaPicker2</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Alle billederne bliver vist i en slider]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Indhold</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>c77b0ea5-76e8-427c-a680-a1e8423908ca</Key>
      <Name>Lad billeder gå til kant</Name>
      <Alias>makeImagesGoToBorder</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Indhold</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>b0b2437c-18d7-4cfc-a836-27bf39c81bf9</Key>
      <Name>Styles</Name>
      <Alias>styles</Alias>
      <Definition>69e94cbc-82ce-4acf-871c-f02f58006255</Definition>
      <Type>Our.Umbraco.StackedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Styles</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>446af210-85b8-4404-bbe2-b77bc1decab5</Key>
      <Name>Tekst under udvidet billeder</Name>
      <Alias>textUnderImages</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Default er at teksten er over billederne. Virker kun hvis der er indsat tekst i feltet "Tekst" under "Udvidet billedet"]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Indhold</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Indhold</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Styles</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>