<?xml version="1.0" encoding="utf-8"?>
<Image guid="e40a4cc2-c1f7-41b5-8684-25508fbb9b97" id="3637" nodeName="38633 2023 08 Anglamark Priskampagne Slider 2000X500" isDoc="" updated="2023-02-08T08.19.16.5900000Z" parentGUID="00000000-0000-0000-0000-000000000000" nodeTypeAlias="Image" path="-1,3637">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[93037]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2651/38633_2023-08_anglamark_priskampagne-slider_2000x500.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[500]]></umbracoHeight>
  <umbracoWidth><![CDATA[2000]]></umbracoWidth>
</Image>