<?xml version="1.0" encoding="utf-8"?>
<Image guid="87b0a626-2215-4286-b06d-1c3c31e4f5fb" id="2168" nodeName="jana-niggeloh-EeiKuDLRVCY-unsplash.jpg" isDoc="" updated="2020-02-21T11.23.13.2670000Z" parentGUID="194f2d19-105b-4038-8ca7-fe790668473f" nodeTypeAlias="Image" path="-1,1539,1563,2162,2168">
  <alt><![CDATA[Lavendler ]]></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[1519779]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{
  "src": "/media/1513/jana-niggeloh-eeikudlrvcy-unsplash.jpg",
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  }
}]]></umbracoFile>
  <umbracoHeight><![CDATA[3456]]></umbracoHeight>
  <umbracoWidth><![CDATA[5184]]></umbracoWidth>
</Image>