<?xml version="1.0" encoding="utf-8"?>
<Image guid="db8016de-1800-46dc-b0bc-9ab23e36384d" id="2386" nodeName="Gode-tips-til-tilberedning-af-kylling-på-kulgrill.jpg" isDoc="" updated="2020-06-23T07.53.33.4230000Z" parentGUID="093ee0b0-316c-4b03-9d9c-734fa8078d89" nodeTypeAlias="Image" path="-1,1530,1546,1547,2386">
  <alt><![CDATA[Gode tips til tilberedning af kylling på kulgrill]]></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[71027]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{
  "src": "/media/1686/gode-tips-til-tilberedning-af-kylling-paa-kulgrill.jpg",
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  }
}]]></umbracoFile>
  <umbracoHeight><![CDATA[554]]></umbracoHeight>
  <umbracoWidth><![CDATA[831]]></umbracoWidth>
</Image>