<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Slide ribbon picker" Key="c137ccfb-22e7-48ed-9235-bd34b60720e0" Id="Our.Umbraco.StackedContent" DatabaseType="Ntext" Folder="Baseline/Ribbons">
  <PreValues>
    <PreValue SortOrder="1" Alias="contentTypes"><![CDATA[[
  {
    "icContentTypeGuid": "85f2cf93-5bfa-4c4b-aa1c-8b75f0fb7247",
    "nameTemplate": "50/50"
  },
  {
    "icContentTypeGuid": "c4397f5b-604a-4175-8820-ff1bdf1fb244",
    "nameTemplate": "Video"
  },
  {
    "icContentTypeGuid": "6ad05c7a-332e-4c1c-97f2-df8954c4aa18",
    "nameTemplate": "Tekst"
  },
  {
    "icContentTypeGuid": "7b3826ce-fe0d-4d38-a3a4-9c2ba48aa27b",
    "nameTemplate": "Billede"
  }
]]]></PreValue>
    <PreValue SortOrder="2" Alias="enableCopy"><![CDATA[1]]></PreValue>
    <PreValue SortOrder="3" Alias="enablePreview"><![CDATA[1]]></PreValue>
    <PreValue SortOrder="4" Alias="hideLabel"><![CDATA[0]]></PreValue>
    <PreValue SortOrder="5" Alias="maxItems"><![CDATA[1]]></PreValue>
    <PreValue SortOrder="6" Alias="singleItemMode"><![CDATA[0]]></PreValue>
  </PreValues>
</DataType>