<?xml version="1.0" encoding="utf-8"?>
<news guid="b877c043-0fc8-44ff-a8f4-a4b440560169" id="1487" nodeName="En introduktion til hvid, rosé, rød og bobler" isDoc="" updated="2020-01-22T13.04.58.8670000Z" parentGUID="c5256333-c19e-4cb7-bb55-30517f2f80a5" nodeTypeAlias="news" templateAlias="Baseline_News" sortOrder="8" published="true" isBlueprint="false">
  <bodyEndHtml></bodyEndHtml>
  <bodyScript></bodyScript>
  <contentType></contentType>
  <date>2015-05-07T00:00:00</date>
  <digiSegment></digiSegment>
  <headHtml></headHtml>
  <headline><![CDATA[En introduktion til hvid, rosé, rød og bobler]]></headline>
  <headScript></headScript>
  <hideFooter>0</hideFooter>
  <hideFromSitemap>0</hideFromSitemap>
  <hideTop>0</hideTop>
  <metaCanonicalUrl></metaCanonicalUrl>
  <metaDescription><![CDATA[Vil du gerne lære mere om vin, så læs vores guide her om de forskellene på hvidvin, rosevin, rødvin og vin med bobler. Læs mere her!]]></metaDescription>
  <metaNoFollow>0</metaNoFollow>
  <metaNoIndex>0</metaNoIndex>
  <metaTitle><![CDATA[Viden om vin – Bliv klogere på de forskellige vine – Læs her]]></metaTitle>
  <nonResponsive></nonResponsive>
  <ogImage></ogImage>
  <relations></relations>
  <removeTextShadow>0</removeTextShadow>
  <specialFaviconSmall></specialFaviconSmall>
  <specialFaviconStandard></specialFaviconStandard>
  <subHeadline><![CDATA[De fleste har både smagt og kender de væsentligste forskelle på hvid, rosé, rød og bobler ]]></subHeadline>
  <tags><![CDATA[["vin"]]]></tags>
  <text><![CDATA[<p>Men hvis du er helt ny i vinens verden eller du lige vil læse op på forskellene, kommer her en kort introduktion.<br /><br /><strong>Hvidvin</strong></p>
<p>I Danmark lever hvidvin lidt i skyggen af rødvin. Nogle opfatter ligefrem hvidvin som et nødvendigt onde til forretten. En af forklaringerne kan være, at vi ikke er lige så seriøse i vores valg af hvidvin. Her skeles mere til pris end smag. Der er ellers god grund til at gøre sig umage med hvidvinen. Flere vinmagere mener, at det er vanskeligere at producere en god hvidvin end en god rødvin. En af forklaringerne er, at drueskallerne til hvidvin ikke udblødes i mosten. Druens skal indeholder en lang række aromastoffer, men også farverstoffer. Da en hvidvin forventes at være lys og klar i farven, undgår man kontakt med skallerne. Derved får man ikke glæde af aromaen fra skallen og vinmageren må træffe andre valg, for at skabe en smagfuld hvidvin.<br /><br /><strong>Rosévin</strong></p>
<p>Rosévin er populært som aldrig før og nydes i dag året rundt. Rosé kan laves på to måder. Den mest fremtrædende er, når skallerne fra blå druer udblødes i mosten i få timer før den alkoholiske gæring. Vinens farve kommer fra skallerne, og afhængigt af længden med skindkontakt og typen af drue/druer ændres farveintensiteten. Nogle er helt lyse og laksefarvede, mens andre er mere mættede, tæt på pink. Smag og behag er forskellig, men i dag er langt størstedelen af rosévine tørre.<br /><br /><strong>Rødvin</strong></p>
<p>I Danmark er 2 ud af 3 flasker vin - rød. Man kan ligefrem tale om en dansk rødvinssmag, for udvalget er i høj grad præget af vine, der er kraftfulde og bløde i smagen. Men udvalget og forskellene på rødvin er meget store. Alt afhængigt af, hvad du skal have at spise til. Men hvis man har en favorit, kan det være svært at prøve noget nyt. En måde at udfordre egne smagsløg på, er ved at smage mange forskellige rødvine. Gør det til en vane at drikke vin på glas, når du spiser ude, så får du flere smagsoplevelser og kan bytte over til en anden smag hvis den vin, du bestilte, ikke passer dig.<br /><br /><strong>Bobler</strong></p>
<p>Mousserende vin oplever en sand opblomstring i disse år. Det er glædeligt af flere årsager. For det første vil det opmuntre importører til at finde flere spændende mousserende vine. For det andet vil mange opdage, at tørre, mousserende vine er sædeles anvendelige til mad. For det tredje slår bobler en stemning an – også på en almindelig tirsdag. Mange kalder mousserende vine for champagne, men det er ikke altid korrekt. Champagne er et område i Frankrig, hvor man producerer mousserende vine, og det er kun dem, der må bære navnet Champagne. Men der produceres fremragende mousserende vine mange andre steder, så man skal ikke holde sig tilbage, hvis der står cava, cremant eller prosecco på flasken.</p>]]></text>
  <thumbnail><![CDATA[umb://media/1d3787f7cf524ed7b0b76a3142599067]]></thumbnail>
  <umbracoUrlName></umbracoUrlName>
  <useImageAsTopImage>1</useImageAsTopImage>
</news>