<?xml version="1.0" encoding="utf-8"?>
<news guid="098a2901-562b-489c-88ae-791102be786f" id="2423" nodeName="Laks på grill" isDoc="" updated="2020-06-26T10.19.22.8400000Z" parentGUID="598726ab-2465-4992-acd2-faa6c51f3a2b" nodeTypeAlias="news" templateAlias="Baseline_News" sortOrder="13" published="true" isBlueprint="false">
  <bodyEndHtml></bodyEndHtml>
  <bodyScript></bodyScript>
  <contentType></contentType>
  <date>2020-06-26T00:00:00</date>
  <digiSegment></digiSegment>
  <headHtml></headHtml>
  <headline><![CDATA[Laks på grill]]></headline>
  <headScript></headScript>
  <hideFooter>0</hideFooter>
  <hideFromSitemap>0</hideFromSitemap>
  <hideTop>0</hideTop>
  <metaCanonicalUrl></metaCanonicalUrl>
  <metaDescription><![CDATA[Laks på grill er helt perfekt til de lune sommeraftner, hvor der skal noget andet end pølser på grillen. Læs her hvordan du griller den saftigste laks »]]></metaDescription>
  <metaNoFollow>0</metaNoFollow>
  <metaNoIndex>0</metaNoIndex>
  <metaTitle><![CDATA[Laks på grill – Lær at grille den saftigste laks – Klik her]]></metaTitle>
  <nonResponsive></nonResponsive>
  <ogImage></ogImage>
  <relations></relations>
  <removeTextShadow>0</removeTextShadow>
  <specialFaviconSmall></specialFaviconSmall>
  <specialFaviconStandard></specialFaviconStandard>
  <subHeadline></subHeadline>
  <tags><![CDATA[["laks","grill","sommermad","asparges","citronsaft"]]]></tags>
  <text><![CDATA[<p>Grillet laks er lækkert, friskt og perfekt til de lune sommeraftner ved grillen. Når der skal være andet at vælge imellem, er grillet laks et godt alternativ til pølserne. Laks er især lækkert, da du kan krydre smagen til netop dine præferencer – hvad enten det er saltet, sødt eller krydret. Derudover passer grillet laks rigtig godt med andet lækker sommermad, som; lækre kartofler, grillede asparges og grøntsagsspyd.</p>
<p><strong>Fremgangsmåde: </strong></p>
<ol>
<li>Start med at gøre laksen klar til grill ved at skrabe skrællet af laksen og skær gerne laksen i mindre stykker.</li>
<li>Laksen kan med fordel krydres med lidt citronsaft, krydderurter, salt og peber – så bliver den ekstra lækker og smagfuld.</li>
<li>Laksen sættes på grillen i ca. 10 min – alt efter hvor varm grillen er.</li>
<li>Laksen er færdig, når den kan deles i midten – hold et ekstra øje med en laks på grill, da den hurtig kan blive tør og kedelig, hvis den får for meget.</li>
</ol>
<p>TIP:  Tilføj gerne asparges og grønsatsspyd på grillen. Det passer perfekt til grillet laks.</p>
<h2><strong>Varmrøget laks på grill </strong></h2>
<p>Du kan både grille laks direkte på grillen, men et andet alternativ er at grille laks ved varmrøgning. Det er også super lækkert - og let. Med en varmrøget laks hører også lækre grillede asparges til samt kartofler og dild/sour creme dressing.</p>
<p><strong>Fremgangsmåde: </strong></p>
<ol>
<li>Kom gerne en krydret laks i en grillebakke.</li>
<li>Når der kommer røg ud af grillen, skal du skrue helt ned for blusset, hvor du derefter skal sætte grill bakken på røgerøret.</li>
<li>Laksen skal grilles i ca. 10 minutter, hvor du skal holde ekstra øje med den – ingen kan lide en tør laks.</li>
<li>Når laksen har fået nok, har du en varmrøget laks på grill, som er klar til servering.</li>
</ol>
<p><strong>Tip</strong>: Du kan med fordel grille din laks i stanniol – det kommer til at give en saftig smag.</p>
<p><strong>FAQ: </strong></p>
<ul>
<li><strong>Hvor lang tid skal laks have på grillen? </strong></li>
</ul>
<p>Laks skal have omkring 10-15 minutter på grillen, alt afhængig af hvor varm grillen er. Grillet laks kan hurtigt blive tørt og kedeligt, derfor skal du holde et ekstra godt øje med den.</p>
<ul>
<li><strong>Hvordan griller jeg laks på grillen?</strong></li>
</ul>
<p>Det er nemt at grille laks på grill. Det eneste du skal have, er en laks, som du har krydret, og en grill på høj varme. Laksen skal have højst 10 min på en grill – alt efter hvor varm grillen er.</p>]]></text>
  <thumbnail><![CDATA[umb://media/6565d8a1b973472ca58d7b89856d70b8]]></thumbnail>
  <umbracoUrlName></umbracoUrlName>
  <useImageAsTopImage>1</useImageAsTopImage>
</news>