<?xml version="1.0" encoding="utf-8"?>
<Image guid="3417c8e5-62d6-4693-877b-1998ba2ce756" id="3662" nodeName="SB RGB Mar23" isDoc="" updated="2023-03-02T08.30.22.9630000Z" parentGUID="8d0d1b31-f430-4fdd-ad52-678e3a30a180" nodeTypeAlias="Image" path="-1,3341,3656,3662">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[22345]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2674/sb_rgb_mar23.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[803]]></umbracoHeight>
  <umbracoWidth><![CDATA[1650]]></umbracoWidth>
</Image>