<?xml version="1.0" encoding="utf-8"?>
<Image guid="c15029f4-68df-481c-83e2-36f55639760a" id="3360" nodeName="Lillapige" isDoc="" updated="2022-04-13T12.40.54.6130000Z" parentGUID="76c3b5c3-1e91-4b95-80be-e3218b8b3a1e" nodeTypeAlias="Image" path="-1,3327,3360">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[317597]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2443/lillapige.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[450]]></umbracoHeight>
  <umbracoWidth><![CDATA[450]]></umbracoWidth>
</Image>