<?xml version="1.0" encoding="utf-8"?>
<Image guid="e656daa5-3406-4de9-83f7-166262e8f4e6" id="3472" nodeName="Unknown 2" isDoc="" updated="2022-07-28T07.57.27.9830000Z" parentGUID="44f09677-9073-4902-9dc0-f2b3b9badf2e" nodeTypeAlias="Image" path="-1,3469,3472">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[130916]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2513/unknown-2.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[1080]]></umbracoHeight>
  <umbracoWidth><![CDATA[1920]]></umbracoWidth>
</Image>