<?xml version="1.0" encoding="utf-8"?>
<page guid="2ed161f2-3e5a-40f4-9c7c-e8aef2957ad8" id="1396" nodeName="Fars dag" isDoc="" updated="2019-10-17T10.18.25.3630000Z" parentGUID="14f1a6fe-71cb-4af9-9cd5-1ad5b756501c" nodeTypeAlias="page" templateAlias="Baseline_Page" sortOrder="8" published="false" isBlueprint="false">
  <bodyEndHtml></bodyEndHtml>
  <bodyScript></bodyScript>
  <contentType></contentType>
  <digiSegment></digiSegment>
  <extraSearchWord></extraSearchWord>
  <fastTripDisable>0</fastTripDisable>
  <headHtml></headHtml>
  <headScript></headScript>
  <hideFooter>0</hideFooter>
  <hideFromSitemap>0</hideFromSitemap>
  <hideTop>0</hideTop>
  <metaCanonicalUrl></metaCanonicalUrl>
  <metaDescription></metaDescription>
  <metaNoFollow>0</metaNoFollow>
  <metaNoIndex>0</metaNoIndex>
  <metaTitle></metaTitle>
  <nonResponsive></nonResponsive>
  <ogImage></ogImage>
  <pageTags><![CDATA[[]]]></pageTags>
  <priceSplashStyles></priceSplashStyles>
  <relations></relations>
  <ribbons></ribbons>
  <rules></rules>
  <specialFaviconSmall></specialFaviconSmall>
  <specialFaviconStandard></specialFaviconStandard>
  <umbracoUrlName></umbracoUrlName>
</page>