<?xml version="1.0" encoding="utf-8"?>
<Image guid="51f5e983-09dd-452c-a29a-08202fe90a3a" id="1832" nodeName="returret_vin.jpg" isDoc="" updated="2019-10-21T16.19.33.6900000Z" parentGUID="99afc84a-ab21-406a-b6b9-c51c1a636400" nodeTypeAlias="Image" path="-1,1530,1556,1832">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[9157]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1238/returret_vin.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[156]]></umbracoHeight>
  <umbracoWidth><![CDATA[500]]></umbracoWidth>
</Image>