<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>d0bd9ab5-4180-4f4d-a2ef-9abd00e9dc0e</Key>
    <Name>404 side</Name>
    <Alias>pageNotFound</Alias>
    <Icon>icon-application-error color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Folder>Baseline/Pages</Folder>
    <Compositions>
      <Composition Key="a7d91edb-313c-4927-9176-1b5eeabaf8a7">compositionPageSettings</Composition>
      <Composition Key="aabcd813-3458-4278-8bae-f587cec6649d">compositionfastTrip</Composition>
      <Composition Key="d3739ce6-78e5-4c43-8c5d-ae785127ef94">compositionSEO</Composition>
      <Composition Key="dd691711-7ec4-4595-9e8e-f5d87d29cb29">compositionRelations</Composition>
    </Compositions>
    <DefaultTemplate>Baseline_Page</DefaultTemplate>
    <AllowedTemplates>
      <Template>Baseline_Page</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>fc60bfb7-9675-44e0-baa8-0bb88a5c88c2</Key>
      <Name>Bånd</Name>
      <Alias>ribbons</Alias>
      <Definition>e1eaeb39-37aa-4812-b613-a14ac3c3efa1</Definition>
      <Type>Our.Umbraco.StackedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Indhold</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Indhold</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>