<?xml version="1.0" encoding="utf-8"?>
<Image guid="a97896b0-e931-4d69-9001-cbb996de3145" id="1711" nodeName="SB VINTER - bagte-bler-med-marcinpanfyld12.gif" isDoc="" updated="2019-10-21T06.38.52.9530000Z" parentGUID="c756f5e5-a9fb-4c22-988d-7103ebd309cb" nodeTypeAlias="Image" path="-1,1539,1540,1541,1542,1711">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[20221]]></umbracoBytes>
  <umbracoExtension><![CDATA[gif]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1120/sb-vinter-bagte-bler-med-marcinpanfyld12.gif", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[260]]></umbracoHeight>
  <umbracoWidth><![CDATA[200]]></umbracoWidth>
</Image>