<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Recipe product" Key="c6e8d136-19d4-4495-982e-f452bf08dda2" Id="Our.Umbraco.StackedContent" DatabaseType="Ntext" Folder="Baseline/Recipe">
  <PreValues>
    <PreValue SortOrder="1" Alias="contentTypes"><![CDATA[[
  {
    "icContentTypeGuid": "d104dbc0-4cfd-4d7a-93d6-bfa46f736e00",
    "nameTemplate": "Produkt"
  }
]]]></PreValue>
    <PreValue SortOrder="2" Alias="enableCopy"><![CDATA[0]]></PreValue>
    <PreValue SortOrder="3" Alias="enablePreview"><![CDATA[1]]></PreValue>
    <PreValue SortOrder="4" Alias="hideLabel"><![CDATA[0]]></PreValue>
    <PreValue SortOrder="5" Alias="maxItems"><![CDATA[0]]></PreValue>
    <PreValue SortOrder="6" Alias="singleItemMode"><![CDATA[0]]></PreValue>
  </PreValues>
</DataType>