<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>efcbd7b8-5576-4528-a874-143a2b771480</Key>
    <Name>Style - Fjern container i split</Name>
    <Alias>styleRemoveContainer</Alias>
    <Icon>icon-paint-roller color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Folder>Baseline/Styles</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>82b53af5-7607-4178-ae0f-b55d156977db</Key>
      <Name>Fjern container</Name>
      <Alias>removeContainer</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Style</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Style</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>