<?xml version="1.0" encoding="utf-8"?>
<Image guid="68474457-faf2-4c72-a655-ccfa1144a909" id="3215" nodeName="Coop Rødekors Støt Ukraine Banner 2000X500px" isDoc="" updated="2022-03-01T10.36.27.6630000Z" parentGUID="78db8246-c665-4110-93bd-d8c5986fa5bb" nodeTypeAlias="Image" path="-1,1706,3213,3215">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[341483]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2316/coop_roedekors_stoet-ukraine_banner_2000x500px.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[667]]></umbracoHeight>
  <umbracoWidth><![CDATA[2667]]></umbracoWidth>
</Image>