<?xml version="1.0" encoding="utf-8"?>
<Image guid="4f65b48b-df94-49bf-b378-3b1e83c8f9cb" id="1630" nodeName="pandekager.jpeg" isDoc="" updated="2020-02-04T14.03.28.1930000Z" parentGUID="55543541-614d-46b1-ad94-5c8d92c9f509" nodeTypeAlias="Image" path="-1,1539,1563,1564,1630">
  <alt><![CDATA[pandekager i efterårsferien ]]></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[423468]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpeg]]></umbracoExtension>
  <umbracoFile><![CDATA[{
  "src": "/media/1173/pandekager.jpeg",
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  }
}]]></umbracoFile>
  <umbracoHeight><![CDATA[1280]]></umbracoHeight>
  <umbracoWidth><![CDATA[1920]]></umbracoWidth>
</Image>