<?xml version="1.0" encoding="utf-8"?>
<Image guid="7ce2bb7b-e10f-4e35-8018-352c4f35429e" id="3265" nodeName="Mejeri 01 (1)" isDoc="" updated="2022-03-01T11.38.41.8070000Z" parentGUID="c1a100a8-5bf0-4d16-b9c2-670cac727a9f" nodeTypeAlias="Image" path="-1,3218,3265">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[10109]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2364/mejeri_01.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[420]]></umbracoHeight>
  <umbracoWidth><![CDATA[851]]></umbracoWidth>
</Image>