<?xml version="1.0" encoding="utf-8"?>
<Image guid="27bdc418-375b-4899-8065-64a02c890e6a" id="2803" nodeName="COOP_DanmarksKurv_Fluebens_LogoAnimation_Small_GIF_3.gif" isDoc="" updated="2021-01-14T14.04.35.4530000Z" parentGUID="2b04a5bb-0409-43d5-a137-305ecfaac02c" nodeTypeAlias="Image" path="-1,2793,2803">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[619769]]></umbracoBytes>
  <umbracoExtension><![CDATA[gif]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1983/coop_danmarkskurv_fluebens_logoanimation_small_gif_3.gif", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[343]]></umbracoHeight>
  <umbracoWidth><![CDATA[343]]></umbracoWidth>
</Image>