<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Style - Grid column" Key="9ffe49d0-319d-49fe-b0e3-313e17df4147" Id="Our.Umbraco.StackedContent" DatabaseType="Ntext" Folder="Baseline/Style+pickers">
  <PreValues>
    <PreValue SortOrder="1" Alias="contentTypes"><![CDATA[[
  {
    "icContentTypeGuid": "397d8502-d623-4109-9010-a52aac27b47d",
    "nameTemplate": "Position"
  },
  {
    "icContentTypeGuid": "8fab2ff4-b8cd-4683-bc46-aa073546f72e",
    "nameTemplate": "Background"
  }
]]]></PreValue>
    <PreValue SortOrder="2" Alias="enableCopy"><![CDATA[0]]></PreValue>
    <PreValue SortOrder="3" Alias="enablePreview"><![CDATA[0]]></PreValue>
    <PreValue SortOrder="4" Alias="hideLabel"><![CDATA[0]]></PreValue>
    <PreValue SortOrder="5" Alias="maxItems"><![CDATA[0]]></PreValue>
    <PreValue SortOrder="6" Alias="singleItemMode"><![CDATA[0]]></PreValue>
  </PreValues>
</DataType>