<?xml version="1.0" encoding="utf-8"?>
<Image guid="2933e9d6-a364-49a8-8609-a1d22e700cf6" id="1591" nodeName="hvidlogsolie.jpg" isDoc="" updated="2019-10-21T06.38.40.6000000Z" parentGUID="9f335fc0-67a1-449a-b15e-bdf3965db500" nodeTypeAlias="Image" path="-1,1530,1548,1549,1591">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[167486]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1031/hvidlogsolie.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[600]]></umbracoHeight>
  <umbracoWidth><![CDATA[1920]]></umbracoWidth>
</Image>