<?xml version="1.0" encoding="utf-8"?>
<Image guid="77d65fb1-e282-4b3c-bcc1-c492cd0a5746" id="2794" nodeName="coop_danmarkskurv_fluebens_logoanimation_gif_uden_optegning.gif" isDoc="" updated="2021-01-14T12.09.31.7230000Z" parentGUID="2b04a5bb-0409-43d5-a137-305ecfaac02c" nodeTypeAlias="Image" path="-1,2793,2794">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[3389539]]></umbracoBytes>
  <umbracoExtension><![CDATA[gif]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1975/coop_danmarkskurv_fluebens_logoanimation_gif_uden_optegning.gif", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[1080]]></umbracoHeight>
  <umbracoWidth><![CDATA[1080]]></umbracoWidth>
</Image>