<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>4a7e455f-3ad8-4457-b29b-3534945dd0b3</Key>
    <Name>Style - Søgning</Name>
    <Alias>styleSearch</Alias>
    <Icon>icon-search color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Folder>Baseline/Styles</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>5c6a102e-9173-40d3-9d6a-4454efa1dc62</Key>
      <Name>Input baggrundsfarve</Name>
      <Alias>inputBackgroundColor</Alias>
      <Definition>439a6dda-6db8-47a3-afb2-2fa3dc09879e</Definition>
      <Type>Our.Umbraco.StackedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Styles</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>fc13a3f2-d142-4ee0-b066-331a5eb1e6c6</Key>
      <Name>Input tekstfarve</Name>
      <Alias>inputTextColor</Alias>
      <Definition>439a6dda-6db8-47a3-afb2-2fa3dc09879e</Definition>
      <Type>Our.Umbraco.StackedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Styles</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>fa8c9a2b-fdb0-4e59-862b-8f6730a50c8a</Key>
      <Name>Søge ikon baggrundsfarve</Name>
      <Alias>searchIconBackgroundColor</Alias>
      <Definition>439a6dda-6db8-47a3-afb2-2fa3dc09879e</Definition>
      <Type>Our.Umbraco.StackedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Styles</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>6c0b132d-09e9-4a84-ab0a-c909d6ea4385</Key>
      <Name>Søge ikon farve</Name>
      <Alias>searchIconColor</Alias>
      <Definition>439a6dda-6db8-47a3-afb2-2fa3dc09879e</Definition>
      <Type>Our.Umbraco.StackedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Styles</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Styles</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>