<?xml version="1.0" encoding="utf-8"?>
<Image guid="331f8bc1-d107-4a08-99dd-985e66c8e478" id="3668" nodeName="SB RGB Mar23" isDoc="" updated="2023-03-02T11.25.34.7330000Z" parentGUID="c852db44-2769-413b-bef3-9729171083a1" nodeTypeAlias="Image" path="-1,3663,3668">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[22566]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2679/sb_rgb_mar23.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[814]]></umbracoHeight>
  <umbracoWidth><![CDATA[1660]]></umbracoWidth>
</Image>