<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>8655999c-b8ac-455a-a669-c45f7ba5bb51</Key>
    <Name>Horisontalt scroll item</Name>
    <Alias>horisontaltScrollItem</Alias>
    <Icon>icon-picture color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Folder>Baseline/Horizontal+scroll</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>572d145c-64ac-4d6d-8a1e-e20d74e8738d</Key>
      <Name>Baggrundsbillede</Name>
      <Alias>backgroundImage</Alias>
      <Definition>838d17a6-d246-4808-918c-0f2186cd0dfd</Definition>
      <Type>Umbraco.MediaPicker2</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Hvis den efterlades tom genbruges billedet fra under "Billede"

<b>Anbefalet størrelse</b>
Bredde: 3500px
Højde: Ca. 1800px]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Indhold</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>b1d2415f-d83c-456e-a3ec-3a418cf5fea3</Key>
      <Name>Knap</Name>
      <Alias>button</Alias>
      <Definition>c8261dbf-b464-4caa-9b98-13aeca4f1137</Definition>
      <Type>RJP.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Indhold</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>840ab4fb-b1e2-4132-b970-e46531513ceb</Key>
      <Name>Billede</Name>
      <Alias>image</Alias>
      <Definition>838d17a6-d246-4808-918c-0f2186cd0dfd</Definition>
      <Type>Umbraco.MediaPicker2</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[<b>Anbefalet størrelse</b>
Bredde: 540px
Højde: 540px]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Indhold</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>7eb60339-3ec9-4dee-85db-0c48c740e8f4</Key>
      <Name>Styles</Name>
      <Alias>style</Alias>
      <Definition>82e27658-0110-4c5d-9bff-e43a9110e773</Definition>
      <Type>Our.Umbraco.StackedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Style</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>7a0899c4-10ad-4623-9c48-27ef4f6350d0</Key>
      <Name>Tekst</Name>
      <Alias>text</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCEv3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Indhold</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Indhold</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Style</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>