<?xml version="1.0" encoding="utf-8"?>
<Image guid="e08a1077-31b7-4a52-8f6a-51cf59826a1d" id="2247" nodeName="GoCook_600x400.png" isDoc="" updated="2020-03-23T10.36.10.3700000Z" parentGUID="179756ef-cf39-4ef7-8450-020198946840" nodeTypeAlias="Image" path="-1,1706,2221,2247">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[492923]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1585/gocook_600x400.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[400]]></umbracoHeight>
  <umbracoWidth><![CDATA[600]]></umbracoWidth>
</Image>