<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>aad1d261-1b44-4458-84b4-8a50f7e6eaf7</Key>
    <Name>Katalogbånd</Name>
    <Alias>ribbonCatalog</Alias>
    <Icon>icon-newspaper-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Folder>Baseline/Ribbons</Folder>
    <Compositions>
      <Composition Key="0a480072-8385-43fb-8d87-6dadd929858d">compositionRibbon</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>a5e2e963-6fce-4a24-8fc9-0b7bcc516fb3</Key>
      <Name>Kataloger</Name>
      <Alias>catalogs</Alias>
      <Definition>dc1571df-b799-4208-a643-9fb9f642bb26</Definition>
      <Type>Umbraco.MultiNodeTreePicker2</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Viser forsiden af det første katalog der er er aktivt. Vælges ingen bånd faldes tilbage på det første katalog systemet finder.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Indhold</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>bea24c1e-2e4d-4814-b181-50fc5dcde365</Key>
      <Name>Styles</Name>
      <Alias>styles</Alias>
      <Definition>19d9a3d1-0426-4c37-b014-23d92903c6ca</Definition>
      <Type>Our.Umbraco.StackedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Styles</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>17b99bed-6aef-42ca-936c-cf8010dc0057</Key>
      <Name>Tekst</Name>
      <Alias>text</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCEv3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Indhold</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Indhold</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Styles</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>