<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>d104dbc0-4cfd-4d7a-93d6-bfa46f736e00</Key>
    <Name>Opskrift produkt</Name>
    <Alias>recipeProduct</Alias>
    <Icon>icon-tags color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Folder>Baseline/Recipes</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>c5d71982-1488-4a67-814e-643e74c1e1da</Key>
      <Name>Ikon billede</Name>
      <Alias>productIcon</Alias>
      <Definition>838d17a6-d246-4808-918c-0f2186cd0dfd</Definition>
      <Type>Umbraco.MediaPicker2</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Vises ved siden af produktets navn, hvis man vil fremhæve af produktet f.eks. er økologisk]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Produkt</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>16062035-7df6-4794-98ac-9fd55e89bc1b</Key>
      <Name>Navn på produkt</Name>
      <Alias>productName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Produkt</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Produkt</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>