<?xml version="1.0" encoding="utf-8"?>
<Image guid="68b0d7ee-0a41-43cc-bdb6-0bad3431e756" id="3269" nodeName="Mejeri 05" isDoc="" updated="2022-03-01T11.38.43.4700000Z" parentGUID="c1a100a8-5bf0-4d16-b9c2-670cac727a9f" nodeTypeAlias="Image" path="-1,3218,3269">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[34493]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2368/mejeri_05.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[739]]></umbracoHeight>
  <umbracoWidth><![CDATA[851]]></umbracoWidth>
</Image>