<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>9a4e6a4e-95dd-4195-9357-29d1b2bc647c</Key>
    <Name>Style - Padding (Left/Right)</Name>
    <Alias>stylePaddingLeftRight</Alias>
    <Icon>icon-shipping-box color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Folder>Baseline/Styles</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>14ae631c-4b5b-4352-bbc1-eb1056ef1571</Key>
      <Name>Padding venstre</Name>
      <Alias>paddingLeft</Alias>
      <Definition>eb36794a-7a04-4c33-ad51-ad43ec1fea9c</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Style</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>b9ad6353-a5d1-411e-a911-1eff9dc921b2</Key>
      <Name>Padding venstre</Name>
      <Alias>paddingLeftMobile</Alias>
      <Definition>eb36794a-7a04-4c33-ad51-ad43ec1fea9c</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Mobilstyle</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>ca54102d-758f-4f04-bcea-514347255a0c</Key>
      <Name>Padding højre</Name>
      <Alias>paddingRight</Alias>
      <Definition>eb36794a-7a04-4c33-ad51-ad43ec1fea9c</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Style</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>e8937bee-c74e-4868-968c-d3763af89bad</Key>
      <Name>Padding højre</Name>
      <Alias>paddingRightMobile</Alias>
      <Definition>eb36794a-7a04-4c33-ad51-ad43ec1fea9c</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Mobilstyle</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Style</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Mobilstyle</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>