<?xml version="1.0" encoding="utf-8"?>
<Image guid="5619f8c8-9b24-45af-90ea-a3764ed0c5ea" id="3270" nodeName="Mejeri 06" isDoc="" updated="2022-03-01T11.38.43.9370000Z" parentGUID="c1a100a8-5bf0-4d16-b9c2-670cac727a9f" nodeTypeAlias="Image" path="-1,3218,3270">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[11195]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2369/mejeri_06.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[479]]></umbracoHeight>
  <umbracoWidth><![CDATA[851]]></umbracoWidth>
</Image>