<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>397d8502-d623-4109-9010-a52aac27b47d</Key>
    <Name>Style - Position</Name>
    <Alias>stylePosition</Alias>
    <Icon>icon-fullscreen-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Folder>Baseline/Styles</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>057828c3-648e-491e-baac-3d3db18d3704</Key>
      <Name>Horisontal</Name>
      <Alias>horizontal</Alias>
      <Definition>f7ec9854-c9e5-4787-855f-7ea29481f67f</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Styles</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>bdc13994-a173-4361-af28-d0289be5135f</Key>
      <Name>Horisontal</Name>
      <Alias>horizontalMobile</Alias>
      <Definition>f7ec9854-c9e5-4787-855f-7ea29481f67f</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Mobile styles</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>185eea79-4eba-4158-8615-022208375fed</Key>
      <Name>Vertikal</Name>
      <Alias>vertical</Alias>
      <Definition>58bee45f-7bd4-42e6-b3a2-ada62fa75316</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Styles</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>a421cf00-fb8f-414f-ae2f-2e3b07508906</Key>
      <Name>Vertikal</Name>
      <Alias>verticalMobile</Alias>
      <Definition>58bee45f-7bd4-42e6-b3a2-ada62fa75316</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Mobile styles</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Styles</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Mobile styles</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>