<?xml version="1.0" encoding="utf-8"?>
<Image guid="0e0b5bee-b47d-4011-8a62-9e7c373c3246" id="1560" nodeName="friskt.png" isDoc="" updated="2019-10-21T06.38.37.8530000Z" parentGUID="4f4f6a07-3bd5-40fc-be20-87a0018804ea" nodeTypeAlias="Image" path="-1,1530,1548,1559,1560">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[26733]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1055/friskt.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[174]]></umbracoHeight>
  <umbracoWidth><![CDATA[176]]></umbracoWidth>
</Image>