<?xml version="1.0" encoding="utf-8"?>
<Image guid="2ce8f15b-47c9-4789-a939-0e6b42357b35" id="2801" nodeName="rema-1000-3x.png" isDoc="" updated="2021-01-14T12.11.56.3070000Z" parentGUID="2b04a5bb-0409-43d5-a137-305ecfaac02c" nodeTypeAlias="Image" path="-1,2793,2801">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[365558]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1982/rema-1000-3x.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[1029]]></umbracoHeight>
  <umbracoWidth><![CDATA[651]]></umbracoWidth>
</Image>