<?xml version="1.0" encoding="utf-8"?>
<news guid="c8197e71-d3b2-4962-b896-b383e7bf59e2" id="2006" nodeName="Cava" isDoc="" updated="2022-05-17T09.59.29.2170000Z" parentGUID="c5256333-c19e-4cb7-bb55-30517f2f80a5" nodeTypeAlias="news" templateAlias="Baseline_News" sortOrder="16" published="true" isBlueprint="false">
  <bodyEndHtml><![CDATA[<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [{
    "@type": "Question",
    "name": "Hvad er Cava?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Cava er en spansk mousserende vin. Oprindeligt hed alle spanske mousserende vine Cava. Det var EU’s vinregler imod, hvorfor det nu kun er vine fra Catalonien, som må benytte betegnelsen: Cava."
    }
  }, {
    "@type": "Question",
    "name": "Hvad betyder Cava?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "På catalansk betyder Cava: hule/kælder. Dette refereres til ”vinkælder”."
  }
  }, {
    "@type": "Question",
    "name": "Hvilke druesorter bruges til Cava?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Reglerne tillader op til syv bestemte druesorter. De tre store er Parellada, Xarel-lo og Macabeo, hvilket er grønne druesorter. Derudover må der bruges Pinot Noir, Chardonnay, Subirat og Trepat."
    }
  }]
  }
</script>]]></bodyEndHtml>
  <bodyScript></bodyScript>
  <contentType></contentType>
  <date>2019-12-17T00:00:00</date>
  <digiSegment></digiSegment>
  <headHtml></headHtml>
  <headline><![CDATA[Cava]]></headline>
  <headScript></headScript>
  <hideFooter>0</hideFooter>
  <hideFromSitemap>0</hideFromSitemap>
  <hideTop>0</hideTop>
  <metaCanonicalUrl></metaCanonicalUrl>
  <metaDescription><![CDATA[Ønsker du at læse mere om Cava? Her på siden kan du læse historien bag Cava, hvordan det produceres og hvor i Spanien det produceres. Klik her på siden »]]></metaDescription>
  <metaNoFollow>0</metaNoFollow>
  <metaNoIndex>0</metaNoIndex>
  <metaTitle><![CDATA[Cava – Læs om den spanske mousserende vin her på siden »]]></metaTitle>
  <nonResponsive>0</nonResponsive>
  <ogImage></ogImage>
  <relations></relations>
  <removeTextShadow>1</removeTextShadow>
  <specialFaviconSmall></specialFaviconSmall>
  <specialFaviconStandard></specialFaviconStandard>
  <subHeadline><![CDATA[Mousserende vin har mange navne; og ét af dem er Cava. ]]></subHeadline>
  <tags><![CDATA[["cava","vin"]]]></tags>
  <text><![CDATA[<p>For at gøre en lang historie kort er Cava resultatet af en inspirationstur til Frankrig. Tilbage i slutningen af 1800-tallet var Spanien på besøg i Champagne, hvilket skulle vise sig at være afgørende for vinindustrien.</p>
<p>Spanien blev svært begejstret for <a href="/varer/vin/artikler/champagne/">Champagnes mousserende vine</a>, hvorfor de rejste hjem, importerede det rette udstyr og startede deres egen produktion med egne lokale grønne druer – også kendt som hvidvinsdruer. Det har siden vist sig, at det var en god beslutning.   </p>
<h2>Men hvad er Cava?   </h2>
<p>Cava er en spansk mousserende <a href="/varer/vin/artikler/en-introduktion-til-hvid-ros%C3%A9-roed-og-bobler/">vin</a>. Oprindeligt hed alle mousserende vine Cava, hvis de var produceret i Spanien. Det var EU’s vinregler imod, hvorfor det nu kun er vine fra Catalonien, der må benytte betegnelsen; Cava.     </p>
<p>Cava er lavet på samme måde som Champagne og fremstilles også ved ”Champagne-metoden”, hvor vinens andengæring foregår i flasken, og derved giver den mousserende vin sine fine bobler. <br /><br /></p>
<p style="text-align: center;"><strong>Vidste du?</strong></p>
<p style="text-align: center;"><em>For længe, længe siden hed Cava ”champán” eller ”xampany”.<br /><br /></em></p>
<h2>Catalonien: Hjemmet for Cava   </h2>
<p>Det største Cavaproducerende vindistrikt i Catalonien er Penedés, der ligger vest for Barcelona. Cava udgør altså hele 90% af al mousserende vin, der er produceret i Spanien. Ud over Cava, er mousserende vine fra b.la. Rioja-distriktet også værd at nævne.</p>
<h2>Hvilke druesorter må der bruges til Cava?</h2>
<p>De spanske regler inden for produktion af Cava tillader op til syv bestemte druesorter. De tre største druesorter til Cava er; Parellada, Xarel-lo og Macabeo, hvilket alle er grønne lokale druesorter. Derudover må der bruges; Pinot Noir, Chardonnay, Subirat og Trepat.        </p>
<p>Modsat Champagne, hvor der bruges en blend af grønne og blå druer, er Cava ofte lavet på kun grønne druesorter, hvor mange flasker er lavet på 100% Macabeo. </p>
<p style="text-align: center;"><strong><br />Vidste du?</strong></p>
<p style="text-align: center;"><em>På catalansk betyder Cava ”hule” eller ”kælder”.<br /><br /></em></p>
<h2>Sødme- og tørhedsgrader</h2>
<p>Som alt andet mousserende vin, kommer Cava også i forskellige sødme- og tørhedsgrader, hvilket angiver niveauet af restsukker i vinen. Du kan som regel altid aflæse på etiketten, hvilken sødme- og tørhedsgrad vinen har. Graderne hedder:</p>
<ul>
<li>Brut Nature: 0-3 g/l restsukker i vinen</li>
<li>Extra Brut: 3-6 g/l restsukker i vinen</li>
<li>Brut: 0-12 g/l restsukker i vinen</li>
<li>Extra Seco: 12-17 g/l restsukker i vinen</li>
<li>Seco: 17-32 g/l restsukker i vinen</li>
<li>Semi Seco: 32-50 g/l restsukker i vinen</li>
<li>Dulce: +50 g/l restsukker i vinen</li>
</ul>
<h2>Lagringsspecifikationer for Cava</h2>
<p>Jo længere tid en Cava lagrer, jo mere kompleksitet, udvikling og unikke aromaer får den. Det kan derfor godt betale sig at finde en Cava, der har haft et langt liv i flasken, inden den er blevet åbnet.</p>
<p>Cava kommer i tre klasser. Der er den normale Cava, der har lagret i minimum ni måneder. Derudover er der Cava Reserva, som har lagret i minimum 15 måneder og Cava Gran Reserva, der har lagret i minimum 30 måneder.</p>
<h2>Ny klassifikation for Cava</h2>
<p>Cava har fået en ny beskyttet klassifikation, som kun de dyreste topvine må brande sig med. Betegnelsen er Cava de Paraje Calificado (CPC). Dette er forbrugerens garanti på, at de får en Cava fra øverste hylde.  <strong> </strong></p>
<p>Vingårdene må flage med en CPC hvis; de får godkendt deres jordstykke, har et maksimalt udbytte på 8000kg per hektar, mindst 10 år gamle vinstokke, alt produktion sker på egen jord og minimum 36 måneders flaskelagring. Dette er blot nogle af kravene.  </p>
<h2>Find vine i din nærmeste SuperBrugsen</h2>
<p>Ønsker du at købe Cava? Så find din<span> nærmeste SuperBrugsen her</span>, og se de gode <span>tilbud i vores tilbudsavis</span>. <span>Tilbudsavisen indeholder inspiration, et </span><span>udvalg af aktuelle varer til en god pris – </span><span>og gode tilbud lige nu.</span></p>
<h2><br />FAQ om Cava</h2>
<p><strong>Hvad er Cava?<br /></strong>Cava er en spansk mousserende vin. Oprindeligt hed alle spanske mousserende vine Cava. Det var EU’s vinregler imod, hvorfor det nu kun er vine fra Catalonien, som må benytte betegnelsen: Cava.   </p>
<p><strong>Hvad betyder Cava?<br /></strong>På catalansk betyder Cava: hule/kælder. Dette refereres til ”vinkælder”.  </p>
<p><strong>Hvilke druesorter bruges til Cava?<br /></strong>Reglerne tillader op til syv bestemte druesorter. De tre store er Parellada, Xarel-lo og Macabeo, hvilket er grønne druesorter. Derudover må der bruges Pinot Noir, Chardonnay, Subirat og Trepat.   </p>]]></text>
  <thumbnail><![CDATA[umb://media/45f625019a6a47438ba9741e9bdc92e9]]></thumbnail>
  <umbracoUrlName></umbracoUrlName>
  <useImageAsTopImage>0</useImageAsTopImage>
</news>