<?xml version="1.0" encoding="utf-8"?>
<Image guid="7132fcd6-bd4b-412d-8134-521fc63453da" id="1661" nodeName="coop-forsikringer-500x500.jpg" isDoc="" updated="2020-02-04T13.59.28.1070000Z" parentGUID="55543541-614d-46b1-ad94-5c8d92c9f509" nodeTypeAlias="Image" path="-1,1539,1563,1564,1661">
  <alt><![CDATA[brug naturen i efterårsferien]]></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[35367]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{
  "src": "/media/1161/coop-forsikringer-500x500.jpg",
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  }
}]]></umbracoFile>
  <umbracoHeight><![CDATA[500]]></umbracoHeight>
  <umbracoWidth><![CDATA[500]]></umbracoWidth>
</Image>