<?xml version="1.0" encoding="utf-8"?>
<Image guid="afd6edd6-6d37-4917-ab70-cc78bbf3853c" id="1720" nodeName="julekys_870x620.jpg" isDoc="" updated="2020-02-04T14.17.58.8770000Z" parentGUID="bd65e19e-7506-4b2f-9d6d-acf96309ba7a" nodeTypeAlias="Image" path="-1,1539,1575,1576,1720">
  <alt><![CDATA[julebag og julekys ]]></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[84930]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{
  "src": "/media/1098/julekys_870x620.jpg",
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  }
}]]></umbracoFile>
  <umbracoHeight><![CDATA[620]]></umbracoHeight>
  <umbracoWidth><![CDATA[870]]></umbracoWidth>
</Image>