<?xml version="1.0" encoding="utf-8"?>
<page guid="b1a12ad0-9bfe-4bd5-bcdb-15a61a98b337" id="1480" nodeName="Skudår" isDoc="" updated="2019-10-17T10.18.10.1970000Z" parentGUID="14f1a6fe-71cb-4af9-9cd5-1ad5b756501c" nodeTypeAlias="page" templateAlias="Baseline_Page" sortOrder="6" published="false" isBlueprint="false">
  <bodyEndHtml></bodyEndHtml>
  <bodyScript></bodyScript>
  <contentType></contentType>
  <digiSegment></digiSegment>
  <extraSearchWord></extraSearchWord>
  <fastTripDisable>0</fastTripDisable>
  <headHtml></headHtml>
  <headScript></headScript>
  <hideFooter>0</hideFooter>
  <hideFromSitemap>0</hideFromSitemap>
  <hideTop>0</hideTop>
  <metaCanonicalUrl></metaCanonicalUrl>
  <metaDescription></metaDescription>
  <metaNoFollow>0</metaNoFollow>
  <metaNoIndex>0</metaNoIndex>
  <metaTitle></metaTitle>
  <nonResponsive></nonResponsive>
  <ogImage></ogImage>
  <pageTags><![CDATA[[]]]></pageTags>
  <priceSplashStyles></priceSplashStyles>
  <relations></relations>
  <ribbons></ribbons>
  <rules></rules>
  <specialFaviconSmall></specialFaviconSmall>
  <specialFaviconStandard></specialFaviconStandard>
  <umbracoUrlName></umbracoUrlName>
</page>