<?xml version="1.0" encoding="utf-8"?>
<Image guid="84bdcb62-bb12-4682-8046-cd33d4c48611" id="1680" nodeName="thiese-topbillede-2000x400.jpg" isDoc="" updated="2019-10-21T06.38.49.6200000Z" parentGUID="d3d46e1f-c573-4cab-be32-9195202da0dd" nodeTypeAlias="Image" path="-1,1530,1534,1589,1680">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[122017]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1200/thiese-topbillede-2000x400.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[400]]></umbracoHeight>
  <umbracoWidth><![CDATA[2000]]></umbracoWidth>
</Image>