<?xml version="1.0" encoding="utf-8"?>
<Image guid="a9a8b1a9-52b8-4c20-8c21-91f7ec2bfc7f" id="1713" nodeName="Hvedeboller-300x200.jpg" isDoc="" updated="2019-10-21T06.38.53.1430000Z" parentGUID="cf850fa7-2cb4-4cc5-b8f4-e31a98fabe4a" nodeTypeAlias="Image" path="-1,1530,1534,1573,1713">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[8916]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1190/hvedeboller-300x200.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[200]]></umbracoHeight>
  <umbracoWidth><![CDATA[300]]></umbracoWidth>
</Image>