<?xml version="1.0" encoding="utf-8"?>
<news guid="9cb455c1-5466-407e-a088-b6baf152474c" id="1464" nodeName="Giv grillen grøntsagerne" isDoc="" updated="2020-01-22T11.52.43.2770000Z" parentGUID="fd7f84c4-b6d6-4098-8dcd-94f3c66bc4b4" nodeTypeAlias="news" templateAlias="Baseline_News" sortOrder="4" published="true" isBlueprint="false">
  <bodyEndHtml></bodyEndHtml>
  <bodyScript></bodyScript>
  <contentType></contentType>
  <date>2015-05-27T00:00:00</date>
  <digiSegment></digiSegment>
  <headHtml></headHtml>
  <headline><![CDATA[Giv grillen grøntsagerne]]></headline>
  <headScript></headScript>
  <hideFooter>0</hideFooter>
  <hideFromSitemap>0</hideFromSitemap>
  <hideTop>0</hideTop>
  <metaCanonicalUrl></metaCanonicalUrl>
  <metaDescription><![CDATA[Grillen er god til kød, men glem ikke grøntsagerne, som smager skønt efter en tur på grillen. Bliv inspireret til nemme hits og mere kreative ideer.]]></metaDescription>
  <metaNoFollow>0</metaNoFollow>
  <metaNoIndex>0</metaNoIndex>
  <metaTitle><![CDATA[Giv grillen grøntsagerne – Grill grøntsager som tilbehør]]></metaTitle>
  <nonResponsive></nonResponsive>
  <ogImage></ogImage>
  <relations></relations>
  <removeTextShadow>0</removeTextShadow>
  <specialFaviconSmall></specialFaviconSmall>
  <specialFaviconStandard></specialFaviconStandard>
  <subHeadline><![CDATA[Sådan griller du dine grøntsager]]></subHeadline>
  <tags><![CDATA[["stegning","grill"]]]></tags>
  <text><![CDATA[<p><strong>Grillen er traditionelt forbeholdt bøffer og pølser, men grøntsagerne fortjener også en plads. Der er nemlig masser af varme, farve og smag til dine grøntsager over gløderne. Mulighederne er uendelige, og du kan sagtens eksperimentere.</strong></p>
<p> </p>
<p>Duften af grill er et sikkert sommertegn i et hvilket som helst villakvarter. Og grillens høje varme er da også populær som aldrig før. Bøffer, pølser, stege, fisk og meget mere er efterhånden fast inventar på grillen. Nu er turen kommet til grøntsagerne.</p>
<p> </p>
<p><strong>De nemme, sikre hits</strong></p>
<p>Der er masser af grøntsager, som kan komme direkte på grillen uden den store forberedelse. Peberfrugter i både, squash i skiver, majs og grønne asparges smager fantastisk efter en tur på grillen. Bare dryp med lidt olivenolie eller smør bagefter. Spidskål, iceberg og hjertesalat i kvarte bliver også lækre med grillsmag; du skal bare huske, at de stadig skal kunne hænge sammen, ellers bliver det noget rod at vende dem.</p>
<p> </p>
<p><strong>Spid dem og grill dem</strong></p>
<p>Hvis du vil have lidt bedre styr på dine grøntsager på grillen, kan du sætte dem på spyd. Miks peberfrugter, champignoner, squash, løg og hvad du ellers har lyst til, og tag evt. børnene med i køkkenet. Man kan lave lige præcis det spyd, man gerne vil.</p>
<p>Prøv evt. også at sætte dine nye, kogte kartofler på spyd, og grill dem til de lige får lidt farve. Og endnu bedre, skift spyddene ud med rosmarinkviste uden nåle. Det giver endnu mere smag til grøntsager eller kartofler, og det ser rigtig flot ud.</p>
<p> </p>
<p><strong>Hvis det skal være lidt mere kreativt</strong></p>
<p>Hvis du vil bruge lidt mere krudt på det, er der masser af muligheder. Specielt, hvis du har en kuglegrill, så du kan bruge både direkte og indirekte varme. Så er det kun fantasien, der sætter grænser. Du kan også tilføre dine grøntsager andre ingredienser. Skær fx squash tynde strimler på langs og rul dem omkring fetaost og dryp dem med olivenolie og citronsaft efter grilning. Eller grill portobellosvampe på undersiden, vend dem og læg røgeost eller gedeost i fordybningen. Drys med frisk chili og dryp med olivenolie. En hurtig søgning på internettet giver en hel verden af lækkerier. God fornøjelse! Og velbekomme!</p>]]></text>
  <thumbnail><![CDATA[umb://media/eca59680ea484848ac9c9983fad0def1]]></thumbnail>
  <umbracoUrlName></umbracoUrlName>
  <useImageAsTopImage>1</useImageAsTopImage>
</news>