<?xml version="1.0" encoding="utf-8"?>
<Image guid="80574613-0e3a-4ddb-819e-d9268d8cb41f" id="1675" nodeName="vinmark.jpg" isDoc="" updated="2019-10-21T06.38.48.9730000Z" parentGUID="b07b69ac-c3bc-4278-988d-0e5e61644747" nodeTypeAlias="Image" path="-1,1530,1556,1557,1675">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[330551]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1076/vinmark.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[600]]></umbracoHeight>
  <umbracoWidth><![CDATA[1920]]></umbracoWidth>
</Image>