<?xml version="1.0" encoding="utf-8"?>
<Image guid="9ec56fd4-35af-4604-9bc9-142f40b6dee9" id="3691" nodeName="Økodage 600X400px Slider" isDoc="" updated="2023-03-30T07.34.39.1330000Z" parentGUID="0382315a-933c-4265-a806-799cefa1e13e" nodeTypeAlias="Image" path="-1,1706,3316,3691">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[98265]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2699/oekodage_600x400px_slider.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[400]]></umbracoHeight>
  <umbracoWidth><![CDATA[600]]></umbracoWidth>
</Image>