<?xml version="1.0" encoding="utf-8"?>
<Image guid="2d06b0b5-3414-4c29-9856-f9b18c97e34d" id="2850" nodeName="34981_bugatti_samlem├ªrker_slider_desktop_2000x500_2.png" isDoc="" updated="2021-02-22T09.56.02.0770000Z" parentGUID="0d0678d3-7c08-4325-92b1-946e3be27c60" nodeTypeAlias="Image" path="-1,1706,2849,2850">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[324914]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2028/34981_bugatti_samlem-ªrker_slider_desktop_2000x500_2.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[500]]></umbracoHeight>
  <umbracoWidth><![CDATA[2000]]></umbracoWidth>
</Image>