<?xml version="1.0" encoding="utf-8"?>
<Image guid="146f0caa-b3cb-4caf-a9c1-53b3c07200c3" id="1570" nodeName="gris.png" isDoc="" updated="2019-10-21T06.38.38.6500000Z" parentGUID="ce17dcb3-d045-4db9-aaf7-b2367ee92271" nodeTypeAlias="Image" path="-1,1530,1548,1566,1570">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[56598]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1022/gris.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[284]]></umbracoHeight>
  <umbracoWidth><![CDATA[500]]></umbracoWidth>
</Image>