<?xml version="1.0" encoding="utf-8"?>
<Image guid="9d1ce101-66f5-44de-bdea-2936c57e37bf" id="1702" nodeName="risalamande.jpg" isDoc="" updated="2020-02-04T14.15.36.6270000Z" parentGUID="bd65e19e-7506-4b2f-9d6d-acf96309ba7a" nodeTypeAlias="Image" path="-1,1539,1575,1576,1702">
  <alt><![CDATA[risalamande til julefrokost ]]></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[64087]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{
  "src": "/media/1102/risalamande.jpg",
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  }
}]]></umbracoFile>
  <umbracoHeight><![CDATA[450]]></umbracoHeight>
  <umbracoWidth><![CDATA[750]]></umbracoWidth>
</Image>