<?xml version="1.0" encoding="utf-8"?>
<Image guid="b6d6d60a-4392-44a5-9c14-49ed79c87277" id="1727" nodeName="broedblanding_hvedeboller.png" isDoc="" updated="2019-10-21T06.38.54.3770000Z" parentGUID="db765d52-2555-4e74-9b56-38f2a6e86c48" nodeTypeAlias="Image" path="-1,1530,1531,1544,1727">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[207491]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1140/broedblanding_hvedeboller.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[490]]></umbracoHeight>
  <umbracoWidth><![CDATA[490]]></umbracoWidth>
</Image>