<?xml version="1.0" encoding="utf-8"?>
<Image guid="835057de-a11f-44c1-b580-813edbe08b7b" id="3586" nodeName="Månedenskøb Januar 2000X500" isDoc="" updated="2022-12-14T09.22.02.0130000Z" parentGUID="b2ee9dc5-b9d6-4a14-b0ef-e5e914ddd3e6" nodeTypeAlias="Image" path="-1,1706,3302,3586">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[5548616]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2605/maanedenskoeb_januar_2000x500.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[2083]]></umbracoHeight>
  <umbracoWidth><![CDATA[8333]]></umbracoWidth>
</Image>