<?xml version="1.0" encoding="utf-8"?>
<Image guid="1bbcb41c-dca3-441c-b12d-c312b42d2000" id="2976" nodeName="farverrigslider_1.jpg" isDoc="" updated="2021-04-29T08.53.30.0100000Z" parentGUID="3f4e8cb3-560d-49a8-9972-7d4c801185e7" nodeTypeAlias="Image" path="-1,1539,1563,2962,2976">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[846573]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2131/farverrigslider_1.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[1000]]></umbracoHeight>
  <umbracoWidth><![CDATA[1000]]></umbracoWidth>
</Image>