<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>3df36b96-fcaf-4ff3-aba8-ae4711248099</Key>
    <Name>Tekstkomponent</Name>
    <Alias>componentText</Alias>
    <Icon>icon-notepad-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Folder>Baseline/Components</Folder>
    <Compositions>
      <Composition Key="a64c295f-8755-4190-84d3-1f8e2845b2ab">compositionPopUpComponent</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>90023a1d-7102-4774-a31c-d2f9680b06de</Key>
      <Name>Knapper</Name>
      <Alias>buttons</Alias>
      <Definition>5a993545-51a9-4501-9850-7972763063eb</Definition>
      <Type>Our.Umbraco.StackedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Indhold</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>ecc78daa-49b5-4e62-8b18-eb0b44786f06</Key>
      <Name>Kolonnebredde</Name>
      <Alias>columnWidth</Alias>
      <Definition>f001a9ff-a9c8-4a62-b5b4-3eec6d6eb9c7</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Vælg den bredde billedet skal have]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Image over text</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>30945555-cd77-40ba-9bcd-0d3a12e4813c</Key>
      <Name>Horisontal placering</Name>
      <Alias>horizontalAlignment</Alias>
      <Definition>f7ec9854-c9e5-4787-855f-7ea29481f67f</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Vælg hvordan billedet skal placeres]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Image over text</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>d7068c99-fa27-4430-bad8-5bfcde5edbc4</Key>
      <Name>Billede</Name>
      <Alias>image</Alias>
      <Definition>838d17a6-d246-4808-918c-0f2186cd0dfd</Definition>
      <Type>Umbraco.MediaPicker2</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Billedet bliver placeret over teksten]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Image over text</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>400d2936-df1a-4a14-9397-f4d269fe1638</Key>
      <Name>Vis læs mere på mobil</Name>
      <Alias>showReadMore</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Vil skære afsnit væk der ikke kan være på skærmen og i stedet indsætte en læs mere knap]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Indhold</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>87acb85a-b36f-41ec-ae09-b67a8c1a743e</Key>
      <Name>Styles</Name>
      <Alias>styles</Alias>
      <Definition>014d5019-c76e-49e5-990e-9ba55bd3a475</Definition>
      <Type>Our.Umbraco.StackedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Indhold</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>28c2c184-f3b7-42d0-9cff-606d268174a2</Key>
      <Name>Tekst</Name>
      <Alias>text</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCEv3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Indhold</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Indhold</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Image over text</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>