<?xml version="1.0" encoding="utf-8"?>
<Image guid="70461553-4221-4ba7-b0bc-e79209d3291c" id="3551" nodeName="38125 Roedekors Kædesites 2000X500" isDoc="" updated="2022-10-12T13.57.18.6170000Z" parentGUID="78db8246-c665-4110-93bd-d8c5986fa5bb" nodeTypeAlias="Image" path="-1,1706,3213,3551">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[133106]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2579/38125_roedekors_kaedesites-2000x500.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[500]]></umbracoHeight>
  <umbracoWidth><![CDATA[2000]]></umbracoWidth>
</Image>