<?xml version="1.0" encoding="utf-8"?>
<Image guid="b5614b86-b8f2-4367-b9c0-f2d1146b1be8" id="3278" nodeName="Stærk Pris Tekst" isDoc="" updated="2022-03-01T11.39.46.7030000Z" parentGUID="c1a100a8-5bf0-4d16-b9c2-670cac727a9f" nodeTypeAlias="Image" path="-1,3218,3278">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[33586]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2377/staerk_pris_tekst.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[670]]></umbracoHeight>
  <umbracoWidth><![CDATA[851]]></umbracoWidth>
</Image>