<?xml version="1.0" encoding="utf-8"?>
<MediaType>
  <Info>
    <Key>cfce7d8e-261e-4581-bba4-b70074ec5dfd</Key>
    <Name>Video</Name>
    <Alias>video</Alias>
    <Icon>icon-video color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>mp4 video</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Compositions>
      <Composition Key="cc07b313-0843-4aa8-bbda-871c8da728c8">Image</Composition>
    </Compositions>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>f6b72ad6-e604-4beb-a26c-0f1431811311</Key>
      <Name>Upload video</Name>
      <Alias>uploadVideo</Alias>
      <Definition>84c6b441-31df-4ffe-b67e-67d5bc3ae65a</Definition>
      <Type>Umbraco.UploadField</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Image</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Image</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</MediaType>