<?xml version="1.0" encoding="utf-8"?>
<Image guid="e039744c-d4d5-4cba-ac0d-7eae36daa86e" id="1758" nodeName="b4.jpg" isDoc="" updated="2020-02-04T14.02.12.1930000Z" parentGUID="55543541-614d-46b1-ad94-5c8d92c9f509" nodeTypeAlias="Image" path="-1,1539,1563,1564,1758">
  <alt><![CDATA[efterårsmorgenmad]]></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[331433]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{
  "src": "/media/1182/b4.jpg",
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  }
}]]></umbracoFile>
  <umbracoHeight><![CDATA[720]]></umbracoHeight>
  <umbracoWidth><![CDATA[1280]]></umbracoWidth>
</Image>