<?xml version="1.0" encoding="utf-8"?>
<Image guid="0f1478d4-89c1-4a0d-8619-c7f8b9bf6495" id="1809" nodeName="slagternes-garanti.jpg" isDoc="" updated="2019-10-21T12.38.25.4270000Z" parentGUID="e61d1e37-874e-4662-8294-ac4b0465d88d" nodeTypeAlias="Image" path="-1,1530,1548,1809">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[29446]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1215/slagternes-garanti.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[189]]></umbracoHeight>
  <umbracoWidth><![CDATA[501]]></umbracoWidth>
</Image>