<?xml version="1.0" encoding="utf-8"?>
<news guid="9ff3e214-7194-4488-ab85-d36c37cf44de" id="1466" nodeName="Det skal spiddes" isDoc="" updated="2020-01-22T11.57.22.7000000Z" parentGUID="598726ab-2465-4992-acd2-faa6c51f3a2b" nodeTypeAlias="news" templateAlias="Baseline_News" sortOrder="3" published="true" isBlueprint="false">
  <bodyEndHtml></bodyEndHtml>
  <bodyScript></bodyScript>
  <contentType></contentType>
  <date>2015-05-27T00:00:00</date>
  <digiSegment></digiSegment>
  <headHtml></headHtml>
  <headline></headline>
  <headScript></headScript>
  <hideFooter>0</hideFooter>
  <hideFromSitemap>0</hideFromSitemap>
  <hideTop>0</hideTop>
  <metaCanonicalUrl></metaCanonicalUrl>
  <metaDescription><![CDATA[Lav lækre grillspyd med kød og grøntsager. Det er nemt, og du kan bruge lige præcis det kød og de grøntsager, du bedst kan lide. Se madvideoen her.]]></metaDescription>
  <metaNoFollow>0</metaNoFollow>
  <metaNoIndex>0</metaNoIndex>
  <metaTitle><![CDATA[Grillspyd – Få Inspiration til opskrifter med grillspyd her]]></metaTitle>
  <nonResponsive></nonResponsive>
  <ogImage></ogImage>
  <relations></relations>
  <removeTextShadow>0</removeTextShadow>
  <specialFaviconSmall></specialFaviconSmall>
  <specialFaviconStandard></specialFaviconStandard>
  <subHeadline></subHeadline>
  <tags><![CDATA[["grillspyd","grill"]]]></tags>
  <text><![CDATA[<p>Grillspyd er lækre og nemme. De er også sjove for børn. Og så kan du variere dem i det endelige. Det er også smart, hvis du har forskellige rester af kød og grøntsager i køleskabet. Få mere inspiration i nedenstående film og spørg SB Slagteren, hvis der er andet, du er i tvivl om.</p>
<p><iframe src="https://www.youtube.com/embed/Il4bHh4KMJA?feature=oembed" allowfullscreen="" width="596" height="335" frameborder="0"></iframe></p>]]></text>
  <thumbnail><![CDATA[umb://media/2246271e35164eb9b5f12b0f0f86502c]]></thumbnail>
  <umbracoUrlName></umbracoUrlName>
  <useImageAsTopImage>1</useImageAsTopImage>
</news>