<?xml version="1.0" encoding="utf-8"?>
<news guid="698c5cee-5991-43f6-9a74-6eb1423a34c7" id="1428" nodeName="Betydningen af vinglasset" isDoc="" updated="2020-01-22T13.15.51.7370000Z" parentGUID="4615c7ec-3d0e-49f7-b162-af9c1341b13f" nodeTypeAlias="news" templateAlias="Baseline_News" sortOrder="3" published="true" isBlueprint="false">
  <bodyEndHtml></bodyEndHtml>
  <bodyScript></bodyScript>
  <contentType></contentType>
  <date>2015-05-07T00:00:00</date>
  <digiSegment></digiSegment>
  <headHtml></headHtml>
  <headline><![CDATA[Betydningen af vinglasset]]></headline>
  <headScript></headScript>
  <hideFooter>0</hideFooter>
  <hideFromSitemap>0</hideFromSitemap>
  <hideTop>0</hideTop>
  <metaCanonicalUrl></metaCanonicalUrl>
  <metaDescription><![CDATA[Læs her, hvilke funktioner vinglasset har, for at vinens aroma kan udfoldes. Du finder mange andre spændende artikler med tips til vin her.]]></metaDescription>
  <metaNoFollow>0</metaNoFollow>
  <metaNoIndex>0</metaNoIndex>
  <metaTitle><![CDATA[Vinglas – Hvilken betydning har et vinglas ? – Læs mere her]]></metaTitle>
  <nonResponsive></nonResponsive>
  <ogImage></ogImage>
  <relations></relations>
  <removeTextShadow>0</removeTextShadow>
  <specialFaviconSmall></specialFaviconSmall>
  <specialFaviconStandard></specialFaviconStandard>
  <subHeadline></subHeadline>
  <tags><![CDATA[["Betydning","vinglasset","vin"]]]></tags>
  <text><![CDATA[<p>Vinglasset har to primære funktioner. Det skal præsentere vinen, så man får lyst til at smage på den, og det skal forstærke duft og smag. Det første er sjældent en udfordring. Det andet kræver noget af glasset. Et tulipanformet glas er det optimale. Det skal have tilpas overflade til at vinens aroma udfoldes. Det er nemlig ikke alt, munden kan smage, og det er i lige så høj grad næsen, der arbejder, når man smager på vinen. Stilk på glasset er en god idé. Så bliver det ikke fedtet og man varmer heller ikke vinen med hænderne. Varm vin kan være en dårlig oplevelse.</p>]]></text>
  <thumbnail><![CDATA[umb://media/71ad40b20c6944518ed2e9a4737e992e]]></thumbnail>
  <umbracoUrlName></umbracoUrlName>
  <useImageAsTopImage>1</useImageAsTopImage>
</news>