<?xml version="1.0" encoding="utf-8"?>
<Image guid="4a69d83a-933a-447d-8e83-76d5a4bd64c2" id="3403" nodeName="Fiskefrika" isDoc="" updated="2022-05-23T14.01.11.4770000Z" parentGUID="d43ddccb-ae10-4c44-bfda-5804c6350587" nodeTypeAlias="Image" path="-1,1581,3394,3403">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[490019]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2471/fiskefrika.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[450]]></umbracoHeight>
  <umbracoWidth><![CDATA[720]]></umbracoWidth>
</Image>