<?xml version="1.0" encoding="utf-8"?>
<Image guid="d6f555d0-f9c7-4806-b192-2c1a5ae0d966" id="2215" nodeName="115511_coop_corona_sprint_mobil_forsyninger.gif" isDoc="" updated="2022-04-11T12.32.38.6200000Z" parentGUID="179756ef-cf39-4ef7-8450-020198946840" nodeTypeAlias="Image" path="-1,1706,2221,2215">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[814157]]></umbracoBytes>
  <umbracoExtension><![CDATA[gif]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1555/115511_coop_corona_sprint_mobil_forsyninger.gif", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[400]]></umbracoHeight>
  <umbracoWidth><![CDATA[600]]></umbracoWidth>
</Image>