<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Coop color picker" Key="bcd43a32-d8e3-4006-9e4b-499b9ef75140" Id="Umbraco.ColorPickerAlias" DatabaseType="Nvarchar" Folder="Baseline/Colors">
  <PreValues>
    <PreValue SortOrder="1" Alias="0"><![CDATA[{"value":"c31414","label":"Coop red - c31414","sortOrder":0}]]></PreValue>
    <PreValue SortOrder="2" Alias="1"><![CDATA[{"value":"FFFFFF","label":"White - FFFFFF","sortOrder":1}]]></PreValue>
    <PreValue SortOrder="3" Alias="10"><![CDATA[{"value":"EBC369","label":"Bread1 - EBC369","sortOrder":10}]]></PreValue>
    <PreValue SortOrder="4" Alias="11"><![CDATA[{"value":"F5DCA5","label":"Bread2 - F5DCA5","sortOrder":11}]]></PreValue>
    <PreValue SortOrder="5" Alias="12"><![CDATA[{"value":"F5EBD7","label":"Bread3 - F5EBD7","sortOrder":12}]]></PreValue>
    <PreValue SortOrder="6" Alias="13"><![CDATA[{"value":"F5D74B","label":"Mustard-1 - F5D74B","sortOrder":13}]]></PreValue>
    <PreValue SortOrder="7" Alias="14"><![CDATA[{"value":"FFE65F","label":"Mustard - FFE65F","sortOrder":14}]]></PreValue>
    <PreValue SortOrder="8" Alias="15"><![CDATA[{"value":"FFEB96","label":"Mustard1 - FFEB96","sortOrder":15}]]></PreValue>
    <PreValue SortOrder="9" Alias="16"><![CDATA[{"value":"FFF0BE","label":"Mustard2 - FFF0BE","sortOrder":16}]]></PreValue>
    <PreValue SortOrder="10" Alias="17"><![CDATA[{"value":"FFF5DC","label":"Mustard3 - FFF5DC","sortOrder":17}]]></PreValue>
    <PreValue SortOrder="11" Alias="18"><![CDATA[{"value":"7D9B2D","label":"Olive-1 - 7D9B2D","sortOrder":18}]]></PreValue>
    <PreValue SortOrder="12" Alias="19"><![CDATA[{"value":"90AE3C","label":"Olive - 90AE3C","sortOrder":19}]]></PreValue>
    <PreValue SortOrder="13" Alias="2"><![CDATA[{"value":"000000","label":"Black - 000000","sortOrder":2}]]></PreValue>
    <PreValue SortOrder="14" Alias="20"><![CDATA[{"value":"C8DC96","label":"Olive1 - C8DC96","sortOrder":20}]]></PreValue>
    <PreValue SortOrder="15" Alias="21"><![CDATA[{"value":"D7E1B4","label":"Olive2 - D7E1B4","sortOrder":21}]]></PreValue>
    <PreValue SortOrder="16" Alias="22"><![CDATA[{"value":"E1EBD2","label":"Olive3 - E1EBD2","sortOrder":22}]]></PreValue>
    <PreValue SortOrder="17" Alias="23"><![CDATA[{"value":"559641","label":"Apple-1 - 559641","sortOrder":23}]]></PreValue>
    <PreValue SortOrder="18" Alias="24"><![CDATA[{"value":"73AE5F","label":"Apple - 73AE5F","sortOrder":24}]]></PreValue>
    <PreValue SortOrder="19" Alias="25"><![CDATA[{"value":"AFCD88","label":"Apple1 - AFCD88","sortOrder":25}]]></PreValue>
    <PreValue SortOrder="20" Alias="26"><![CDATA[{"value":"D2E1C8","label":"Apple2 - D2E1C8","sortOrder":26}]]></PreValue>
    <PreValue SortOrder="21" Alias="27"><![CDATA[{"value":"E6EBE6","label":"Apple3 - E6EBE6","sortOrder":27}]]></PreValue>
    <PreValue SortOrder="22" Alias="28"><![CDATA[{"value":"4BA5AA","label":"Gum-1 - 4BA5AA","sortOrder":28}]]></PreValue>
    <PreValue SortOrder="23" Alias="29"><![CDATA[{"value":"73B8BD","label":"Gum - 73B8BD","sortOrder":29}]]></PreValue>
    <PreValue SortOrder="24" Alias="3"><![CDATA[{"value":"333333","label":"Mine Shaft - 333333","sortOrder":3}]]></PreValue>
    <PreValue SortOrder="25" Alias="30"><![CDATA[{"value":"A0CDD2","label":"Gum1 - A0CDD2","sortOrder":30}]]></PreValue>
    <PreValue SortOrder="26" Alias="31"><![CDATA[{"value":"CDE1E6","label":"Gum2 - CDE1E6","sortOrder":31}]]></PreValue>
    <PreValue SortOrder="27" Alias="32"><![CDATA[{"value":"E6F0F0","label":"Gum3 - E6F0F0","sortOrder":32}]]></PreValue>
    <PreValue SortOrder="28" Alias="33"><![CDATA[{"value":"558CBE","label":"Milk-1 - 558CBE","sortOrder":33}]]></PreValue>
    <PreValue SortOrder="29" Alias="34"><![CDATA[{"value":"7DAEDB","label":"Milk - 7DAEDB","sortOrder":34}]]></PreValue>
    <PreValue SortOrder="30" Alias="35"><![CDATA[{"value":"B9D4F2","label":"Milk1 - B9D4F2","sortOrder":35}]]></PreValue>
    <PreValue SortOrder="31" Alias="36"><![CDATA[{"value":"CDE1F5","label":"Milk2 - CDE1F5","sortOrder":36}]]></PreValue>
    <PreValue SortOrder="32" Alias="37"><![CDATA[{"value":"E1EBFA","label":"Milk3 - E1EBFA","sortOrder":37}]]></PreValue>
    <PreValue SortOrder="33" Alias="38"><![CDATA[{"value":"374B91","label":"Blueberry-1 - 374B91","sortOrder":38}]]></PreValue>
    <PreValue SortOrder="34" Alias="39"><![CDATA[{"value":"5A6EAE","label":"Blueberry - 5A6EAE","sortOrder":39}]]></PreValue>
    <PreValue SortOrder="35" Alias="4"><![CDATA[{"value":"8E8E8E","label":"Gray - 8E8E8E","sortOrder":4}]]></PreValue>
    <PreValue SortOrder="36" Alias="40"><![CDATA[{"value":"A0AAD7","label":"Blueberry1 - A0AAD7","sortOrder":40}]]></PreValue>
    <PreValue SortOrder="37" Alias="41"><![CDATA[{"value":"CDD2EB","label":"Blueberry2 - CDD2EB","sortOrder":41}]]></PreValue>
    <PreValue SortOrder="38" Alias="42"><![CDATA[{"value":"E6E6F5","label":"Blueberry3 - E6E6F5","sortOrder":42}]]></PreValue>
    <PreValue SortOrder="39" Alias="43"><![CDATA[{"value":"690A0C","label":"Redwine-1 - 690A0C","sortOrder":43}]]></PreValue>
    <PreValue SortOrder="40" Alias="44"><![CDATA[{"value":"8C1419","label":"Redwine - 8C1419","sortOrder":44}]]></PreValue>
    <PreValue SortOrder="41" Alias="45"><![CDATA[{"value":"B47378","label":"Redwine1 - B47378","sortOrder":45}]]></PreValue>
    <PreValue SortOrder="42" Alias="46"><![CDATA[{"value":"E6CDCD","label":"Redwine2 - E6CDCD","sortOrder":46}]]></PreValue>
    <PreValue SortOrder="43" Alias="47"><![CDATA[{"value":"F0E6E6","label":"Redwine3 - F0E6E6","sortOrder":47}]]></PreValue>
    <PreValue SortOrder="44" Alias="48"><![CDATA[{"value":"7D695F","label":"Coconut-1 - 7D695F","sortOrder":48}]]></PreValue>
    <PreValue SortOrder="45" Alias="49"><![CDATA[{"value":"9A867D","label":"Coconut - 9A867D","sortOrder":49}]]></PreValue>
    <PreValue SortOrder="46" Alias="5"><![CDATA[{"value":"CCCCCC","label":"Silver - CCCCCC","sortOrder":5}]]></PreValue>
    <PreValue SortOrder="47" Alias="50"><![CDATA[{"value":"C3B4AA","label":"Coconut1 - C3B4AA","sortOrder":50}]]></PreValue>
    <PreValue SortOrder="48" Alias="51"><![CDATA[{"value":"DCD7C8","label":"Coconut2 - DCD7C8","sortOrder":51}]]></PreValue>
    <PreValue SortOrder="49" Alias="52"><![CDATA[{"value":"EBEBE1","label":"Coconut3 - EBEBE1","sortOrder":52}]]></PreValue>
    <PreValue SortOrder="50" Alias="53"><![CDATA[{"value":"00a7b5","label":"Pacific Blue - 00A7B5","sortOrder":53}]]></PreValue>
    <PreValue SortOrder="51" Alias="54"><![CDATA[{"value":"4dc6d7","label":"Viking - 4DC6D7","sortOrder":54}]]></PreValue>
    <PreValue SortOrder="52" Alias="55"><![CDATA[{"value":"b5dfea","label":"Regent St Blue - B5DFEA","sortOrder":55}]]></PreValue>
    <PreValue SortOrder="53" Alias="56"><![CDATA[{"value":"8a2c75","label":"Plum - 8A2C75","sortOrder":56}]]></PreValue>
    <PreValue SortOrder="54" Alias="57"><![CDATA[{"value":"aa6caa","label":"Lilac - AA6CAA","sortOrder":57}]]></PreValue>
    <PreValue SortOrder="55" Alias="58"><![CDATA[{"value":"cdacd2","label":"London Hue - CDACD2","sortOrder":58}]]></PreValue>
    <PreValue SortOrder="56" Alias="59"><![CDATA[{"value":"7e5475","label":"Strikemaster - 7E5475","sortOrder":59}]]></PreValue>
    <PreValue SortOrder="57" Alias="6"><![CDATA[{"value":"EBEBEB","label":"Gallery - EBEBEB","sortOrder":6}]]></PreValue>
    <PreValue SortOrder="58" Alias="60"><![CDATA[{"value":"ab7991","label":"Bouquet - AB7991","sortOrder":60}]]></PreValue>
    <PreValue SortOrder="59" Alias="61"><![CDATA[{"value":"ceb2bf","label":"Lily - CEB2BF","sortOrder":61}]]></PreValue>
    <PreValue SortOrder="60" Alias="62"><![CDATA[{"value":"33694a","label":"Julegrøn - 33694A","sortOrder":62}]]></PreValue>
    <PreValue SortOrder="61" Alias="63"><![CDATA[{"value":"4f6d39","label":"Æblegrøn - 4F6D39","sortOrder":63}]]></PreValue>
    <PreValue SortOrder="62" Alias="64"><![CDATA[{"value":"709879","label":"Almuegrøn - 709879","sortOrder":64}]]></PreValue>
    <PreValue SortOrder="63" Alias="65"><![CDATA[{"value":"ced375","label":"Pæregrøn - CED375","sortOrder":65}]]></PreValue>
    <PreValue SortOrder="64" Alias="66"><![CDATA[{"value":"a3471c","label":"Bronze - A3471C","sortOrder":66}]]></PreValue>
    <PreValue SortOrder="65" Alias="67"><![CDATA[{"value":"ad424d","label":"Hindbær - AD424D","sortOrder":67}]]></PreValue>
    <PreValue SortOrder="66" Alias="68"><![CDATA[{"value":"94676e","label":"Blomme - 94676E","sortOrder":68}]]></PreValue>
    <PreValue SortOrder="67" Alias="69"><![CDATA[{"value":"c6605b","label":"Rikkeskøkken - C6605B","sortOrder":69}]]></PreValue>
    <PreValue SortOrder="68" Alias="7"><![CDATA[{"value":"F8F7F4","label":"Sand - F8F7F4","sortOrder":7}]]></PreValue>
    <PreValue SortOrder="69" Alias="70"><![CDATA[{"value":"e3b299","label":"Kødfarvet - E3B299","sortOrder":70}]]></PreValue>
    <PreValue SortOrder="70" Alias="71"><![CDATA[{"value":"d47833","label":"Orange - D47833","sortOrder":71}]]></PreValue>
    <PreValue SortOrder="71" Alias="72"><![CDATA[{"value":"b6a331","label":"Gyseliggrøn - B6A331","sortOrder":72}]]></PreValue>
    <PreValue SortOrder="72" Alias="73"><![CDATA[{"value":"e9b430","label":"Solgul - E9B430","sortOrder":73}]]></PreValue>
    <PreValue SortOrder="73" Alias="74"><![CDATA[{"value":"f5f5d9","label":"Mandelhvid - F5F5D9","sortOrder":74}]]></PreValue>
    <PreValue SortOrder="74" Alias="75"><![CDATA[{"value":"4a2d69","label":"Lilla - 4A2D69","sortOrder":75}]]></PreValue>
    <PreValue SortOrder="75" Alias="76"><![CDATA[{"value":"6975b5","label":"Lavendel - 6975B5","sortOrder":76}]]></PreValue>
    <PreValue SortOrder="76" Alias="77"><![CDATA[{"value":"6b99d1","label":"Himmelblå - 6B99D1","sortOrder":77}]]></PreValue>
    <PreValue SortOrder="77" Alias="78"><![CDATA[{"value":"b0def7","label":"Lyseblå - B0DEF7","sortOrder":78}]]></PreValue>
    <PreValue SortOrder="78" Alias="79"><![CDATA[{"value":"707375","label":"Nissegrå - 707375","sortOrder":79}]]></PreValue>
    <PreValue SortOrder="79" Alias="8"><![CDATA[{"value":"B9780F","label":"Bread-1 - B9780F","sortOrder":8}]]></PreValue>
    <PreValue SortOrder="80" Alias="80"><![CDATA[{"value":"575757","label":"Koksgrå - 575757","sortOrder":80}]]></PreValue>
    <PreValue SortOrder="81" Alias="9"><![CDATA[{"value":"DB951E","label":"Bread - DB951E","sortOrder":9}]]></PreValue>
    <PreValue SortOrder="82" Alias="useLabel"><![CDATA[1]]></PreValue>
  </PreValues>
</DataType>