<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>0a480072-8385-43fb-8d87-6dadd929858d</Key>
    <Name>Komposition - Bånd</Name>
    <Alias>compositionRibbon</Alias>
    <Icon>icon-exit-fullscreen color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Folder>Baseline/Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>0a1cbd36-376e-4ce0-9a7c-1db4dc28b878</Key>
      <Name>Kant på bånd</Name>
      <Alias>borderOnRibbon</Alias>
      <Definition>bcd43a32-d8e3-4006-9e4b-499b9ef75140</Definition>
      <Type>Umbraco.ColorPickerAlias</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Vælg en farve for at vise en kant rundt om båndets indhold]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Indstillinger</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>77ac38ed-ce63-45a2-bb58-fe44d338de83</Key>
      <Name>Skjul bånd</Name>
      <Alias>hideRibbon</Alias>
      <Definition>7dc1d278-c638-4608-8913-4cd2dbd07493</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Indstillinger</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>6aa12ec8-b370-4c06-95f9-0cd1b2f6ac13</Key>
      <Name>Synlighed ved login</Name>
      <Alias>loginVisibility</Alias>
      <Definition>cde72e36-2805-41d5-bdbf-0a590c0e372c</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Standard er begge. Vælg, hvis båndet kun skal være synligt når man er logget ind/ud]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Indstillinger</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>3a5af8e6-d6b9-46ac-bb78-9c6496d0a95d</Key>
      <Name>Logo i ramme</Name>
      <Alias>logoFrame</Alias>
      <Definition>838d17a6-d246-4808-918c-0f2186cd0dfd</Definition>
      <Type>Umbraco.MediaPicker2</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Viser et billede/logo i bunden af rammen. Kræver der er valgt en ramme.]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Indstillinger</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>dc5969ea-32ff-49b4-adf5-f602f93265ed</Key>
      <Name>Logo i ramme - Knap</Name>
      <Alias>logoFrameBtn</Alias>
      <Definition>c8261dbf-b464-4caa-9b98-13aeca4f1137</Definition>
      <Type>RJP.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Knappes sættes modsat logo'et. Er der ikke noget logo, så sættes den i bunden.]]></Description>
      <SortOrder>9</SortOrder>
      <Tab>Indstillinger</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>cd92de35-ab87-4c22-b34f-34753ade78b5</Key>
      <Name>Logo i ramme - Sæt i top</Name>
      <Alias>logoFrameTop</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Klikkes fluebenet af sættes logoet i toppen af rammen]]></Description>
      <SortOrder>8</SortOrder>
      <Tab>Indstillinger</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>60bf1f40-8123-4464-b526-24aac06cdc8f</Key>
      <Name>Logo i ramme - Bredde</Name>
      <Alias>logoFrameWidth</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Bredden på billedet. Default er 150px. Højden findes automatisk.]]></Description>
      <SortOrder>7</SortOrder>
      <Tab>Indstillinger</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>9f085b20-cc18-485e-b3be-17d695546d39</Key>
      <Name>Navn</Name>
      <Alias>settingsName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Use this field to allow linking directly to a ribbon by using #. www.example.com/#myribbon]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Indstillinger</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>e502b157-ee85-47be-bbde-13f7e6feab18</Key>
      <Name>Vis fra</Name>
      <Alias>showFrom</Alias>
      <Definition>e4d66c0f-b935-4200-81f0-025f7256b89a</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Vis båndet fra dette tidspunkt]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Indstillinger</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>2bb46ffb-5632-41ef-965b-fa4c9d4059e7</Key>
      <Name>Vis til</Name>
      <Alias>showTo</Alias>
      <Definition>e4d66c0f-b935-4200-81f0-025f7256b89a</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Vis båndet til dette tidspunkt]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Indstillinger</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Indstillinger</Caption>
      <SortOrder>100</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>