<?xml version="1.0" encoding="utf-8"?>
<Image guid="f9c32bda-3cf9-4f31-ad43-91b85b15adaf" id="3533" nodeName="Ugens Grønt Kædesitesbanner 600X400 Uge39" isDoc="" updated="2022-09-26T07.59.00.6700000Z" parentGUID="123b0fd1-0ab9-4bb9-99d2-3668a3ff4298" nodeTypeAlias="Image" path="-1,1706,3532,3533">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[412551]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2564/ugens-groent_kaedesitesbanner_600x400_uge39.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[1667]]></umbracoHeight>
  <umbracoWidth><![CDATA[2500]]></umbracoWidth>
</Image>