<?xml version="1.0" encoding="utf-8"?>
<Image guid="45b6e578-2010-48b1-9c7a-a3d4516f8e0d" id="2709" nodeName="vin-skænkes.jpg" isDoc="" updated="2020-11-23T13.20.03.8600000Z" parentGUID="b07b69ac-c3bc-4278-988d-0e5e61644747" nodeTypeAlias="Image" path="-1,1530,1556,1557,2709">
  <alt><![CDATA[Bourgogne til maden]]></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[71306]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{
  "src": "/media/1904/vin-skaenkes.jpg",
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  }
}]]></umbracoFile>
  <umbracoHeight><![CDATA[188]]></umbracoHeight>
  <umbracoWidth><![CDATA[600]]></umbracoWidth>
</Image>