<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>a6887ca0-4e5c-42d5-a909-522fad4491b9</Key>
    <Name>Opskrifts idé</Name>
    <Alias>recipeIdea</Alias>
    <Icon>icon-food color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Folder>Baseline/Recipes</Folder>
    <Compositions>
      <Composition Key="d3739ce6-78e5-4c43-8c5d-ae785127ef94">compositionSEO</Composition>
    </Compositions>
    <DefaultTemplate>Baseline_RecipeIdea</DefaultTemplate>
    <AllowedTemplates>
      <Template>Baseline_RecipeIdea</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>c46e78e9-99f4-4c70-a6c8-d0d473203aa9</Key>
      <Name>Billede</Name>
      <Alias>image</Alias>
      <Definition>838d17a6-d246-4808-918c-0f2186cd0dfd</Definition>
      <Type>Umbraco.MediaPicker2</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>9f12cf50-9f3b-49a6-8062-8e8ca5a61a3a</Key>
      <Name>Ugens idé billeder</Name>
      <Alias>recipeIdeaImages</Alias>
      <Definition>015d2e6d-accc-4f6d-95f1-a1171bac3741</Definition>
      <Type>Umbraco.MediaPicker2</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Billeder, der skal vises i "Ugens madidé slideren" hvis opskriften er valgt. Billederne bliver vist efter "Billede" i en slider. Bliver derudover også vist på selve opskriftsidéen.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>b6d2f5d2-c0d5-4054-b155-567a57596a87</Key>
      <Name>Opskrift produkter med ikon</Name>
      <Alias>recipeProducts</Alias>
      <Definition>c6e8d136-19d4-4495-982e-f452bf08dda2</Definition>
      <Type>Our.Umbraco.StackedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Navn på produkt med tilhørende ikon. Vises kun inde på madidéen.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>a539bb09-bd97-42b4-9e36-43786e6f6bda</Key>
      <Name>Søge tags</Name>
      <Alias>searchTags</Alias>
      <Definition>b6b73142-b9c1-4bf8-a16d-e1c23320b549</Definition>
      <Type>Umbraco.Tags</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Bliver brugt ifm. søgning.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>