<?xml version="1.0" encoding="utf-8"?>
<Image guid="2d00c345-4331-4243-adde-d55c27d0879b" id="3723" nodeName="38679 Topslider 600X400px 01[76][52]" isDoc="" updated="2023-05-12T10.50.24.9000000Z" parentGUID="77533937-cc29-4466-ae91-767270ddbec7" nodeTypeAlias="Image" path="-1,1706,3297,3723">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[136770]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2727/38679_topslider_600x400px_01-76-52.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[400]]></umbracoHeight>
  <umbracoWidth><![CDATA[600]]></umbracoWidth>
</Image>