<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>2f196f9e-8e4b-44ec-b14a-03179491e050</Key>
    <Name>Globalt indhold bånd</Name>
    <Alias>ribbonGlobalContent</Alias>
    <Icon>icon-mindmap color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Folder>Baseline/Ribbons</Folder>
    <Compositions>
      <Composition Key="0a480072-8385-43fb-8d87-6dadd929858d">compositionRibbon</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>e43f03cb-ca52-4ef3-8ba3-4beaeb2e9c0f</Key>
      <Name>Globalt indhold</Name>
      <Alias>globalContent</Alias>
      <Definition>6c08fad4-fdde-46c6-a266-313135fe2eb8</Definition>
      <Type>Umbraco.MultiNodeTreePicker2</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Indhold</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Indhold</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>