<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Placering - Vertikalt" Key="58bee45f-7bd4-42e6-b3a2-ada62fa75316" Id="Umbraco.DropDown.Flexible" DatabaseType="Nvarchar" Folder="Baseline/Alignment">
  <PreValues>
    <PreValue SortOrder="1" Alias="0"><![CDATA[Top]]></PreValue>
    <PreValue SortOrder="2" Alias="1"><![CDATA[Middle]]></PreValue>
    <PreValue SortOrder="3" Alias="2"><![CDATA[Bottom]]></PreValue>
    <PreValue SortOrder="4" Alias="multiple"><![CDATA[0]]></PreValue>
  </PreValues>
</DataType>