<?xml version="1.0" encoding="utf-8"?>
<Image guid="85ce80b3-d160-4cf1-8ecb-2026b999232f" id="2416" nodeName="Kartofler på grill - SuperBrugsen 3.png" isDoc="" updated="2020-06-26T10.03.07.9970000Z" parentGUID="093ee0b0-316c-4b03-9d9c-734fa8078d89" nodeTypeAlias="Image" path="-1,1530,1546,1547,2416">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[101891]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1711/kartofler-paa-grill-superbrugsen-3.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[420]]></umbracoHeight>
  <umbracoWidth><![CDATA[315]]></umbracoWidth>
</Image>