<?xml version="1.0" encoding="utf-8"?>
<Image guid="f6ae4e99-1f64-421c-b116-8a9ac1f51dac" id="2799" nodeName="img-03-3x.png" isDoc="" updated="2021-01-14T12.11.41.7700000Z" parentGUID="2b04a5bb-0409-43d5-a137-305ecfaac02c" nodeTypeAlias="Image" path="-1,2793,2799">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[3977123]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1980/img-03-3x.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[1440]]></umbracoHeight>
  <umbracoWidth><![CDATA[2163]]></umbracoWidth>
</Image>