<?xml version="1.0" encoding="utf-8"?>
<news guid="ae8d174f-87d6-4b85-92e6-caa9362d95a1" id="1477" nodeName="Brombær er også godt til ost" isDoc="" updated="2020-01-22T12.14.43.2800000Z" parentGUID="2c2adacc-e3f0-4cd9-a6a5-842d1113ebf9" nodeTypeAlias="news" templateAlias="Baseline_News" sortOrder="7" published="true" isBlueprint="false">
  <bodyEndHtml></bodyEndHtml>
  <bodyScript></bodyScript>
  <contentType></contentType>
  <date>2015-05-07T00:00:00</date>
  <digiSegment></digiSegment>
  <headHtml></headHtml>
  <headline><![CDATA[Brombær er også godt til ost]]></headline>
  <headScript></headScript>
  <hideFooter>0</hideFooter>
  <hideFromSitemap>0</hideFromSitemap>
  <hideTop>0</hideTop>
  <metaCanonicalUrl></metaCanonicalUrl>
  <metaDescription><![CDATA[Brombær er skønne til en chokoladedessert som kage, mousse eller is. Men de er også lækre til ost. Få inspiration til retter med brombær her!]]></metaDescription>
  <metaNoFollow>0</metaNoFollow>
  <metaNoIndex>0</metaNoIndex>
  <metaTitle><![CDATA[Brombær – Perfekt som tilbehør til ostebordet – Læs mere her]]></metaTitle>
  <nonResponsive></nonResponsive>
  <ogImage></ogImage>
  <relations></relations>
  <removeTextShadow>0</removeTextShadow>
  <specialFaviconSmall></specialFaviconSmall>
  <specialFaviconStandard></specialFaviconStandard>
  <subHeadline></subHeadline>
  <tags><![CDATA[["Frugt og grønt","bær","brombær"]]]></tags>
  <text><![CDATA[<p>Brombær er vidunderlige til en chokoladedessert som kage, mousse eller is. Men de er også lækre til ost. Kør 125 g brombær og 75 g sukker på en blender og stil den på ostebordet. Med et stykke blåskimmel bliver det ikke bedre.</p>
<p> </p>]]></text>
  <thumbnail><![CDATA[umb://media/0d9d716b7ad74c60b5ac74cc06299098]]></thumbnail>
  <umbracoUrlName></umbracoUrlName>
  <useImageAsTopImage>1</useImageAsTopImage>
</news>