<?xml version="1.0" encoding="utf-8"?>
<Image guid="5add231f-8134-43b9-aa87-02cc0efdbe4b" id="1638" nodeName="oelandshvedemel.png" isDoc="" updated="2019-10-21T06.38.45.0800000Z" parentGUID="db765d52-2555-4e74-9b56-38f2a6e86c48" nodeTypeAlias="Image" path="-1,1530,1531,1544,1638">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[203122]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1145/oelandshvedemel.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[500]]></umbracoHeight>
  <umbracoWidth><![CDATA[500]]></umbracoWidth>
</Image>