<?xml version="1.0" encoding="utf-8"?>
<Image guid="bf60f9f8-4d08-42f9-a703-c078ab634108" id="1738" nodeName="soeris_billede.png" isDoc="" updated="2019-10-21T06.38.55.4730000Z" parentGUID="fb3eb803-227d-46dd-8695-f4556a871a5a" nodeTypeAlias="Image" path="-1,1530,1531,1554,1738">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[2293925]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1154/soeris_billede.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[753]]></umbracoHeight>
  <umbracoWidth><![CDATA[1891]]></umbracoWidth>
</Image>