<?xml version="1.0" encoding="utf-8"?>
<Image guid="cd7c7b7c-e69d-40d6-9611-df293ca58d11" id="3657" nodeName="365 RGB Mar23" isDoc="" updated="2023-03-02T08.30.20.7900000Z" parentGUID="8d0d1b31-f430-4fdd-ad52-678e3a30a180" nodeTypeAlias="Image" path="-1,3341,3656,3657">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[15470]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2669/365_rgb_mar23.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[803]]></umbracoHeight>
  <umbracoWidth><![CDATA[821]]></umbracoWidth>
</Image>