<?xml version="1.0" encoding="utf-8"?>
<news guid="0eabd6df-1b9d-48da-9924-77420045aa3e" id="2750" nodeName="Hvor mange genstande er der i en flaske vin?" isDoc="" updated="2022-05-17T09.49.39.2000000Z" parentGUID="c5256333-c19e-4cb7-bb55-30517f2f80a5" nodeTypeAlias="news" templateAlias="Baseline_News" sortOrder="24" published="true" isBlueprint="false">
  <bodyEndHtml></bodyEndHtml>
  <bodyScript></bodyScript>
  <contentType></contentType>
  <date>2020-12-15T00:00:00</date>
  <digiSegment></digiSegment>
  <headHtml><![CDATA[<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [{
    "@type": "Question",
    "name": "Hvor mange genstande er der i en flaske vin?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Hovedreglen er, at en flaske vin på 75 cl indeholder omkring 7,5 genstande."
    }
  },{
    "@type": "Question",
    "name": "Hvor mange genstande er der i et glas vin?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "I et glas rødvin på 16 cl er der cirka 1,6 genstande. For samme mængde hvidvin og rosevin i et glas er der 1,4 genstande."
    }
  },{
    "@type": "Question",
    "name": "Hvor hurtigt forbrænder man genstande?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "For hvert 10. kilo en person vejer, kan ens lever forbrænde 1 gram ren alkohol pr. time. Det betyder f.eks. at det vil tage en person to timer at forbrænde en genstand (12 gram alkohol), hvis personen vejer 60 kg. (6 gram alkohol i timen ved en vægt på 60 kg?"
    }
  }]
}
</script>]]></headHtml>
  <headline><![CDATA[Hvor mange genstande er der i en flaske vin?]]></headline>
  <headScript></headScript>
  <hideFooter>0</hideFooter>
  <hideFromSitemap>0</hideFromSitemap>
  <hideTop>0</hideTop>
  <metaCanonicalUrl></metaCanonicalUrl>
  <metaDescription><![CDATA[Vil du gerne vide, hvad det præcise antal genstande er i netop den flaske vin, du skal servere for dine gæster, kan du udregne det ved hjælp af en simpel formel.]]></metaDescription>
  <metaNoFollow>0</metaNoFollow>
  <metaNoIndex>0</metaNoIndex>
  <metaTitle><![CDATA[Hvor mange genstande er der i en flaske vin?]]></metaTitle>
  <nonResponsive>0</nonResponsive>
  <ogImage></ogImage>
  <relations></relations>
  <removeTextShadow>0</removeTextShadow>
  <specialFaviconSmall></specialFaviconSmall>
  <specialFaviconStandard></specialFaviconStandard>
  <subHeadline></subHeadline>
  <tags><![CDATA[["vin","flaske","genstand"]]]></tags>
  <text><![CDATA[<p>Der findes ikke ét overordnet svar på hvor mange genstande, der er i en flaske vin. Det afhænger nemlig af vinens alkoholprocent og flaskestørrelse, og derfor også om der er tale om en rødvin, hvidvin eller rosevin.</p>
<p>Mange mennesker bliver ofte i tvivl, om man må køre hjem efter ét enkelt glas vin. Som hovedregel er det tilladt, men det afhænger af vinens alkoholprocent og selvfølgelig glassets størrelse.</p>
<p>Hvis du gerne vil vide, hvor mange genstande der er i en flaske vin, og hvorvidt du er i stand til at køre hjem efter et enkelt glas vin, kan vi hjælpe dig godt på vej.</p>
<p><img style="width: 225.23076923076923px; height: 300px;" src="/media/1939/photo-1569231993169-fe176108ac96.jpg?width=225.23076923076923&amp;height=300" alt="Hvor mange genstande er der i en flaske vin?" data-udi="umb://media/69a057b1e15044ac8d6174fc383bceed" /></p>
<h2><strong>Antal genstande i en flaske vin</strong></h2>
<p>Som hovedregel er der ca. 7,5 genstande i en flaske rødvin på 75 cl. Der er dog forskel på antal af genstande i en flaske vin, alt efter om der er tale om en rødvin, hvidvin eller rosevin grundet de forskellige alkoholprocenter. Rødvine har oftest højere alkoholprocenter end hvidvin og rosevine, og dermed indeholder en flaske rødvin generelt flere genstande. Som tommelfingerregel hedder det sig:</p>
<ul>
<li>1 flaske rødvin på 75 cl indeholder ca. 7,5 genstande</li>
<li>1 flaske hvidvin på 75 cl indeholder ca. 6,75 genstande</li>
<li>1 flaske rosevin på 75 cl indeholder ca. 6,75 genstande</li>
</ul>
<p>Hvis du vil være på den sikre side eller blot mere præcis, kan du via et simpelt regnestykke finde frem til antallet af genstande i en flaske vin.</p>
<p><img style="width: 300px; height: 199.7041420118343px;" src="/media/1938/photo-1568213816046-0ee1c42bd559.jpg?width=300&amp;height=199.7041420118343" alt="Antal genstande i en flaske vin" data-udi="umb://media/0a2e6f7ed0d248f1aa96e512bbe2bbe1" /></p>
<h2><strong>Find frem til antal genstande i en bestemt flaske vin</strong></h2>
<p>Vil du gerne vide, hvad det præcise antal genstande er i netop den flaske vin, du skal servere for dine gæster, kan du udregne det ved hjælp af nedenstående formel:</p>
<p><em>Antal centiliter (cl) x alkoholprocent x 0,8 / 120 = antal genstande i en flaske vin</em></p>
<h2><strong>Hvor mange glas vin må du drikke og stadig køre hjem?</strong></h2>
<p>Hvor meget – eller lidt – vin skal der egentlig til, før man har fået for meget?</p>
<p>Ifølge en undersøgelse tror mange danskere fejlagtigt, at en flaske vin indeholder ml. 2-5 genstande. Sandheden er, at langt de fleste vine indeholder ml. 6-7 genstande, og i visse tilfælde 8 genstande, hvis du støder på kraftige rødvine med høje alkoholprocenter.</p>
<p>I al almindelighed svarer et glas vin på 16 cl (dvs. et glas halvt fyldt) med en alkoholprocent på 14% til 18 gram ren alkohol. I Danmark er en genstand defineret som 12 gram ren alkohol. Førnævnte eksempel svarer derfor til 1,5 genstand, og så er det ikke længere tilladt at køre.</p>
<p style="text-align: center;"><strong><em>Vidste du?</em></strong></p>
<p style="text-align: center;"><em>Du kan ikke regne med det gamle ordsprog: ”Det tager kroppen en time at forbrænde en genstand”. Det afhænger nemlig af ens vægt. Vejer man under 100 kilo, kan det tage helt op til to en halv time at forbrænde en genstand – jo mindre man vejer, jo længere tid tager det!</em></p>
<p><em><img style="width: 300px; height: 200px;" src="/media/1937/photo-1510812431401-41d2bd2722f3.jpg?width=300&amp;height=200" alt="Vin til maden" data-udi="umb://media/ce5007bdaf994fcf95e5fd1ff3db1843" /></em></p>
<h3><strong>Hvor hurtigt forbrænder du genstande?</strong></h3>
<p>Det er meget forskelligt, hvor hurtigt hver enkelt person forbrænder alkohol. Hovedreglen lyder, at man forbrænder ét gram alkohol per 10 kilo, man vejer. Så hvis du vejer 80 kg, vil du som udgangspunkt forbrænde 8 gram alkohol. Dermed vil det stadig være tilladt at køre bil hjem efter en middag med et glas vin.</p>
<p>Det kan dog være svært i momentet at vurdere antal genstande i den flaske vin, man lige har drukket. Hvis du er i tvivl, om du kan nå at forbrænde et eller to glas vin, inden du sætter dig bag rattet, så anbefaler vi, at bilnøglerne bliver hjemme.</p>
<h2><strong>Find vine til alle lejligheder hos din nærmeste SuperBrugsen</strong></h2>
<p>Hos SuperBrugsen har vi altid vine, der passer til forskellige anledninger. Uanset om du søger en vin med lave alkoholprocenter eller en kraftig vin til maden, har vi en vin, der matcher din begivenhed.</p>
<p>Hos SuperBrugsen står vi også altid klar til med kyndig vejledning i alle vores forretning.</p>
<p>Find din nærmeste SuperBrugsen <span><a href="https://superbrugsen.coop.dk/find-butik/">lige her</a></span>. Hvis du skal købe rødvin, kan du tage et kig på <span><a href="https://superbrugsen.coop.dk/tilbudsavis/">vores tilbudsavis. </a>Tilbudsavisen indeholder inspiration, et udvalg af aktuelle varer til en god pris – og gode tilbud lige nu.</span></p>
<p><strong> </strong></p>
<h2><strong>FAQ om genstande i vin</strong></h2>
<p><strong>Hvor mange genstande er der i en flaske vin? </strong></p>
<p>Hovedreglen er, at en flaske vin på 75 cl indeholder omkring 7,5 genstande.</p>
<p> </p>
<p><strong>Hvor mange genstande er der i et glas vin? </strong></p>
<p>I et glas rødvin på 16 cl er der cirka 1,6 genstande. For samme mængde hvidvin og rosevin i et glas er der 1,4 genstande.<br /><br /></p>
<p><strong>Hvor hurtigt forbrænder man genstande? </strong></p>
<p>For hvert 10. kilo en person vejer, kan ens lever forbrænde 1 gram ren alkohol pr. time. Det betyder f.eks. at det vil tage en person to timer at forbrænde en genstand (12 gram alkohol), hvis personen vejer 60 kg. (6 gram alkohol i timen ved en vægt på 60 kg?  <br /><br /></p>]]></text>
  <thumbnail><![CDATA[umb://media/ce5007bdaf994fcf95e5fd1ff3db1843]]></thumbnail>
  <umbracoUrlName></umbracoUrlName>
  <useImageAsTopImage>1</useImageAsTopImage>
</news>