<?xml version="1.0" encoding="utf-8"?>
<news guid="89906459-1789-4251-876c-363566701f88" id="1447" nodeName="Granatæblet – En overset vitaminbombe" isDoc="" updated="2022-05-10T11.01.40.8430000Z" parentGUID="2c2adacc-e3f0-4cd9-a6a5-842d1113ebf9" nodeTypeAlias="news" templateAlias="Baseline_News" sortOrder="0" published="false" isBlueprint="false">
  <bodyEndHtml></bodyEndHtml>
  <bodyScript></bodyScript>
  <contentType></contentType>
  <date>2018-03-08T00:00:00</date>
  <digiSegment></digiSegment>
  <headHtml></headHtml>
  <headline><![CDATA[Granatæblet – en overset vitaminbombe]]></headline>
  <headScript></headScript>
  <hideFooter>0</hideFooter>
  <hideFromSitemap>0</hideFromSitemap>
  <hideTop>0</hideTop>
  <metaCanonicalUrl></metaCanonicalUrl>
  <metaDescription><![CDATA[Granatæblet smager fantastisk i salater og desserter. Læs vores tips og tricks til, hvordan du bruger granatæblet mere i madlavningen her.]]></metaDescription>
  <metaNoFollow>0</metaNoFollow>
  <metaNoIndex>0</metaNoIndex>
  <metaTitle><![CDATA[Granatæble – Salat med granatæble og andre tips – Læs her]]></metaTitle>
  <nonResponsive>0</nonResponsive>
  <ogImage></ogImage>
  <relations></relations>
  <removeTextShadow>0</removeTextShadow>
  <specialFaviconSmall></specialFaviconSmall>
  <specialFaviconStandard></specialFaviconStandard>
  <subHeadline></subHeadline>
  <tags><![CDATA[["granatæble","Frugt og grønt"]]]></tags>
  <text><![CDATA[<p>Granatæbler smager fantastisk på både salater og desserter, og bringer en fantastisk smagsoplevelse til bordet. Granatæbler er derudover også rig på både mineraler og C-vitaminer.</p>
<p> </p>
<p>SB <span><a data-udi="umb://document/301172ea7e3a462fade7580587058fb8" href="/{localLink:umb://document/301172ea7e3a462fade7580587058fb8}" title="Frugt og grønt">grønthandlerne</a></span> har samlet nogen af de bedste tips og tricks til dine granatæbler. Læs mere herunder!</p>
<h2>Hvordan får man granatæblekernerne ud?</h2>
<p>Vi kender det allesammen - det kan være utrolig svært at få kernerne ud af et granatæble. Det gamle trick med at banke kernerne ud fungerer ganske godt, men er især godt hvis kernerne skal direkte i en blender eller stor skål.</p>
<p> </p>
<p>Hvis kernerne skal bruges som en del af en salat eller dessert, så giver vi dig her en fantastisk og nem metode, hvorpå du kan få kernerne ud.</p>
<ol>
<li>Skær langs kanten på granatæblet og pil den øverste skal af.</li>
<li>Skær herefter langs de hvide hinder og åbn frugten, så toppen er til at pille ud med rod. Dermed undgår du de fleste af de hvide hinder.</li>
<li>Herefter kan du pille alle kernerne fri og griseriet på køkkenbordet bliver minimeret.</li>
</ol>
<p>Se hvordan gamle metode fungerer i nedenstående video:</p>
<p><iframe src="https://www.youtube.com/embed/so3Oda2D1hw?feature=oembed" allowfullscreen="" width="596" height="335" frameborder="0"></iframe></p>
<p> </p>
<h2>Gode grunde til at spise granatæbler</h2>
<p>Granatæbler er utroligt sunde og har flere sundheds- og skønhedsboostende egenskaber, der sammen med den fantastiske smag gør den til en lækker detalje til maden.</p>
<p><strong><br />Vi giver dig her 6 gode grunde til at spise granatæbler:</strong></p>
<ol>
<li>Granatæbler kan booste både hjerne og humør med sine antioxidanter og kan også påvirke humørsvingninger med sit bidrag af et forhøjet serotonin-niveau i hjernen.</li>
<li>Granatæbler kan hjælpe med at reducere dårligt kolesterol med sine kraftige antioxidanter.</li>
<li>Granatæbler har et lavt sukkerindhold og er dermed gode for blodsukkerniveauet. En halv kop granatæblekerner indeholder blot 8 gram sukker og ca. 70 kalorier.</li>
<li>Granatæblernes antioxidanter kan reducere et forhøjet blodtryk og er endvidere kendt for at have en positiv indvirkning på blodårerne.</li>
<li>Granatæbler har anti-inflammatoriske egenskaber, der bl.a. kan være med til at bekæmpe symptomer på leddegigt. Derudover kan det også være med til at forebygge bruskskader.</li>
</ol>
<ol start="6">
<li>Granatæbler har anti-aging-egenskaber, der både kan bekæmpe rynker og tidlig aldring af huden. Kernerne indeholder antioxidanten polyfenol, som kan forebygger tegn på aldring.</li>
</ol>
<p> </p>
<p>Hvis du har fået lyst til en lækker og sundere hverdag, så <span><a data-udi="umb://document/66ff6b1129f1438586b207f1bb6a524d" href="/{localLink:umb://document/66ff6b1129f1438586b207f1bb6a524d}" title="Find butik">besøg din lokale SuperBrugsen</a></span> og find granatæblerne frem.</p>]]></text>
  <thumbnail><![CDATA[umb://media/bd9cfc193c484dba8f3ac2ad89ce01f9]]></thumbnail>
  <umbracoUrlName></umbracoUrlName>
  <useImageAsTopImage>1</useImageAsTopImage>
</news>