<?xml version="1.0" encoding="utf-8"?>
<Image guid="d4c6bdfe-e330-4a80-98f1-3b91e4d9b50c" id="3609" nodeName="2000X500 Topbanner Opskrifter Converted Uge1" isDoc="" updated="2023-01-03T16.21.40.1070000Z" parentGUID="c95a91e2-b4d9-4cb5-a112-a88692e40d77" nodeTypeAlias="Image" path="-1,1706,3607,3609">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[229101]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2624/2000x500_topbanner_opskrifter_converted_uge1.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[500]]></umbracoHeight>
  <umbracoWidth><![CDATA[2000]]></umbracoWidth>
</Image>