<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>662e2592-397a-4d3e-8dab-0546918aa3e5</Key>
    <Name>Mega menu - Link liste</Name>
    <Alias>megaMenuLinkList</Alias>
    <Icon>icon-ordered-list color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Folder>Baseline/Menu</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>2c5ee836-3ad4-411f-b323-30451ee8c09a</Key>
      <Name>Links</Name>
      <Alias>links</Alias>
      <Definition>515ae820-5934-46bd-9a23-153eb212239a</Definition>
      <Type>RJP.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Indhold</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Indhold</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>