<?xml version="1.0" encoding="utf-8"?>
<Image guid="6e0e5db5-360d-4ac4-a46d-924d6420eca7" id="1655" nodeName="cirkelkaffe_2_artikel.png" isDoc="" updated="2019-10-21T06.38.46.7670000Z" parentGUID="d706235b-1e9d-459a-a2d1-1762e443130c" nodeTypeAlias="Image" path="-1,1530,1531,1537,1655">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[222110]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1159/cirkelkaffe_2_artikel.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[531]]></umbracoHeight>
  <umbracoWidth><![CDATA[807]]></umbracoWidth>
</Image>