<?xml version="1.0" encoding="utf-8"?>
<Image guid="3d38af8f-322b-4298-9d0b-c11a2493f4b1" id="3224" nodeName="Firkantet Ko" isDoc="" updated="2022-03-01T11.36.03.6000000Z" parentGUID="c1a100a8-5bf0-4d16-b9c2-670cac727a9f" nodeTypeAlias="Image" path="-1,3218,3224">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[21536]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2323/firkantet_ko.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[529]]></umbracoHeight>
  <umbracoWidth><![CDATA[851]]></umbracoWidth>
</Image>