<?xml version="1.0" encoding="utf-8"?>
<Image guid="e8f8fcc8-ecaf-44b0-9ae7-4df8811588b4" id="3097" nodeName="Coop Madspild 2 0 Topslider 600X400 V2b.Jpg" isDoc="" updated="2022-04-11T12.42.54.2300000Z" parentGUID="0382315a-933c-4265-a806-799cefa1e13e" nodeTypeAlias="Image" path="-1,1706,3316,3097">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[432907]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2226/coop_madspild_2_0_topslider_600x400_v2b-jpg.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[400]]></umbracoHeight>
  <umbracoWidth><![CDATA[600]]></umbracoWidth>
</Image>