<?xml version="1.0" encoding="utf-8"?>
<Image guid="a00f18d1-64a8-43f3-bf06-fa18d89d598a" id="3643" nodeName="Særligt Udvalgt Måltidskasser Slider 2000X500" isDoc="" updated="2023-02-13T13.38.20.7970000Z" parentGUID="b2ee9dc5-b9d6-4a14-b0ef-e5e914ddd3e6" nodeTypeAlias="Image" path="-1,1706,3302,3643">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[4930104]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2657/saerligt-udvalgt-maaltidskasser_slider_2000x500.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[2083]]></umbracoHeight>
  <umbracoWidth><![CDATA[8333]]></umbracoWidth>
</Image>