<?xml version="1.0" encoding="utf-8"?>
<Image guid="6937cfa4-9033-4d49-ba6e-2739c1559333" id="2319" nodeName="Beroert_Top_banner_Kaedesites_mobil_600x400.png" isDoc="" updated="2020-05-11T12.25.57.4730000Z" parentGUID="9506fb0d-f9a8-4163-8a63-0ae061ab68c3" nodeTypeAlias="Image" path="-1,2317,2318,2319">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[64535]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1632/beroert_top_banner_kaedesites_mobil_600x400.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[400]]></umbracoHeight>
  <umbracoWidth><![CDATA[600]]></umbracoWidth>
</Image>