<?xml version="1.0" encoding="utf-8"?>
<Image guid="1bf7e5f3-e09b-404d-98c6-3f35b12ca838" id="3613" nodeName="600X400 Topbanner Opskrifter UGE2" isDoc="" updated="2023-01-12T15.46.21.0200000Z" parentGUID="c95a91e2-b4d9-4cb5-a112-a88692e40d77" nodeTypeAlias="Image" path="-1,1706,3607,3613">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[98109]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2628/600x400_topbanner_opskrifter_uge2.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[400]]></umbracoHeight>
  <umbracoWidth><![CDATA[600]]></umbracoWidth>
</Image>