<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Styles - Ribbon Grid" Key="4408669c-bc9c-449a-9447-997fc9b67ceb" Id="Our.Umbraco.StackedContent" DatabaseType="Ntext" Folder="Baseline/Style+pickers">
  <PreValues>
    <PreValue SortOrder="1" Alias="contentTypes"><![CDATA[[
  {
    "icContentTypeGuid": "8fab2ff4-b8cd-4683-bc46-aa073546f72e",
    "nameTemplate": "Baggrund"
  },
  {
    "icContentTypeGuid": "fe0c01a9-cfa9-473c-8e57-0c471a057285",
    "nameTemplate": "Baggrund - uden billede"
  },
  {
    "icContentTypeGuid": "16f7f91b-d909-4afa-b52a-f5410ebd211b",
    "nameTemplate": "Tekst"
  },
  {
    "icContentTypeGuid": "2a401140-c192-4cd0-a681-5607f5ff198d",
    "nameTemplate": "Tekst position"
  },
  {
    "icContentTypeGuid": "2b9d17b3-b70e-499c-906b-b4ae213f42f4",
    "nameTemplate": "Padding"
  }
]]]></PreValue>
    <PreValue SortOrder="3" Alias="enablePreview"><![CDATA[1]]></PreValue>
    <PreValue SortOrder="6" Alias="singleItemMode"><![CDATA[0]]></PreValue>
  </PreValues>
</DataType>