<?xml version="1.0" encoding="utf-8"?>
<Image guid="9122154d-8e17-4523-929a-c7f7ea74e18d" id="3350" nodeName="37193 Scan&amp;Betal Slider Desktop 2000X500" isDoc="" updated="2022-04-11T06.21.22.7500000Z" parentGUID="9cb6de42-ac10-46b6-b35f-928a3d36f186" nodeTypeAlias="Image" path="-1,1706,3348,3350">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[96682]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2433/37193_scan-betal_slider_desktop_2000x500.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[500]]></umbracoHeight>
  <umbracoWidth><![CDATA[2000]]></umbracoWidth>
</Image>