<?xml version="1.0" encoding="utf-8"?>
<Image guid="45d950af-0fd7-400f-96a7-cbeafdc5f7e1" id="2230" nodeName="1003200_Coop_OpfordringTilHjaelp_600x400-6.jpg" isDoc="" updated="2020-03-20T08.17.33.6370000Z" parentGUID="179756ef-cf39-4ef7-8450-020198946840" nodeTypeAlias="Image" path="-1,1706,2221,2230">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[26833]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1568/1003200_coop_opfordringtilhjaelp_600x400-6.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[400]]></umbracoHeight>
  <umbracoWidth><![CDATA[600]]></umbracoWidth>
</Image>