<?xml version="1.0" encoding="utf-8"?>
<specialCatalog guid="d300a494-1106-4dd4-9d7b-8cb620d422b3" id="3692" nodeName="Forårets fester" isDoc="" updated="2023-04-13T05.30.09.2000000Z" parentGUID="fbc033a4-dca8-4477-91ae-086e23b01147" nodeTypeAlias="specialCatalog" templateAlias="Baseline_SpecialCatalog" sortOrder="6" published="true" isBlueprint="false">
  <bodyScript></bodyScript>
  <catalogType><![CDATA[Incito]]></catalogType>
  <contentType></contentType>
  <digiSegment></digiSegment>
  <errorMessage><![CDATA[<p>Der er desværre sket en fejl. Prøv igen senere.</p>]]></errorMessage>
  <expiredCatalog></expiredCatalog>
  <headline><![CDATA[Forårets fester]]></headline>
  <headScript></headScript>
  <hideFromSitemap>0</hideFromSitemap>
  <metaCanonicalUrl></metaCanonicalUrl>
  <metaDescription></metaDescription>
  <metaNoFollow>0</metaNoFollow>
  <metaNoIndex>0</metaNoIndex>
  <metaTitle></metaTitle>
  <ogImage></ogImage>
  <showShoppingListWidget>0</showShoppingListWidget>
  <tjekId><![CDATA[07NC9bXk]]></tjekId>
  <umbracoUrlName></umbracoUrlName>
</specialCatalog>