<?xml version="1.0" encoding="utf-8"?>
<Image guid="2b64ebd0-2ee2-4827-aef9-73d90323408b" id="2009" nodeName="33227_Slider_2000x500.jpg" isDoc="" updated="2019-12-17T07.37.58.0330000Z" parentGUID="2ee1e026-f171-4a5f-b2a3-5a24eef20102" nodeTypeAlias="Image" path="-1,1706,2007,2009">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[1582375]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1380/33227_slider_2000x500.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[500]]></umbracoHeight>
  <umbracoWidth><![CDATA[2000]]></umbracoWidth>
</Image>