<?xml version="1.0" encoding="utf-8"?>
<Image guid="08b6ffba-d886-40a9-a6d4-9df43f28b01d" id="3467" nodeName="37873 A╠Ênglamark Vaskepulver Slider 600X400px" isDoc="" updated="2022-07-25T12.51.53.6000000Z" parentGUID="705e1366-c03d-4faf-b1dc-76606e03385d" nodeTypeAlias="Image" path="-1,1706,3209,3467">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[21901]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2509/37873_a-ênglamark_vaskepulver_slider_600x400px.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[400]]></umbracoHeight>
  <umbracoWidth><![CDATA[600]]></umbracoWidth>
</Image>