<?xml version="1.0" encoding="utf-8"?>
<Image guid="6264eaf5-8a5a-4117-8432-6c03d8ced6c5" id="3514" nodeName="Mortensaften Mobilslider 600X400px Landingpage" isDoc="" updated="2022-09-08T14.05.04.8900000Z" parentGUID="a0c16390-5d49-4157-a60f-2aa061835ff6" nodeTypeAlias="Image" path="-1,1581,1895,3109,3514">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[204538]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2553/mortensaften_mobilslider_600x400px_landingpage.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[1667]]></umbracoHeight>
  <umbracoWidth><![CDATA[2500]]></umbracoWidth>
</Image>