<?xml version="1.0" encoding="utf-8"?>
<Image guid="174445ff-b3c2-43bb-a5a2-7f80dbaa8f53" id="3326" nodeName="Frugtoggrønt 09" isDoc="" updated="2022-04-04T12.23.09.2700000Z" parentGUID="c1a100a8-5bf0-4d16-b9c2-670cac727a9f" nodeTypeAlias="Image" path="-1,3218,3326">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[17307]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2412/frugtoggroent_09.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[851]]></umbracoHeight>
  <umbracoWidth><![CDATA[535]]></umbracoWidth>
</Image>