<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>67650b64-6249-421f-9d22-44a4973e5e8d</Key>
    <Name>Madplan</Name>
    <Alias>mealPlan</Alias>
    <Icon>icon-calendar-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Folder>Baseline/Pages</Folder>
    <Compositions>
      <Composition Key="d3739ce6-78e5-4c43-8c5d-ae785127ef94">compositionSEO</Composition>
    </Compositions>
    <DefaultTemplate>Madplan</DefaultTemplate>
    <AllowedTemplates>
      <Template>Madplan</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>cfcf3cb4-2c6b-4419-a389-1745dbfdfc86</Key>
      <Name>Bånd i bunden</Name>
      <Alias>ribbonsBottom</Alias>
      <Definition>e1eaeb39-37aa-4812-b613-a14ac3c3efa1</Definition>
      <Type>Our.Umbraco.StackedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Indhold under "Del"</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>30b2afa8-c08c-492e-b202-ba49093a24d9</Key>
      <Name>Bånd i toppen</Name>
      <Alias>ribbonsTop</Alias>
      <Definition>e1eaeb39-37aa-4812-b613-a14ac3c3efa1</Definition>
      <Type>Our.Umbraco.StackedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Indhold over "Del"</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Indhold over "Del"</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Indhold under "Del"</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>