<?xml version="1.0" encoding="utf-8"?>
<Image guid="602ed354-0330-4d31-8bec-74be310299e6" id="1645" nodeName="groentsagssuppe_med_rugbolle.jpg" isDoc="" updated="2020-02-04T14.03.59.1800000Z" parentGUID="55543541-614d-46b1-ad94-5c8d92c9f509" nodeTypeAlias="Image" path="-1,1539,1563,1564,1645">
  <alt><![CDATA[grøntsagssuppe]]></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[558341]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{
  "src": "/media/1167/groentsagssuppe_med_rugbolle.jpg",
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  }
}]]></umbracoFile>
  <umbracoHeight><![CDATA[1920]]></umbracoHeight>
  <umbracoWidth><![CDATA[1920]]></umbracoWidth>
</Image>