<?xml version="1.0" encoding="utf-8"?>
<Image guid="56f53c89-4eaa-4e84-ba5c-9a75dc5d0e82" id="2261" nodeName="aeblekage_marcipan.jpg" isDoc="" updated="2020-03-30T08.18.30.4100000Z" parentGUID="ee8af092-5d00-4f6e-93a4-a3194166e40e" nodeTypeAlias="Image" path="-1,1539,1540,2261">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[73680]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1590/aeblekage_marcipan.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[372]]></umbracoHeight>
  <umbracoWidth><![CDATA[600]]></umbracoWidth>
</Image>