<?xml version="1.0" encoding="utf-8"?>
<news guid="ee06d07c-aa13-4938-ba97-c2f2fea57f79" id="2715" nodeName="Chardonnay" isDoc="" updated="2022-05-17T09.56.19.6200000Z" parentGUID="c5256333-c19e-4cb7-bb55-30517f2f80a5" nodeTypeAlias="news" templateAlias="Baseline_News" sortOrder="21" published="true" isBlueprint="false">
  <bodyEndHtml></bodyEndHtml>
  <bodyScript></bodyScript>
  <contentType></contentType>
  <date>2020-11-06T00:00:00</date>
  <digiSegment></digiSegment>
  <headHtml></headHtml>
  <headline><![CDATA[Chardonnay]]></headline>
  <headScript></headScript>
  <hideFooter>0</hideFooter>
  <hideFromSitemap>0</hideFromSitemap>
  <hideTop>0</hideTop>
  <metaCanonicalUrl></metaCanonicalUrl>
  <metaDescription><![CDATA[Chardonnay er en af verdens mest kendte druesorter. Den dyrkes alle steder og er bl.a. druesorten bag de store vine fra Bourgogne og Champagne. Se her »]]></metaDescription>
  <metaNoFollow>0</metaNoFollow>
  <metaNoIndex>0</metaNoIndex>
  <metaTitle><![CDATA[Chardonnay - Læs mere om den verdenskendte druesort]]></metaTitle>
  <nonResponsive>0</nonResponsive>
  <ogImage></ogImage>
  <relations></relations>
  <removeTextShadow>0</removeTextShadow>
  <specialFaviconSmall></specialFaviconSmall>
  <specialFaviconStandard></specialFaviconStandard>
  <subHeadline><![CDATA[Chardonnay er verdens mest populære hvidvinsdrue – og det forstår vi godt, når den er så alsidig, som den er. ]]></subHeadline>
  <tags><![CDATA[["Vin"]]]></tags>
  <text><![CDATA[<p>Chardonnay-vine findes nemlig i et væld af forskellige smagsvarianter - uanset om du er til tør eller fyldig hvidvin.</p>
<h2>Chardonnay hvidvin</h2>
<p>Chardonnay er en vin, der virkelig deler vandene - nogen elsker den, andre hader den. Vinen kan både fremstå tung og cremet, mens den for andre vil være tør og stringent.</p>
<p>Når vi taler Chardonnay, findes der to overordnede yderligheder: Den stringente vs. den voluminøse Chardonnay.</p>
<h2>Den stringente Bourgogne Chardonnay</h2>
<p>Den stringente Chardonnay finder du bl.a. på hylderne mærket med ‘Frankrig’. Her kan du finde Chardonnay vine fra <a data-udi="umb://document/9a18de0a078644ddbe32c4b3d535aff3" href="/{localLink:umb://document/9a18de0a078644ddbe32c4b3d535aff3}" title="Bourgogne">Bourgogne</a>, bedre kendt som Bourgogne Chardonnay. Dette er en af verdens mest eftertragtede hvidvine.</p>
<p>Får du fat i en Bourgogne Chardonnay, kan du vide dig sikker på, at den udelukkende er produceret på Chardonnay druen fra de berømte vinmarker Le Montrachet, Chevalier-Montrachet eller Bâtard-Montrachet. Faktisk, så findes verdens bedste Chardonnay vine i Bourgogne.</p>
<p>Bourgogne Chardonnay lagres ikke altid på nye egetræsfade. Vinen kan også være lagret på stål eller brugte træfade, hvilket ikke afgiver særlig meget træsmag. En Chardonnay vin fra Bourgogne, er desuden dyrket i et køligt klima og en kalkholdig jordbund, der giver vinen en meget tør og stringent smag. Vinen vil derfor have smagsnoter af citrus, æble, pære, lime og mineraler fra dyrkningsjorden.</p>
<p><img style="width: 610px; height: 170px;" src="/media/1908/vinflaske-og-vinglas.jpg?width=610&amp;height=170&amp;mode=max" alt="" data-udi="umb://media/cce4102653b14344b542678a8fc1d733" /></p>
<h2>Den voluminøse Chardonnay</h2>
<p>Er du mere til tungere hvidvine, bør du gå efter en Chardonnay, der er produceret i varmere områder som fx Californien. En voluminøs Chardonnay har sin oprindelse fra et varmt område, der giver vinen en langt højere alkoholprocent, end hvis druen var dyrket i et koldere klima.</p>
<p>Hvis en Chardonnay hvidvin er lagret på nye træfade, går den for at være en voluminøs hvidvin, hvor smagen vil være tung med noter af smør, vanilje og nødder.</p>
<h2>Smagen af Chardonnay</h2>
<p>Chardonnay druen er lidt af en kamæleon, for den er mere nuanceret end de to førnævnte yderligheder. Der findes et hav af smagsvarianter, der gør Chardonnay druen til sådan en alsidig og nok derfor populær drue, som den er.</p>
<p>Chardonnay druen er i sig selv meget mild i smagen. Chardonnay vine har dog meget forskellige smage, alt efter hvor de er dyrket. Afhængigt af om klimaet i dyrkningsområdet er koldt, mildt eller varmt, vil det påvirke vinens endelige smag.</p>
<p>Hvis vinen oprinder fra et køligt klima, vil vinen fremstår mager, sprød og have en mærkbar syre. Smagen vil bære præg af citrus, grøn blomme, æble og pære.</p>
<p>Stammer en Chardonnay fra et varmere klima, vil vinen typisk være sødere i smagen. Vinens smagsnoter vil anes som tropisk frugt fx citrus, fersken og melon.</p>
<p>Hvis Chardonnay druen er dyrket i et meget varmt klima, vil vinen smage af figen og have noter af tropiske frugter som banan og mango.</p>
<p><img style="width: 620px; height: 150px;" src="/media/1906/mad-til-hvidvin.jpg?width=620&amp;height=150&amp;mode=max" alt="" data-udi="umb://media/9ef7199b93c24501ab97bc9fb0041e62" /></p>
<h2>Hvad serverer man til Chardonnay?</h2>
<p>Chardonnay serveres typisk til <a data-udi="umb://document/e7320444583d4c93952dca5533d93bf2" href="/{localLink:umb://document/e7320444583d4c93952dca5533d93bf2}" title="En hel kylling på grill">stegt kylling</a> og andre former for lyst kød som fx kalkun. Når du serverer en Chardonnay, bør du generelt holde igen med krydderi- og smagsintensiteten, da det vil fremme vinens cremet, smøragtig smag og teksturer.</p>
<p>Her hører der dog en undtagelse til. Når du parrer en Chardonnay til mad, bør du servere den til retter, alt efter om vinen er lagret på egetræsfade eller ej.</p>
<p>Hvis vinen ikke er lagret på nye egetræsfade, vil den fremstå meget mager og egne sig bedst til lyse, sarte fødevarer. Denne Chardonnay bør derfor serveres til lyst kød eller lettere retter fra havet som østers, skaldyr, sushi, sauteret fisk, eller moules frites.</p>
<p>Er en Chardonnay lagret på egetræsfade, vil vinen ofte være tung i smagen. Den bør derfor serveres til mad med høj smagsintensitet som røget fisk, krydret mad fra det sydøstasiatisk køkken, eller til retter med hvidløg. Er du i selskab med en vegetar, vil vinen egne sig til retter af majs, græskar, svampe eller squash.</p>
<h2>Hvor kommer Chardonnay fra?</h2>
<p>Chardonnay druen har sin oprindelse fra Bourgogne vinregionen i det østlige Frankrig. I dag findes druesorten alle de steder, hvor vin produceres. Du kan derfor støde på Chardonnay, både hvis du besøger Frankrig, Californien, Australien, Chile, New Zealand, Sydafrika og mange andre steder i verden.</p>
<p><img style="width: 610px; height: 150px;" src="/media/1905/hvidvin-i-glas-skaal.jpg?width=610&amp;height=150&amp;mode=max" alt="" data-udi="umb://media/2be882a8c9f14ae8a1755eaf874318e5" /></p>
<h2>Chardonnay druen</h2>
<p>Chardonnay er en grøn druesort, der er den mest populære og mest udplantede grønne druesort i verden. Druen anvendes til at fremstille delikate hvidvine i mange forskellige stilarter, fordi den både kan gro i små klaser i kølige, milde og varme områder. Af denne grund finder du også Chardonnay vine, der varierer meget i farven.<br /><br /></p>
<p style="text-align: center;"><strong><em>Vidste du?</em></strong></p>
<p style="text-align: center;"><em>Den Chardonnay drue, der findes i Wente i Californien, er en klon af den franske Chardonnay drue fra Bourgogne. Wente i Californien er kendt for at have klonet Chardonnay fra Bourgogne tilbage i 1912. Denne kloning er kilden bag næsten 80% af den amerikanske Chardonnay i dag.</em></p>
<p> </p>
<h2>Find Chardonnay hos din nærmeste SuperBrugsen</h2>
<p>Hvad end du er til en tør eller fyldig hvidvin, vil en Chardonnay score højt på din pointtavle!</p>
<p>Hos SuperBrugsen har vi et bredt udvalg af Chardonnay hvidvine, som du kan finde i alle vores forretninger. <a href="https://superbrugsen.coop.dk/find-butik/">Find din butik her</a>.</p>]]></text>
  <thumbnail><![CDATA[umb://media/b937b4daf2f247d189ce0de7737190d3]]></thumbnail>
  <umbracoUrlName></umbracoUrlName>
  <useImageAsTopImage>1</useImageAsTopImage>
</news>