<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Logged in out dropdown" Key="cde72e36-2805-41d5-bdbf-0a590c0e372c" Id="Umbraco.DropDown.Flexible" DatabaseType="Nvarchar" Folder="Baseline/General">
  <PreValues>
    <PreValue SortOrder="1" Alias="0"><![CDATA[Begge]]></PreValue>
    <PreValue SortOrder="2" Alias="1"><![CDATA[Logget ind]]></PreValue>
    <PreValue SortOrder="3" Alias="2"><![CDATA[Logget ud]]></PreValue>
    <PreValue SortOrder="4" Alias="multiple"><![CDATA[0]]></PreValue>
  </PreValues>
</DataType>