<?xml version="1.0" encoding="utf-8"?>
<news guid="17646941-312f-4ced-8c72-65fceffb0efb" id="1380" nodeName="Tilberedning af oksesteg i ovnen" isDoc="" updated="2020-01-22T12.48.57.3300000Z" parentGUID="eda436c9-09cd-4c5f-a28a-17c868c27276" nodeTypeAlias="news" templateAlias="Baseline_News" sortOrder="0" published="true" isBlueprint="false">
  <bodyEndHtml></bodyEndHtml>
  <bodyScript></bodyScript>
  <contentType></contentType>
  <date>2018-02-19T00:00:00</date>
  <digiSegment></digiSegment>
  <headHtml></headHtml>
  <headline><![CDATA[Tilberedning af oksesteg i ovnen]]></headline>
  <headScript></headScript>
  <hideFooter>0</hideFooter>
  <hideFromSitemap>0</hideFromSitemap>
  <hideTop>0</hideTop>
  <metaCanonicalUrl></metaCanonicalUrl>
  <metaDescription><![CDATA[Læs hvordan du tilbereder en oksesteg, så den får den perfekte smag. Den rette tilberedning handler også om hvordan kødet bliver skåret. Læs mere her.]]></metaDescription>
  <metaNoFollow>0</metaNoFollow>
  <metaNoIndex>0</metaNoIndex>
  <metaTitle><![CDATA[Oksesteg i ovn – Sådan tilbereder du en oksesteg – Læs her]]></metaTitle>
  <nonResponsive></nonResponsive>
  <ogImage></ogImage>
  <relations></relations>
  <removeTextShadow>0</removeTextShadow>
  <specialFaviconSmall></specialFaviconSmall>
  <specialFaviconStandard></specialFaviconStandard>
  <subHeadline><![CDATA[Der er ikke noget bedre end en god oksesteg! Tilberedningen, som stegetid, temperatur og hviletid, er afgørende faktorer for et godt og vellykket resultat. ]]></subHeadline>
  <tags><![CDATA[["slagter"]]]></tags>
  <text><![CDATA[<p><strong>Sådan gør du</strong></p>
<ol>
<li>Oksestegen steges i ovnen på 180 grader i ca. 35 minutter pr. kg.</li>
<li>Tag stegen ud og sæt den på køkkenbordet på risten – herefter stikker du stegetermometret ind i midten af stegens mest kødfyldte del. Spidsen må ikke berøre ben eller fedt.</li>
<li>Når stegen er taget ud af ovnen, skal det hvile 20-25 minutter. Udækket de første 15 minutter og derefter tildækket med stanniol og et viskestykke, indtil oksestegen skæres ud. Det giver kødsaften og varmen tid til at fordele sig i stegen.</li>
</ol>
<p><strong>Find den rette temperatur</strong></p>
<p>Gå efter disse temperaturer på stegetermometeret uanset om du tilbereder svinekød, kalvekød eller fjerkræ:</p>
<ul>
<li>55 – 60 grader meget rødt til rødt</li>
<li>60 – 65 grader rødt rosa til rosa, det man kalder medium</li>
<li>65 – 68 grader rosa til gennemstegt med klar saft</li>
<li>68 – 70 grader gennemsteg kød (gælder typisk grydestege)</li>
</ul>
<p> </p>
<p><strong>Husk at lade stegen hvile</strong></p>
<p>For at holde kødet saftigt er det vigtigt, at det får lov til at hvile efter tilberedningen. Læg et stykke stanniol over <span><a href="/vores-varer/sb-slagteren/artikler/premium-koed/">kødet</a></span> og dæk eventuelt med et klæde.</p>
<p> </p>
<p>Sørg for at det ikke slutter helt tæt, så kødet ikke steger videre. Den rigtige hviletid betyder, at saften og varmen fordeler sig i hele kødet og giver den optimale smagsoplevelse, mørhed, ensartede farve og struktur.</p>
<p> </p>
<p>Oksestegens hviletid er forskellig alt efter kernetemperaturen på stegetermometeret. Ved en temperatur på 55 grader med en hviletid på 1 time, får du en medium steg. Du får samme resultat, hvis temperaturen er 65 grader og hviletiden er 10-15 minutter.</p>
<h2><strong>En god oksesteg skal skæres på den helt rigtige måde</strong></h2>
<p>Som udgangspunkt skal du altid skære på tværs af kødfibrene. Det sikrer den helt rigtige oplevelse af mørhed. Hvis du er i tvivl om kødfibrenes retning, kan du vende oksestegen på hovedet. Så kan du tydeligt se kødfibrenes retning. Dette gælder for langt de fleste <span><a href="/vores-varer/sb-grill/tips-og-tricks/en-steg-paa-grillen/">stege</a></span>.</p>
<p> </p>
<p>Og hvis du skulle have nogen spørgsmål, så spørg endelig SB <span><a href="/vores-varer/sb-slagteren/">Slagteren</a></span>.</p>
<p> </p>
<p>Velbekomme!</p>]]></text>
  <thumbnail><![CDATA[umb://media/9bcbf99737cf4722a4e371f1e809bdbd]]></thumbnail>
  <umbracoUrlName></umbracoUrlName>
  <useImageAsTopImage>1</useImageAsTopImage>
</news>