<?xml version="1.0" encoding="utf-8"?>
<Image guid="1bb80b02-147a-40d6-bf55-9230bbdcbdbd" id="3400" nodeName="Fiskefrikadeller Pa Spyd (1)" isDoc="" updated="2022-05-23T13.46.55.9330000Z" parentGUID="d43ddccb-ae10-4c44-bfda-5804c6350587" nodeTypeAlias="Image" path="-1,1581,3394,3400">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[161241]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2468/fiskefrikadeller-pa-spyd.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[249]]></umbracoHeight>
  <umbracoWidth><![CDATA[373]]></umbracoWidth>
</Image>