<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>8d1671e2-b694-4159-b69b-7549831c8cb2</Key>
    <Name>Style - Slider</Name>
    <Alias>styleSlider</Alias>
    <Icon>icon-next color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Folder>Baseline/Styles</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>4a15b10d-40c9-40f5-aba8-ad6da6ca1d52</Key>
      <Name>Pilenes farve</Name>
      <Alias>arrowColor</Alias>
      <Definition>439a6dda-6db8-47a3-afb2-2fa3dc09879e</Definition>
      <Type>Our.Umbraco.StackedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Styles</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>15c820ec-a1bb-49c1-994b-def3ce6b1708</Key>
      <Name>Pilenes farve</Name>
      <Alias>arrowColorMobile</Alias>
      <Definition>439a6dda-6db8-47a3-afb2-2fa3dc09879e</Definition>
      <Type>Our.Umbraco.StackedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Mobilstyles</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Styles</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Mobilstyles</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>