<?xml version="1.0" encoding="utf-8"?>
<Image guid="b27d0927-7d45-459c-bc4e-75a79d4bfbf8" id="2853" nodeName="34981_bugatti_samlem├ªrker_slider_mobil_600x400_1.png" isDoc="" updated="2021-02-22T11.17.53.7870000Z" parentGUID="0d0678d3-7c08-4325-92b1-946e3be27c60" nodeTypeAlias="Image" path="-1,1706,2849,2853">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[382682]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2031/34981_bugatti_samlem-ªrker_slider_mobil_600x400_1.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[400]]></umbracoHeight>
  <umbracoWidth><![CDATA[600]]></umbracoWidth>
</Image>