<?xml version="1.0" encoding="utf-8"?>
<Image guid="381d52fe-2b5c-448f-9e98-5c9a14ddc47e" id="3556" nodeName="38149 Nytaarsvinmenu 2022 Slider Mobil 600X400" isDoc="" updated="2022-10-19T17.46.19.3770000Z" parentGUID="2ee1e026-f171-4a5f-b2a3-5a24eef20102" nodeTypeAlias="Image" path="-1,1706,2007,3556">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[107113]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2584/38149_nytaarsvinmenu_2022_slider_mobil_600x400.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[400]]></umbracoHeight>
  <umbracoWidth><![CDATA[600]]></umbracoWidth>
</Image>