<?xml version="1.0" encoding="utf-8"?>
<news guid="ec244c2c-8aab-4d5c-a87c-9fb663bd0868" id="1519" nodeName="Ribs med mere og med marengs" isDoc="" updated="2020-01-22T12.25.39.7070000Z" parentGUID="2c2adacc-e3f0-4cd9-a6a5-842d1113ebf9" nodeTypeAlias="news" templateAlias="Baseline_News" sortOrder="10" published="true" isBlueprint="false">
  <bodyEndHtml></bodyEndHtml>
  <bodyScript></bodyScript>
  <contentType></contentType>
  <date>2015-05-07T00:00:00</date>
  <digiSegment></digiSegment>
  <headHtml></headHtml>
  <headline><![CDATA[Ribs med mere og med marengs]]></headline>
  <headScript></headScript>
  <hideFooter>0</hideFooter>
  <hideFromSitemap>0</hideFromSitemap>
  <hideTop>0</hideTop>
  <metaCanonicalUrl></metaCanonicalUrl>
  <metaDescription><![CDATA[Læs her, hvorfor ribs er velegnet til det salte køkken i fx salater. Du kan også læse hvordan du kan lave skønne desserter med ribs. Find inspiration her.]]></metaDescription>
  <metaNoFollow>0</metaNoFollow>
  <metaNoIndex>0</metaNoIndex>
  <metaTitle><![CDATA[Ribs – Lækker ribs opskrift med marengs – Få inspiration her]]></metaTitle>
  <nonResponsive></nonResponsive>
  <ogImage></ogImage>
  <relations></relations>
  <removeTextShadow>0</removeTextShadow>
  <specialFaviconSmall></specialFaviconSmall>
  <specialFaviconStandard></specialFaviconStandard>
  <subHeadline></subHeadline>
  <tags><![CDATA[["ribs","bær","Frugt og grønt"]]]></tags>
  <text><![CDATA[<p>Ribs er ret syrlige og friske. Det gør dem meget velegnet i det salte køkken i fx salater. Men du kan også lave klassiske rysteribs (ribs vendt i sukker) og servere dem til et stykke grillet svinekød. Eller den søde mulighed, små marengskys med ribs.</p>]]></text>
  <thumbnail><![CDATA[umb://media/ee00b49544104445a86ffe32ad521925]]></thumbnail>
  <umbracoUrlName></umbracoUrlName>
  <useImageAsTopImage>1</useImageAsTopImage>
</news>