<?xml version="1.0" encoding="utf-8"?>
<news guid="bb8f2600-459c-4d31-a52a-cd801cbc03ee" id="1489" nodeName="Papvinen er blevet til pænt brug" isDoc="" updated="2020-01-22T13.07.55.7630000Z" parentGUID="c5256333-c19e-4cb7-bb55-30517f2f80a5" nodeTypeAlias="news" templateAlias="Baseline_News" sortOrder="7" published="true" isBlueprint="false">
  <bodyEndHtml></bodyEndHtml>
  <bodyScript></bodyScript>
  <contentType></contentType>
  <date>2015-05-07T00:00:00</date>
  <digiSegment></digiSegment>
  <headHtml></headHtml>
  <headline><![CDATA[Papvinen er blevet til pænt brug]]></headline>
  <headScript></headScript>
  <hideFooter>0</hideFooter>
  <hideFromSitemap>0</hideFromSitemap>
  <hideTop>0</hideTop>
  <metaCanonicalUrl></metaCanonicalUrl>
  <metaDescription><![CDATA[Papvinen har ændret image fra at være de blå tænders vin, og vin med indbygget hovedpine til skønne taphaner på køkkenbordet. Læs mere her!]]></metaDescription>
  <metaNoFollow>0</metaNoFollow>
  <metaNoIndex>0</metaNoIndex>
  <metaTitle><![CDATA[Papvin – Bag–in–box vin, holdbar og praktisk – Læs mere her]]></metaTitle>
  <nonResponsive></nonResponsive>
  <ogImage></ogImage>
  <relations></relations>
  <removeTextShadow>0</removeTextShadow>
  <specialFaviconSmall></specialFaviconSmall>
  <specialFaviconStandard></specialFaviconStandard>
  <subHeadline><![CDATA[For bare 5 år siden kunne ingen med bare lidt kendskab til vin drømme om at sætte en papvin på bordet]]></subHeadline>
  <tags><![CDATA[["vin","papvin"]]]></tags>
  <text><![CDATA[<p>Det var de blå tænders vin, vin med indbygget hovedpine og det var vulgært med den store mængde.<br /><br /><strong>Bag-in-box på bordet</strong></p>
<p>Det er en ganske anden historie nu. I hvert fald har opfattelsen ændret sig markant i takt med at flere og flere af de store vinhuse verden over nu sælger de samme vine i box, som de tapper på flaske. Kvaliteten fejler generelt intet. Selvfølgelig kan man stadig ikke få de helt store vine i box. Men der er intet at skamme sig over, hvis man vrider den lille plastikforsegling af tappehanen, og sætter boxen på bordet til en god middag. Det vidner mængden af solgt bag-in-box vin også om. Næsten 40% af al vin, der købes i Danmark, bæres hjem i 3 eller 5 liters boxe.<br /><br /><strong>Praktisk, holdbar og god til prisen</strong></p>
<p>Som navnet siger er bag-in-box en pose, der er lagt ind i en æske og forseglet med en bandarole på tappehanen. Rent praktisk vinder box-vinen langt over flaskerne. De er nemmere at slæbe hjem. Der går ikke skår i glæderne ved transport til sommerhuset eller stranden, og så behøver man ikke at spekulere over, hvornår det kan betale sig at åbne en flaske af frygt for, at man ikke kan drikke det hele, så gode dråber går til spilde. Holdbarheden diskuteres, men de fleste mener, at rødvin kan holde sig frisk i op til 6 uger. Jo kraftigere desto længere holdbarhed. De hvide vine er efter eksperternes mening bedst 3 – 4 uger efter åbning. Man skal heller ikke kimse af prisforskellen. Den samme vin kan være op til 40% billigere på box end på flaske.<br /><br /><strong>Bag-in-box vine skal ikke gemmes</strong></p>
<p>Vin i box er ikke egnet til at blive gemt i vinkældre, hvilket også fremgår af en påstemplet udløbsdato på boxen. For at sikre en længere holdbarhed er vinene typisk tilsat mere svovl end normalt. Det kan gøre smagen lidt mere hård, men det kan afhjælpes ved at hælde vinen på karaffel og lade den stå og ”dampe af” inden servering. Og så er der også det med box-vine: man kan ikke se, hvor langt man er kommet. Så sidder man i festligt lag, er der sjældent så meget af gemme. Men det siger jo også en hel del om, at smagen er god…</p>]]></text>
  <thumbnail><![CDATA[umb://media/255f3600190c4ec1839141bbb54fa21d]]></thumbnail>
  <umbracoUrlName></umbracoUrlName>
  <useImageAsTopImage>1</useImageAsTopImage>
</news>