<?xml version="1.0" encoding="utf-8"?>
<Image guid="a18c13c3-7f2a-41a3-94ca-7d322153ec45" id="3385" nodeName="IMG 7583" isDoc="" updated="2022-05-05T13.35.58.8130000Z" parentGUID="d3d46e1f-c573-4cab-be32-9195202da0dd" nodeTypeAlias="Image" path="-1,1530,1534,1589,3385">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[355647]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2455/img_7583.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[2532]]></umbracoHeight>
  <umbracoWidth><![CDATA[1170]]></umbracoWidth>
</Image>