<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>e40370fa-c13c-4642-8690-85959ef64f27</Key>
    <Name>Undermenubånd</Name>
    <Alias>ribbonSubmenu</Alias>
    <Icon>icon-indent color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Folder>Baseline/Ribbons</Folder>
    <Compositions>
      <Composition Key="0a480072-8385-43fb-8d87-6dadd929858d">compositionRibbon</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>f0a92852-3d05-49ae-b1c3-a1dad602a52c</Key>
      <Name>Links</Name>
      <Alias>links</Alias>
      <Definition>f4cc0e0a-96b0-4e17-8c50-8dee92a3b33d</Definition>
      <Type>Our.Umbraco.StackedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>56346096-2fb2-4ca3-91d9-8677120b6b12</Key>
      <Name>Styles</Name>
      <Alias>styles</Alias>
      <Definition>60d16a87-1111-469a-b71c-012e8e85db6b</Definition>
      <Type>Our.Umbraco.StackedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Styles</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Styles</Caption>
      <SortOrder>101</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>