<?xml version="1.0" encoding="utf-8"?>
<File guid="fba3b9ec-7fa0-43b8-a245-a973abe2a685" id="3003" nodeName="2186_KV_SB_April_DIY_Fester_Barnedab_Kvickly_V02 - FINAL.pdf" isDoc="" updated="2021-05-12T15.15.14.4500000Z" parentGUID="3f4e8cb3-560d-49a8-9972-7d4c801185e7" nodeTypeAlias="File" path="-1,1539,1563,2962,3003">
  <relations></relations>
  <umbracoBytes><![CDATA[1199306]]></umbracoBytes>
  <umbracoExtension><![CDATA[pdf]]></umbracoExtension>
  <umbracoFile><![CDATA[/media/2150/2186_kv_sb_april_diy_fester_barnedab_kvickly_v02-final.pdf]]></umbracoFile>
</File>