<?xml version="1.0" encoding="utf-8"?>
<Image guid="45e7f648-75eb-4639-b9b6-64361892eb86" id="3677" nodeName="5" isDoc="" updated="2023-03-20T12.14.19.8070000Z" parentGUID="d0ee4845-6de3-46fe-b48d-a11fa9ec19ab" nodeTypeAlias="Image" path="-1,3675,3677">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[2874]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2686/5.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[400]]></umbracoHeight>
  <umbracoWidth><![CDATA[500]]></umbracoWidth>
</Image>