<?xml version="1.0" encoding="utf-8"?>
<specialCatalog guid="3424d677-225f-4144-9de6-8b739ee41c69" id="3683" nodeName="Vinkatalog PDF" isDoc="" updated="2023-05-30T06.17.33.9570000Z" parentGUID="fbc033a4-dca8-4477-91ae-086e23b01147" nodeTypeAlias="specialCatalog" templateAlias="Baseline_SpecialCatalog" sortOrder="5" published="true" isBlueprint="false">
  <bodyScript></bodyScript>
  <catalogType><![CDATA[PDF]]></catalogType>
  <contentType></contentType>
  <digiSegment></digiSegment>
  <errorMessage><![CDATA[<p>Der er desværre sket en fejl. Prøv igen senere.</p>]]></errorMessage>
  <expiredCatalog><![CDATA[<p>Kataloget er desværre udløbet. </p>]]></expiredCatalog>
  <headline></headline>
  <headScript></headScript>
  <hideFromSitemap>0</hideFromSitemap>
  <metaCanonicalUrl></metaCanonicalUrl>
  <metaDescription></metaDescription>
  <metaNoFollow>0</metaNoFollow>
  <metaNoIndex>0</metaNoIndex>
  <metaTitle></metaTitle>
  <ogImage></ogImage>
  <showShoppingListWidget>0</showShoppingListWidget>
  <tjekId><![CDATA[XhiJF9Jh]]></tjekId>
  <umbracoUrlName></umbracoUrlName>
</specialCatalog>