<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>6c68de03-8ccc-433c-aa4a-20ea1cb67978</Key>
    <Name>Kortbånd - Kun ét pr. side</Name>
    <Alias>ribbonMap</Alias>
    <Icon>icon-map-location color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Folder>Baseline/Ribbons</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>1a2770b1-ed1e-4be0-92a1-a40dcc3eb617</Key>
      <Name>Kort</Name>
      <Alias>map</Alias>
      <Definition>cc610155-19ac-4378-aa99-722ca85ea40c</Definition>
      <Type>Umbraco.MultiNodeTreePicker2</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>