<?xml version="1.0" encoding="utf-8"?>
<Image guid="e3998326-9c09-43b3-91e8-7a55558b7a7a" id="2562" nodeName="OK_1200x600.jpg" isDoc="" updated="2020-09-21T06.06.41.1400000Z" parentGUID="5f18a5a0-6db1-43ef-a0d5-13306f3fc8ed" nodeTypeAlias="Image" path="-1,2426,2562">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[143692]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1808/ok_1200x600.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[600]]></umbracoHeight>
  <umbracoWidth><![CDATA[1200]]></umbracoWidth>
</Image>