<?xml version="1.0" encoding="utf-8"?>
<Image guid="6d334fb0-d62d-4f79-a1a0-5c306b659376" id="1654" nodeName="top_roeg.jpg" isDoc="" updated="2019-10-21T06.38.46.6730000Z" parentGUID="d45f3e78-2252-4150-9b16-5097834c08b0" nodeTypeAlias="Image" path="-1,1530,1546,1605,1654">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[1332693]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1005/top_roeg.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[600]]></umbracoHeight>
  <umbracoWidth><![CDATA[1920]]></umbracoWidth>
</Image>