<?xml version="1.0" encoding="utf-8"?>
<Image guid="7c9ef0dc-4af0-4e58-840c-c434f75b864e" id="3595" nodeName="Gopris Webimg 600X400px 3" isDoc="" updated="2022-12-22T13.27.29.5970000Z" parentGUID="9b740928-1dc4-4a27-991f-0da1bc1c1389" nodeTypeAlias="Image" path="-1,3469,3593,3595">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[349041]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2612/gopris-webimg-600x400px-3.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[400]]></umbracoHeight>
  <umbracoWidth><![CDATA[600]]></umbracoWidth>
</Image>