<?xml version="1.0" encoding="utf-8"?>
<Image guid="93f43c38-5fd4-4100-9fb6-e419637992a8" id="2706" nodeName="bourgogne-by-front-cover.jpg" isDoc="" updated="2020-11-23T13.20.28.2730000Z" parentGUID="b07b69ac-c3bc-4278-988d-0e5e61644747" nodeTypeAlias="Image" path="-1,1530,1556,1557,2706">
  <alt><![CDATA[Bourgogne området]]></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[918061]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{
  "src": "/media/1901/bourgogne-by-front-cover.jpg",
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  }
}]]></umbracoFile>
  <umbracoHeight><![CDATA[600]]></umbracoHeight>
  <umbracoWidth><![CDATA[1920]]></umbracoWidth>
</Image>