<?xml version="1.0" encoding="utf-8"?>
<Image guid="336c94e5-a542-4d32-aca3-8e91d03a7c83" id="1601" nodeName="1-dej-3-smkager1278393716.gif" isDoc="" updated="2019-10-21T06.38.41.6230000Z" parentGUID="bd65e19e-7506-4b2f-9d6d-acf96309ba7a" nodeTypeAlias="Image" path="-1,1539,1575,1576,1601">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[30641]]></umbracoBytes>
  <umbracoExtension><![CDATA[gif]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1104/1-dej-3-smkager1278393716.gif", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[260]]></umbracoHeight>
  <umbracoWidth><![CDATA[200]]></umbracoWidth>
</Image>