<?xml version="1.0" encoding="utf-8"?>
<Image guid="81ac316e-9beb-4186-9571-56d9116ff96f" id="2415" nodeName="Kartofler på grill - SuperBrugsen 2.png" isDoc="" updated="2020-06-26T10.03.04.9700000Z" parentGUID="093ee0b0-316c-4b03-9d9c-734fa8078d89" nodeTypeAlias="Image" path="-1,1530,1546,1547,2415">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[179988]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1710/kartofler-paa-grill-superbrugsen-2.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[421]]></umbracoHeight>
  <umbracoWidth><![CDATA[562]]></umbracoWidth>
</Image>