<?xml version="1.0" encoding="utf-8"?>
<Image guid="14f3e04d-4e66-4f28-bad1-515af40c2f3e" id="3633" nodeName="38631 2023 07 Anglamark Priskampagne Slider 600X400[73]" isDoc="" updated="2023-01-30T13.57.11.3500000Z" parentGUID="00000000-0000-0000-0000-000000000000" nodeTypeAlias="Image" path="-1,3633">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[140863]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2647/38631_2023-07_anglamark_priskampagne-slider_600x400-73.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[400]]></umbracoHeight>
  <umbracoWidth><![CDATA[600]]></umbracoWidth>
</Image>