<?xml version="1.0" encoding="utf-8"?>
<Image guid="6d786971-1d7e-4404-845b-f2732beb924c" id="3219" nodeName="Appelsindrikker" isDoc="" updated="2022-03-01T11.35.27.1030000Z" parentGUID="c1a100a8-5bf0-4d16-b9c2-670cac727a9f" nodeTypeAlias="Image" path="-1,3218,3219">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[28014]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2318/appelsindrikker.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[851]]></umbracoHeight>
  <umbracoWidth><![CDATA[764]]></umbracoWidth>
</Image>