<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>4eff01c7-2b7b-4c19-b590-38c2b886deb4</Key>
    <Name>Spotboxkomponent</Name>
    <Alias>componentSpotbox</Alias>
    <Icon>icon-frame-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Folder>Baseline/Components</Folder>
    <Compositions>
      <Composition Key="240e6ad1-6e04-47cc-9411-9853188ba820">compositionComponentDate</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>8e9bf1e2-9f86-4f80-9b4a-e4749914c18f</Key>
      <Name>Billede</Name>
      <Alias>image</Alias>
      <Definition>838d17a6-d246-4808-918c-0f2186cd0dfd</Definition>
      <Type>Umbraco.MediaPicker2</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Indhold</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>98170180-aa78-46a2-a24b-5e3f08023391</Key>
      <Name>Billede</Name>
      <Alias>imageMobile</Alias>
      <Definition>838d17a6-d246-4808-918c-0f2186cd0dfd</Definition>
      <Type>Umbraco.MediaPicker2</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Responsive billeder der kun vises på mobil devices]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Mobil</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>6f91ecf2-b9fb-4af1-8bec-eac834c4cec7</Key>
      <Name>Link</Name>
      <Alias>link</Alias>
      <Definition>c8261dbf-b464-4caa-9b98-13aeca4f1137</Definition>
      <Type>RJP.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Indhold</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Indhold</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Mobil</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>