<?xml version="1.0" encoding="utf-8"?>
<Image guid="25b4daeb-c11f-4328-9f8e-3b9d9cf33d30" id="1587" nodeName="top_frugtoggront.jpg" isDoc="" updated="2019-10-21T06.38.40.2270000Z" parentGUID="1e5c0d14-cae6-4068-ac62-8054739ffe57" nodeTypeAlias="Image" path="-1,1530,1551,1587">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[145109]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1032/top_frugtoggront.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[600]]></umbracoHeight>
  <umbracoWidth><![CDATA[1920]]></umbracoWidth>
</Image>