<?xml version="1.0" encoding="utf-8"?>
<news guid="5d737c3b-8bfd-45bc-8893-05fc760bf524" id="1421" nodeName="Tilsæt smag til kullene" isDoc="" updated="2020-01-22T12.00.58.5470000Z" parentGUID="598726ab-2465-4992-acd2-faa6c51f3a2b" nodeTypeAlias="news" templateAlias="Baseline_News" sortOrder="0" published="true" isBlueprint="false">
  <bodyEndHtml></bodyEndHtml>
  <bodyScript></bodyScript>
  <contentType></contentType>
  <date>2015-05-27T00:00:00</date>
  <digiSegment></digiSegment>
  <headHtml></headHtml>
  <headline><![CDATA[Tilsæt smag til kullene]]></headline>
  <headScript></headScript>
  <hideFooter>0</hideFooter>
  <hideFromSitemap>0</hideFromSitemap>
  <hideTop>0</hideTop>
  <metaCanonicalUrl></metaCanonicalUrl>
  <metaDescription><![CDATA[Du kan give grillmaden mere smag med krydderurter, anis eller røgflis fra de bedste frugttræer. Se hvordan du tilsætter ekstra smag til din grillmad her.]]></metaDescription>
  <metaNoFollow>0</metaNoFollow>
  <metaNoIndex>0</metaNoIndex>
  <metaTitle><![CDATA[Røgflis og krydderurter – Tilsæt smag til kullene – Se her]]></metaTitle>
  <nonResponsive></nonResponsive>
  <ogImage></ogImage>
  <relations></relations>
  <removeTextShadow>0</removeTextShadow>
  <specialFaviconSmall></specialFaviconSmall>
  <specialFaviconStandard></specialFaviconStandard>
  <subHeadline></subHeadline>
  <tags><![CDATA[["grill"]]]></tags>
  <text><![CDATA[<p>Der er mange muligheder for at give kullene og dermed dit kød og grøntsager ekstra smag. Krydderurter, kanel, anis m.m. på kullene og en lækker duft breder sig i grillen. Du kan også bruge flis fra frugttræer. Spørg i SuperBrugsen, hvis der er noget, du mangler. Så skaffer vi det. Og se mere i nedenstående film.</p>
<p> </p>
<p><iframe src="https://www.youtube.com/embed/CR83-ORW_us?feature=oembed" allowfullscreen="" width="596" height="335" frameborder="0"></iframe></p>]]></text>
  <thumbnail><![CDATA[umb://media/2246271e35164eb9b5f12b0f0f86502c]]></thumbnail>
  <umbracoUrlName></umbracoUrlName>
  <useImageAsTopImage>1</useImageAsTopImage>
</news>