<?xml version="1.0" encoding="utf-8"?>
<Image guid="6818dbdf-f046-4275-a870-c34ae4d28ef2" id="2403" nodeName="Pizza på grill - SuperBrugsen 1.png" isDoc="" updated="2020-06-26T09.14.32.1900000Z" parentGUID="093ee0b0-316c-4b03-9d9c-734fa8078d89" nodeTypeAlias="Image" path="-1,1530,1546,1547,2403">
  <alt><![CDATA[Pizza på grill med pepperoni og sorte oliven]]></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[113506]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{
  "src": "/media/1701/pizzal-paa-grill-superbrugsen-1.png",
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  }
}]]></umbracoFile>
  <umbracoHeight><![CDATA[407]]></umbracoHeight>
  <umbracoWidth><![CDATA[580]]></umbracoWidth>
</Image>