<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>03275b09-b85e-4fe4-a88f-93beed244146</Key>
    <Name>Specielt katalog</Name>
    <Alias>specialCatalog</Alias>
    <Icon>icon-newspaper-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Kan bruges til at vise f.eks. Grillmagasin, legetøjskatalog osv. fra Tjek.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Folder>Baseline/Pages</Folder>
    <Compositions>
      <Composition Key="d3739ce6-78e5-4c43-8c5d-ae785127ef94">compositionSEO</Composition>
    </Compositions>
    <DefaultTemplate>Baseline_SpecialCatalog</DefaultTemplate>
    <AllowedTemplates>
      <Template>Baseline_SpecialCatalog</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>440940ae-0669-4000-b5ef-9767a17db379</Key>
      <Name>Katalog type</Name>
      <Alias>catalogType</Alias>
      <Definition>14d123dc-6389-41d2-8373-71249bfcf7c6</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[En type vælges automatisk hvis feltet efterlades tomt]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Indhold</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>1022b33f-2425-4be5-ae25-560e27be2a01</Key>
      <Name>Fejlbesked</Name>
      <Alias>errorMessage</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCEv3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Teksten vises hvis der er er sket en fejl så kataloget ikke kan vises]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Indhold</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>a76b20d2-967e-4517-958c-479d68f704d5</Key>
      <Name>Udløbet katalog</Name>
      <Alias>expiredCatalog</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCEv3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Teksten vises hvis gyldighedsdatoen på kataloget er overskredet, og der derfor ikke kan vises et gyldigt katalog.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Indhold</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>a8bd2838-da5e-4d48-8dfe-727b754094ac</Key>
      <Name>Headline</Name>
      <Alias>headline</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Vises i hvid topbar. Defaulter til navnet på siden.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Indhold</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>b82264b0-18e6-4cf3-9e9f-7bb7a176bff8</Key>
      <Name>Vis shopping widget</Name>
      <Alias>showShoppingListWidget</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Indhold</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>562fd7ea-7c80-4d23-9aa4-869a32536dad</Key>
      <Name>Id</Name>
      <Alias>tjekId</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Id fra tjek]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Indhold</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Indhold</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>