<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>66cc281a-d03d-4a7f-8ab2-82961d8042fc</Key>
    <Name>Komposition - Båndregler</Name>
    <Alias>compositionRibbonsRules</Alias>
    <Icon>icon-exit-fullscreen color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Folder>Baseline/Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>60a200fd-0e13-4a95-b747-9b65ecafd3ec</Key>
      <Name>Rules</Name>
      <Alias>rules</Alias>
      <Definition>c246fc31-7f02-4502-8fd3-61c0a1a1b8d6</Definition>
      <Type>Our.Umbraco.StackedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Vælg en eller flere regler og sæt dem op for båndende på siden]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Regler for bånd</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Regler for bånd</Caption>
      <SortOrder>90</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>