<?xml version="1.0" encoding="utf-8"?>
<Image guid="4d57be57-0cc4-4d7f-a771-62b4fab32f55" id="3451" nodeName="37754 Taktisk Support Topbanner 600X400 02" isDoc="" updated="2022-06-29T10.41.58.1600000Z" parentGUID="b2ee9dc5-b9d6-4a14-b0ef-e5e914ddd3e6" nodeTypeAlias="Image" path="-1,1706,3302,3451">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[50245]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2494/37754_taktisk-support_topbanner_600x400_02.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[400]]></umbracoHeight>
  <umbracoWidth><![CDATA[600]]></umbracoWidth>
</Image>