<?xml version="1.0" encoding="utf-8"?>
<Image guid="597bfa9e-32c2-45aa-99a3-2161be48f49e" id="3522" nodeName="37826 Topslider 2000X500 V2" isDoc="" updated="2022-09-14T07.58.49.6100000Z" parentGUID="c7074681-ffdf-4c93-bf2d-8dc67f9dd53d" nodeTypeAlias="Image" path="-1,1706,3518,3522">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[183387]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2560/37826_topslider_2000x500_v2.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[500]]></umbracoHeight>
  <umbracoWidth><![CDATA[2000]]></umbracoWidth>
</Image>