<?xml version="1.0" encoding="utf-8"?>
<Image guid="120d9e8c-b24a-4b6a-b704-ad90710e0d90" id="3329" nodeName="Mexikanske Håndmadder 1280 920Px" isDoc="" updated="2022-04-06T14.56.35.9830000Z" parentGUID="76c3b5c3-1e91-4b95-80be-e3218b8b3a1e" nodeTypeAlias="Image" path="-1,3327,3329">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[1518444]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2414/mexikanske-haandmadder_1280_920px.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[920]]></umbracoHeight>
  <umbracoWidth><![CDATA[1280]]></umbracoWidth>
</Image>