<?xml version="1.0" encoding="utf-8"?>
<settings>
  <moderatorCommentEmail label="Moderator Email" description="This is the email used to notify when new comment is added">admin@skolekontakten.dk</moderatorCommentEmail>
  <AutoApproveComments label="Auto Approve Comments" description="Enter 'Yes' for auto approval and 'No' for manual approval ">Yes</AutoApproveComments>
  <siteAdminEmail label="Site Admin Email" description="Site admin email is used to send notification email to moderator">admin@skolekontakten.dk</siteAdminEmail>
</settings>