<?xml version="1.0" encoding="utf-8"?>
<Image guid="ef240015-526c-4ba9-af97-e790509e76e2" id="3100" nodeName="Coop Madspild 2 0 Topslider 2000X500 V2b.Jpg (1)" isDoc="" updated="2022-04-11T12.42.53.3800000Z" parentGUID="0382315a-933c-4265-a806-799cefa1e13e" nodeTypeAlias="Image" path="-1,1706,3316,3100">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[1408909]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2229/coop_madspild_2_0_topslider_2000x500_v2b-jpg.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[500]]></umbracoHeight>
  <umbracoWidth><![CDATA[2000]]></umbracoWidth>
</Image>