<?xml version="1.0" encoding="utf-8"?>
<Image guid="e02dee55-f809-4f37-bd51-196379eec852" id="2798" nodeName="hero-3x.png" isDoc="" updated="2021-01-14T12.10.53.2300000Z" parentGUID="2b04a5bb-0409-43d5-a137-305ecfaac02c" nodeTypeAlias="Image" path="-1,2793,2798">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[2203523]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1979/hero-3x.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[1863]]></umbracoHeight>
  <umbracoWidth><![CDATA[1125]]></umbracoWidth>
</Image>