<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Styles - Recipe search" Key="f35eae66-cadb-4d78-bbe8-8a875fe446fc" Id="Our.Umbraco.StackedContent" DatabaseType="Ntext" Folder="Baseline/Style+pickers">
  <PreValues>
    <PreValue SortOrder="1" Alias="contentTypes"><![CDATA[[
  {
    "icContentTypeGuid": "4a7e455f-3ad8-4457-b29b-3534945dd0b3",
    "nameTemplate": "Søgning"
  }
]]]></PreValue>
    <PreValue SortOrder="2" Alias="enableCopy"><![CDATA[0]]></PreValue>
    <PreValue SortOrder="3" Alias="enablePreview"><![CDATA[1]]></PreValue>
    <PreValue SortOrder="4" Alias="hideLabel"><![CDATA[0]]></PreValue>
    <PreValue SortOrder="5" Alias="maxItems"><![CDATA[0]]></PreValue>
    <PreValue SortOrder="6" Alias="singleItemMode"><![CDATA[0]]></PreValue>
  </PreValues>
</DataType>