<?xml version="1.0" encoding="utf-8"?>
<Image guid="4b496d53-bd36-4c04-a772-a0ce7b5de225" id="1827" nodeName="Oktoberfest_øl_2000x500.jpg" isDoc="" updated="2020-02-04T14.06.27.7330000Z" parentGUID="74882ba9-9b85-4dd8-87e9-2f5ea89af3b7" nodeTypeAlias="Image" path="-1,1539,1563,1666,1827">
  <alt><![CDATA[cover til oktoberfest ]]></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[710357]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{
  "src": "/media/1233/oktoberfest_oel_2000x500.jpg",
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  }
}]]></umbracoFile>
  <umbracoHeight><![CDATA[500]]></umbracoHeight>
  <umbracoWidth><![CDATA[2000]]></umbracoWidth>
</Image>