<?xml version="1.0" encoding="utf-8"?>
<Image guid="0f0e4f0e-1235-4e02-9994-f406c86d1f2e" id="2851" nodeName="34981_bugatti_samlem├ªrker_slider_mobil_600x400_2.png" isDoc="" updated="2021-02-22T09.56.53.2570000Z" parentGUID="0d0678d3-7c08-4325-92b1-946e3be27c60" nodeTypeAlias="Image" path="-1,1706,2849,2851">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[104475]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2029/34981_bugatti_samlem-ªrker_slider_mobil_600x400_2.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[400]]></umbracoHeight>
  <umbracoWidth><![CDATA[600]]></umbracoWidth>
</Image>