<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Url picker (Multiple)" Key="515ae820-5934-46bd-9a23-153eb212239a" Id="RJP.MultiUrlPicker" DatabaseType="Ntext" Folder="Baseline">
  <PreValues>
    <PreValue SortOrder="1" Alias="hideTarget"><![CDATA[0]]></PreValue>
    <PreValue SortOrder="2" Alias="maxNumberOfItems"><![CDATA[]]></PreValue>
    <PreValue SortOrder="3" Alias="minNumberOfItems"><![CDATA[]]></PreValue>
    <PreValue SortOrder="4" Alias="version"><![CDATA[2.2.0]]></PreValue>
  </PreValues>
</DataType>