<?xml version="1.0" encoding="utf-8"?>
<Image guid="1c181b56-8f06-4061-bce7-26810fc1ee97" id="2256" nodeName="pastinakbroed.png" isDoc="" updated="2020-03-25T09.08.29.5900000Z" parentGUID="ee8af092-5d00-4f6e-93a4-a3194166e40e" nodeTypeAlias="Image" path="-1,1539,1540,2256">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[6898371]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1587/pastinakbroed.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[1413]]></umbracoHeight>
  <umbracoWidth><![CDATA[1920]]></umbracoWidth>
</Image>