<?xml version="1.0" encoding="utf-8"?>
<Image guid="319408c0-2913-49b4-8a52-ba328060f312" id="1598" nodeName="bybi.gif" isDoc="" updated="2019-10-21T06.38.41.3100000Z" parentGUID="f5742892-5171-48e6-8919-1bf42e722e51" nodeTypeAlias="Image" path="-1,1530,1531,1584,1598">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[757996]]></umbracoBytes>
  <umbracoExtension><![CDATA[gif]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1012/bybi.gif", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[600]]></umbracoHeight>
  <umbracoWidth><![CDATA[1920]]></umbracoWidth>
</Image>