<?xml version="1.0" encoding="utf-8"?>
<Image guid="97c146c6-57cf-41f4-9bd9-64e17b30a9c7" id="2164" nodeName="neonbrand-E0EZBneFYbs-unsplash.jpg" isDoc="" updated="2020-02-21T09.46.23.5930000Z" parentGUID="194f2d19-105b-4038-8ca7-fe790668473f" nodeTypeAlias="Image" path="-1,1539,1563,2162,2164">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[1092567]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1509/neonbrand-e0ezbnefybs-unsplash.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[3888]]></umbracoHeight>
  <umbracoWidth><![CDATA[2592]]></umbracoWidth>
</Image>