<?xml version="1.0" encoding="utf-8"?>
<Image guid="86eb8ac7-b9d8-4709-847a-ec1a50925c83" id="2123" nodeName="aprilsnarbarn.PNG" isDoc="" updated="2020-02-04T14.26.41.5300000Z" parentGUID="69e173fd-09e2-4412-a42e-4a2935ce74b6" nodeTypeAlias="Image" path="-1,1539,1575,2109,2123">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[1452422]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1475/aprilsnarbarn.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[700]]></umbracoHeight>
  <umbracoWidth><![CDATA[1266]]></umbracoWidth>
</Image>