<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>4ee4a6c9-3012-41ad-8f1f-94e0d431b13a</Key>
    <Name>Produktbånd</Name>
    <Alias>ribbonProductPicker</Alias>
    <Icon>icon-tag color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Folder>Baseline/Ribbons</Folder>
    <Compositions>
      <Composition Key="0a480072-8385-43fb-8d87-6dadd929858d">compositionRibbon</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>3e4da722-b6a9-4bf1-b133-c786265612f1</Key>
      <Name>Lige elementer style</Name>
      <Alias>evenElementsStyle</Alias>
      <Definition>d141be3a-d012-497c-bb46-698a257e1f8d</Definition>
      <Type>Our.Umbraco.StackedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Design for alle de lige elementer under dette bånd. Dvs. produkt 2, produkt 4, produkt 6 osv.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Styles</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>fbfa3db6-6134-419e-ab69-47bc24bda0d9</Key>
      <Name>Ulige elementer style</Name>
      <Alias>oddElementsStyle</Alias>
      <Definition>d141be3a-d012-497c-bb46-698a257e1f8d</Definition>
      <Type>Our.Umbraco.StackedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Design for alle de ulige elementer under dette bånd. Dvs. produkt 1, produkt 3, produkt 5 osv.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Styles</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Indhold</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Styles</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>