<?xml version="1.0" encoding="utf-8"?>
<Image guid="84b86d72-6a9b-488a-a163-62410371795c" id="3446" nodeName="37780 Roedekors Website 600X400px 2022" isDoc="" updated="2022-06-22T11.44.56.4670000Z" parentGUID="78db8246-c665-4110-93bd-d8c5986fa5bb" nodeTypeAlias="Image" path="-1,1706,3213,3446">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[61131]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2489/37780_roedekors_website_600x400px_2022.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[400]]></umbracoHeight>
  <umbracoWidth><![CDATA[600]]></umbracoWidth>
</Image>