<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>16f7f91b-d909-4afa-b52a-f5410ebd211b</Key>
    <Name>Style - Tekst</Name>
    <Alias>styleText</Alias>
    <Icon>icon-info color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Folder>Baseline/Styles</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>e01a4167-c178-42bb-8b14-a90cb0ff45a5</Key>
      <Name>Alternativ tekstfarve</Name>
      <Alias>alternativeTextColor</Alias>
      <Definition>439a6dda-6db8-47a3-afb2-2fa3dc09879e</Definition>
      <Type>Our.Umbraco.StackedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Tekstfarve til dele af teksten, der er markeret som alternativ. Bruges også til border-farve hvis man har valgt quote til sin tekst.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Styles</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>4027f73f-3bba-427f-8736-8833223b6909</Key>
      <Name>Alternativ tekstfarve</Name>
      <Alias>alternativeTextColorMobile</Alias>
      <Definition>439a6dda-6db8-47a3-afb2-2fa3dc09879e</Definition>
      <Type>Our.Umbraco.StackedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Mobilstyles</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>d8834dc2-d791-4a25-bbb7-2f2a3fb0659d</Key>
      <Name>Link tekstfarve</Name>
      <Alias>linkTextColor</Alias>
      <Definition>439a6dda-6db8-47a3-afb2-2fa3dc09879e</Definition>
      <Type>Our.Umbraco.StackedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Styles</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>f05436ee-f9d9-4b04-98b5-768b6c6b883d</Key>
      <Name>Link tekstfarve (hover)</Name>
      <Alias>linkTextColorHover</Alias>
      <Definition>439a6dda-6db8-47a3-afb2-2fa3dc09879e</Definition>
      <Type>Our.Umbraco.StackedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Styles</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>828e21a9-9859-4716-ad31-fb32ec18ad32</Key>
      <Name>Link tekstfarve (hover)</Name>
      <Alias>linkTextColorHoverMobile</Alias>
      <Definition>439a6dda-6db8-47a3-afb2-2fa3dc09879e</Definition>
      <Type>Our.Umbraco.StackedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Mobilstyles</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>c05fbae0-87aa-4b10-935a-7355b3d1d975</Key>
      <Name>Link tekstfarve</Name>
      <Alias>linkTextColorMobile</Alias>
      <Definition>439a6dda-6db8-47a3-afb2-2fa3dc09879e</Definition>
      <Type>Our.Umbraco.StackedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Mobilstyles</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>d8c84c03-f27e-4af1-85d1-e00517c34cda</Key>
      <Name>Tekstfarve</Name>
      <Alias>textColor</Alias>
      <Definition>439a6dda-6db8-47a3-afb2-2fa3dc09879e</Definition>
      <Type>Our.Umbraco.StackedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Styles</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>3ad74481-366a-41c8-9e38-d0ec6770939d</Key>
      <Name>Tekstfarve</Name>
      <Alias>textColorMobile</Alias>
      <Definition>439a6dda-6db8-47a3-afb2-2fa3dc09879e</Definition>
      <Type>Our.Umbraco.StackedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Mobilstyles</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Styles</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Mobilstyles</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>