<?xml version="1.0" encoding="utf-8"?>
<Image guid="439ea09b-31f6-4217-a0e4-c4b456deb631" id="3484" nodeName="37754 Taktisk Support Topbanner 600X400 Uge31 03" isDoc="" updated="2022-08-01T07.10.14.9770000Z" parentGUID="31e6d652-25b1-4587-9ebc-dec85f01580e" nodeTypeAlias="Image" path="-1,1706,3378,3484">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[57054]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2525/37754_taktisk-support_topbanner_600x400_uge31_03.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[400]]></umbracoHeight>
  <umbracoWidth><![CDATA[600]]></umbracoWidth>
</Image>