<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Media gallery creater" Key="0b69457b-f69d-4dff-9788-08f53f86476f" Id="Our.Umbraco.StackedContent" DatabaseType="Ntext" Folder="Baseline">
  <PreValues>
    <PreValue SortOrder="1" Alias="contentTypes"><![CDATA[[
  {
    "icContentTypeGuid": "b67152d4-97ee-496e-a1cd-32517934490e",
    "nameTemplate": "Medie galleri - Kolonne"
  }
]]]></PreValue>
    <PreValue SortOrder="2" Alias="enableCopy"><![CDATA[1]]></PreValue>
    <PreValue SortOrder="3" Alias="enablePreview"><![CDATA[1]]></PreValue>
    <PreValue SortOrder="4" Alias="hideLabel"><![CDATA[0]]></PreValue>
    <PreValue SortOrder="5" Alias="maxItems"><![CDATA[0]]></PreValue>
    <PreValue SortOrder="6" Alias="singleItemMode"><![CDATA[0]]></PreValue>
  </PreValues>
</DataType>