<?xml version="1.0" encoding="utf-8"?>
<Image guid="249b3456-6c02-4d87-9daf-b4cb705aff1a" id="2259" nodeName="chokolademuffins2-9red.jpg" isDoc="" updated="2020-03-30T07.49.21.2300000Z" parentGUID="ee8af092-5d00-4f6e-93a4-a3194166e40e" nodeTypeAlias="Image" path="-1,1539,1540,2259">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[160529]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1589/chokolademuffins2-9red.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[720]]></umbracoHeight>
  <umbracoWidth><![CDATA[1280]]></umbracoWidth>
</Image>