<?xml version="1.0" encoding="utf-8"?>
<Image guid="2d556b4f-d584-4cdb-b6ab-a2540fdf2494" id="3549" nodeName="37534 Nytaar Slider Desktop 2000X500" isDoc="" updated="2022-10-07T07.56.48.6330000Z" parentGUID="2ee1e026-f171-4a5f-b2a3-5a24eef20102" nodeTypeAlias="Image" path="-1,1706,2007,3549">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[291511]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2577/37534_nytaar_slider_desktop_2000x500.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[500]]></umbracoHeight>
  <umbracoWidth><![CDATA[2000]]></umbracoWidth>
</Image>