<?xml version="1.0" encoding="utf-8"?>
<Image guid="c289edcc-72e6-4a8b-a69f-d4a3c7ca31f8" id="3221" nodeName="Brød 02" isDoc="" updated="2022-03-01T11.35.46.2670000Z" parentGUID="c1a100a8-5bf0-4d16-b9c2-670cac727a9f" nodeTypeAlias="Image" path="-1,3218,3221">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[11962]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2320/broed_02.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[261]]></umbracoHeight>
  <umbracoWidth><![CDATA[851]]></umbracoWidth>
</Image>