<?xml version="1.0" encoding="utf-8"?>
<Image guid="bb67c506-7015-4163-b99e-1ca409a6e7a5" id="2118" nodeName="C_salat_rejer_600x400.jpg" isDoc="" updated="2020-01-28T11.46.24.5070000Z" parentGUID="eedf1a09-17ec-4abd-9c28-53d4273c3a63" nodeTypeAlias="Image" path="-1,1530,1531,1723,2118">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[173208]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1471/c_salat_rejer_600x400.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[400]]></umbracoHeight>
  <umbracoWidth><![CDATA[600]]></umbracoWidth>
</Image>