<?xml version="1.0" encoding="utf-8"?>
<Image guid="bcdb852e-e509-41e7-b9ee-b9eef951edb6" id="3108" nodeName="2019.08.30 COOP 33860" isDoc="" updated="2021-10-01T11.32.00.6430000Z" parentGUID="57001451-1b87-465a-86fa-d3f223dfbf82" nodeTypeAlias="Image" path="-1,1530,1531,1532,3108">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[1408093]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2237/2019-08-30_coop_33860.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[2333]]></umbracoHeight>
  <umbracoWidth><![CDATA[3500]]></umbracoWidth>
</Image>