<?xml version="1.0" encoding="utf-8"?>
<Image guid="f6d7e4f9-dcda-4f41-a8f5-2ce288b9b65c" id="3599" nodeName="Skærmbillede 2022 12 22 Kl. 14.57.58" isDoc="" updated="2022-12-22T13.58.02.0630000Z" parentGUID="9b740928-1dc4-4a27-991f-0da1bc1c1389" nodeTypeAlias="Image" path="-1,3469,3593,3599">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[4600]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2616/skaermbillede-2022-12-22-kl-14-57-58.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[96]]></umbracoHeight>
  <umbracoWidth><![CDATA[246]]></umbracoWidth>
</Image>