<?xml version="1.0" encoding="utf-8"?>
<Image guid="3bc7f48d-8754-4a6c-8a96-69077eff87a1" id="2745" nodeName="34794_Virtuel_vinsmagning_1000x600_Moillard.jpg" isDoc="" updated="2020-12-15T13.27.54.3930000Z" parentGUID="93961a31-8b15-4f82-a8e0-bf81c21f0f04" nodeTypeAlias="Image" path="-1,2439,2745">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[174447]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1936/34794_virtuel_vinsmagning_1000x600_moillard.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[600]]></umbracoHeight>
  <umbracoWidth><![CDATA[1000]]></umbracoWidth>
</Image>