<?xml version="1.0" encoding="utf-8"?>
<Image guid="8bda4e8f-1889-4783-b850-0cdea2e32062" id="2216" nodeName="115511_coop_corona_sprint_mobil_hero.gif" isDoc="" updated="2022-04-11T12.32.38.4030000Z" parentGUID="179756ef-cf39-4ef7-8450-020198946840" nodeTypeAlias="Image" path="-1,1706,2221,2216">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[445245]]></umbracoBytes>
  <umbracoExtension><![CDATA[gif]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1556/115511_coop_corona_sprint_mobil_hero.gif", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[400]]></umbracoHeight>
  <umbracoWidth><![CDATA[600]]></umbracoWidth>
</Image>