<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Richtext editor (Simple, No formats)" Key="3f324bb3-aedb-4685-a4e4-5ccef8971431" Id="Umbraco.TinyMCEv3" DatabaseType="Ntext" Folder="Baseline/Text">
  <PreValues>
    <PreValue SortOrder="1" Alias="editor"><![CDATA[{
  "toolbar": [
    "code",
    "bold",
    "italic",
    "alignleft",
    "aligncenter",
    "alignright",
    "link"
  ],
  "stylesheets": [],
  "dimensions": {
    "height": 300
  },
  "maxImageSize": 500
}]]></PreValue>
    <PreValue SortOrder="2" Alias="hideLabel"><![CDATA[0]]></PreValue>
  </PreValues>
</DataType>