<?xml version="1.0" encoding="utf-8"?>
<Image guid="f00b7826-3ae4-4f93-9318-910f640ca02c" id="3733" nodeName="Månedenskøb Juni 600X400" isDoc="" updated="2023-05-17T08.31.04.7500000Z" parentGUID="41e91c01-9b19-4bcf-9117-5a47aee52e3d" nodeTypeAlias="Image" path="-1,1706,3731,3733">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[245395]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2734/maanedenskoeb_juni_600x400.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[400]]></umbracoHeight>
  <umbracoWidth><![CDATA[600]]></umbracoWidth>
</Image>