<?xml version="1.0" encoding="utf-8"?>
<Image guid="4e20572b-779b-472d-a156-c7fdf819bc8c" id="3740" nodeName="38888 2023 23 Anglamark Slider 600X400 2[18]" isDoc="" updated="2023-05-26T10.20.59.7400000Z" parentGUID="7857a9cc-01f3-4dbb-85ca-d0010443c082" nodeTypeAlias="Image" path="-1,1706,3728,3740">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[88040]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2741/38888_2023-23_anglamark_slider_600x400_2-18.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[400]]></umbracoHeight>
  <umbracoWidth><![CDATA[600]]></umbracoWidth>
</Image>