<?xml version="1.0" encoding="utf-8"?>
<Image guid="7c844a55-59d0-4521-83e6-3d8e48ee8071" id="2449" nodeName="Slagter_pos.png" isDoc="" updated="2020-07-24T12.03.45.7430000Z" parentGUID="e61d1e37-874e-4662-8294-ac4b0465d88d" nodeTypeAlias="Image" path="-1,1530,1548,2449">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[117736]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1736/slagter_pos.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[966]]></umbracoHeight>
  <umbracoWidth><![CDATA[1052]]></umbracoWidth>
</Image>