<?xml version="1.0" encoding="utf-8"?>
<Image guid="e1cb6661-0dae-4ecd-b289-1e6e557cd849" id="1813" nodeName="lam.png" isDoc="" updated="2019-10-21T12.38.44.2230000Z" parentGUID="e61d1e37-874e-4662-8294-ac4b0465d88d" nodeTypeAlias="Image" path="-1,1530,1548,1813">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[43078]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1219/lam.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[343]]></umbracoHeight>
  <umbracoWidth><![CDATA[400]]></umbracoWidth>
</Image>