<?xml version="1.0" encoding="utf-8"?>
<page guid="0b274592-c9c6-4742-a574-c08774b988a5" id="1365" nodeName="De 5 Gårde" isDoc="" updated="2019-10-21T08.04.09.3570000Z" parentGUID="6209dd01-9610-4435-b727-9c9f8576855b" nodeTypeAlias="page" templateAlias="Baseline_Page" sortOrder="6" published="false" isBlueprint="false">
  <bodyEndHtml></bodyEndHtml>
  <bodyScript></bodyScript>
  <contentType></contentType>
  <digiSegment></digiSegment>
  <extraSearchWord></extraSearchWord>
  <fastTripDisable>0</fastTripDisable>
  <headHtml></headHtml>
  <headScript></headScript>
  <hideFooter>0</hideFooter>
  <hideFromSitemap>0</hideFromSitemap>
  <hideTop>0</hideTop>
  <metaCanonicalUrl></metaCanonicalUrl>
  <metaDescription></metaDescription>
  <metaNoFollow>0</metaNoFollow>
  <metaNoIndex>0</metaNoIndex>
  <metaTitle></metaTitle>
  <nonResponsive></nonResponsive>
  <ogImage></ogImage>
  <pageTags><![CDATA[[]]]></pageTags>
  <priceSplashStyles></priceSplashStyles>
  <relations></relations>
  <ribbons></ribbons>
  <rules></rules>
  <specialFaviconSmall></specialFaviconSmall>
  <specialFaviconStandard></specialFaviconStandard>
  <umbracoUrlName></umbracoUrlName>
</page>