<?xml version="1.0" encoding="utf-8"?>
<Image guid="016233e2-e5b5-4ee6-8ce0-75322b3d8554" id="2239" nodeName="1003200_Coop_BrugForHjaelp_600x400-3.jpg" isDoc="" updated="2020-03-20T08.17.39.9670000Z" parentGUID="179756ef-cf39-4ef7-8450-020198946840" nodeTypeAlias="Image" path="-1,1706,2221,2239">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[44335]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1577/1003200_coop_brugforhjaelp_600x400-3.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[400]]></umbracoHeight>
  <umbracoWidth><![CDATA[600]]></umbracoWidth>
</Image>