<?xml version="1.0" encoding="utf-8"?>
<Image guid="844a2768-3756-48ce-b235-227454e9e65f" id="1679" nodeName="pandekageguide-opskrifter-4.jpg" isDoc="" updated="2019-10-21T06.38.49.4770000Z" parentGUID="55543541-614d-46b1-ad94-5c8d92c9f509" nodeTypeAlias="Image" path="-1,1539,1563,1564,1679">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[442488]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1172/pandekageguide-opskrifter-4.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[1407]]></umbracoHeight>
  <umbracoWidth><![CDATA[1920]]></umbracoWidth>
</Image>