<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>1355b1a3-e5d4-4f8f-8cd6-07333f583118</Key>
    <Name>Produkt showcase</Name>
    <Alias>productShowcase</Alias>
    <Icon>icon-slideshow color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Folder>Baseline/Pages</Folder>
    <Compositions>
      <Composition Key="437614bc-04cd-4117-bae6-b2d8a41c7b33">compositionPriceSplash</Composition>
      <Composition Key="a7d91edb-313c-4927-9176-1b5eeabaf8a7">compositionPageSettings</Composition>
      <Composition Key="d3739ce6-78e5-4c43-8c5d-ae785127ef94">compositionSEO</Composition>
      <Composition Key="dd691711-7ec4-4595-9e8e-f5d87d29cb29">compositionRelations</Composition>
    </Compositions>
    <DefaultTemplate>Baseline_ProductShowcase</DefaultTemplate>
    <AllowedTemplates>
      <Template>Baseline_ProductShowcase</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <DocumentType Key="16200d28-39d0-4326-a1b0-a2bf62092c18">beerProduct</DocumentType>
    <DocumentType Key="a33301c3-ae71-4503-9ca4-a5f637493254">productShowcaseCategory</DocumentType>
    <DocumentType Key="5cca6acf-a499-4571-a705-20cf064551da">wineProduct</DocumentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>14d78ef7-1266-47aa-b82a-e4bcd0cb4703</Key>
      <Name>Knap tekst</Name>
      <Alias>btnGoBack</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Knappen bliver kun vist i produktets "overlay", når vinen tilgås fra vinvælgeren. Defaulter til "tilbage til resultater"]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Styles</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>9c77949b-6b7f-4676-8d92-fa01c8ce3f83</Key>
      <Name>Lige elementer style</Name>
      <Alias>evenElementsStyle</Alias>
      <Definition>d141be3a-d012-497c-bb46-698a257e1f8d</Definition>
      <Type>Our.Umbraco.StackedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Design for alle de lige elementer under produkt showcasen. Dvs. produkt 2, produkt 4, produkt 6 osv.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Styles</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>ff6f3d4b-8274-45a8-b2dd-126ecc6b23a8</Key>
      <Name>Ulige elementer style</Name>
      <Alias>oddElementsStyle</Alias>
      <Definition>d141be3a-d012-497c-bb46-698a257e1f8d</Definition>
      <Type>Our.Umbraco.StackedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Design for alle de ulige elementer under produkt showcasen. Dvs. produkt 1, produkt 3, produkt 5 osv.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Styles</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>ae3ada50-6c4c-45b6-9158-0817ddcf8d78</Key>
      <Name>Bånd</Name>
      <Alias>ribbons</Alias>
      <Definition>e1eaeb39-37aa-4812-b613-a14ac3c3efa1</Definition>
      <Type>Our.Umbraco.StackedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Bånd ovenover alle produkterne]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Indhold</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>240b990f-c3f8-484e-9ecb-34058ab9a1f1</Key>
      <Name>Bånd</Name>
      <Alias>ribbonsBottom</Alias>
      <Definition>e1eaeb39-37aa-4812-b613-a14ac3c3efa1</Definition>
      <Type>Our.Umbraco.StackedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Bånd under alle produkterne]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Indhold under</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Indhold</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Indhold under</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Caption>Styles</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>