<?xml version="1.0" encoding="utf-8"?>
<Image guid="d3270ddb-93a5-43cc-bd3b-e29f7caec72f" id="3343" nodeName="SB Coop Logo RGB" isDoc="" updated="2022-04-08T11.07.54.4170000Z" parentGUID="b545c4db-8039-48df-972c-ce2ca73ba962" nodeTypeAlias="Image" path="-1,3341,3343">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[2993]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2427/sb-coop_logo_rgb.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[213]]></umbracoHeight>
  <umbracoWidth><![CDATA[438]]></umbracoWidth>
</Image>