<?xml version="1.0" encoding="utf-8"?>
<page guid="59409bef-e4b4-41f4-ad66-12119c9ae72e" id="1344" nodeName="Varer" isDoc="" updated="2023-04-13T05.36.24.7370000Z" parentGUID="fbc033a4-dca8-4477-91ae-086e23b01147" nodeTypeAlias="page" templateAlias="Baseline_Page" sortOrder="11" published="true" isBlueprint="false">
  <bodyEndHtml></bodyEndHtml>
  <bodyScript></bodyScript>
  <contentType></contentType>
  <digiSegment></digiSegment>
  <extraSearchWord></extraSearchWord>
  <fastTripDisable>0</fastTripDisable>
  <headHtml></headHtml>
  <headScript></headScript>
  <hideFooter>0</hideFooter>
  <hideFromSitemap>1</hideFromSitemap>
  <hideTop>0</hideTop>
  <metaCanonicalUrl></metaCanonicalUrl>
  <metaDescription><![CDATA[I SuperBrugsen ønsker vi at støtte lokalområderne, så du kan købe lokale varer af høj kvalitet fra dit nærområde. Se udvalget i din SuperBrugsen.]]></metaDescription>
  <metaNoFollow>1</metaNoFollow>
  <metaNoIndex>1</metaNoIndex>
  <metaTitle><![CDATA[Lokale varer - køb varer fra lokale hos SuperBrugsen]]></metaTitle>
  <nonResponsive>0</nonResponsive>
  <ogImage></ogImage>
  <pageTags><![CDATA[[]]]></pageTags>
  <priceSplashStyles></priceSplashStyles>
  <relations></relations>
  <ribbons></ribbons>
  <rules></rules>
  <specialFaviconSmall></specialFaviconSmall>
  <specialFaviconStandard></specialFaviconStandard>
  <umbracoUrlName></umbracoUrlName>
</page>