<?xml version="1.0" encoding="utf-8"?>
<Image guid="7a84d5b3-8f91-4bf4-b2fd-fd623bf13997" id="2108" nodeName="studenterkørselslider.jpg" isDoc="" updated="2020-02-04T14.11.08.2600000Z" parentGUID="0269d858-4ea4-40e2-9f48-c86cdb9186a3" nodeTypeAlias="Image" path="-1,1539,1563,2099,2108">
  <alt><![CDATA[små sliders burgers ]]></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[596924]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{
  "src": "/media/1462/studenterkoerselslider.jpg",
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  }
}]]></umbracoFile>
  <umbracoHeight><![CDATA[1400]]></umbracoHeight>
  <umbracoWidth><![CDATA[1920]]></umbracoWidth>
</Image>