<?xml version="1.0" encoding="utf-8"?>
<specialCatalog guid="20ecd420-b3bf-4e2b-8800-080516d44e3f" id="3560" nodeName="Vinkatalog" isDoc="" updated="2023-05-30T06.17.29.6870000Z" parentGUID="fbc033a4-dca8-4477-91ae-086e23b01147" nodeTypeAlias="specialCatalog" templateAlias="Baseline_SpecialCatalog" sortOrder="4" published="true" isBlueprint="false">
  <bodyScript></bodyScript>
  <catalogType><![CDATA[Incito]]></catalogType>
  <contentType></contentType>
  <digiSegment></digiSegment>
  <errorMessage></errorMessage>
  <expiredCatalog></expiredCatalog>
  <headline></headline>
  <headScript></headScript>
  <hideFromSitemap>0</hideFromSitemap>
  <metaCanonicalUrl></metaCanonicalUrl>
  <metaDescription></metaDescription>
  <metaNoFollow>0</metaNoFollow>
  <metaNoIndex>0</metaNoIndex>
  <metaTitle></metaTitle>
  <ogImage></ogImage>
  <showShoppingListWidget>0</showShoppingListWidget>
  <tjekId><![CDATA[XhiJF9Jh]]></tjekId>
  <umbracoUrlName></umbracoUrlName>
</specialCatalog>