<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Global content picker (Multiple)" Key="6c08fad4-fdde-46c6-a266-313135fe2eb8" Id="Umbraco.MultiNodeTreePicker2" DatabaseType="Ntext" Folder="Baseline/Content+pickers">
  <PreValues>
    <PreValue SortOrder="1" Alias="filter"><![CDATA[ribbonCollection]]></PreValue>
    <PreValue SortOrder="2" Alias="maxNumber"><![CDATA[]]></PreValue>
    <PreValue SortOrder="3" Alias="minNumber"><![CDATA[]]></PreValue>
    <PreValue SortOrder="4" Alias="showOpenButton"><![CDATA[0]]></PreValue>
    <PreValue SortOrder="5" Alias="startNode"><![CDATA[{
  "type": "content",
  "query": "$current/ancestor-or-self::site/dataFolder/ribbonCollectionFolder"
}]]></PreValue>
  </PreValues>
</DataType>