<?xml version="1.0" encoding="utf-8"?>
<Image guid="d7c97044-0578-4059-966b-f6bb873a409c" id="3559" nodeName="38168 Rodekors Topbanner 2000X500 SBKV" isDoc="" updated="2022-10-25T08.27.01.6130000Z" parentGUID="631902dc-a303-44a8-a0f8-a758c52eb53b" nodeTypeAlias="Image" path="-1,1706,2643,3559">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[92385]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2587/38168_rodekors_topbanner_2000x500_sbkv.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[500]]></umbracoHeight>
  <umbracoWidth><![CDATA[2000]]></umbracoWidth>
</Image>