<?xml version="1.0" encoding="utf-8"?>
<Image guid="96273336-f8c7-4c6c-96ea-c5ac03200803" id="2191" nodeName="paaske_topslider.png" isDoc="" updated="2020-03-10T09.29.41.2970000Z" parentGUID="4208f9e0-b185-4fab-b101-d42abbb96762" nodeTypeAlias="Image" path="-1,1539,1563,2189,2191">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[1152684]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1531/paaske_topslider.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[500]]></umbracoHeight>
  <umbracoWidth><![CDATA[2000]]></umbracoWidth>
</Image>