<?xml version="1.0" encoding="utf-8"?>
<Image guid="5adf0071-0d40-4f87-bd56-2368fc5a41af" id="2660" nodeName="1351_coop_corona_bundbjaelke_slider_2000x500_jul.jpg" isDoc="" updated="2020-11-02T13.26.46.7100000Z" parentGUID="68525a27-d1ac-43f8-97e6-20b4c6b4f116" nodeTypeAlias="Image" path="-1,2317,2331,2660">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[206440]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1865/1351_coop_corona_bundbjaelke_slider_2000x500_jul.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[500]]></umbracoHeight>
  <umbracoWidth><![CDATA[2000]]></umbracoWidth>
</Image>