<?xml version="1.0" encoding="utf-8"?>
<Image guid="f1f29e85-377f-4ee6-a616-b7238784eb70" id="3605" nodeName="600X400 Topbanner Opskrifter Clausholm" isDoc="" updated="2022-12-23T11.07.10.0100000Z" parentGUID="2628f172-2ddf-4052-890b-90760fb94f9d" nodeTypeAlias="Image" path="-1,1706,3604,3605">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[601519]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2621/600x400_topbanner_opskrifter_clausholm.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[1667]]></umbracoHeight>
  <umbracoWidth><![CDATA[2500]]></umbracoWidth>
</Image>