<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>acc47b18-f98a-43a5-acab-78be47397694</Key>
    <Name>Style - Produkt showcase Slider</Name>
    <Alias>styleProductShowcaseCategory</Alias>
    <Icon>icon-slideshow color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Folder>Baseline/Styles</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>fe9c6612-74be-41e0-9538-70d49e85b6ba</Key>
      <Name>Alternativ text farve</Name>
      <Alias>altTextColor</Alias>
      <Definition>439a6dda-6db8-47a3-afb2-2fa3dc09879e</Definition>
      <Type>Our.Umbraco.StackedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Farven på "Læs mere" og evt. andre links, skriv osv.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Style</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>1f5553eb-849d-46c3-a022-c14d57536362</Key>
      <Name>Baggrundsfarve</Name>
      <Alias>backgroundColor</Alias>
      <Definition>439a6dda-6db8-47a3-afb2-2fa3dc09879e</Definition>
      <Type>Our.Umbraco.StackedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Farven bag produkteerne.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Style</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>4b65a23a-f6eb-4cbf-8eb0-c6a5de8c0c1e</Key>
      <Name>Fold ud baggrundsfarve</Name>
      <Alias>foldOutBackgroundColor</Alias>
      <Definition>439a6dda-6db8-47a3-afb2-2fa3dc09879e</Definition>
      <Type>Our.Umbraco.StackedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Style</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>bac67142-1257-40fe-9158-ed57480a5cf0</Key>
      <Name>Fold ud tekst farve</Name>
      <Alias>foldOutTextColor</Alias>
      <Definition>439a6dda-6db8-47a3-afb2-2fa3dc09879e</Definition>
      <Type>Our.Umbraco.StackedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Style</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>06bc621d-124e-4e6f-ab94-1d3b7076b40c</Key>
      <Name>Tekst farve</Name>
      <Alias>textColor</Alias>
      <Definition>439a6dda-6db8-47a3-afb2-2fa3dc09879e</Definition>
      <Type>Our.Umbraco.StackedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Vil også være farven på fold ud ikonet.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Style</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Style</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>