<?xml version="1.0" encoding="utf-8"?>
<Image guid="617b5174-ac82-4ddf-b9b9-5eb874ebac77" id="3245" nodeName="Frugtoggrønt 06" isDoc="" updated="2022-03-01T11.36.54.6670000Z" parentGUID="c1a100a8-5bf0-4d16-b9c2-670cac727a9f" nodeTypeAlias="Image" path="-1,3218,3245">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[21551]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2344/frugtoggroent_06.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[851]]></umbracoHeight>
  <umbracoWidth><![CDATA[549]]></umbracoWidth>
</Image>