<?xml version="1.0" encoding="utf-8"?>
<Image guid="4a0c7dcd-4786-4947-9d5e-1d29b45ee379" id="1626" nodeName="lammekod.jpg" isDoc="" updated="2019-10-21T06.38.43.8770000Z" parentGUID="b5384120-d9d9-4413-91e4-571c60b15d2b" nodeTypeAlias="Image" path="-1,1530,1548,1603,1626">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[6062]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1064/lammekod.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[180]]></umbracoHeight>
  <umbracoWidth><![CDATA[180]]></umbracoWidth>
</Image>