<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>1fd139a2-e029-4d52-923e-35abee71d032</Key>
    <Name>Undermenu - Link</Name>
    <Alias>subMenuLink</Alias>
    <Icon>icon-console color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Folder>Baseline/Menu</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>e43f1fa5-7ead-4a89-a47c-71708f725cee</Key>
      <Name>Link</Name>
      <Alias>link</Alias>
      <Definition>c8261dbf-b464-4caa-9b98-13aeca4f1137</Definition>
      <Type>RJP.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>f9c52f98-87fc-48ac-b116-b615e0edfd30</Key>
      <Name>Styles</Name>
      <Alias>styles</Alias>
      <Definition>a76d2eed-f7d4-4ff9-a9b9-f5a202c52b8c</Definition>
      <Type>Our.Umbraco.StackedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Styles</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Styles</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>