<?xml version="1.0" encoding="utf-8"?>
<Image guid="84ae720f-a85f-4dfd-b215-78f85a52e00e" id="2797" nodeName="hero-2x.png" isDoc="" updated="2021-01-14T12.10.28.6770000Z" parentGUID="2b04a5bb-0409-43d5-a137-305ecfaac02c" nodeTypeAlias="Image" path="-1,2793,2797">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[3981780]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1978/hero-2x.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[1200]]></umbracoHeight>
  <umbracoWidth><![CDATA[2880]]></umbracoWidth>
</Image>