<?xml version="1.0" encoding="utf-8"?>
<Image guid="944d3871-c9e2-42ee-b22c-9b42e684f45a" id="3557" nodeName="38149 Nytaarsvinmenu 2022 Slider Desktop 2000X500[90] (3)" isDoc="" updated="2022-10-19T17.46.25.4600000Z" parentGUID="2ee1e026-f171-4a5f-b2a3-5a24eef20102" nodeTypeAlias="Image" path="-1,1706,2007,3557">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[187770]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2585/38149_nytaarsvinmenu_2022_slider_desktop_2000x500-90-3.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[500]]></umbracoHeight>
  <umbracoWidth><![CDATA[2000]]></umbracoWidth>
</Image>