<?xml version="1.0" encoding="utf-8"?>
<Image guid="5748af64-7535-4354-a16b-8718691c1bf9" id="1812" nodeName="gris.png" isDoc="" updated="2019-10-21T12.38.32.1800000Z" parentGUID="e61d1e37-874e-4662-8294-ac4b0465d88d" nodeTypeAlias="Image" path="-1,1530,1548,1812">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[57794]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1218/gris.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[284]]></umbracoHeight>
  <umbracoWidth><![CDATA[500]]></umbracoWidth>
</Image>