<?xml version="1.0" encoding="utf-8"?>
<page guid="6af62f8e-3fe9-4d43-99ef-739f5bbbaab7" id="1398" nodeName="Aktuelt" isDoc="" updated="2023-04-13T05.36.24.7830000Z" parentGUID="fbc033a4-dca8-4477-91ae-086e23b01147" nodeTypeAlias="page" templateAlias="Baseline_Page" sortOrder="12" published="true" isBlueprint="false">
  <bodyEndHtml></bodyEndHtml>
  <bodyScript></bodyScript>
  <contentType></contentType>
  <digiSegment></digiSegment>
  <extraSearchWord></extraSearchWord>
  <fastTripDisable>0</fastTripDisable>
  <headHtml></headHtml>
  <headScript></headScript>
  <hideFooter>0</hideFooter>
  <hideFromSitemap>0</hideFromSitemap>
  <hideTop>0</hideTop>
  <metaCanonicalUrl></metaCanonicalUrl>
  <metaDescription><![CDATA[Vil du vide hvad der er aktuelt hos SuperBrugsen? Læs hvad der er aktuelt fra SuperBrugsen her på siden.]]></metaDescription>
  <metaNoFollow>0</metaNoFollow>
  <metaNoIndex>0</metaNoIndex>
  <metaTitle><![CDATA[Aktuelt – Se nyheder fra SuperBrugsen – Læs her]]></metaTitle>
  <nonResponsive>0</nonResponsive>
  <ogImage></ogImage>
  <pageTags><![CDATA[[]]]></pageTags>
  <priceSplashStyles></priceSplashStyles>
  <relations></relations>
  <ribbons></ribbons>
  <rules></rules>
  <specialFaviconSmall></specialFaviconSmall>
  <specialFaviconStandard></specialFaviconStandard>
  <umbracoUrlName></umbracoUrlName>
</page>