<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Multistring list" Key="f5817022-bc15-485d-8aeb-025f08c20d38" Id="Umbraco.MultipleTextstring" DatabaseType="Ntext" Folder="Baseline">
  <PreValues>
    <PreValue SortOrder="1" Alias="0"><![CDATA[{"Minimum":0,"Maximum":0}]]></PreValue>
  </PreValues>
</DataType>