<?xml version="1.0" encoding="utf-8"?>
<Image guid="698d6adc-fb13-4ab8-8b51-ec40463f871f" id="3381" nodeName="33645 Scan Og Betal Final Godkendt" isDoc="" updated="2022-05-05T10.21.14.9570000Z" parentGUID="b17777e1-aec5-4b8d-bceb-5605f99aa39d" nodeTypeAlias="Image" path="-1,1618,1722,3381">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[1098520]]></umbracoBytes>
  <umbracoExtension><![CDATA[gif]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2454/33645_scan_og_betal_final_godkendt.gif", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[800]]></umbracoHeight>
  <umbracoWidth><![CDATA[1200]]></umbracoWidth>
</Image>