<?xml version="1.0" encoding="utf-8"?>
<Image guid="f650239b-09f9-4774-8cb8-be91455d5827" id="3188" nodeName="Eesy 2000X500" isDoc="" updated="2022-01-27T10.40.57.9770000Z" parentGUID="d7faab38-dece-4863-a747-09d21580e574" nodeTypeAlias="Image" path="-1,1706,3182,3188">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[403789]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2298/eesy_2000x500.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[500]]></umbracoHeight>
  <umbracoWidth><![CDATA[2000]]></umbracoWidth>
</Image>