<?xml version="1.0" encoding="utf-8"?>
<File guid="76795342-c8fe-45bb-8ba5-8949b8a8c5ea" id="3610" nodeName="LISTE 5 Januar" isDoc="" updated="2023-01-05T11.54.14.4200000Z" parentGUID="9b740928-1dc4-4a27-991f-0da1bc1c1389" nodeTypeAlias="File" path="-1,3469,3593,3610">
  <relations></relations>
  <umbracoBytes><![CDATA[232257]]></umbracoBytes>
  <umbracoExtension><![CDATA[pdf]]></umbracoExtension>
  <umbracoFile><![CDATA[/media/2625/liste-5-januar.pdf]]></umbracoFile>
</File>