<?xml version="1.0" encoding="utf-8"?>
<news guid="400fea4a-3680-4462-8179-acd9bc397f28" id="1406" nodeName="Alsacevinen er danskernes foretrukne" isDoc="" updated="2022-05-17T10.19.19.3400000Z" parentGUID="c5256333-c19e-4cb7-bb55-30517f2f80a5" nodeTypeAlias="news" templateAlias="Baseline_News" sortOrder="5" published="true" isBlueprint="false">
  <bodyEndHtml></bodyEndHtml>
  <bodyScript></bodyScript>
  <contentType></contentType>
  <date>2016-05-30T00:00:00</date>
  <digiSegment></digiSegment>
  <headHtml><![CDATA[<script type="application/ld+json">
{
"@context": "https://schema.org",
"@type": "FAQPage",
"mainEntity": [{
"@type": "Question",
"name": "Hvad kalder man den mousserende vin i Alsace?",
"acceptedAnswer": {
"@type": "Answer",
"text": "Den mousserende vin fra bl.a. Alsace kaldes for Crémant."
}
},{
"@type": "Question",
"name": "Hvor ligger Alsace vinområdet henne?",
"acceptedAnswer": {
"@type": "Answer",
"text": "Vinområdet ligger i Frankrig og er mest kendt for at producere hvidvin."
}
},{
"@type": "Question",
"name": "Hvilke druesorter er der i Alsace?",
"acceptedAnswer": {
"@type": "Answer",
"text": "De vigtigste og mest kendte druesorter i Alsace er Riesling, Pinot Gris, Pinot Blanc, Sylvaner og Gewurtztraminer."
}
}]
}
</script>]]></headHtml>
  <headline><![CDATA[Ingen sommer uden vin!]]></headline>
  <headScript></headScript>
  <hideFooter>0</hideFooter>
  <hideFromSitemap>0</hideFromSitemap>
  <hideTop>0</hideTop>
  <metaCanonicalUrl></metaCanonicalUrl>
  <metaDescription><![CDATA[Alsace vin findes i  et bredt udvalg og i alle prisklasser. Læs mere om de forskellige vine fra Alsace, og få gode råd om vin og mad her.]]></metaDescription>
  <metaNoFollow>0</metaNoFollow>
  <metaNoIndex>0</metaNoIndex>
  <metaTitle><![CDATA[Alsace vin – Skøn hvidvin fra Alsace i Frankrig – Læs her]]></metaTitle>
  <nonResponsive>0</nonResponsive>
  <ogImage></ogImage>
  <relations></relations>
  <removeTextShadow>0</removeTextShadow>
  <specialFaviconSmall></specialFaviconSmall>
  <specialFaviconStandard></specialFaviconStandard>
  <subHeadline><![CDATA[Alsacevinen er danskernes foretrukne]]></subHeadline>
  <tags><![CDATA[["Vin","Alsace","sommer","sommervin","god vin til sommeren"]]]></tags>
  <text><![CDATA[<p>Nogle af verdens bedste og mest kendte hvidvine kommer fra Alsaceområdet i det nordøstlige Frankrig. Den 170 km lange vinrute giver uendelige muligheder for at nyde landskabet, de idylliske små byer og ikke mindst de skønne vine. Vinene er især opkaldt efter druesorterne og den slanke flaske er let genkendelig. Vinenes frugtige duft er typisk og der er mange druesorter at vælge imellem: Sylvaner, Pinot Blanc, Riesling, Muscat d’Alsace, Pinot Gris, Gewurztraminer og Pinot Noir. Alle, der har rejst i denne vidunderlige egn, vil sikkert også have fået fornemmelsen af, at landskaber, mad og vin går op i en højere enhed.<br /><br /></p>
<p><strong>Her er et par gode råd om vin- og madsammensætning:</strong></p>
<p><strong>Sylvaner</strong>: Tør og liflig hvidvin. Passer til salater, østers og gedeoste<br /><strong>Riesling</strong>: Tør, syrlig og blomsteragtig og hvidvin. Passer til fisk og gedeoste<br /><strong>Pinot Blanc</strong>: Frisk og halvtør hvidvin. Passer til skalddyr, vegetarretter og asparges<br /><strong>Pinot Gris</strong>: Fyldig, let sødlig hvidvin. Passer til charcuteri, kraftige oste, lyst fjerkræ og svinekød.<br /><strong>Gewurztraminer</strong>: Meget aromatisk, krydret og sødlig hvidvin. Passer til foie gras, stærkt krydret mad og skimmelost.<br /><strong>Muscat</strong>: Meget tør hvidvin med kraftig duft af friske druer. Passer til asparges og som velkomstdrink. </p>
<p><strong>Pinot noir</strong>: Let rosé eller rød vin. Passer til svinekød, rødt kød og vildt.</p>
<p> </p>
<p>Hvis du vil vide mere kan du på <a href="http://www.alsacevin.net" title="Alsacevin">www.alsacevin.net</a> finde mere inspiration til hvordan du får mad og vinoplevelsen til at gå op i en højere enhed med vinene fra Alsace</p>
<p><br /><strong>De slanke flasker fra Alsace nydes bedst afkølet – men ikke for koldt</strong><br />Alsacevinene er let genkendelige på de høje slanke flasker og skal som hovedregel nydes ved 8–10 grader. Altså ikke direkte fra køleskabet, for så får man ikke hele den komplekse smag frem i vinen. Og så skal de nydes frisk fra flasken, især hvis det er en vin, som er naturligt perlende eller mousserende. En perlende vin må gerne serveres et par grader koldere end en traditionel hvidvin – omkring 5-7 grader og allerhelst i et champagneglas.</p>
<p><br /><strong>Alsace et besøg værd</strong><br />Vinmarkerne ligger i et bredt bælte langs med østsiden af Vogeserne. Der produceres ca. 160 mio. flasker vin om året, og ca. 1/4 eksporteres og ikke mindst til Danmark der er det femte største eksportmarked for Alsace vine. <br />Når, nu sommertankerne er på himmelflugt, så prøv at lade dem foretage en tur gennem vinområdet Alsace. Et besøg kan klart anbefales. Få mere at vide om Alsace vinruten på <a href="http://www.alsacevin.net" title="Alsacevin">www.alsacevin.net</a></p>
<p> </p>
<h2>FAQ om Alsace-vin</h2>
<p><strong>Hvad kalder man den mousserende vin i Alsace?</strong><br />Den mousserende vin fra bl.a. Alsace kaldes for Crémant.</p>
<p><br /><strong>Hvor ligger Alsace vinområdet henne?</strong><br />Vinområdet ligger i Frankrig og er mest kendt for at producere hvidvin.</p>
<p><br /><strong>Hvilke druesorter er der i Alsace?</strong><br />De vigtigste og mest kendte druesorter i Alsace er Riesling, Pinot Gris, Pinot Blanc, Sylvaner og Gewurtztraminer.</p>]]></text>
  <thumbnail><![CDATA[umb://media/750c1e7e00d24593a858a915f533b458]]></thumbnail>
  <umbracoUrlName></umbracoUrlName>
  <useImageAsTopImage>1</useImageAsTopImage>
</news>