<?xml version="1.0" encoding="utf-8"?>
<Image guid="219324f4-74f5-4ec2-beb8-72a22ac1c0a7" id="3600" nodeName="38528 2023 02 Anglamark Priskampagne Slider 600X400" isDoc="" updated="2022-12-23T10.57.52.0030000Z" parentGUID="a325cfd4-eec8-48a8-8433-bdb051f4ae70" nodeTypeAlias="Image" path="-1,1706,3590,3600">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[77586]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2617/38528_2023-02_anglamark_priskampagne-slider_600x400.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[400]]></umbracoHeight>
  <umbracoWidth><![CDATA[600]]></umbracoWidth>
</Image>