<?xml version="1.0" encoding="utf-8"?>
<Image guid="a8856cfa-ac0f-48b9-9363-d34323baac92" id="3697" nodeName="Særligt Udvalgt Slider 600X400new" isDoc="" updated="2023-04-19T11.05.01.7570000Z" parentGUID="35f70e34-7927-46f8-9d3f-56c0e523500f" nodeTypeAlias="Image" path="-1,1530,3696,3697">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[241881]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2702/saerligt-udvalgt-slider_600x400new.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[400]]></umbracoHeight>
  <umbracoWidth><![CDATA[600]]></umbracoWidth>
</Image>