<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>243bd8b8-147b-48a7-be2e-fbc49e5f3f51</Key>
    <Name>Intro bånd</Name>
    <Alias>ribbonIntro</Alias>
    <Icon>icon-browser-window color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Folder>Baseline/Ribbons</Folder>
    <Compositions>
      <Composition Key="0a480072-8385-43fb-8d87-6dadd929858d">compositionRibbon</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>c28b9c43-74e2-4417-b4a3-4a3b769e6530</Key>
      <Name>Billede</Name>
      <Alias>image</Alias>
      <Definition>838d17a6-d246-4808-918c-0f2186cd0dfd</Definition>
      <Type>Umbraco.MediaPicker2</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[<b>Anbefalet størrelser</b>
Nyere mobile devices har x3 i opløsningen.
Derfor anbefales: 
Bredde: 3000px.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Indhold</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>df423bca-2363-42e7-8a17-f30b2b6afc3e</Key>
      <Name>Style - Bund</Name>
      <Alias>styleBottom</Alias>
      <Definition>7656e1c9-5abd-467e-9c48-7a493ce90a7d</Definition>
      <Type>Our.Umbraco.StackedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Baggrunde</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>52a65c63-921e-421e-ac02-fadad15bc829</Key>
      <Name>Styles</Name>
      <Alias>styles</Alias>
      <Definition>b0322382-69f9-45f8-ad44-eb9ffdf56f96</Definition>
      <Type>Our.Umbraco.StackedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Indhold</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>d61e5506-9214-4339-be5e-194c2a095f0f</Key>
      <Name>Style - Top</Name>
      <Alias>styleTop</Alias>
      <Definition>7656e1c9-5abd-467e-9c48-7a493ce90a7d</Definition>
      <Type>Our.Umbraco.StackedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Baggrunde</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>f5eac2a4-3f73-47c1-afe0-d4d6800fe0df</Key>
      <Name>Text</Name>
      <Alias>text</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCEv3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Fallback til navnet på noden.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Indhold</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Indhold</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Baggrunde</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>