<?xml version="1.0" encoding="utf-8"?>
<Image guid="aee8c12e-4e5f-4c3e-82db-48fa31131997" id="1923" nodeName="FB_mark_2000x500.jpg" isDoc="" updated="2019-11-04T15.06.09.6800000Z" parentGUID="a33c66cf-e7e0-45c0-b7bb-42426c9a4e86" nodeTypeAlias="Image" path="-1,1530,1534,1920,1923">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[843941]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1319/fb_mark_2000x500.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[500]]></umbracoHeight>
  <umbracoWidth><![CDATA[2000]]></umbracoWidth>
</Image>