<?xml version="1.0" encoding="utf-8"?>
<Image guid="5d214bfe-09ef-4910-af21-870f664af838" id="3083" nodeName="35424 Playmobil Slider Uge35 2000X500" isDoc="" updated="2022-04-11T12.44.46.0700000Z" parentGUID="0d0678d3-7c08-4325-92b1-946e3be27c60" nodeTypeAlias="Image" path="-1,1706,2849,3083">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[265951]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2218/35424_playmobil_slider_uge35_2000x500.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[500]]></umbracoHeight>
  <umbracoWidth><![CDATA[2000]]></umbracoWidth>
</Image>