<?xml version="1.0" encoding="utf-8"?>
<Image guid="a5fc1994-9830-4105-9835-728b8b45d73b" id="3680" nodeName="Rød Farve 2000X500" isDoc="" updated="2023-03-20T12.14.30.1300000Z" parentGUID="d0ee4845-6de3-46fe-b48d-a11fa9ec19ab" nodeTypeAlias="Image" path="-1,3675,3680">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[6694]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2689/roed-farve-2000x500.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[500]]></umbracoHeight>
  <umbracoWidth><![CDATA[2000]]></umbracoWidth>
</Image>