<?xml version="1.0" encoding="utf-8"?>
<Image guid="50859089-24bc-4587-a415-a577459f38f0" id="3513" nodeName="Mortensaften Slider 2000X500px Landingpage" isDoc="" updated="2022-09-08T14.05.04.2000000Z" parentGUID="a0c16390-5d49-4157-a60f-2aa061835ff6" nodeTypeAlias="Image" path="-1,1581,1895,3109,3513">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[442784]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2552/mortensaften_slider_2000x500px_landingpage.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[2083]]></umbracoHeight>
  <umbracoWidth><![CDATA[8333]]></umbracoWidth>
</Image>