<?xml version="1.0" encoding="utf-8"?>
<Image guid="6c212dac-8b35-41de-95d5-d1227f30d2bb" id="1651" nodeName="korkprop.jpg" isDoc="" updated="2019-10-21T06.38.46.3770000Z" parentGUID="b07b69ac-c3bc-4278-988d-0e5e61644747" nodeTypeAlias="Image" path="-1,1530,1556,1557,1651">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[214778]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1084/korkprop.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[600]]></umbracoHeight>
  <umbracoWidth><![CDATA[1920]]></umbracoWidth>
</Image>