<?xml version="1.0" encoding="utf-8"?>
<Image guid="5437d3a2-f30c-4a89-9bae-36b7da9ac601" id="3180" nodeName="36918 15Pct Rabat ALT Topslider" isDoc="" updated="2022-04-11T12.22.22.7370000Z" parentGUID="b2ee9dc5-b9d6-4a14-b0ef-e5e914ddd3e6" nodeTypeAlias="Image" path="-1,1706,3302,3180">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[1473722]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2291/36918_15pct-rabat_alt_topslider.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[1042]]></umbracoHeight>
  <umbracoWidth><![CDATA[4167]]></umbracoWidth>
</Image>