<?xml version="1.0" encoding="utf-8"?>
<news guid="1918e65a-9734-4f89-8a85-71b423ae3b93" id="1384" nodeName="Pølser skal spises. Ikke springes" isDoc="" updated="2020-01-22T12.00.20.4030000Z" parentGUID="598726ab-2465-4992-acd2-faa6c51f3a2b" nodeTypeAlias="news" templateAlias="Baseline_News" sortOrder="4" published="true" isBlueprint="false">
  <bodyEndHtml></bodyEndHtml>
  <bodyScript></bodyScript>
  <contentType></contentType>
  <date>2015-05-27T00:00:00</date>
  <digiSegment></digiSegment>
  <headHtml></headHtml>
  <headline><![CDATA[Pølser skal spises. Ikke springes]]></headline>
  <headScript></headScript>
  <hideFooter>0</hideFooter>
  <hideFromSitemap>0</hideFromSitemap>
  <hideTop>0</hideTop>
  <metaCanonicalUrl></metaCanonicalUrl>
  <metaDescription><![CDATA[En eksploderet pølse er en kedelig pølse. Vi giver dig gode råd til, hvordan du undgår at grillpølserne sprækker. Se grillmesterens gode råd i videoen her.]]></metaDescription>
  <metaNoFollow>0</metaNoFollow>
  <metaNoIndex>0</metaNoIndex>
  <metaTitle><![CDATA[Grillpølser – Tilberedning af pølser på grill – Se videoen]]></metaTitle>
  <nonResponsive></nonResponsive>
  <ogImage></ogImage>
  <relations></relations>
  <removeTextShadow>0</removeTextShadow>
  <specialFaviconSmall></specialFaviconSmall>
  <specialFaviconStandard></specialFaviconStandard>
  <subHeadline></subHeadline>
  <tags><![CDATA[["pølser","grill"]]]></tags>
  <text><![CDATA[<p>Enhver grillaften skal afsluttes med en pølse. Som minimum. Men en eksploderet pølse er en kedelig pølse. I nedenstående film er der et godt tip til at undgå, at pølserne springer.</p>
<p><iframe src="https://www.youtube.com/embed/aJgkGbqUfmI?feature=oembed" allowfullscreen="" width="596" height="335" frameborder="0"></iframe></p>]]></text>
  <thumbnail><![CDATA[umb://media/2246271e35164eb9b5f12b0f0f86502c]]></thumbnail>
  <umbracoUrlName></umbracoUrlName>
  <useImageAsTopImage>1</useImageAsTopImage>
</news>