<?xml version="1.0" encoding="utf-8"?>
<recipeList guid="2b0b4845-57c0-406b-a3d4-4b9cb621bbde" id="1393" nodeName="Strikkeopskrifter" isDoc="" updated="2019-10-21T07.21.51.8300000Z" parentGUID="5bcd3334-a26e-4513-8617-2e27233a9204" nodeTypeAlias="recipeList" templateAlias="Baseline_RecipeList" sortOrder="4" published="false" isBlueprint="false">
  <bodyScript></bodyScript>
  <contentType></contentType>
  <digiSegment></digiSegment>
  <headScript></headScript>
  <hideFromSitemap>0</hideFromSitemap>
  <introBoxText></introBoxText>
  <introBtn><![CDATA[[]]]></introBtn>
  <metaCanonicalUrl></metaCanonicalUrl>
  <metaDescription></metaDescription>
  <metaNoFollow>0</metaNoFollow>
  <metaNoIndex>0</metaNoIndex>
  <metaTitle></metaTitle>
  <noResultText></noResultText>
  <ogImage></ogImage>
  <openRecipeBtn></openRecipeBtn>
  <priceSplashStyles></priceSplashStyles>
  <recipeIdeaIngrediensStyle></recipeIdeaIngrediensStyle>
  <recipeIdeaShareStyle></recipeIdeaShareStyle>
  <recipeIdeaStyle></recipeIdeaStyle>
  <recipeIdeaText></recipeIdeaText>
  <recipeIdeaTextAboveProducts></recipeIdeaTextAboveProducts>
  <recipeListStyling></recipeListStyling>
  <removeCoopRemoteRecipes>1</removeCoopRemoteRecipes>
  <ribbons></ribbons>
  <searchHeadline></searchHeadline>
  <searchIntro></searchIntro>
  <searchPlaceholder></searchPlaceholder>
  <searchStyle></searchStyle>
  <umbracoUrlName></umbracoUrlName>
</recipeList>