<?xml version="1.0" encoding="utf-8"?>
<Image guid="51f7c776-905e-43c1-8ed4-4f283986bd1c" id="3606" nodeName="2000X500 Topbanner Opskrifter Clausholm" isDoc="" updated="2022-12-23T11.07.16.0800000Z" parentGUID="2628f172-2ddf-4052-890b-90760fb94f9d" nodeTypeAlias="Image" path="-1,1706,3604,3606">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[1830663]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2622/2000x500_topbanner_opskrifter_clausholm.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[2083]]></umbracoHeight>
  <umbracoWidth><![CDATA[8333]]></umbracoWidth>
</Image>