<?xml version="1.0" encoding="utf-8"?>
<Image guid="5fe14b21-662a-49e3-8c9b-12547d00cda8" id="3131" nodeName="36477 Personlig Pleje Mobilslider 600X400px (1)" isDoc="" updated="2022-04-11T12.05.35.4870000Z" parentGUID="277ff1ae-cf60-4879-9fc8-97e74d455394" nodeTypeAlias="Image" path="-1,1706,1877,3131">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[72250]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2256/36477_personlig-pleje_mobilslider_600x400px.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[400]]></umbracoHeight>
  <umbracoWidth><![CDATA[600]]></umbracoWidth>
</Image>