<?xml version="1.0" encoding="utf-8"?>
<Image guid="cd38d50a-aaa8-4a8e-bcfa-8ad3b2b8e2d5" id="1947" nodeName="FAELLES_46_19_Slider_Mobil_600x400_Skrab.jpg" isDoc="" updated="2022-04-11T12.08.14.8270000Z" parentGUID="631902dc-a303-44a8-a0f8-a758c52eb53b" nodeTypeAlias="Image" path="-1,1706,2643,1947">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[235054]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1341/faelles_46_19_slider_mobil_600x400_skrab.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[400]]></umbracoHeight>
  <umbracoWidth><![CDATA[600]]></umbracoWidth>
</Image>