<?xml version="1.0" encoding="utf-8"?>
<news guid="9705f924-d1e9-44da-9cf4-d894b7951d4e" id="2755" nodeName="Cabernet Sauvignon" isDoc="" updated="2021-08-26T12.42.27.4770000Z" parentGUID="c5256333-c19e-4cb7-bb55-30517f2f80a5" nodeTypeAlias="news" templateAlias="Baseline_News" sortOrder="25" published="true" isBlueprint="false">
  <bodyEndHtml></bodyEndHtml>
  <bodyScript></bodyScript>
  <contentType></contentType>
  <date>2020-12-15T00:00:00</date>
  <digiSegment></digiSegment>
  <headHtml></headHtml>
  <headline><![CDATA[Cabernet Sauvignon]]></headline>
  <headScript></headScript>
  <hideFooter>0</hideFooter>
  <hideFromSitemap>0</hideFromSitemap>
  <hideTop>0</hideTop>
  <metaCanonicalUrl></metaCanonicalUrl>
  <metaDescription><![CDATA[Med oprindelse i Bordeaux er cabernet sauvignon en velkendt vin. Her kan du læse om, hvorfor det er verdens mest udbredte drue.]]></metaDescription>
  <metaNoFollow>0</metaNoFollow>
  <metaNoIndex>0</metaNoIndex>
  <metaTitle><![CDATA[Cabernet Sauvignon - Bordeaux - Læs mere | Superbrugsen]]></metaTitle>
  <nonResponsive></nonResponsive>
  <ogImage></ogImage>
  <relations></relations>
  <removeTextShadow>0</removeTextShadow>
  <specialFaviconSmall></specialFaviconSmall>
  <specialFaviconStandard></specialFaviconStandard>
  <subHeadline></subHeadline>
  <tags><![CDATA[["Cabernet Sauvignon","vin"]]]></tags>
  <text><![CDATA[<p>Som klassikeren over dem alle, er den elskede rødvin Cabernet Sauvignon næppe gået forbi næsen på nogen. Cabernet Sauvignon er en blå rødvinsdrue og er en af de mest kendte druesorter ude i den store hvide verden, der oprinder fra Bordeaux i Frankrig.</p>
<p>Vinen er ikke kun elsket for sin fyldige smag, men også alsidigheden i den. Den findes desuden i mange forskellige prisklasser, så alle kan være med.</p>
<h2><strong>Cabernet Sauvignon vin</strong></h2>
<p>Cabernet Sauvignon er en klassik rødvin, der er produceret enten udelukkende på rødvinsdruen af samme navn eller parret med andre druesorter.</p>
<p>I dag produceres fantastiske rødvine på Cabernet Sauvignon druen i hele verdenen. Uanset hvor vinen er fremstillet, har enhver Cabernet Sauvignon sine karakteristiske træk. Vinen kendes på dens dybe, røde farve, en velbalanceret mængde garvesyre og en tilpas mængde syrlighed. Vinen passer til de fleste lejligheder, om det være sig til en tapas middag eller til vildt.</p>
<p><img style="width: 300px; height: 200.07401924500368px;" src="/media/1941/photo-1558150052-fddeedcf27d4.jpg?width=300&amp;height=200.07401924500368" alt="Cabernet Sauvignon" data-udi="umb://media/334132b3797e4340af38c2b3ba0633b2" /></p>
<h2><strong>Duften af Cabernet Sauvignon</strong></h2>
<p>Når du serverer en Cabernet Sauvignon, vil du blive mødt af kraftige, tydelige aromaer, der også afspejles i smagen; solbær, brombær og vanilje. Noter af tobak viser sig også i nogle tilfælde i vinens aromaer, hvis vinen har lagret længe på egetræstønder.</p>
<h2><strong>Smagen af Cabernet Sauvignon</strong></h2>
<p>Cabernet Sauvignon vine smager forskelligt alt afhængigt af, hvor i verden de er produceret og hvilken anden druesort, Cabernet Sauvignon er parret med. Fælles for alle Cabernet Sauvignon er deres fyldige, frugtige smag af solbær samt vinens høje indhold af tanniner og syre.</p>
<p>Cabernet Sauvignon vine er ofte meget søde og frugtige i smagen grundet druesortens tykke skal. Den gør nemlig, at solen har længere tid til at modne druen, hvilket giver den ekstra sødme.</p>
<p>Ved første tår mødes du med smagen af mørke bær som kirsebær, solbær og brombær. Vinen er ligeledes præget af smagsnoter som vanilje, cedertræ, lakrids og tobak.</p>
<p>Den mest fremtrædende smag anses for at være solbær. Denne smag kan i de lidt billigere Cabernet Sauvignon overskygge de resterende smagsnoter og ligefrem give associationer til Ribena saft.</p>
<p>Lader du vinen ligge nogle år, vil smagen af solbær blive mere afdæmpet, og de andre smagsnoter vil være mere fremtrædende. En god tommelfingerregel lyder dog, at jo varmere et klima, druen er dyrket i, jo sødere vil vinen være og vil derfor kunne drikkes med det samme. Synes du ikke din vin er moden nok, kan du gemme de resterende flasker - en god Cabernet Sauvignon kan nemlig heldigvis gemmes i op til 20 år.</p>
<p><img style="width: 172.2042663219134px; height: 300px;" src="/media/1940/photo-1555919807-c3b672ff8933.jpg?width=172.2042663219134&amp;height=300" alt="Cabernet Sauvignon vin til maden" data-udi="umb://media/c851e63000044634b1318e9c3f10492d" /></p>
<h2><strong>Hvad serverer man til Cabernet Sauvignon?</strong></h2>
<p>Cabernet Sauvignon er en populær madvin, både i hjemmet og på restauranter. Vinen er ofte kraftig og dominerende med en høj alkoholprocent, hvorfor den går bedst til fed mad.</p>
<p>Cabernet Sauvignon er den perfekte ledsager til fedtholdig mad. Vinen har en yderst fin balance mellem sødme og syrlighed i sin smag, og vinens garvesyre gør den især velegnet til kød og andre fedtrige måltider. Det høje fedtindhold neutraliseres nemlig af vinens garvesyre, hvilket gør, at vinens karakteristiske frugtige smag kommer til sin fulde ret.</p>
<p>Vi anbefaler derfor at parre en Cabernet Sauvignon til lam, steaks eller en hjemmelavet saftig burger. En Cabernet Sauvignon egner sig også særlig godt til et tapasbord med fede oste, og er du mere til det asiatiske køkken, vil vinen også fint komplimentere wokretter med oksekød og grøntsager.</p>
<h2><strong>Hvor stammer Cabernet Sauvignon fra?</strong></h2>
<p>Cabernet Sauvignon oprinder fra det franske bakkede landskab i Bordeaux-området i Frankrig, og det er verdens mest plantede drue – og vi forstår godt hvorfor!</p>
<p>Druen er meget alsidig, hvorfor den kan dyrkes i mange forskellige klimaer. Cabernet Sauvignon kræver en vis mængde sol og varme for at modne, og derfor kan druen have sine udfordringer fra år til år i Bordeaux-området, der ligger tilpas nordligt i Frankrig til, at visse somre får druerne ikke nok varme til at modnes inden høst.</p>
<p>I dag har Cabernet Sauvignon druen spredt sig til hele verden og dyrkes i bl.a. Sydamerika, Sydafrika, Australien, Italien, Washington, Californien og New Zealand. Er du til lettere vine, skal du gå efter en Cabernet Sauvignon fra et køligt klima. Elsker du mere fyldige vine, bør du anskaffe en Cabernet Sauvignon fra Bordeaux, Italien eller Washington. Leder du derimod efter en god ledsager til en kraftig rød steak, bør du vælge en Cabernet Sauvignon fra et varmt klima, fx fra Australien, Sydamerika eller Californien.</p>
<p><img style="width: 300px; height: 200px;" src="/media/1942/photo-1569231993169-fe176108ac96.jpg?width=300&amp;height=200" alt="Cabernet Sauvignon vinområde" data-udi="umb://media/ea27e46cf7cb41df90eb84bf0b5f7d1e" /></p>
<h2><strong>Cabernet Sauvignon druen</strong></h2>
<p>Druesorten Cabernet Sauvignon er ikke en helt almindelig drue. I slutningen af 1990’erne blev det bevist, at Cabernet Sauvignon er et afkom af druerne Cabernet Franc og Sauvignon Blanc, der hver har bidraget med deres fornavn til denne krydsning.</p>
<p>Cabernet Sauvignon er en særdeles populær drue i skolegården, fordi den er meget alsidig ift. dyrkningsklima og jordbund. Druen kan dyrkes i både kolde og varme klimaer og er god at parre med andre druer, hvilket den derfor ofte bliver i stor grad verden over. Cabernet Sauvignon parres ofte med andre kendte druer som Merlot, Cabernet Franc, Malbec, Petit Verdot, Carmenere, Shiraz og Tempranillo. Uanset parring af druesort eller hvor den er dyrket, vil en god Cabernet Sauvignon smage himmelsk.</p>
<p style="text-align: center;"><strong><em>Vidste du?</em></strong></p>
<p style="text-align: center;"><em>Cabernet Sauvignons oprindelse var ukendt helt indtil 1996. Her blev det via en DNA-test opdaget, at druen var en krydsning mellem Cabernet Franc og Sauvignon Blanc, der første gang blev lavet engang i 1600-tallet. Det gør den til en af de yngste druesorter i verden.</em></p>
<h2><strong>Find Cabernet Sauvignon vine hos din nærmeste SuperBrugsen</strong></h2>
<p>Cabernet Sauvignon er den perfekte ledsager til de fleste køkkener verden over. Så uanset om du skal invitere gæster på italiensk pasta eller amerikanske steaks, vil en Cabernet Sauvignon komplimentere maden på allerfineste vis.</p>
<p>Hos SuperBrugsen har vi et bredt udvalg af Cabernet Sauvignon rødvine i alle vores forretning i flere forskellige prisklasser.</p>]]></text>
  <thumbnail><![CDATA[umb://media/334132b3797e4340af38c2b3ba0633b2]]></thumbnail>
  <umbracoUrlName></umbracoUrlName>
  <useImageAsTopImage>1</useImageAsTopImage>
</news>