<?xml version="1.0" encoding="utf-8"?>
<Image guid="aebef69a-f72a-4485-b8c6-a09c09d5454d" id="3198" nodeName="21315 DEC20" isDoc="" updated="2022-02-14T11.55.30.9200000Z" parentGUID="dad65e2a-034b-4acc-ac60-ec07ef747a53" nodeTypeAlias="Image" path="-1,1581,1895,3197,3198">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[4841189]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2305/21315_dec20.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[2333]]></umbracoHeight>
  <umbracoWidth><![CDATA[3500]]></umbracoWidth>
</Image>