<?xml version="1.0" encoding="utf-8"?>
<newsList guid="ca266d9d-2399-4555-8be4-599216b6305e" id="1502" nodeName="Artikler" isDoc="" updated="2020-05-05T12.46.43.1000000Z" parentGUID="6af62f8e-3fe9-4d43-99ef-739f5bbbaab7" nodeTypeAlias="newsList" templateAlias="Baseline_NewsList" sortOrder="0" published="false" isBlueprint="false">
  <bodyEndHtml></bodyEndHtml>
  <bodyScript></bodyScript>
  <contentType></contentType>
  <digiSegment></digiSegment>
  <headHtml></headHtml>
  <headScript></headScript>
  <hideFooter>0</hideFooter>
  <hideFromSitemap>0</hideFromSitemap>
  <hideTop>0</hideTop>
  <metaCanonicalUrl></metaCanonicalUrl>
  <metaDescription><![CDATA[Vi har hele tiden gang i noget nyt i SuperBrugsen - Fantastiske nyheder, som vi meget gerne vil dele med dig! Læs alle vores nyheder her!]]></metaDescription>
  <metaNoFollow>0</metaNoFollow>
  <metaNoIndex>0</metaNoIndex>
  <metaTitle><![CDATA[Nyheder – Se nyheder fra SuperBrugsen – Læs her]]></metaTitle>
  <nonResponsive></nonResponsive>
  <ogImage></ogImage>
  <relations></relations>
  <ribbonsAboveSoMe></ribbonsAboveSoMe>
  <ribbonsBelowSoMe></ribbonsBelowSoMe>
  <specialFaviconSmall></specialFaviconSmall>
  <specialFaviconStandard></specialFaviconStandard>
  <umbracoUrlName></umbracoUrlName>
</newsList>