<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Catalog picker (Multiple)" Key="dc1571df-b799-4208-a643-9fb9f642bb26" Id="Umbraco.MultiNodeTreePicker2" DatabaseType="Ntext" Folder="Baseline/Content+pickers">
  <PreValues>
    <PreValue SortOrder="1" Alias="filter"><![CDATA[catalog,incitoCatalog]]></PreValue>
    <PreValue SortOrder="2" Alias="maxNumber"><![CDATA[]]></PreValue>
    <PreValue SortOrder="3" Alias="minNumber"><![CDATA[]]></PreValue>
    <PreValue SortOrder="4" Alias="showOpenButton"><![CDATA[0]]></PreValue>
    <PreValue SortOrder="5" Alias="startNode"><![CDATA[{
  "type": "content",
  "query": "$current/ancestor-or-self::site"
}]]></PreValue>
  </PreValues>
</DataType>