<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>f2c0ad4b-faf4-4c4a-ac37-d8ac1a4edb47</Key>
    <Name>Nyhedsliste</Name>
    <Alias>newsList</Alias>
    <Icon>icon-rss color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Folder>Baseline/Pages</Folder>
    <Compositions>
      <Composition Key="a7d91edb-313c-4927-9176-1b5eeabaf8a7">compositionPageSettings</Composition>
      <Composition Key="d3739ce6-78e5-4c43-8c5d-ae785127ef94">compositionSEO</Composition>
      <Composition Key="dd691711-7ec4-4595-9e8e-f5d87d29cb29">compositionRelations</Composition>
    </Compositions>
    <DefaultTemplate>Baseline_NewsList</DefaultTemplate>
    <AllowedTemplates>
      <Template>Baseline_NewsList</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <DocumentType Key="328fe17b-80ba-41aa-93ee-cae98f33368c">news</DocumentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>554513b9-f64e-4a2f-9508-cca4283d26af</Key>
      <Name>Ribbons</Name>
      <Alias>ribbonsAboveSoMe</Alias>
      <Definition>e1eaeb39-37aa-4812-b613-a14ac3c3efa1</Definition>
      <Type>Our.Umbraco.StackedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Indhold over SoMe</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>6672821a-3986-4af8-86de-833c10c58e0e</Key>
      <Name>Ribbons</Name>
      <Alias>ribbonsBelowSoMe</Alias>
      <Definition>e1eaeb39-37aa-4812-b613-a14ac3c3efa1</Definition>
      <Type>Our.Umbraco.StackedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Indhold under SoMe</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Indhold over SoMe</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Indhold under SoMe</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>