<?xml version="1.0" encoding="utf-8"?>
<Image guid="a1299027-20b6-41df-b023-09dae7fca55b" id="3173" nodeName="1351 Coop Corona Slider Banners 2000X500 Coop V1 (1)" isDoc="" updated="2021-12-23T14.22.23.7670000Z" parentGUID="179756ef-cf39-4ef7-8450-020198946840" nodeTypeAlias="Image" path="-1,1706,2221,3173">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[335252]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2284/1351_coop_corona_slider-banners_2000x500_coop_v1.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[500]]></umbracoHeight>
  <umbracoWidth><![CDATA[2000]]></umbracoWidth>
</Image>