<?xml version="1.0" encoding="utf-8"?>
<news guid="dab7b75a-7c3e-4110-9c5f-92002a8b0724" id="1512" nodeName="Vi kan alle sammen tåle lidt røg" isDoc="" updated="2020-01-22T11.55.12.6600000Z" parentGUID="fd7f84c4-b6d6-4098-8dcd-94f3c66bc4b4" nodeTypeAlias="news" templateAlias="Baseline_News" sortOrder="3" published="true" isBlueprint="false">
  <bodyEndHtml></bodyEndHtml>
  <bodyScript></bodyScript>
  <contentType></contentType>
  <date>2015-05-28T00:00:00</date>
  <digiSegment></digiSegment>
  <headHtml></headHtml>
  <headline><![CDATA[Vi kan alle sammen tåle lidt røg]]></headline>
  <headScript></headScript>
  <hideFooter>0</hideFooter>
  <hideFromSitemap>0</hideFromSitemap>
  <hideTop>0</hideTop>
  <metaCanonicalUrl></metaCanonicalUrl>
  <metaDescription><![CDATA[Hjemmerøgede lækkerier smager skønt, og det er meget lettere end du tror. Læs vores introduktion til røgning og prøv selv på terrassen. Læs mere her.]]></metaDescription>
  <metaNoFollow>0</metaNoFollow>
  <metaNoIndex>0</metaNoIndex>
  <metaTitle><![CDATA[Røgning – Kold– og varmrøgning, hvad er forskellen? – Se her]]></metaTitle>
  <nonResponsive></nonResponsive>
  <ogImage></ogImage>
  <relations></relations>
  <removeTextShadow>0</removeTextShadow>
  <specialFaviconSmall></specialFaviconSmall>
  <specialFaviconStandard></specialFaviconStandard>
  <subHeadline></subHeadline>
  <tags><![CDATA[["forberedelse","grill"]]]></tags>
  <text><![CDATA[<p><strong>En røgeovn er en fantastisk udvikling af din ”maskinpark” på terrassen. Hjemmerøget lækkerier er en delikatesse, og det er hverken kompliceret eller besværligt at have med at gøre. Til gengæld kan du fremtrylle retter, du normalt skal rejse langt for at sætte tænderne i. Her er en kort introduktion til røgning.</strong></p>
<p> </p>
<p>Røgning var i tidernes morgen en konserveringsmetode. Kød og fisk fik en tur over røg, så de kunne holde sig meget længere. Men i takt med at køleskabene vinder indpas i de danske hjem, bliver røgning mindre nødvendig som konservering. Det er dog stadig en væsentlig smagsgiver, og røgvarer er populære som aldrig før.</p>
<p> </p>
<p><strong>Varm eller koldrøgning</strong></p>
<p>Varmrøgning er den nemmeste og mest udbredte metode. Her røger du kød og fisk ved mellem 50 og 90 grader i relativt kort tid. Koldrøgning er straks mere kompliceret. Temperaturen skal her ligge på mellem 15 og 22 grader, og koldrøgningen kræver væsentligt længere tid – både halve og hele dage. Koldrøgning giver en mere kompleks smag end varmrøgning, og holdbarheden er længere, men selvom man ikke har mulighed for at investere i en ovn, der kan koldrøge, skal man ikke snyde sig selv for varmrøgningens glæder.</p>
<p> </p>
<p><strong>Hvad kan røges?</strong></p>
<p>Næsten alt kød og fisk kan røges. Røget laks og varmrøget laks er klassikere og den varmrøgede er et fantastisk aftenmåltid. Røget mørbrad og filet er kendt fra frokostbordet, men kan også sagtens løfte en salat op i røgskyerne. Og så er der naturligvis røget sild og røgeost, der smager vidunderligt og er sjove at lave selv.</p>
<p>Hvis du vil være lidt mere avanceret, kan de fleste skaldyr røges. Blåmuslinger, øster, hummer og jomfruhummer. Du kan salte og røge din egen bacon eller spidsbryst eller hjemmelavede pølser. Det er en stor og spændende verden, når først du kommer i gang.</p>]]></text>
  <thumbnail><![CDATA[umb://media/6d334fb0d62d4f79a1a05c306b659376]]></thumbnail>
  <umbracoUrlName></umbracoUrlName>
  <useImageAsTopImage>1</useImageAsTopImage>
</news>