<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Wine review icon dropdown" Key="67085a3b-62d3-423f-89ae-49fdab7629f6" Id="Umbraco.DropDown.Flexible" DatabaseType="Nvarchar" Folder="Baseline/Products">
  <PreValues>
    <PreValue SortOrder="1" Alias="0"><![CDATA[Stjerner]]></PreValue>
    <PreValue SortOrder="2" Alias="1"><![CDATA[Vinglas]]></PreValue>
    <PreValue SortOrder="3" Alias="multiple"><![CDATA[0]]></PreValue>
  </PreValues>
</DataType>