<?xml version="1.0" encoding="utf-8"?>
<Image guid="c317e55b-f365-44bb-aa3d-830751326e69" id="2418" nodeName="Majs på grill - SuperBrugsen 2.png" isDoc="" updated="2020-06-26T10.03.14.7900000Z" parentGUID="093ee0b0-316c-4b03-9d9c-734fa8078d89" nodeTypeAlias="Image" path="-1,1530,1546,1547,2418">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[110154]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1713/majs-paa-grill-superbrugsen-2.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[435]]></umbracoHeight>
  <umbracoWidth><![CDATA[555]]></umbracoWidth>
</Image>