<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>afaec599-e540-4406-918e-571572110ab5</Key>
    <Name>Tabel bånd</Name>
    <Alias>ribbonTable</Alias>
    <Icon>icon-thumbnails-small color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Folder>Baseline/Ribbons</Folder>
    <Compositions>
      <Composition Key="0a480072-8385-43fb-8d87-6dadd929858d">compositionRibbon</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>6143c3ea-4488-4d8d-8440-31736438cbae</Key>
      <Name>Overskrift kolonne 1</Name>
      <Alias>columnHeader1</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Tabel</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>b5688b53-d60b-4dc6-897e-362b164f9454</Key>
      <Name>Overskrift kolonne 2</Name>
      <Alias>columnHeader2</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Tabel</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>bab7f1c7-0984-435a-9b94-c72908349395</Key>
      <Name>Overskrift kolonne 3</Name>
      <Alias>columnHeader3</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Tabel</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>9b65b47d-4b26-461c-9719-eb4f01099c7e</Key>
      <Name>Overskrift</Name>
      <Alias>headline</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Uses alternative text color if one is selected.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Indhold</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>27439393-3145-4701-936e-1df47934b8bf</Key>
      <Name>Rækker</Name>
      <Alias>rows</Alias>
      <Definition>d510c591-8fd2-45b4-8b60-ab00b8a6116d</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Tabel</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>3bad2919-9e4e-4e82-9960-d5c75e5e8b09</Key>
      <Name>Styles</Name>
      <Alias>styles</Alias>
      <Definition>1e8f28e0-4386-4368-ae4d-d5a55389ef59</Definition>
      <Type>Our.Umbraco.StackedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Styles</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>7203002e-f93f-47ce-a463-74ba32d5d9bd</Key>
      <Name>Vis tabel på venstre side</Name>
      <Alias>tableLeft</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Slået fra vil vise tabel på højre side. Slået til vil vise tabel på venstre side]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Tabel</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>85b78c9f-40f9-43d2-9cde-c3db22365319</Key>
      <Name>Tekst</Name>
      <Alias>text</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCEv3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Indhold</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>9746794d-df8f-4b1b-b464-fd7c08b1c636</Key>
      <Name>Hvid baggrund på tekst</Name>
      <Alias>whiteBackgroundOnText</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Indhold</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Indhold</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Tabel</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Caption>Styles</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>