<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Checkbox (default true)" Key="749c6aee-80a4-4d67-9953-8295275f8c4c" Id="Umbraco.TrueFalse" DatabaseType="Integer">
  <PreValues>
    <PreValue SortOrder="1" Alias="default"><![CDATA[1]]></PreValue>
    <PreValue SortOrder="2" Alias="labelOn"><![CDATA[]]></PreValue>
  </PreValues>
</DataType>