<?xml version="1.0" encoding="utf-8"?>
<File guid="49a83c01-c95c-41c5-b224-c68c3f5fa6b9" id="3115" nodeName="36289 MC Julefrokost Bestillings Sedler 2021 105X297" isDoc="" updated="2021-10-06T14.37.24.9100000Z" parentGUID="e960afc4-01ff-45ae-8e28-a931f0686067" nodeTypeAlias="File" path="-1,1581,1895,3114,3115">
  <relations></relations>
  <umbracoBytes><![CDATA[1266575]]></umbracoBytes>
  <umbracoExtension><![CDATA[pdf]]></umbracoExtension>
  <umbracoFile><![CDATA[/media/2241/36289_mc_julefrokost_bestillings_sedler_2021_105x297.pdf]]></umbracoFile>
</File>