<?xml version="1.0" encoding="utf-8"?>
<Image guid="00ec3933-327e-4059-b9d5-cce6bb17958f" id="3482" nodeName="37754 Taktisk Support Topbanner 600X400 Uge31 01" isDoc="" updated="2022-08-01T07.10.04.3670000Z" parentGUID="31e6d652-25b1-4587-9ebc-dec85f01580e" nodeTypeAlias="Image" path="-1,1706,3378,3482">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[47806]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2523/37754_taktisk-support_topbanner_600x400_uge31_01.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[400]]></umbracoHeight>
  <umbracoWidth><![CDATA[600]]></umbracoWidth>
</Image>