<?xml version="1.0" encoding="utf-8"?>
<Image guid="ea27e46c-f7cb-41df-90eb-84bf0b5f7d1e" id="2754" nodeName="photo-1569231993169-fe176108ac96.jpg" isDoc="" updated="2020-12-15T14.50.24.2300000Z" parentGUID="fc3978b1-62a5-43fd-9707-71a7e875901d" nodeTypeAlias="Image" path="-1,1530,1556,1557,2751,2754">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[106076]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1942/photo-1569231993169-fe176108ac96.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[900]]></umbracoHeight>
  <umbracoWidth><![CDATA[1350]]></umbracoWidth>
</Image>