<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>268f74fc-e52a-4026-86ec-9d78558cfb38</Key>
    <Name>Stregkode scanner bånd</Name>
    <Alias>ribbonBarcodeScanner</Alias>
    <Icon>icon-barcode color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Folder>Baseline/Ribbons</Folder>
    <Compositions>
      <Composition Key="0a480072-8385-43fb-8d87-6dadd929858d">compositionRibbon</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>ed8c01c1-0dc7-432b-a90f-c926f4682c0f</Key>
      <Name>Ingen stregkode på billedet</Name>
      <Alias>noBarcodeText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Teksten bliver vist hvis der ikke er fundet nogen stregkode på det billede, som man benytter. Er synlig på både desktop og mobil.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>c364e7a4-712e-45c0-b69a-132868484f40</Key>
      <Name>Ingen node tekst</Name>
      <Alias>noNodeText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Teksten bliver vis der bliver fundet en stregkode, men den ikke er associeret med en node i Umbraco. Er synlig på både desktop og mobil.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>383e32cb-7420-4bee-ab69-81c370e7fe24</Key>
      <Name>Scanner knap tekst</Name>
      <Alias>scannerBtnText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Er kun synlig på mobil]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Mobil tekster</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>5136b031-1ec1-4323-bba6-9e8ddedce270</Key>
      <Name>Billed</Name>
      <Alias>scannerDesktopImage</Alias>
      <Definition>99a0a525-f032-4a87-9a40-5a5b1389d07b</Definition>
      <Type>Our.Umbraco.StackedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Billedet bliver vist i venstre side]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Desktop tekster</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>af78ffb9-6dc2-4442-b878-83a605172478</Key>
      <Name>Text</Name>
      <Alias>scannerDesktopText</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCEv3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Desktop tekster</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>e8bd8b29-4695-4230-b619-332229f87b14</Key>
      <Name>Scanner text</Name>
      <Alias>scannerText</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCEv3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Er kun synlig på mobil]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Mobil tekster</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>c5c53922-1d56-455c-809f-a7b3374be7fc</Key>
      <Name>Søg i følgende dokumenttyper</Name>
      <Alias>searchDocumentTypes</Alias>
      <Definition>cce42e69-9278-4319-9763-3dafbbf5524c</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>b37d316d-030d-4140-b0dc-aead0104cec1</Key>
      <Name>Søgning igang tekst</Name>
      <Alias>searchingText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Teksten bliver vist imens scanneren leder efter et produkt Er synlig på både desktop og mobil.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>42370a57-d9e6-421d-bd6b-ecf8632affea</Key>
      <Name>Se resultat tekst</Name>
      <Alias>seeResultText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Beskden, der bliver præsenteret for brugeren, når der er et resultat. Både på desktop og mobil.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>6d449caf-943f-4737-ab1a-6adb30e029e5</Key>
      <Name>Styles</Name>
      <Alias>styles</Alias>
      <Definition>435bbf23-367e-4cab-af3a-3af72a37d8e8</Definition>
      <Type>Our.Umbraco.StackedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Styles</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>7875aab6-382c-4e4d-a418-220f6b0aa63c</Key>
      <Name>Styles venstre</Name>
      <Alias>stylesLeft</Alias>
      <Definition>564ed1e3-3e9c-46a1-814b-07eac7518033</Definition>
      <Type>Our.Umbraco.StackedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Styles</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>e4f4fb93-4c17-4a64-beed-0f8f9974db9d</Key>
      <Name>Styles højre</Name>
      <Alias>stylesRight</Alias>
      <Definition>564ed1e3-3e9c-46a1-814b-07eac7518033</Definition>
      <Type>Our.Umbraco.StackedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Styles</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Mobil tekster</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Caption>Desktop tekster</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Caption>Styles</Caption>
      <SortOrder>3</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>