<?xml version="1.0" encoding="utf-8"?>
<specialCatalog guid="e2ffcd9d-0e68-40f2-8d70-990763544e19" id="3693" nodeName="Forårets fester PDF" isDoc="" updated="2023-04-13T05.31.21.2500000Z" parentGUID="fbc033a4-dca8-4477-91ae-086e23b01147" nodeTypeAlias="specialCatalog" templateAlias="Baseline_SpecialCatalog" sortOrder="7" published="true" isBlueprint="false">
  <bodyScript></bodyScript>
  <catalogType><![CDATA[PDF]]></catalogType>
  <contentType></contentType>
  <digiSegment></digiSegment>
  <errorMessage><![CDATA[<p>Der er desværre sket en fejl. Prøv igen senere.</p>]]></errorMessage>
  <expiredCatalog></expiredCatalog>
  <headline><![CDATA[Forårets fester]]></headline>
  <headScript></headScript>
  <hideFromSitemap>0</hideFromSitemap>
  <metaCanonicalUrl></metaCanonicalUrl>
  <metaDescription></metaDescription>
  <metaNoFollow>0</metaNoFollow>
  <metaNoIndex>0</metaNoIndex>
  <metaTitle></metaTitle>
  <ogImage></ogImage>
  <showShoppingListWidget>0</showShoppingListWidget>
  <tjekId><![CDATA[07NC9bXk]]></tjekId>
  <umbracoUrlName></umbracoUrlName>
</specialCatalog>