<?xml version="1.0" encoding="utf-8"?>
<Image guid="8d93ce7e-87b4-44d9-afa5-9451b2a8ddcf" id="1899" nodeName="33174_website_370x442_Ol_appetizer.jpg" isDoc="" updated="2019-10-31T14.58.20.9830000Z" parentGUID="ed9b11fa-e32f-4d6b-b3e3-5f7c05723683" nodeTypeAlias="Image" path="-1,1581,1895,1896,1899">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[108175]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1298/33174_website_370x442_ol_appetizer.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[442]]></umbracoHeight>
  <umbracoWidth><![CDATA[370]]></umbracoWidth>
</Image>