<?xml version="1.0" encoding="utf-8"?>
<Image guid="581a4285-e940-4f9b-a89f-745d58edbcd7" id="3271" nodeName="Pølser" isDoc="" updated="2022-03-01T11.38.44.3130000Z" parentGUID="c1a100a8-5bf0-4d16-b9c2-670cac727a9f" nodeTypeAlias="Image" path="-1,3218,3271">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[17507]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2370/poelser.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[527]]></umbracoHeight>
  <umbracoWidth><![CDATA[851]]></umbracoWidth>
</Image>