<?xml version="1.0" encoding="utf-8"?>
<Image guid="586e5f40-7f7e-4f19-94fd-7aebd46a2704" id="3553" nodeName="Jul2022 Kædesitesbanner 2000X500px V2" isDoc="" updated="2022-10-14T08.04.02.3100000Z" parentGUID="631902dc-a303-44a8-a0f8-a758c52eb53b" nodeTypeAlias="Image" path="-1,1706,2643,3553">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[1613321]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2581/jul2022_kaedesitesbanner_2000x500px_v2.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[2083]]></umbracoHeight>
  <umbracoWidth><![CDATA[8333]]></umbracoWidth>
</Image>