<?xml version="1.0" encoding="utf-8"?>
<Image guid="0d0e807b-21fb-4720-9666-4e5c4a1dcb07" id="3679" nodeName="BK Fødselsdag Header Grafik 2 2000X500px" isDoc="" updated="2023-03-20T12.14.26.9930000Z" parentGUID="d0ee4845-6de3-46fe-b48d-a11fa9ec19ab" nodeTypeAlias="Image" path="-1,3675,3679">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[246822]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2688/bk_foedselsdag_header-grafik-2-2000x500px.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[500]]></umbracoHeight>
  <umbracoWidth><![CDATA[2000]]></umbracoWidth>
</Image>