<?xml version="1.0" encoding="utf-8"?>
<Image guid="9a37b849-3c56-4f98-9cab-5c57c9aecbe7" id="3357" nodeName="Johanne Kohlmetz" isDoc="" updated="2022-04-13T10.42.47.6470000Z" parentGUID="76c3b5c3-1e91-4b95-80be-e3218b8b3a1e" nodeTypeAlias="Image" path="-1,3327,3357">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[326185]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2440/johanne_kohlmetz.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[450]]></umbracoHeight>
  <umbracoWidth><![CDATA[450]]></umbracoWidth>
</Image>