<?xml version="1.0" encoding="utf-8"?>
<File guid="91e21d34-2514-462e-a61b-524095d9bdb1" id="3630" nodeName="WORD 25 Januar" isDoc="" updated="2023-01-26T08.22.24.1900000Z" parentGUID="9b740928-1dc4-4a27-991f-0da1bc1c1389" nodeTypeAlias="File" path="-1,3469,3593,3630">
  <relations></relations>
  <umbracoBytes><![CDATA[232890]]></umbracoBytes>
  <umbracoExtension><![CDATA[pdf]]></umbracoExtension>
  <umbracoFile><![CDATA[/media/2644/word-25-januar.pdf]]></umbracoFile>
</File>