<?xml version="1.0" encoding="utf-8"?>
<page guid="aaec56b6-211c-4f00-98b0-29bd772d4b63" id="2265" nodeName="Smskampagne" isDoc="" updated="2023-04-13T05.36.26.1170000Z" parentGUID="fbc033a4-dca8-4477-91ae-086e23b01147" nodeTypeAlias="page" templateAlias="Baseline_Page" sortOrder="22" published="true" isBlueprint="false">
  <bodyEndHtml></bodyEndHtml>
  <bodyScript></bodyScript>
  <contentType></contentType>
  <digiSegment></digiSegment>
  <extraSearchWord><![CDATA[[]]]></extraSearchWord>
  <fastTripDisable>0</fastTripDisable>
  <headHtml></headHtml>
  <headScript></headScript>
  <hideFooter>0</hideFooter>
  <hideFromSitemap>0</hideFromSitemap>
  <hideTop>0</hideTop>
  <metaCanonicalUrl></metaCanonicalUrl>
  <metaDescription></metaDescription>
  <metaNoFollow>0</metaNoFollow>
  <metaNoIndex>0</metaNoIndex>
  <metaTitle></metaTitle>
  <nonResponsive>0</nonResponsive>
  <ogImage></ogImage>
  <pageTags><![CDATA[[]]]></pageTags>
  <priceSplashStyles></priceSplashStyles>
  <relations></relations>
  <ribbons><![CDATA[[{"key":"b58cc737-6376-4e7a-9bce-c500b23a7723","name":"Quick coop sms","icon":"icon-chat-active color-black","icContentTypeGuid":"09a733ed-33ad-492d-a781-98e95d36a6f8","styles":null,"settingsName":"","hideRibbon":"","loginVisibility":"","showFrom":"","showTo":"","borderOnRibbon":"","logoFrame":"","logoFrameWidth":"","logoFrameTop":"0","logoFrameBtn":"[]"}]]]></ribbons>
  <rules></rules>
  <specialFaviconSmall></specialFaviconSmall>
  <specialFaviconStandard></specialFaviconStandard>
  <umbracoUrlName></umbracoUrlName>
</page>