<?xml version="1.0" encoding="utf-8"?>
<Image guid="ba81c5e9-0118-4e20-a38a-1b21aead1787" id="3415" nodeName="400401571 Plastik Kaedewebsites 600X400" isDoc="" updated="2022-06-15T10.48.19.4830000Z" parentGUID="f988736b-cdc5-4d6e-9869-7db6fd10557e" nodeTypeAlias="Image" path="-1,1706,2908,3415">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[88031]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2481/400401571_plastik_kaedewebsites_600x400.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[400]]></umbracoHeight>
  <umbracoWidth><![CDATA[600]]></umbracoWidth>
</Image>