<?xml version="1.0" encoding="utf-8"?>
<Image guid="db03c890-e975-41d9-90a9-1d7709bb2ecb" id="3463" nodeName="37754 Taktisk Support Topbanner 2000X500 Uge29 03" isDoc="" updated="2022-07-01T11.20.01.1730000Z" parentGUID="0382315a-933c-4265-a806-799cefa1e13e" nodeTypeAlias="Image" path="-1,1706,3316,3463">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[142608]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2506/37754_taktisk-support_topbanner_2000x500_uge29_03.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[500]]></umbracoHeight>
  <umbracoWidth><![CDATA[2000]]></umbracoWidth>
</Image>