<?xml version="1.0" encoding="utf-8"?>
<Image guid="ee9db5ea-d94c-4585-9bd9-e6e52b5c2af9" id="1776" nodeName="broedblanding_oeland.png" isDoc="" updated="2019-10-21T06.38.59.2670000Z" parentGUID="db765d52-2555-4e74-9b56-38f2a6e86c48" nodeTypeAlias="Image" path="-1,1530,1531,1544,1776">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[198913]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1141/broedblanding_oeland.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[490]]></umbracoHeight>
  <umbracoWidth><![CDATA[490]]></umbracoWidth>
</Image>