<?xml version="1.0" encoding="utf-8"?>
<Image guid="5a20081f-6305-4d23-a872-2bf28b7c186a" id="3311" nodeName="Påskeskrab Slider 2000X500 Åbningstider" isDoc="" updated="2022-03-30T14.45.21.3830000Z" parentGUID="97410456-754a-4bde-8a21-1463f7bd8c6f" nodeTypeAlias="Image" path="-1,1706,3306,3311">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[277219]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2404/paaskeskrab_slider_2000x500_aabningstider.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[500]]></umbracoHeight>
  <umbracoWidth><![CDATA[2000]]></umbracoWidth>
</Image>