<?xml version="1.0" encoding="utf-8"?>
<Folder guid="b3dfaca4-de04-4cfa-8ff5-79b1daa454fd" id="1725" nodeName="Guldbryllup" isDoc="" updated="2019-10-21T06.38.54.2030000Z" parentGUID="42c20084-7859-4e8d-a2bc-9dc811fd2163" nodeTypeAlias="Folder" path="-1,1539,1563,1725">
  <contents></contents>
</Folder>