<?xml version="1.0" encoding="utf-8"?>
<Image guid="f84a3e62-3c52-4910-93aa-3ad3026bf367" id="1789" nodeName="am_4.png" isDoc="" updated="2019-10-21T06.39.00.6800000Z" parentGUID="2957c4ea-7600-4c2e-a3e2-dbe0843da4a2" nodeTypeAlias="Image" path="-1,1530,1531,1571,1789">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[35039]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1132/am_4.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[200]]></umbracoHeight>
  <umbracoWidth><![CDATA[400]]></umbracoWidth>
</Image>