<?xml version="1.0" encoding="utf-8"?>
<Image guid="6eabdfd9-d7de-4fde-ae8b-7fe4f8b68655" id="3631" nodeName="Uge 4 600X400 Topbanner Opskrifter" isDoc="" updated="2023-01-26T11.36.19.0830000Z" parentGUID="c95a91e2-b4d9-4cb5-a112-a88692e40d77" nodeTypeAlias="Image" path="-1,1706,3607,3631">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[1326952]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2645/uge_4_600x400_topbanner_opskrifter.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[1667]]></umbracoHeight>
  <umbracoWidth><![CDATA[2500]]></umbracoWidth>
</Image>