<?xml version="1.0" encoding="utf-8"?>
<news guid="a5e78e2d-8e79-46cf-9a3b-f8cdd332a8e3" id="2765" nodeName="Dansk vin" isDoc="" updated="2022-05-17T09.46.03.2330000Z" parentGUID="c5256333-c19e-4cb7-bb55-30517f2f80a5" nodeTypeAlias="news" templateAlias="Baseline_News" sortOrder="27" published="true" isBlueprint="false">
  <bodyEndHtml></bodyEndHtml>
  <bodyScript></bodyScript>
  <contentType></contentType>
  <date>2020-12-15T00:00:00</date>
  <digiSegment></digiSegment>
  <headHtml></headHtml>
  <headline><![CDATA[Dansk vin]]></headline>
  <headScript></headScript>
  <hideFooter>0</hideFooter>
  <hideFromSitemap>0</hideFromSitemap>
  <hideTop>0</hideTop>
  <metaCanonicalUrl></metaCanonicalUrl>
  <metaDescription><![CDATA[Vidste du, at der findes dansk produceret vin? I Danmark finder du landet over kvalitetsbevidst dansk vin, og nogle steder endda danskproduceret vin, der har vundet international anerkendelse.
Næste gang du skal handle vin, bør du måske udskifte den klassiske Bourgogne eller Cabernet Sauvignon med en god dansk vin.]]></metaDescription>
  <metaNoFollow>0</metaNoFollow>
  <metaNoIndex>0</metaNoIndex>
  <metaTitle><![CDATA[Dansk vin hos SuperBrugsen]]></metaTitle>
  <nonResponsive>0</nonResponsive>
  <ogImage></ogImage>
  <relations></relations>
  <removeTextShadow>0</removeTextShadow>
  <specialFaviconSmall></specialFaviconSmall>
  <specialFaviconStandard></specialFaviconStandard>
  <subHeadline></subHeadline>
  <tags><![CDATA[["dansk vin","vin"]]]></tags>
  <text><![CDATA[<p>Vidste du, at der findes dansk produceret vin? I Danmark finder du landet over kvalitetsbevidst dansk vin, og nogle steder endda danskproduceret vin, der har vundet international anerkendelse.</p>
<p>Næste gang du skal handle vin, bør du måske udskifte den klassiske Bourgogne eller Cabernet Sauvignon med en god dansk vin.</p>
<p><img style="width: 200.28591851322375px; height: 300px;" src="/media/1946/photo-1544804066-ff04a3f1ab8b.jpg?width=200.28591851322375&amp;height=300" alt="Dansk vin" data-udi="umb://media/6708ec16a1364f9bb1a881f07986cc28" /></p>
<h2><strong>Dansk vinproduktion</strong></h2>
<p>De bedste vine produceres som regel i bakkede landskaber og varme klimaer, og det må vi desværre erkende, at det ikke er signalementet på Danmark. Med alle odds imod sig har flere danske vingårde dog formået at producere kvalitetsbevidst dansk vin.</p>
<p>Dansk vinproduktion har kun været tilladt siden år 2000, og i 2006 blev Danmark officielt godkendt af EU som geografisk vinområde. Sidenhen har dansk vin modtaget anerkendelse fra EU, der i 2018 tildelte Danmark sit første officielle vinområde, en såkaldt appellation, der svarer til den franske AOC eller den italienske DOC. Vinområdet går under navnet DONS, som du finder nær Kolding Fjord.</p>
<p>I dag finder du dansk vinproduktion i hele landet; på Sjælland, Fyn, i Jylland og endda også på Bornholm. Her bliver der fremstillet dansk rødvin, hvidvin, rosevin og sågar dansk mousserende vin.</p>
<h2><strong>Oplev dansk vin på egen hånd</strong></h2>
<p>Vil du gerne have fornøjelsen af at smage på dansk vin? Så få en autentisk oplevelse og besøg en af Danmarks mange vingårde.</p>
<p>I Danmark eksisterer der over 1.000 danske vinavlere og -producenter. Flere danske vingårde har i dag åbnet op for, at man som privatperson kan besøge vingårde og -producenter for at få et indblik i vinproduktionens verden. Her kan du både tage familie, venner og kollegaer med ud på rundvisning og få smagsprøver på dansk vin.</p>
<p><img style="width: 300px; height: 200px;" src="/media/1948/photo-1562601579-599dec564e06.jpg?width=300&amp;height=200" alt="Dansk vinproduktion" data-udi="umb://media/801bccd1b32b48a785a6959dabbc9a05" /></p>
<h2><strong>Køb af dansk vin</strong></h2>
<p>Hvis du besøger en af Danmarks mange vingårde, har du oftest mulighed for at købe dansk vin og andre specialiteter i deres gårdbutik. Har du ikke mulighed for at besøge en dansk vinproducent, har de fleste danske vinavlere i dag en webshop, hvor det er muligt at købe deres vin online som privatperson.</p>
<h2><strong>Dansk rødvin</strong></h2>
<p>I Danmark produceres der også en lang række af fantastiske rødvine. De danske rødvine er ofte meget frugtige med smagsnoter af mørke bær, vanilje og lakrids med en blød og behagelig eftersmag.</p>
<p>Uanset om du er til lette eller fyldige vine, kan du finde en god dansk rødvin efter din smag. Dansk vinproduktion fremstiller både kraftige, fyldige danske rødvine, der vil være fantastisk til kødretter. Er du til de lavere alkoholprocenter, kan du i stedet prøve en let og elegant dansk rødvin.</p>
<p>Dansk rødvin kan som hovedregel ikke gemmes i flere årtier, som vi kender det fra andre rødvine. En drikkeklar dansk rødvin kan dog med fordel gemmes i 2-5 år, hvis du sørger for at opbevare den korrekt.</p>
<p><img style="width: 200.14285714285714px; height: 300px;" src="/media/1947/photo-1553361371-9b22f78e8b1d.jpg?width=200.14285714285714&amp;height=300" alt="Dansk rødvin" data-udi="umb://media/748d97a578824de8a4d47304f0ce0199" /></p>
<h2><strong>Hvilken drue produceres dansk vin på?</strong></h2>
<p>Dansk vin produceres primært på druesorterne Cabernet Cortis og Cabernet Cantor. Herudover er der en lang række af blå og grønne druesorter, der er tilladt til dansk vinproduktion samt et par enkelte rosé druesorter.</p>
<p style="text-align: center;"><strong><em>Vidste du?</em></strong></p>
<p style="text-align: center;"><em>Selvom det ikke har været tilladt officielt at dyrke i vin i Danmark før år 2000, kan dansk vinproduktion spores helt tilbage til 1200-tallet. Man har bl.a. fundet spor af vinproduktion i Odense, Esrum Sorø og omkring Roskilde. Dengang var vinen dog forbeholdt munke, hoffet, adelen og velhavende købmænd.</em></p>
<h2><strong>Køb dansk vin hos din nærmeste SuperBrugsen</strong></h2>
<p>Dansk vin skal prøves – så enkelt er det. Med et køb af dansk vin får du en fantastisk og anderledes vinoplevelse, der ikke kan sættes ord på. Hos SuperBrugsen har vi et bredt udvalg af dansk vin i alle vores forretning – så kom og prøv den!</p>]]></text>
  <thumbnail><![CDATA[umb://media/801bccd1b32b48a785a6959dabbc9a05]]></thumbnail>
  <umbracoUrlName></umbracoUrlName>
  <useImageAsTopImage>1</useImageAsTopImage>
</news>