<?xml version="1.0" encoding="utf-8"?>
<Image guid="83269857-b624-4407-ae3e-e37f9e0c4a56" id="3140" nodeName="Landingpage Desktop 2000X500px" isDoc="" updated="2021-11-09T08.59.54.0030000Z" parentGUID="db76bae3-c11e-4f89-a564-1ae141dc86d4" nodeTypeAlias="Image" path="-1,1581,1895,3138,3140">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[407692]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2264/landingpage_desktop_2000x500px.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[500]]></umbracoHeight>
  <umbracoWidth><![CDATA[2000]]></umbracoWidth>
</Image>