<?xml version="1.0" encoding="utf-8"?>
<Image guid="80be3710-bb1d-458a-9374-9b6e4c7fc5a7" id="1676" nodeName="menutogo.png" isDoc="" updated="2019-10-21T06.38.49.0830000Z" parentGUID="d61af5d5-9dec-464d-8fc4-568d7f9f0d5b" nodeTypeAlias="Image" path="-1,1530,1548,1664,1676">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[22570]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1061/menutogo.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[180]]></umbracoHeight>
  <umbracoWidth><![CDATA[180]]></umbracoWidth>
</Image>