<?xml version="1.0" encoding="utf-8"?>
<Image guid="6f56fd72-d675-453e-ac16-4b83b6f466e1" id="1866" nodeName="scanbetal_topslider (1).png" isDoc="" updated="2019-10-21T17.23.13.3570000Z" parentGUID="b17777e1-aec5-4b8d-bceb-5605f99aa39d" nodeTypeAlias="Image" path="-1,1618,1722,1866">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[191651]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1270/scanbetal_topslider-1.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[175]]></umbracoHeight>
  <umbracoWidth><![CDATA[500]]></umbracoWidth>
</Image>