<?xml version="1.0" encoding="utf-8"?>
<Image guid="248a313c-d35f-4887-b74d-994d3b7b2314" id="1585" nodeName="vesterhaw2.gif" isDoc="" updated="2019-10-21T06.38.40.0370000Z" parentGUID="f5742892-5171-48e6-8919-1bf42e722e51" nodeTypeAlias="Image" path="-1,1530,1531,1584,1585">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[706402]]></umbracoBytes>
  <umbracoExtension><![CDATA[gif]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1014/vesterhaw2.gif", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[600]]></umbracoHeight>
  <umbracoWidth><![CDATA[1920]]></umbracoWidth>
</Image>