<?xml version="1.0" encoding="utf-8"?>
<news guid="9d40ad40-c7fb-4667-9d8c-aba516a0cb49" id="1465" nodeName="Jordbær – En sommerklassiker" isDoc="" updated="2020-01-22T12.21.45.6770000Z" parentGUID="2c2adacc-e3f0-4cd9-a6a5-842d1113ebf9" nodeTypeAlias="news" templateAlias="Baseline_News" sortOrder="6" published="true" isBlueprint="false">
  <bodyEndHtml></bodyEndHtml>
  <bodyScript></bodyScript>
  <contentType></contentType>
  <date>2018-04-09T00:00:00</date>
  <digiSegment></digiSegment>
  <headHtml></headHtml>
  <headline><![CDATA[Jordbær – En sommerklassiker]]></headline>
  <headScript></headScript>
  <hideFooter>0</hideFooter>
  <hideFromSitemap>0</hideFromSitemap>
  <hideTop>0</hideTop>
  <metaCanonicalUrl></metaCanonicalUrl>
  <metaDescription><![CDATA[Jordbær er en fantastisk sommerspise og er for mange indbegrebet af dansk sommer. Få tips og tricks til, hvordan du håndterer de danske jordbær her!]]></metaDescription>
  <metaNoFollow>0</metaNoFollow>
  <metaNoIndex>0</metaNoIndex>
  <metaTitle><![CDATA[Jordbær – Få gode råd & tips til brug af jordbær – Klik her]]></metaTitle>
  <nonResponsive></nonResponsive>
  <ogImage></ogImage>
  <relations></relations>
  <removeTextShadow>0</removeTextShadow>
  <specialFaviconSmall></specialFaviconSmall>
  <specialFaviconStandard></specialFaviconStandard>
  <subHeadline></subHeadline>
  <tags><![CDATA[["jordbær","Frugt og grønt"]]]></tags>
  <text><![CDATA[<p><strong>Jordbær er for mange indbegrebet af den danske sommer, og det er ikke uden grund. Den populære sommerfrugt er nemlig en lækker sund snack, som er svær at modstå i de varme sommermåneder, hvor solen står højest på himlen.</strong></p>
<p>På en lun sommerdag er jordbær derfor en helt særlig favorit at sætte tænderne i. Om det er direkte fra bakken eller med både mælk, fløde og sukker, så smager jordbær bare af sommer.</p>
<p>Du kan ovenikøbet spise den lækre sommerfrugt med god samvittighed. Jordbær er nemlig fyldt med sunde vitaminer og mineraler, som kroppen har brug for på daglig basis.</p>
<p>Der er altså mange gode grunde til at spise løs af det lille vidunder, når der er højsæson for de danske jordbær.</p>
<p> </p>
<h2>Er jordbær en nød?</h2>
<p>Der er mange diskussioner om, hvad et jordbær egentlig er. Er det et bær, en nød eller en frugt? De fleste tror fejlagtigt, at jordbær er et bær, men dér tager de fejl.</p>
<p>I den botaniske verden er der også stor uenighed om jordbærrets titel som en nød, da de små ”nødder” uden på jordbærret bliver betegnet som jordbærrenes frugter. De sidder på en såkaldt opsvulmet blomsterbund, der tilsammen udgør dét, vi kalder for et jordbær.</p>
<p>Ifølge den botaniske betegnelse skal jordbærret i virkeligheden omtales som en flerfoldssamfrugt, der har et højt indhold af C-vitaminer. Jordbær er også kendt som en ”falsk frugt”.</p>
<p>Hvad enten jordbær er et bær, en frugt eller nød, så passer jordbær perfekt som en sød og frisk sommerspise i den lune sommervarme.</p>
<h2>Jordbær – En ren vitaminbombe</h2>
<p>Jordbær smager ikke bare fantastisk - jordbær ER fantastiske, for de er fyldt med gode vitaminer og mineraler, som er gode for kroppens immunforsvar. Jordbær styrker bl.a. immunforsvaret grundet de mange C-vitaminer, som jordbær indeholder.</p>
<p>Desuden er jordbær også beskyttende for hjertet, da antioxidanterne i frugten virker anti-inflammatoriske. Jordbær beskytter derfor mod hjerte-kar sygdomme.</p>
<p>Der er desuden ganske få kalorier i jordbær, så det er svært at spise for mange af dem.</p>
<h3>Friske jordbær er gode for kroppen</h3>
<p>Det er godt for kroppen at få mellem 100 og 250 gram af de vitaminrige jordbær dagligt, hvilket svarer til ca. 2 dl.</p>
<p>Et dagligt indtag på 2 dl har nemlig vist sig at have en positiv indvirkning på kroppens sundhed, så du kan roligt kaste dig over de lækre, danske jordbær hver eneste dag i sæsonen med god samvittighed.</p>
<p>Det er bedst at spise jordbærrene friske og ubehandlede som en lækker snack eller til morgenmaden oven på din yoghurt eller skyr. Ved at spise jordbær friske og ubehandlede får du det maksimale udbytte af de sunde ”frugter”.  </p>
<h2>Tilberedning og opbevaring af jordbær</h2>
<p>Jordbær har en kort holdbarhed og smager bedst, når de er helt friske. De bør helst spises samme dag, hvor de er købt. Dog kan jordbær holde sig i op til et par dage i køleskabet, så hvis du gerne vil gemme lidt på de søde frugter, kan du sagtens lade dem stå i 2-3 dage på køl.</p>
<p> </p>
<p>Du bør altid skylle jordbær grundigt i koldt vand med blomsterne på, inden du spiser dem eller bruger dem i en ret. På den måde undgår du nemlig, at jordbærrene suger masser af vand til sig og bliver kedelige.</p>
<p> </p>
<p>Hvis du har jordbær i overskud, kan du sagtens fryse dem ned og gemme til senere brug. Du kan f.eks. bruge dem i en lækker smoothie til morgenmaden eller i en skøn, hjemmelavet jordbærmarmelade.</p>
<p> </p>
<p>Jordbær kræver ikke nogen tilberedning, inden de bruges i en lækker dessert. De smager nemlig fantastisk, som de er, uden nogen tilberedning.</p>
<p> </p>
<p>Hvis du alligevel vil eksperimentere med smagen af danske jordbær, kan du prøve at skære dem i skiver, dyppe lidt citron over dem, vende dem i flormelis og servere dem sammen med en lækker vaniljeis.</p>
<p> </p>
<h2>Gode desserter med danske jordbær</h2>
<p>Jordbær kan bruges til mange forskellige desserter og retter i det danske køkken - fra <a rel="noopener" href="https://opskrifter.coop.dk/opskrifter/jordbaersauce-for-voksne-til-sommerens-is-3466" target="_blank">jorbærsauce til sommerens is</a> og <a rel="noopener" href="https://opskrifter.coop.dk/opskrifter/icy-jordbaersmoothie-4850" target="_blank">jordbærsmoothies</a> til <a rel="noopener" href="https://opskrifter.coop.dk/opskrifter/kongelig-koldskaal-med-jordbaer-4865" target="_blank">kongelig koldskål med jordbær</a> til <a rel="noopener" href="https://opskrifter.coop.dk/opskrifter/jordbaer-flan-med-kokos-1451" target="_blank">jordbærflan med kokos</a>.</p>
<p> </p>
<p>Den karakteristiske, søde smag i jordbær egner sig nemlig perfekt til alt fra skønne <span><a rel="noopener" data-udi="umb://document/1a7cb8eb961542e1955c9290774d31e0" href="/{localLink:umb://document/1a7cb8eb961542e1955c9290774d31e0}" target="_blank" title="Kernedrys til salaten">salater</a></span> og <a rel="noopener" href="https://opskrifter.coop.dk/opskrifter/sproed-butterdej-med-jordbaer-og-floede-9978" target="_blank">kager</a> til <a rel="noopener" href="https://opskrifter.coop.dk/opskrifter/jordbaer-yoghurt-is-med-basilikum-8179" target="_blank">isdesserter</a> og <a rel="noopener" href="https://opskrifter.coop.dk/opskrifter/jordbaerchips-4838" target="_blank">jordbærchips</a> og meget andet lækkert.  </p>
<p>Prøv f.eks. at lave en lækker jordbærsalat med rucola og feta eller afslut en skøn sommermiddag med en <a rel="noopener" href="https://opskrifter.coop.dk/opskrifter/jordbaersorbet-7497" target="_blank">jordbærsorbet</a>, en klassisk jordbærtærte eller en lækker vaniljeis med jordbær ved siden af.</p>
<p>Jordbær fungerer også fantastisk som tilbehør til lækre pandekager med is.</p>
<p>Du kan også prøve en lækker jordbærgrød lavet på de søde, danske jordbær. Jordbærgrød egner sig godt som en lækker dessert på en lun sommeraften.</p>
<p>Slutteligt kan jordbær også bruges i mange forskellige, friske og festlige smoothies og cocktails med eller uden alkohol.</p>
<p> </p>
<h2>Hvornår er jordbær i sæson?</h2>
<p>De danske jordbær har en kort sæsonperiode, der strækker sig fra juni til juli måned. Når sæsonen slutter, er der derfor lang udsigt til næste års høst af de danske jordbær.</p>
<p>Sæsonperioden afhænger dog både af jordbærrets sort og af det danske sommervejr, der jo ofte lader vente lidt på sig. Dermed kan sæsonen rykke sig en smule, og du kan være heldig at finde lækre jordbær helt frem til august måned.</p>
<p> </p>
<h3>Jordbær på tilbud?</h3>
<p>Hold øje med vores <a rel="noopener" data-udi="umb://document/10791bf437c24c909899044e70ba55f4" href="/{localLink:umb://document/10791bf437c24c909899044e70ba55f4}" target="_blank" title="Tilbudsavis">tilbudsavis</a>, hvor du kan være heldig at finde fristende tilbud på de skønne, danske jordbær eller find <a rel="noopener" data-udi="umb://document/66ff6b1129f1438586b207f1bb6a524d" href="/{localLink:umb://document/66ff6b1129f1438586b207f1bb6a524d}" target="_blank" title="Find butik">lokale SuperBrugsen<span>-butik</span></a> og kom hjem med en bakke friske jordbær i dag! </p>]]></text>
  <thumbnail><![CDATA[umb://media/224a93255e304c0bb95f39352c0d63df]]></thumbnail>
  <umbracoUrlName></umbracoUrlName>
  <useImageAsTopImage>1</useImageAsTopImage>
</news>