<?xml version="1.0" encoding="utf-8"?>
<Image guid="965ba4c6-9cdc-45b2-9621-2031d76a3596" id="1694" nodeName="aebleskiver_original.jpeg" isDoc="" updated="2020-02-04T14.16.07.1700000Z" parentGUID="bd65e19e-7506-4b2f-9d6d-acf96309ba7a" nodeTypeAlias="Image" path="-1,1539,1575,1576,1694">
  <alt><![CDATA[julemenu med æbleskiver ]]></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[583788]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpeg]]></umbracoExtension>
  <umbracoFile><![CDATA[{
  "src": "/media/1107/aebleskiver_original.jpeg",
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  }
}]]></umbracoFile>
  <umbracoHeight><![CDATA[1920]]></umbracoHeight>
  <umbracoWidth><![CDATA[1920]]></umbracoWidth>
</Image>