<?xml version="1.0" encoding="utf-8"?>
<Image guid="250b6f01-90c8-4d4a-b9ff-651450b621e3" id="3346" nodeName="Påskeskrab Slider 2000X500 Udlevering (1)" isDoc="" updated="2022-04-08T13.13.34.4270000Z" parentGUID="97410456-754a-4bde-8a21-1463f7bd8c6f" nodeTypeAlias="Image" path="-1,1706,3306,3346">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[352759]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2430/paaskeskrab_slider_2000x500_udlevering.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[500]]></umbracoHeight>
  <umbracoWidth><![CDATA[2000]]></umbracoWidth>
</Image>