<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>9d3bc36d-5be0-4e4b-b9ad-4520601508ca</Key>
    <Name>Komposition - Nyhed</Name>
    <Alias>kompositionNyhed</Alias>
    <Icon>icon-exit-fullscreen color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Folder>Baseline/Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>581ad5da-d2b8-4669-ad45-9ef272c37a5e</Key>
      <Name>Dato</Name>
      <Alias>date</Alias>
      <Definition>5046194e-4237-453c-a547-15db3a07c4e1</Definition>
      <Type>Umbraco.Date</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Datoen der skal vises for artiklen]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Nyhed</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>253e45ce-299e-4d86-a4ff-8fcc456a36c0</Key>
      <Name>Overskrift</Name>
      <Alias>headline</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Indhold</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>62a4469a-d12a-47bb-880b-78449d66bf0c</Key>
      <Name>Underoverskrift</Name>
      <Alias>subHeadline</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Indhold</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>08f5efba-15a1-4b76-8287-92ce38755ac0</Key>
      <Name>Tags</Name>
      <Alias>tags</Alias>
      <Definition>b6b73142-b9c1-4bf8-a16d-e1c23320b549</Definition>
      <Type>Umbraco.Tags</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Temaer relevante for artiklen, i.e. "økologi", "god til fisk" etc. Bruges også til søgningen og relateret artikler/testvindere.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Nyhed</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>c528f61f-af6a-4260-924e-0620eced3492</Key>
      <Name>Tekst</Name>
      <Alias>text</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCEv3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Indhold</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>c000dfab-9f8a-4f1d-8070-57dda5bb14ce</Key>
      <Name>Billede</Name>
      <Alias>thumbnail</Alias>
      <Definition>135d60e0-64d9-49ed-ab08-893c9ba44ae5</Definition>
      <Type>Umbraco.MediaPicker2</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Billede tilhørende artiklen.

<b>Anbefalet størrelse</b>
<i>Hvis billedet bruges som topbillede:</i>
Bredde: 3000px
<i>Hvis ikke billedet bliver brugt som topbillede</i>:
Bredde:1600px]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Nyhed</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Nyhed</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Caption>Indhold</Caption>
      <SortOrder>3</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>