<?xml version="1.0" encoding="utf-8"?>
<Image guid="5efc892c-3d58-47be-90ba-c59a3d0528a9" id="3425" nodeName="Appfeed Banner Tilbudsavis 2" isDoc="" updated="2022-06-21T10.12.42.4900000Z" parentGUID="705e1366-c03d-4faf-b1dc-76606e03385d" nodeTypeAlias="Image" path="-1,1706,3209,3425">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[339715]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2485/appfeed_banner_tilbudsavis-2.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[500]]></umbracoHeight>
  <umbracoWidth><![CDATA[2000]]></umbracoWidth>
</Image>