<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>c150918c-d08c-4409-a29b-41de95d9d833</Key>
    <Name>Style - Form</Name>
    <Alias>styleForm</Alias>
    <Icon>icon-inbox-full color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Folder>Baseline/Styles</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>648556d8-b3d4-46ae-9cd3-c469507ca225</Key>
      <Name>Input baggrundsfarve</Name>
      <Alias>inputBackgroundColor</Alias>
      <Definition>439a6dda-6db8-47a3-afb2-2fa3dc09879e</Definition>
      <Type>Our.Umbraco.StackedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Styles</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>30d2114d-5eee-4d74-bafd-64d29dc5771b</Key>
      <Name>Input baggrundsfarve</Name>
      <Alias>inputBackgroundColorMobile</Alias>
      <Definition>439a6dda-6db8-47a3-afb2-2fa3dc09879e</Definition>
      <Type>Our.Umbraco.StackedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Mobilstyles</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>4a0ae4ab-190a-45d1-b3cf-574d11c32f6f</Key>
      <Name>Input tekstfarve</Name>
      <Alias>inputTextColor</Alias>
      <Definition>439a6dda-6db8-47a3-afb2-2fa3dc09879e</Definition>
      <Type>Our.Umbraco.StackedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Styles</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>bd0784f6-b585-47d3-b3b9-3dd63045d100</Key>
      <Name>Input tekstfarve</Name>
      <Alias>inputTextColorMobile</Alias>
      <Definition>439a6dda-6db8-47a3-afb2-2fa3dc09879e</Definition>
      <Type>Our.Umbraco.StackedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Mobilstyles</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>92dbd506-b2f9-4e7d-82b2-a496fa0ee661</Key>
      <Name>Spinner farve</Name>
      <Alias>spinnerColor</Alias>
      <Definition>439a6dda-6db8-47a3-afb2-2fa3dc09879e</Definition>
      <Type>Our.Umbraco.StackedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Styles</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>8d20f10a-7799-4778-a63f-1e565af675d9</Key>
      <Name>Spinner farve</Name>
      <Alias>spinnerColorMobile</Alias>
      <Definition>439a6dda-6db8-47a3-afb2-2fa3dc09879e</Definition>
      <Type>Our.Umbraco.StackedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Mobilstyles</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Styles</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Mobilstyles</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>