<?xml version="1.0" encoding="utf-8"?>
<Image guid="f399cb1f-0098-4ca3-bc5a-f4f253f12314" id="3487" nodeName="37754 Taktisk Support Topbanner 2000X500 Uge31 03" isDoc="" updated="2022-08-01T07.10.22.5570000Z" parentGUID="31e6d652-25b1-4587-9ebc-dec85f01580e" nodeTypeAlias="Image" path="-1,1706,3378,3487">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[174710]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2528/37754_taktisk-support_topbanner_2000x500_uge31_03.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[500]]></umbracoHeight>
  <umbracoWidth><![CDATA[2000]]></umbracoWidth>
</Image>