<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Post it ribbon creater" Key="08625fd0-87de-42bb-9c88-0a206728cdde" Id="Our.Umbraco.StackedContent" DatabaseType="Ntext" Folder="Baseline/Ribbons">
  <PreValues>
    <PreValue SortOrder="1" Alias="contentTypes"><![CDATA[[
  {
    "icContentTypeGuid": "91d7b007-a2a0-4afb-abe3-5e129f0120d9",
    "nameTemplate": "Post it elementer"
  }
]]]></PreValue>
    <PreValue SortOrder="2" Alias="enableCopy"><![CDATA[1]]></PreValue>
    <PreValue SortOrder="3" Alias="enablePreview"><![CDATA[1]]></PreValue>
    <PreValue SortOrder="4" Alias="hideLabel"><![CDATA[0]]></PreValue>
    <PreValue SortOrder="5" Alias="maxItems"><![CDATA[3]]></PreValue>
    <PreValue SortOrder="6" Alias="singleItemMode"><![CDATA[0]]></PreValue>
  </PreValues>
</DataType>