<?xml version="1.0" encoding="utf-8"?>
<Image guid="3cb76418-bfbd-490e-997a-984b5c9b4166" id="3614" nodeName="2000X500 Topbanner Opskrifter Converted Uge2" isDoc="" updated="2023-01-12T15.46.23.8530000Z" parentGUID="c95a91e2-b4d9-4cb5-a112-a88692e40d77" nodeTypeAlias="Image" path="-1,1706,3607,3614">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[251108]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2629/2000x500_topbanner_opskrifter_converted_uge2.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[500]]></umbracoHeight>
  <umbracoWidth><![CDATA[2000]]></umbracoWidth>
</Image>