<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>4b01ecc3-2a27-4a5f-8ad2-a43822cd3479</Key>
    <Name>Style - Text Ribbon Position</Name>
    <Alias>styleTextRibbonPosition</Alias>
    <Icon>icon-fullscreen-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Folder>Baseline/Styles</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>2edb3101-ac6e-4d89-9637-0b28bac6a62d</Key>
      <Name>Vertikal</Name>
      <Alias>vertical</Alias>
      <Definition>58bee45f-7bd4-42e6-b3a2-ada62fa75316</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[For at det virker kræver det at der en minimums højde på et baggrundsbillede.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Styles</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>877a668e-d6bf-4fd7-a323-6e64f5ff54d7</Key>
      <Name>Vertikal</Name>
      <Alias>verticalMobile</Alias>
      <Definition>58bee45f-7bd4-42e6-b3a2-ada62fa75316</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[For at det virker kræver det at der en minimums højde på et baggrundsbillede.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Mobile styles</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Styles</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Mobile styles</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>