<?xml version="1.0" encoding="utf-8"?>
<Image guid="f6a1986c-c233-49a0-bc0a-c67a2887b24b" id="3598" nodeName="Gopris Topbanner 2000X500px" isDoc="" updated="2022-12-22T13.27.31.5670000Z" parentGUID="9b740928-1dc4-4a27-991f-0da1bc1c1389" nodeTypeAlias="Image" path="-1,3469,3593,3598">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[606404]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2615/gopris_topbanner_2000x500px.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[500]]></umbracoHeight>
  <umbracoWidth><![CDATA[2000]]></umbracoWidth>
</Image>