<?xml version="1.0" encoding="utf-8"?>
<Image guid="d22a7a00-a311-47e0-bbee-2ab57c10b215" id="1746" nodeName="thiese1-600x400.jpg" isDoc="" updated="2019-10-21T06.38.56.1470000Z" parentGUID="d3d46e1f-c573-4cab-be32-9195202da0dd" nodeTypeAlias="Image" path="-1,1530,1534,1589,1746">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[82713]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1202/thiese1-600x400.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[400]]></umbracoHeight>
  <umbracoWidth><![CDATA[600]]></umbracoWidth>
</Image>