<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>b41baa8e-d33a-4e44-898c-84da3c1e36ee</Key>
    <Name>Anmeldelse</Name>
    <Alias>productReview</Alias>
    <Icon>icon-medal color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Folder>Baseline/Product</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>25ff4292-bcaa-47b9-aaa9-24c07ccf92c7</Key>
      <Name>Max score</Name>
      <Alias>maxScore</Alias>
      <Definition>3ccd2300-d9ba-4a95-a7ce-a95590d8a644</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Hvor mange stjerner/vinglas som produktet max kan få]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Anmeldelse</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>ee054de8-e466-4aab-8fa5-2bf8abf8c459</Key>
      <Name>Anmeldelse</Name>
      <Alias>review</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextboxMultiple</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Anmeldelse af produktet]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Anmeldelse</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>64bafe3f-4956-4c3d-86fb-fd8e909bfaac</Key>
      <Name>Anmelder</Name>
      <Alias>reviewer</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Eks: Ekstra bladet, Politiken]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Anmeldelse</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>a06521c1-3d71-4e53-822d-34bbeb4dd0b0</Key>
      <Name>Skala</Name>
      <Alias>scale</Alias>
      <Definition>67085a3b-62d3-423f-89ae-49fdab7629f6</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Anmeldelse</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>2cf7c481-6f95-45ef-b78c-1003c02b40fa</Key>
      <Name>Score</Name>
      <Alias>score</Alias>
      <Definition>3ccd2300-d9ba-4a95-a7ce-a95590d8a644</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Antal stjerner/vinglas]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Anmeldelse</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>431198e0-78ca-43c8-908e-de2362cd32fa</Key>
      <Name>Overskrift</Name>
      <Alias>title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Vises ovenover anmeldelsen.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Anmeldelse</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>df86e3ba-541d-4a44-ae65-76528cce6646</Key>
      <Name>Undertitel</Name>
      <Alias>undertitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Eks: "Godt køb" eller "God vin til en god pris". Kan også være datoen for anmeldelsen. Vises til venstre i delen med skalaen og anmelderen.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Anmeldelse</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Anmeldelse</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>