<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>5cca6acf-a499-4571-a705-20cf064551da</Key>
    <Name>Vin</Name>
    <Alias>wineProduct</Alias>
    <Icon>icon-wine-glass color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Folder>Baseline/Product</Folder>
    <Compositions>
      <Composition Key="49e9d8bb-4b66-4c01-8343-26976d0724b2">compositionProduct</Composition>
      <Composition Key="a7d91edb-313c-4927-9176-1b5eeabaf8a7">compositionPageSettings</Composition>
      <Composition Key="d3739ce6-78e5-4c43-8c5d-ae785127ef94">compositionSEO</Composition>
    </Compositions>
    <DefaultTemplate>Baseline_Product</DefaultTemplate>
    <AllowedTemplates>
      <Template>Baseline_Product</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>ded4a410-ba03-4c22-a3cb-dcd3ca3d4b0d</Key>
      <Name>Beskrivelse</Name>
      <Alias>description</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextboxMultiple</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Efterfølges af "Læs mere", der også fungerer som fold ud.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Højre side</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>7cc5427d-3b37-41d5-91aa-5e64330d439b</Key>
      <Name>Detaljeret beskrivelse</Name>
      <Alias>detailedDescription</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextboxMultiple</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[En mere detaljeret beskrivelse end den under "Beskrivelse".]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Fold ud</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>04c7984c-3e82-49b3-8d7f-32ccfa6932ac</Key>
      <Name>Tør/Sød skala</Name>
      <Alias>drySweetScale</Alias>
      <Definition>0924f0a7-04a6-4b6b-bbe9-7bfad619b703</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[1 er tør. 4 er sød.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Fold ud</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>a619a5c4-30cc-4b6b-b0ac-f953b26e59ef</Key>
      <Name>Passer godt til</Name>
      <Alias>fitsWellWith</Alias>
      <Definition>aa9c75f2-e856-4472-b31a-b899a58e454c</Definition>
      <Type>Umbraco.CheckBoxList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Vælg hvad produktet passer godt til. Maks 5.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Fold ud</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>f031f46a-25c8-41bc-91cf-0cc5c7e8585d</Key>
      <Name>Vinens oprindelse</Name>
      <Alias>lowerTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Oprindelsessted/Land]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Højre side</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>72141420-c784-417e-8b47-6e62f6671187</Key>
      <Name>Vinens navn</Name>
      <Alias>nameOfProduct</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Defaulter til sidens navn]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Højre side</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>97d083ee-d80d-43dc-a444-a20e4edeca5e</Key>
      <Name>Produkt billede</Name>
      <Alias>productImage</Alias>
      <Definition>838d17a6-d246-4808-918c-0f2186cd0dfd</Definition>
      <Type>Umbraco.MediaPicker2</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[<b>Anbefaling</b>Billedet af vinen skal være højt og trimmed i begge sider. 
Koden vil automatisk sørge for tilføje luft omkring.

Anbefalingen vil være at billedet er 2600px højt.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Venstre side</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>276c8500-9043-4872-8ac6-c028effb8cac</Key>
      <Name>Produkt anmeldelser</Name>
      <Alias>productReviews</Alias>
      <Definition>4c888675-2c1c-433e-ae0a-5693bcae81f5</Definition>
      <Type>Our.Umbraco.StackedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Anmeldelser</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>f62e0e26-b827-432b-84fa-b6efc3a931c3</Key>
      <Name>Overskrift</Name>
      <Alias>reviewsTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Titel der vises ovenover produktets anmeldelser.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Anmeldelser</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>f13042c9-06e1-47bf-b6d7-1e57dac266e7</Key>
      <Name>Omvendt visning</Name>
      <Alias>showReversed</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Vil sætte billedet i højre side og beskrivelse i venstre.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Settings</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>f026cf3c-7d7f-43fc-b76d-ec53a7411629</Key>
      <Name>Vinens årgang</Name>
      <Alias>upperTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Højre side</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>1bad6f61-099f-450a-b056-a7e6fc378f97</Key>
      <Name>Let/Kraftig skala</Name>
      <Alias>volumeScale</Alias>
      <Definition>0924f0a7-04a6-4b6b-bbe9-7bfad619b703</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[1 er let. 4 er kraftig.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Fold ud</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Venstre side</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Caption>Højre side</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Caption>Fold ud</Caption>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Caption>Anmeldelser</Caption>
      <SortOrder>4</SortOrder>
    </Tab>
    <Tab>
      <Caption>Settings</Caption>
      <SortOrder>5</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>