<?xml version="1.0" encoding="utf-8"?>
<news guid="54a6b6e1-cc8b-4881-90dd-ee3f404880e6" id="1417" nodeName="Prosecco - Hvad er prosecco?" isDoc="" updated="2022-05-17T10.12.52.2970000Z" parentGUID="c5256333-c19e-4cb7-bb55-30517f2f80a5" nodeTypeAlias="news" templateAlias="Baseline_News" sortOrder="11" published="true" isBlueprint="false">
  <bodyEndHtml><![CDATA[<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [{
    "@type": "Question",
    "name": "Hvad er Prosecco?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Prosecco er en bestemt type inden for mousserende vin."
    }
  }, {
    "@type": "Question",
    "name": "Hvad betyder Prosecco?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Prosecco betyder på italiensk: ”næsten tør”."
  }
  }, {
    "@type": "Question",
    "name": "Hvordan fremstilles Prosecco?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Prosecco fremstilles på Charmat-metoden. Her gærer vinen på tryktank i stedet for i flasken, som det er tilfældet med Champagne, Cava og Crémant."
    }
  },  {
    "@type": "Question",
    "name": "Hvor fremstilles der Prosecco?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Prosecco må kun fremstilles i de norditalienske vinområder Friuli og Veneto. De to vinområder udgør ”Prosecco-distriktet”."
        }
    }, {
    "@type": "Question",
    "name": "Hvilke druesorter bruges til Prosecco?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Glera er den mest anvendte druesort til Prosecco. Derudover anvendes Bianchetta, Perera, Verdiso samt de berømte druetyper Pinot Noir og Chardonnay."
}
    }]
  }
</script>]]></bodyEndHtml>
  <bodyScript></bodyScript>
  <contentType></contentType>
  <date>2018-10-09T00:00:00</date>
  <digiSegment></digiSegment>
  <headHtml></headHtml>
  <headline><![CDATA[Prosecco - Hvad er prosecco?]]></headline>
  <headScript></headScript>
  <hideFooter>0</hideFooter>
  <hideFromSitemap>0</hideFromSitemap>
  <hideTop>0</hideTop>
  <metaCanonicalUrl></metaCanonicalUrl>
  <metaDescription><![CDATA[Hvad er Prosecco vin helt præcist? Lær alt om Italiens svar på Champagne. Vi besvarer alle de typisk stillede spørgsmål. Bliv klogere her!]]></metaDescription>
  <metaNoFollow>0</metaNoFollow>
  <metaNoIndex>0</metaNoIndex>
  <metaTitle><![CDATA[Prosecco – Hvad er Prosecco? Læs den ultimative guide her]]></metaTitle>
  <nonResponsive>0</nonResponsive>
  <ogImage></ogImage>
  <relations></relations>
  <removeTextShadow>0</removeTextShadow>
  <specialFaviconSmall></specialFaviconSmall>
  <specialFaviconStandard></specialFaviconStandard>
  <subHeadline></subHeadline>
  <tags><![CDATA[["vin"]]]></tags>
  <text><![CDATA[<p><strong>Prosecco kaldes populært ”Italiens Champagne”. I artiklen om <a data-udi="umb://document/6246155001ca40e681880ea8ec10b343" href="/{localLink:umb://document/6246155001ca40e681880ea8ec10b343}" title="Champagne">Champagne </a>har vi allerede defineret, hvad ægte Champagne er, og hvilke varianter andre vindistrikter og lande kan byde på, men hvor passer Prosecco ind i vinlandskabet?</strong></p>
<h2>Lær alt om Italiens svar på Champagne</h2>
<p>Præcis som det er tilfældet med <a rel="noopener" data-udi="umb://document/6246155001ca40e681880ea8ec10b343" href="/{localLink:umb://document/6246155001ca40e681880ea8ec10b343}" target="_blank" title="Champagne">Champagne</a>, er det også kun vine fra et bestemt område i Italien, der må bære navnet ”Prosecco”.</p>
<p>Prosecco vin fremstilles således kun i de norditalienske vinområder Friuli og Veneto, der kan samles under betegnelsen ”Prosecco-distriktet”. Disse vinområder har nemlig det helt rette klima, som udgør de perfekte omstændigheder for fremstilling af Prosecco.</p>
<p>Prosecco kan oversættes til ”næsten tør”, hvilket er en meget rammende beskrivelse for de middel-tøre Prosecco vine, der synes at blive mere og mere populære i hele verden for hvert år, der går.</p>
<h2>Hvordan fremstilles Prosecco? Og hvad er forskellen på Prosecco og Champagne?</h2>
<p>Prosecco laves hovedsageligt på en bestemt druetype, der i 2009 fik navnet ”Glera”. Indtil da gik druen under navnet ”Prosecco”.</p>
<p>Det betyder ikke, at Prosecco vine laves udelukkende på Glera-druen – druetyperne Bianchetta, Perera, Verdiso samt de berømte druetyper Pinot Noir og Chardonnay druer kan også benyttes i fremstillingen af Prosecco.</p>
<p style="padding-left: 90px;">Vidste du?</p>
<p style="padding-left: 90px;"><em>En af grundene til, at Prosecco-distriktet er så ideelt til fremstillingen af mousserende vine er fordi, der er stor forskel på dags- og nattetemperaturerne. Det giver druerne – kombineret med unikke jordforhold – en perfekt modning.  </em></p>
<p><br />Modsat Champagne gærer Prosecco på tryktank og ikke på flaske som det eks. er tilfældet med de spanske mousserende vine, der kaldes Cava. Denne metode, hvor vinen gærer på tryktanke, kaldes Charmat-metoden. Med denne fremstillingsmetode bliver boblerne mere markante, end det er tilfældet med den klassiske gæringsmetode.</p>
<p> </p>
<h2>Der findes tre forskellige typer Prosecco vin</h2>
<p>Der findes to forskellige typer Prosecco, der varierer i både smag og mængde af bobler. De forskellige typer Prosecco er følgende:</p>
<ul>
<li>Spumante</li>
<li>Frizzante</li>
</ul>
<p><strong>Spumante</strong> er en mousserende vin, som eks. Champagne, Crémant og Cava, der har et højt indhold af kuldioxid, hvilket giver de aggressive, men fine bobler.</p>
<p><strong>Frizzante </strong>kan kategoriseres som ”semi-sparkling”, og som betegnelsen indikerer, er der skruet en anelse ned for mængden af bobler i denne type Prosecco.</p>
<p>Kender man blot en smule til mousserende- og hvide vine, vil man hurtigt kunne genkende en Prosecco på den karakteristiske bleggule farve og på den friske og frugtige aroma – eller ”næse”, som det hedder i vinmunde.</p>
<h2><br />Hvad serverer man Prosecco vine til?</h2>
<p>Prosecco vine er generelt i så høj kvalitet, at de sagtens kan nydes, præcis som de er. Ønsker du alligevel at parre Prosecco vin til en lækker middag, skal du have de tre ovenstående Prosecco typer for øje.</p>
<p><strong>Spumante</strong> er grundet sine mange bobler bedst at servere som aperitif – præcis som du ville gøre med en Champagne. <strong>Frizzante</strong> går generelt godt til fiskeretter – og lettere forretter generelt.  </p>
<p>Ovenstående er kun generelle guidelines. Ligesom der er stor forskel på røde vin fra samme distrikt, kan de forskellige typer Prosecco variere meget i sødmegrad og tørhed. Spørg derfor vinhandleren i <a rel="noopener" data-udi="umb://document/66ff6b1129f1438586b207f1bb6a524d" href="/{localLink:umb://document/66ff6b1129f1438586b207f1bb6a524d}" target="_blank" title="Find butik">din lokale SuperBrugsen</a>, hvis du er i tvivl.</p>
<h3>Aperol Spritz – En klassisk sommerdrink</h3>
<p>Den forfriskende italienske drink Aperol Spritz har de seneste år nærmest fået en slags renæssance, og den kan – uden overdrivelse – kaldes den ultimative sommerdrink.</p>
<p>Aperol Spritz kan laves i et væld af forskellige udgaver. Herunder får du opskriften på en klassisk Aperol Spritz, der uden tvivl vil give dig associationer om en sommerdag ved Middelhavet:</p>
<p><strong>Sådan laver du en klassisk Aperol Spritz:</strong></p>
<ul>
<li>2 dele Aperol</li>
<li>3 dele Prosecco</li>
<li>1 del danskvand</li>
<li>Masser af isterninger</li>
<li>En skive appelsin</li>
</ul>
<p>Du kan i princippet bruge alle tre typer Prosecco, men den bedste at bruge i en Aperol Spritz er en Spumante, da det høje indhold af bobler giver drinken en let og sommerlig karakter.Oplev Prosecco-distriktet på første hånd</p>
<p>Hvis du – med god grund – ikke kan få nok af Prosecco, kan du opleve Prosecco vingårdene fra allerforreste række. Prosecco-distriktet har nemlig sin helt egen vinrute, hvor du kan opleve de smukke vinmarker, der ligger klistret op ad skråningerne i det smukke, bakkede landskab.</p>
<p>Vinruten er faktisk Italiens første af slagsen, og ruten blev etableret i 1966. Flere af vingårdene langs ruten tilbyder bed &amp; breakfast, så du kan få den fulde oplevelse. </p>
<p>Udover det smukke landskab og de traditionsrige vingårde, finder du også massevis af ældgamle landsbyer, ruiner og seværdigheder, gode restauranter og meget andet langs den 60 kilometer lange rute.</p>
<h3>Prosecco vin på tilbud</h3>
<p>I <a rel="noopener" data-udi="umb://document/4354c5f03ca848d8b364cd4960bfe705" href="/{localLink:umb://document/4354c5f03ca848d8b364cd4960bfe705}" target="_blank" title="Vin"><span>SuperBrugsens vinhandel</span> </a>finder du hver uge forskellige vine. Hold derfor øje med vores <span><a rel="noopener" data-udi="umb://document/10791bf437c24c909899044e70ba55f4" href="/{localLink:umb://document/10791bf437c24c909899044e70ba55f4}" target="_blank" title="Tilbudsavis">tilbudsavis</a></span>. <span>Tilbudsavisen indeholder inspiration, et </span><span>udvalg af aktuelle varer til en god pris – </span><span>og gode tilbud lige nu.</span></p>
<p>Har du mod på mere læsning om bobler? Så kan du passende læse vores guide omhandlende <a rel="noopener" data-udi="umb://document/6246155001ca40e681880ea8ec10b343" href="/{localLink:umb://document/6246155001ca40e681880ea8ec10b343}" target="_blank" title="Champagne">Champagne</a>. </p>
<p>God fornøjelse! </p>
<h2><br />FAQ om Prosecco</h2>
<p><strong>Hvad er Prosecco? <br /></strong>Prosecco er en bestemt type inden for mousserende vin.</p>
<p><strong>Hvad betyder Prosecco? <br /></strong>Prosecco betyder på italiensk: ”næsten tør”.</p>
<p><strong>Hvordan fremstilles Prosecco? <br /></strong>Prosecco fremstilles på Charmat-metoden. Her gærer vinen på tryktank i stedet for i flasken, som det er tilfældet med Champagne, Cava og Crémant.</p>
<p><strong>Hvor fremstilles der Prosecco? <br /></strong>Prosecco må kun fremstilles i de norditalienske vinområder Friuli og Veneto. De to vinområder udgør ”Prosecco-distriktet”.</p>
<p><strong>Hvilke druesorter bruges til Prosecco?<br /></strong>Glera er den mest anvendte druesort til Prosecco. Derudover anvendes Bianchetta, Perera, Verdiso samt de berømte druetyper Pinot Noir og Chardonnay.</p>]]></text>
  <thumbnail><![CDATA[umb://media/2ccbe897205043008fd6fafdc50965aa]]></thumbnail>
  <umbracoUrlName></umbracoUrlName>
  <useImageAsTopImage>1</useImageAsTopImage>
</news>