<?xml version="1.0" encoding="utf-8"?>
<Image guid="cc88332b-241d-4999-af41-8278aebd45fe" id="2892" nodeName="coop 2020144714.jpg" isDoc="" updated="2021-03-17T10.38.33.6000000Z" parentGUID="d3f0dc7d-6fd4-4bc7-b283-a4c63549aef8" nodeTypeAlias="Image" path="-1,1539,1575,2890,2892">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[14549150]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2061/coop-2020144714.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[5412]]></umbracoHeight>
  <umbracoWidth><![CDATA[5412]]></umbracoWidth>
</Image>