<?xml version="1.0" encoding="utf-8"?>
<Image guid="128fd7ea-cfcf-4422-afd9-27dda2e5f2d9" id="1567" nodeName="lammekoelle.png" isDoc="" updated="2019-10-21T06.38.38.4130000Z" parentGUID="ce17dcb3-d045-4db9-aaf7-b2367ee92271" nodeTypeAlias="Image" path="-1,1530,1548,1566,1567">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[604605]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1025/lammekoelle.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[750]]></umbracoHeight>
  <umbracoWidth><![CDATA[2000]]></umbracoWidth>
</Image>