<?xml version="1.0" encoding="utf-8"?>
<Image guid="2ac3c59a-b7de-4c92-b23e-6890fbd6191e" id="3502" nodeName="Topslider 600X400 15%Rabat (2)" isDoc="" updated="2022-08-19T11.38.25.0030000Z" parentGUID="b2ee9dc5-b9d6-4a14-b0ef-e5e914ddd3e6" nodeTypeAlias="Image" path="-1,1706,3302,3502">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[96996]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2541/topslider_600x400_15-rabat.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[400]]></umbracoHeight>
  <umbracoWidth><![CDATA[600]]></umbracoWidth>
</Image>