<?xml version="1.0" encoding="utf-8"?>
<Image guid="7dfd6dae-dfba-4d90-8058-30055a534d3d" id="3296" nodeName="Appelsindrikkerrho" isDoc="" updated="2022-03-02T14.36.36.3030000Z" parentGUID="c1a100a8-5bf0-4d16-b9c2-670cac727a9f" nodeTypeAlias="Image" path="-1,3218,3296">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[19091]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2395/appelsindrikkerrho.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[323]]></umbracoHeight>
  <umbracoWidth><![CDATA[485]]></umbracoWidth>
</Image>