<?xml version="1.0" encoding="utf-8"?>
<Image guid="4835672a-e42c-45a6-9667-f5d83b383613" id="3516" nodeName="Slider 600X400" isDoc="" updated="2022-09-09T13.11.37.9970000Z" parentGUID="0382315a-933c-4265-a806-799cefa1e13e" nodeTypeAlias="Image" path="-1,1706,3316,3516">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[75117]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2555/slider_600x400.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[400]]></umbracoHeight>
  <umbracoWidth><![CDATA[600]]></umbracoWidth>
</Image>