<?xml version="1.0" encoding="utf-8"?>
<Image guid="97eb21ce-5207-44e2-b5f5-fc3df6d556d9" id="2274" nodeName="bordpynt-med-blomster.jpg" isDoc="" updated="2020-04-14T13.50.45.9370000Z" parentGUID="00bab6cd-e452-49ed-84bd-9e773cb27b3c" nodeTypeAlias="Image" path="-1,1581,2273,2275,2274">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[715612]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1598/bordpynt-med-blomster.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[3648]]></umbracoHeight>
  <umbracoWidth><![CDATA[5472]]></umbracoWidth>
</Image>