<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>19302d32-9237-4c77-b317-370c42684cd1</Key>
    <Name>Slide</Name>
    <Alias>slide</Alias>
    <Icon>icon-pictures-alt-2 color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Folder>Baseline/Slider</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>8edb8bba-b2e7-4655-8c6d-95b665e3f79c</Key>
      <Name>Slide</Name>
      <Alias>slide</Alias>
      <Definition>c137ccfb-22e7-48ed-9235-bd34b60720e0</Definition>
      <Type>Our.Umbraco.StackedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Påkrævet for visning]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>b6dfdcd1-d2e5-4e8e-ae78-431e0a180631</Key>
      <Name>Slide navn</Name>
      <Alias>slideName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Indstillinger</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>7db6446d-9b27-46eb-9b69-ee2287e76a9e</Key>
      <Name>Slide tema</Name>
      <Alias>slideTheme</Alias>
      <Definition>a01431b3-2ba5-4410-9e7a-797cb5f802fa</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Standard er Dark]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Indstillinger</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>5794202c-e136-40a5-adb5-a36511e27b8b</Key>
      <Name>Subslide</Name>
      <Alias>subslide</Alias>
      <Definition>c137ccfb-22e7-48ed-9235-bd34b60720e0</Definition>
      <Type>Our.Umbraco.StackedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Vises under slideren, når man står på det pågælende slide]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Indstillinger</Caption>
      <SortOrder>10</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>