<?xml version="1.0" encoding="utf-8"?>
<Image guid="8003c651-6413-4cfc-bd95-0941e54ced15" id="2280" nodeName="Topbanner_k├ªderneshjemmeside_2000x500.png" isDoc="" updated="2020-04-15T12.11.50.5230000Z" parentGUID="179756ef-cf39-4ef7-8450-020198946840" nodeTypeAlias="Image" path="-1,1706,2221,2280">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[26406]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1603/topbanner_k-ªderneshjemmeside_2000x500.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[500]]></umbracoHeight>
  <umbracoWidth><![CDATA[2000]]></umbracoWidth>
</Image>