<?xml version="1.0" encoding="utf-8"?>
<news guid="17f66248-b1ef-468b-b01d-7df1a7e8e5cd" id="1381" nodeName="Rødvin – Hvordan skal en rødvin smage?" isDoc="" updated="2022-05-17T10.17.23.3830000Z" parentGUID="c5256333-c19e-4cb7-bb55-30517f2f80a5" nodeTypeAlias="news" templateAlias="Baseline_News" sortOrder="0" published="true" isBlueprint="false">
  <bodyEndHtml></bodyEndHtml>
  <bodyScript></bodyScript>
  <contentType></contentType>
  <date>2017-10-04T00:00:00</date>
  <digiSegment></digiSegment>
  <headHtml></headHtml>
  <headline><![CDATA[Rødvin – Hvordan skal en rødvin smage?]]></headline>
  <headScript></headScript>
  <hideFooter>0</hideFooter>
  <hideFromSitemap>0</hideFromSitemap>
  <hideTop>0</hideTop>
  <metaCanonicalUrl></metaCanonicalUrl>
  <metaDescription><![CDATA[Mangler du en god flaske rødvin, men ved ikke hvilken, du skal vælge? Vi har samlet de vigtigste informationer om rødvin. Se mere her!]]></metaDescription>
  <metaNoFollow>0</metaNoFollow>
  <metaNoIndex>0</metaNoIndex>
  <metaTitle><![CDATA[Rødvin – Find den bedste rødvin hos SuperBrugsen – Klik her]]></metaTitle>
  <nonResponsive>0</nonResponsive>
  <ogImage></ogImage>
  <relations></relations>
  <removeTextShadow>0</removeTextShadow>
  <specialFaviconSmall></specialFaviconSmall>
  <specialFaviconStandard></specialFaviconStandard>
  <subHeadline></subHeadline>
  <tags><![CDATA[["Vin","Rødvin"]]]></tags>
  <text><![CDATA[<p><strong>Har du netop lagt bøffen på grillen eller sat gryderetten i ovnen og mangler et godt glas rødvin? Har du svært ved at vurdere hvilken flaske, der passer bedst til maden? Rødvin er fantastiske at drikke til maden, hvis det altså er den rigtige drue, der er valgt. Hos SuperBrugsen Vinhandel har vi samlet de vigtigste information, der skal hjælpe dig med at finde den bedste flaske rødvin.</strong></p>
<p> </p>
<h2>Hvad er rødvin?</h2>
<p>Vin kan brygges på enten grønne eller røde druer eller en kombination af begge. Hvidvin kan også brygges på røde druer, hvor drueskallen fjernes, så den ikke farver saften.</p>
<p> </p>
<p>Rødvin derimod, er brygget på blå druer og får sin flotte, dybe, røde farve fra drueskallen. Alkoholprocenten er oftest mellem 8,5-15%, hvor alt under 10% anses som lav alkoholprocent, og alt over 13,5% anses som høj alkoholprocent.</p>
<p> </p>
<h2>Rødvins distrikter</h2>
<p>Spanien, Frankrig og Italien er nogle af de lande med flest vindistrikter.</p>
<p> </p>
<ul>
<li>I <strong>Frankrig</strong> er der helt op til 12 vindistrikter, hvor nogle af de mest populære er Côtes du Rhône, Alsace, Bourgogne, Bordeaux og <span><a data-udi="umb://document/6246155001ca40e681880ea8ec10b343" href="/{localLink:umb://document/6246155001ca40e681880ea8ec10b343}" title="Champagne">Champagne</a></span>, hvor især Bourgogne er kendt for sin Pinot Noir drue.</li>
</ul>
<p> </p>
<ul>
<li><strong>Italien</strong> er også hjemland for mange gode rødvine, hvor de mest kendte vindistrikter er Piemonte, Veneto, Friuli, Emilia-Romagna, Toscana og Sicilien.</li>
</ul>
<p> </p>
<ul>
<li><strong>Spanien</strong> er kendte for sin grønne vin, vinho verde, en herlig drue som kun dyrkes i Spanien. Udover deres grønne vin huser landet mange gode vindistrikter, hvor den spanske rødvin kommer fra. Det er især Ribera del Duero, Prioriat, Rioja og Jumilla, som er de mest kendte vindistrikter.</li>
</ul>
<p> </p>
<h2>Rødvinsdruer – Brunello, Pinot Noir, Malbec</h2>
<p>Nogle af de meste kendte rødvins druer på verdensplan, er den italienske Brunello drue fra Toscana, den franske Pinot Noir fra Bourgogne og Malbec druen som også oprindeligt er fra Bourgogne, men i højere grad dyrkes i Argentina og Chile. Derudover er der selvfølgelig også Cabernet Sauvignon, Shiraz, Merlot og mange andre gode rødvins druer.</p>
<p> </p>
<ul>
<li><strong>Brunelloen</strong> er en kraftig og fyldig drue, som har masser af syre og en flot mørkerød farve. Den italienske rødvin går godt til tunge kødretter med masser af smag og fedme.</li>
</ul>
<p> </p>
<ul>
<li><strong>Pinot Noir</strong> er en skøn drue, som fremstår let og aromaen frugtig. Druen er kompleks at dyrke, da den kræver et helt specielt klima, der hverken må være for varmt eller for koldt. Smagen er ikke kraftig og krydret som Shiraz duen eksempelvis er. Det er derfor en rødvin, der går godt til lettere rettere, da vinen let og frugtig.</li>
</ul>
<p> </p>
<ul>
<li><strong>Malbec </strong>druen er en blødere og saftig vin, som kan fremstå en anelse parfumeret hvis druen er dyrket i et varmt klima. Vinen har en dyb og mørk farve og fungerer rigtig godt til retter, som hverken er lette eller kraftige, men midt i mellem. Malbec druen vil eksempelvis gå godt til marineret grillkød, som er saftigt og rund i smagen.</li>
</ul>
<p> </p>
<h2>Hvad er en god rødvin?</h2>
<p>En god rødvin er en vin, der komplementere maden godt. Man er ikke i tvivl om, når man drikker den rigtige flaske vin til maden. </p>
<p> </p>
<p>Der findes nogle tommelfingerregler, som man altid kan følge: hvidvin er bedst til fisk, rødvin er bedst til kød, lette vine serveres før kraftige vine, tørre vine serveres før søde vine og billige vine serveres før dyre vine.</p>
<p> </p>
<p>For at vælge den rigtige flaske vin, er det vigtigt, at du lærer at smage på vinen først.</p>
<p> </p>
<h2>Hvordan beskrives en rødvin?</h2>
<p>Der siges at være 5 måder at beskrive en rødvin på: syre, sødme, tannin, alkohol og fylde.</p>
<p> </p>
<p>Syren i en rødvin kommer fra frugtsyren i druerne. Jo mere syrlig smagen er, jo mindre modne har druerne været, hvilket oftest skyldes et køligere klima. Hvis du godt kan lide den syrlige smag, så er New Zealand og Nordfrankrig kendt for et køligere klima og dermed mere syreholdige vine. Hvis du foretrækker en mindre syrlig vin, så er australske vine noget for dig, hvor der findes et varmere klima.</p>
<p> </p>
<p>Sødmen i rødvin kommer fra frugtsukkeret i druerne. Jo mindre frugtsukker, jo mere tør og syrlig vil vinen fremstå. Igen hænger smagen sammen med klimaet, vine fra varmere lande som Australien har sødere rødvine.</p>
<p> </p>
<p>Tannin er også kendt som garvesyre, og er noget du kun finder naturligt i rødvine. Garvesyren kommer fra drueskallen, og vil derfor ikke være at finde i hvidvine, der er brygget på druer uden skal. Garvesyren er med til at gøre en rødvin tør, og derfor ikke en smag, men en fornemmelse du får i munden.</p>
<p> </p>
<p>Alkoholen i vinen dannes under gæringsprocessen fra frugtsukkeret i druerne. Det vil sige at jo sødere druerne er, jo mere alkohol kan der dannes. Alkoholen vil primært være at finde i duften fra vinen og oplevelsen af hvor meget fylde rødvinen har.</p>
<p> </p>
<p>Fylde i en rødvin er en slags opsummering af de fire forrige karakteristika. Hvis syren er høj og alkoholen, tanninen og sødmen lav, så vil rødvinen fremstå let. Omvendt, hvis sødmen, alkoholen og tanninen høj og syren lav, så vil rødvinen fremstå fyldig.</p>
<p> </p>
<p>Derudover er det også vigtigt at åbne en flaske rødvin i god tid inden den skal serveres. Rødvin ændrer nemlig smag idet den bliver iltet. En mere syreholdig har især godt af at blive iltet, da det fremskynder modningen af tanninen.</p>
<p> </p>
<h2>Den bedste rødvin til maden</h2>
<p>Nu hvor du har lært at smage på rødvinen, så vil det også være nemmere for dig at vælge den rigtige flaske rødvin til maden.</p>
<p> </p>
<p>Huskereglen er at vinen og maden skal have ens karakteristika. Let og syrlig mad skal have en let og syrlig vin. Sød og fyldig mad skal have sød og fyldig vin.</p>
<p> </p>
<p>Du kan læse meget mere i vores guide til at vælge den rigtige flaske vin til maden <span><a data-udi="umb://document/824221e6cc434f6cad9ec4d121cfa04b" href="/{localLink:umb://document/824221e6cc434f6cad9ec4d121cfa04b}" title="Bliv bedre til at matche vin og mad">her</a></span>.</p>]]></text>
  <thumbnail><![CDATA[umb://media/2c0d517ed4fa44fdb64ac4d5cb69c106]]></thumbnail>
  <umbracoUrlName></umbracoUrlName>
  <useImageAsTopImage>1</useImageAsTopImage>
</news>