<?xml version="1.0" encoding="utf-8"?>
<news guid="9c6b893f-c0f0-44d6-be20-2d4cea262123" id="2012" nodeName="Vinsmagning" isDoc="" updated="2022-05-17T09.58.36.4130000Z" parentGUID="c5256333-c19e-4cb7-bb55-30517f2f80a5" nodeTypeAlias="news" templateAlias="Baseline_News" sortOrder="17" published="true" isBlueprint="false">
  <bodyEndHtml></bodyEndHtml>
  <bodyScript></bodyScript>
  <contentType></contentType>
  <date>2019-12-18T00:00:00</date>
  <digiSegment></digiSegment>
  <headHtml></headHtml>
  <headline><![CDATA[Vinsmagningen starter i din lokale SuperBrugsen]]></headline>
  <headScript></headScript>
  <hideFooter>0</hideFooter>
  <hideFromSitemap>0</hideFromSitemap>
  <hideTop>0</hideTop>
  <metaCanonicalUrl></metaCanonicalUrl>
  <metaDescription><![CDATA[Lær om vin. Er du vild med vin og vil du gerne lære mere om vinens verden? Vi guider dig i vinsmagning med mad som du kan tilberede hjemmefra. Se her.]]></metaDescription>
  <metaNoFollow>0</metaNoFollow>
  <metaNoIndex>0</metaNoIndex>
  <metaTitle><![CDATA[Vinsmagning – Lær om vin og dets mange nuancer – Se her]]></metaTitle>
  <nonResponsive>0</nonResponsive>
  <ogImage></ogImage>
  <relations></relations>
  <removeTextShadow>1</removeTextShadow>
  <specialFaviconSmall></specialFaviconSmall>
  <specialFaviconStandard></specialFaviconStandard>
  <subHeadline><![CDATA[Lær om vin. Er du vild med vin og vil du gerne lære mere om vinens verden? Vi guider dig i vinsmagning med mad som du kan tilberede hjemmefra.]]></subHeadline>
  <tags><![CDATA[["vin","vinsmagning"]]]></tags>
  <text><![CDATA[<p><a href="/varer/vin/artikler/roedvin-hvordan-skal-en-roedvin-smage/">Rødvin</a>, hvidvin, <a href="/varer/vin/artikler/ros%C3%A9vin-hvad-er-ros%C3%A9vin-og-hvordan-laves-den/">rosévin</a> og <a href="/varer/vin/artikler/champagne/">mousserende vin</a>. Vin kommer i mange forskellige smagsnuancer og dufte. I SuperBrugsen kan du finde alle slags vine; rød, hvid og rosé til hver en smag. Er du til det søde, tørre, mousserende, lette eller kraftige? Hvad enten, du er til det ene eller det andet, så skal du nok finde en vin til netop din smag.</p>
<p>Her får du inspiration til lækre anretninger der passer til vin, hvordan du opbevarer vin og hvordan du bliver en rigtig vinsmager.</p>
<h2>Vinsmagning med mad</h2>
<p>For mange er et glas vin prikken over i’et til aftensmaden. Hvad enten du spiser kød, havets frugter eller vegetarisk, skal du nok finde en vin, der passer til netop din ret. Vi giver dig bud på lækre retter, der passer perfekt med et lækkert og smagfuldt glas vin.</p>
<ul>
<li><a rel="noopener" href="https://opskrifter.coop.dk/opskrifter/coq-au-vin-2673" target="_blank">Coq au vin</a></li>
</ul>
<p>Coq au vin er en lækker kyllingeret, som nydes til både et lækkert glas rødvin og hvidvin.</p>
<ul>
<li><span> </span><a rel="noopener" href="https://opskrifter.coop.dk/opskrifter/boef-bourguignonne-5417" target="_blank">Bøf bourguignonne</a></li>
</ul>
<p>Næste gang du skal have bøf bourguigonne, så nyd den gerne med et glas rødvin. Rødvinen er med til at forstærke bøffens smag og duft.</p>
<ul>
<li><span> </span><a rel="noopener" href="https://opskrifter.coop.dk/opskrifter/moules-frites-med-aioli-8786" target="_blank">Moules frites med aioli</a></li>
</ul>
<p>Nyd dine dampede blåmuslinger og fritter med et dejligt koldt glas hvidvin. Hvidvinen er god til især fisk og alt andet godt fra havet.</p>
<h2>Vin til enhver lejlighed</h2>
<p>Hvad er bedre end et godt glas aftenvin?  I SuperBrugsen har vi vin til enhver lejlighed. Går du på opdagelse i vores store udvalg af lækre vine, vil du både finde lette, medium og kraftige vine, og hvad enten, du er til hvid, rød eller rosé, så skal du nok finde en vin til enhver lejlighed.</p>
<p>Vi gør meget ud af, at du kan finde kvalitetsvin, som ikke er for dyrt. Vin behøver nemlig ikke at være dyrt for at være kvalitetsvin, og alle bør have muligheden for at nyde rigtig god vin.</p>
<p>SuperBrugsens vinekspert giver dig <a href="/varer/vin/tips-og-tricks/5-gode-tips-til-din-hvidvin/">gode råd til din hvidvin</a> og <a href="/varer/vin/tips-og-tricks/5-gode-tips-til-din-roedvin/">gode råd til din rødvin</a>. Så du er klar til at nyde din yndlingsvin med dem, du har nær og kær.</p>
<p> </p>
<h2>Lær om vin: Vinens forskellige smage og dufte</h2>
<p>Vin kommer i mange smagsvarianter og dufte, og vin gemmer ofte på en masse dufte, som vores lugtesans kan opfatte, men den kan være svært at skelne mellem alle smage og dufte. Her får du en guide til, hvordan du skelner mellem forskellige dufte og smage.</p>
<p><strong>De vigtigste duftstoffer i vin er: </strong></p>
<ul>
<li>Estre</li>
</ul>
<p>Der dannes estre, når alkoholens vin reagerer med frygtsyrer og vinsyrer. Dette giver en masse frugtsmage og dufte. Det er f.eks. æble, jordbær og hindbær.</p>
<ul>
<li>Terpener</li>
</ul>
<p>Terpener smages og duftes fra druers skind. Disse dufte er oftest søde og blomstret. Det er f.eks. lavendel og roser.</p>
<ul>
<li>Pyraziner</li>
</ul>
<p>Pyraziner smagen findes oftest i druen Sauvignon Blanc, som har grønne træk. Det er f.eks. ærter og græs.</p>
<p><strong>Hvor længe kan en flaske vin holde?</strong></p>
<p>Vin kan faktisk godt holde i længere tid efter åbning. Det vigtigste er, at vinen opbevares korrekt, sådan bevares smagen i vinen.</p>
<p>Alt efter hvilken vin du har nydt af, skal du opbevare den på en bestemt måde, for at kunne nyde den dagen efter.</p>
<p><strong>Når din vin er på køl, skal den stå oprejst</strong></p>
<p>Hvis din vin skal stå på køl, skal du huske, at flasken skal stå oprejst. Dette er med til at nedbremse iltens indflydelse på vinen, og sådan kan din vin holde længere, og ender derfor ikke med at smage syrligt og have en eddikelignede duft.</p>
<ul>
<li><strong>Mousserende vin</strong></li>
</ul>
<p>Når vi har med mousserende vine at gøre, er det boblerne, vi vil beholde. Derfor skal proppen hurtigt til efter ophældning, hvis man vil holde på boblerne, så vi ikke risikerer en flad mousserende vin.</p>
<ul>
<li><strong>Hvidvin </strong></li>
</ul>
<p>Hvidvin kan faktisk godt smage udmærket efter 3-4 dage efter åbning. Det er meget individuelt, hvad man er til, men vinen kan sagtens drikkes. Har hvidvin stået for længe, kan den få en syrlig smag og blive fed.</p>
<ul>
<li><strong>Rosé</strong></li>
</ul>
<p>Rosévin skal på køl, hvis den ikke bliver nydt til ende. Når den sættes på køl, skal flasken altid stilles oprejst, dette forsinker nemlig iltens indflydelse på rosévinen, så den stadig kan nydes dagen efter.</p>
<ul>
<li><strong>Rødvin </strong></li>
</ul>
<p>Rødvin kan sagtens drikkes på dagen efter din vinsmagning, men alt efter kvaliteten på vinen, vil man kunne smage at vinen har fået en lidt skæv og syrlig smag. Har du stadig rødvin tilbage, kan du sætte proppen i flasken, og så skal den sættes på køl. Når du skal nyde vinen igen, skal du huske, at vinen skal have lov til at temperere før du drikker af den igen.</p>
<h2>Sådan holder du din helt egen vinsmagning</h2>
<p>Hvem har ikke altid ønsket sig at være god til vin? Vi giver dig syv råd til, hvordan du kan holde din helt egen vinsmagning med dine tætteste venner og familie. Her får du hjælp til at holde din helt egen vinsmagning.</p>
<ol>
<li><strong>Det vigtigste til en vinsmagning – Vin</strong></li>
</ol>
<p>Til en vinsmagning skal der være forskellige vin som skal smages. Det er helt op til dig, hvilke vine i skal have med hjem. I <a href="/varer/vin/">SuperBrugsens Vinhandel</a> kan du altid spørge vineksperterne til råd og få hjælp til hvilke vine, du skal have med hjem til vinsmagningen.</p>
<ol start="2">
<li><strong>Vinglas til forskellige slags vin </strong></li>
</ol>
<p>Alt efter vin, så skal der gode vinglas til. Der skal også være flere glas til rådighed til de mange forskellige vine, sådan sparer i på at skylle glassene.</p>
<ol start="3">
<li><strong>Din vinsmagning skal gå fra de milde til de kraftige vine</strong></li>
</ol>
<p>Start gerne vinsmagning med de lettere og mildere. Lidt efter lidt kan du arbejde dig over i de kraftige og tørre slags vine. Hvis du fra start smager på de kraftige vine, kan det hurtigt overdøve de mildere vine, du smager.</p>
<p><strong>Åbningstider i din lokale SuperBrugsen</strong></p>
<p>Gå på opdagelse i vores store udvalg af lækre vine i din SuperBrugsen. I <a data-udi="umb://document/10791bf437c24c909899044e70ba55f4" href="/{localLink:umb://document/10791bf437c24c909899044e70ba55f4}" title="Tilbudsavis">SuperBrugsens tilbudsavis</a>, kan du uge for uge finde gode tilbud. <span>Tilbudsavisen indeholder inspiration, et </span><span>udvalg af aktuelle varer til en god pris – </span><span>og gode tilbud lige nu.</span> <a href="/find-butik/">Find åbningstider i din lokale SuperBrugsen</a>.</p>]]></text>
  <thumbnail><![CDATA[umb://media/60914273d85a466489b2ef68ad6534e0]]></thumbnail>
  <umbracoUrlName></umbracoUrlName>
  <useImageAsTopImage>0</useImageAsTopImage>
</news>