<?xml version="1.0" encoding="utf-8"?>
<Image guid="6d4d5b6e-4342-45a0-9865-e5e8872c87fb" id="3008" nodeName="foeds (1).jpg" isDoc="" updated="2021-05-12T15.41.24.2770000Z" parentGUID="3f4e8cb3-560d-49a8-9972-7d4c801185e7" nodeTypeAlias="Image" path="-1,1539,1563,2962,3008">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[248206]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2154/foeds-1.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[450]]></umbracoHeight>
  <umbracoWidth><![CDATA[1100]]></umbracoWidth>
</Image>