<?xml version="1.0" encoding="utf-8"?>
<Image guid="edc8ac1a-1e99-454e-b606-af7e39eecb85" id="3546" nodeName="37999 Gocook Slider Mobil 600X400 2[82][2][27]" isDoc="" updated="2022-09-29T15.55.42.4700000Z" parentGUID="59de0410-688f-4606-a02b-79a7839da6a6" nodeTypeAlias="Image" path="-1,3545,3546">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[417662]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2574/37999_gocook_slider_mobil_600x400_2-82-2-27.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[400]]></umbracoHeight>
  <umbracoWidth><![CDATA[600]]></umbracoWidth>
</Image>