<?xml version="1.0" encoding="utf-8"?>
<Image guid="255883c4-a70b-4814-9f89-657256e66461" id="3601" nodeName="38528 2023 02 Anglamark Priskampagne Slider 2000X500" isDoc="" updated="2022-12-23T10.57.56.0070000Z" parentGUID="a325cfd4-eec8-48a8-8433-bdb051f4ae70" nodeTypeAlias="Image" path="-1,1706,3590,3601">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[153115]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2618/38528_2023-02_anglamark_priskampagne-slider_2000x500.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[500]]></umbracoHeight>
  <umbracoWidth><![CDATA[2000]]></umbracoWidth>
</Image>