<?xml version="1.0" encoding="utf-8"?>
<Image guid="36384270-b159-49bf-ac8e-dd6fd419c53e" id="2307" nodeName="calum-lewis-vA1L1jRTM70-unsplash.jpg" isDoc="" updated="2020-05-06T07.12.24.5270000Z" parentGUID="db547646-445d-4006-828f-fc5f3156ca72" nodeTypeAlias="Image" path="-1,1581,2273,2306,2307">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[2636034]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1624/calum-lewis-va1l1jrtm70-unsplash.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[5353]]></umbracoHeight>
  <umbracoWidth><![CDATA[3569]]></umbracoWidth>
</Image>