<?xml version="1.0" encoding="utf-8"?>
<Image guid="5cb49ffb-3a64-4845-909e-2dec63573641" id="1922" nodeName="FBslot_2000x500.jpg" isDoc="" updated="2019-11-04T15.06.08.9100000Z" parentGUID="a33c66cf-e7e0-45c0-b7bb-42426c9a4e86" nodeTypeAlias="Image" path="-1,1530,1534,1920,1922">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[1248734]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1318/fbslot_2000x500.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[500]]></umbracoHeight>
  <umbracoWidth><![CDATA[2000]]></umbracoWidth>
</Image>