<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Background image - Component" Key="03dd9363-76df-4b1e-8856-cf0b2a9b317a" Id="Our.Umbraco.StackedContent" DatabaseType="Ntext" Folder="Baseline/Vote">
  <PreValues>
    <PreValue SortOrder="1" Alias="contentTypes"><![CDATA[[
  {
    "icContentTypeGuid": "c77dc60c-3310-4b67-bf7f-bba6930ae59e",
    "nameTemplate": "Baggrundsbillede"
  }
]]]></PreValue>
    <PreValue SortOrder="2" Alias="enableCopy"><![CDATA[0]]></PreValue>
    <PreValue SortOrder="3" Alias="enablePreview"><![CDATA[0]]></PreValue>
    <PreValue SortOrder="4" Alias="hideLabel"><![CDATA[0]]></PreValue>
    <PreValue SortOrder="5" Alias="maxItems"><![CDATA[0]]></PreValue>
    <PreValue SortOrder="6" Alias="singleItemMode"><![CDATA[0]]></PreValue>
  </PreValues>
</DataType>