<?xml version="1.0" encoding="utf-8"?>
<Image guid="02638f88-8d62-4d28-b0e7-f1499203567d" id="1538" nodeName="cirkelkaffe_600x400.png" isDoc="" updated="2019-10-21T06.38.36.0100000Z" parentGUID="d706235b-1e9d-459a-a2d1-1762e443130c" nodeTypeAlias="Image" path="-1,1530,1531,1537,1538">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[406099]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1157/cirkelkaffe_600x400.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[522]]></umbracoHeight>
  <umbracoWidth><![CDATA[831]]></umbracoWidth>
</Image>