<?xml version="1.0" encoding="utf-8"?>
<Image guid="af39b812-6b80-4be6-aecb-a9bff2526384" id="1718" nodeName="culotte.jpg" isDoc="" updated="2019-10-21T06.38.53.6470000Z" parentGUID="9f335fc0-67a1-449a-b15e-bdf3965db500" nodeTypeAlias="Image" path="-1,1530,1548,1549,1718">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[229028]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1028/culotte.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[600]]></umbracoHeight>
  <umbracoWidth><![CDATA[1920]]></umbracoWidth>
</Image>