<?xml version="1.0" encoding="utf-8"?>
<Image guid="9309dc1e-9088-4ce7-9f5b-d61de9129a1c" id="2668" nodeName="35012_SB_KV_Vinkatalog_slider_mobil_600x400.jpg" isDoc="" updated="2020-11-06T15.03.32.0700000Z" parentGUID="99afc84a-ab21-406a-b6b9-c51c1a636400" nodeTypeAlias="Image" path="-1,1530,1556,2668">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[233938]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1870/35012_sb_kv_vinkatalog_slider_mobil_600x400.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[400]]></umbracoHeight>
  <umbracoWidth><![CDATA[600]]></umbracoWidth>
</Image>