<?xml version="1.0" encoding="utf-8"?>
<Image guid="53405ca8-3910-415f-af7f-0f1085676561" id="3448" nodeName="M Banner Solcreme" isDoc="" updated="2022-06-24T07.31.18.6430000Z" parentGUID="705e1366-c03d-4faf-b1dc-76606e03385d" nodeTypeAlias="Image" path="-1,1706,3209,3448">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[69448]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2491/m_banner_solcreme.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[400]]></umbracoHeight>
  <umbracoWidth><![CDATA[600]]></umbracoWidth>
</Image>