<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Style - Only Background (with Image)" Key="b9fd80f1-5f81-4db4-9af4-8e56e70f3441" Id="Our.Umbraco.StackedContent" DatabaseType="Ntext" Folder="Baseline/Style+pickers">
  <PreValues>
    <PreValue SortOrder="1" Alias="contentTypes"><![CDATA[[
  {
    "icContentTypeGuid": "8fab2ff4-b8cd-4683-bc46-aa073546f72e",
    "nameTemplate": "Baggrund"
  }
]]]></PreValue>
    <PreValue SortOrder="2" Alias="enableCopy"><![CDATA[1]]></PreValue>
    <PreValue SortOrder="3" Alias="enablePreview"><![CDATA[1]]></PreValue>
    <PreValue SortOrder="4" Alias="hideLabel"><![CDATA[0]]></PreValue>
    <PreValue SortOrder="5" Alias="maxItems"><![CDATA[0]]></PreValue>
    <PreValue SortOrder="6" Alias="singleItemMode"><![CDATA[0]]></PreValue>
  </PreValues>
</DataType>