<?xml version="1.0" encoding="utf-8"?>
<Image guid="45e5be0e-fcb1-49fd-9811-824d3fa4a34a" id="3082" nodeName="5591 NOV19" isDoc="" updated="2021-08-19T12.24.32.5000000Z" parentGUID="55543541-614d-46b1-ad94-5c8d92c9f509" nodeTypeAlias="Image" path="-1,1539,1563,1564,3082">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[4883703]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2217/5591_nov19.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[2333]]></umbracoHeight>
  <umbracoWidth><![CDATA[3500]]></umbracoWidth>
</Image>