<?xml version="1.0" encoding="utf-8"?>
<news guid="198cab43-3a86-4c71-95ae-c88230b8bf1a" id="1385" nodeName="Kildegaarden – Dansk Kødkvæg" isDoc="" updated="2020-01-22T12.45.55.7930000Z" parentGUID="eda436c9-09cd-4c5f-a28a-17c868c27276" nodeTypeAlias="news" templateAlias="Baseline_News" sortOrder="3" published="true" isBlueprint="false">
  <bodyEndHtml></bodyEndHtml>
  <bodyScript></bodyScript>
  <contentType></contentType>
  <date>2015-05-07T00:00:00</date>
  <digiSegment></digiSegment>
  <headHtml></headHtml>
  <headline><![CDATA[Kildegaarden – Dansk Kødkvæg]]></headline>
  <headScript></headScript>
  <hideFooter>0</hideFooter>
  <hideFromSitemap>0</hideFromSitemap>
  <hideTop>0</hideTop>
  <metaCanonicalUrl></metaCanonicalUrl>
  <metaDescription><![CDATA[Læs her, hvordan Kildegaarden er med til at levere kød fra danske kødkvæg af fantastisk kvalitet til SuperBrugsens mange supermarkeder. Det kan smages!]]></metaDescription>
  <metaNoFollow>0</metaNoFollow>
  <metaNoIndex>0</metaNoIndex>
  <metaTitle><![CDATA[Dansk kødkvæg – Kødkvæg fra Kildegaarden – Læs om dem her]]></metaTitle>
  <nonResponsive></nonResponsive>
  <ogImage></ogImage>
  <relations></relations>
  <removeTextShadow>0</removeTextShadow>
  <specialFaviconSmall></specialFaviconSmall>
  <specialFaviconStandard></specialFaviconStandard>
  <subHeadline><![CDATA[”Man kan smage på kødet, hvordan dyrene har haft det under opvæksten”.]]></subHeadline>
  <tags><![CDATA[["slagter","Kildegården"]]]></tags>
  <text><![CDATA[<p>Sætningen er af Gitte og Erik Skovsgaard og er i øvrigt grundholdningen i alt, hvad de to ejere af Kildegaarden, har foretaget sig siden 1990, hvor de begyndte at holde kødkvæg. Kærligheden til dyrene og den danske natur er for dem altafgørende for at opnå kød af høj kvalitet. Derfor har de indført en række krav baseret på, at dyrene lever så naturligt som muligt. For eksempel bliver kalve sammen med moderen og dier hos hende. Når kalven holder op med at die, holder moderen op med at producere mælk. Kødkvæg bliver aldrig malket. Alle kræfter sættes ind på det gode kød. </p>
<p><strong>Kødkvæget som naturpleje<br /></strong>Kreaturerne på Kildegaarden afgræsser eng- og naturarealer ned til Mariager Fjord. Det er områder, der ikke egner sig til anden form for jordbrug, men hvor væksten i høj grad er til gavn og glæde for de græssende køer. Disse arealer sprøjtes ikke eller forstyrres på anden måde, når det gælder naturens gang. Kødkvæget vil altid variere i farve og smag, da det er forskelligt, hvad de enkelte dyr har haft adgang til eller foretrukket at spise. De går ude i vind og vejr det meste af året, men bliver i de koldeste måneder sat ind i løsdriftsstalde med god, ren strøelse. Det er unge dyr, der slagtes, max 30 måneder og det gør, at kødet har et ekstra højt proteinindhold og en fantastisk kødstruktur og en god fedtmarmorering. </p>
<p><strong>”Kildegaarden” som forbillede for godt Dansk Kødkvæg<br /></strong>Den fantastiske kødkvalitet, som Kildegaarden har fremavlet, har skabt stor efterspørgsel. Så stor at ”modergården” ikke kunne følge med til sidst. Derfor sælger andre kvægsavlere nu også kød under mærket Dansk Kødkvæg, hvor kvaliteten er lige så god som fra Kildegaardens egne dyr. </p>
<p><strong>Fra de møreste stege til hakkebøffer</strong></p>
<p><img style="width: 300px; height: 177px;" src="/media/1020/okse.png?width=300&amp;height=177" alt="" data-udi="umb://media/8a9961d879d34558b08d4bba85cfa76f" /></p>
<p>Kildegaardens kød føres kun i udvalgte butikker.</p>]]></text>
  <thumbnail><![CDATA[umb://media/ba2e54d3221f4be095020107f1798a86]]></thumbnail>
  <umbracoUrlName></umbracoUrlName>
  <useImageAsTopImage>1</useImageAsTopImage>
</news>