<?xml version="1.0" encoding="utf-8"?>
<Image guid="748d97a5-7882-4de8-a4d4-7304f0ce0199" id="2763" nodeName="photo-1553361371-9b22f78e8b1d.jpg" isDoc="" updated="2020-12-15T15.07.37.1930000Z" parentGUID="8faa5c42-909e-45df-a2d0-d5729925795e" nodeTypeAlias="Image" path="-1,1530,1556,1557,2761,2763">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[207894]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1947/photo-1553361371-9b22f78e8b1d.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[1400]]></umbracoHeight>
  <umbracoWidth><![CDATA[934]]></umbracoWidth>
</Image>