<?xml version="1.0" encoding="utf-8"?>
<Image guid="9e9c8d0a-3864-44d4-be7d-fbd505430c7e" id="2141" nodeName="om superbrugsen.PNG" isDoc="" updated="2020-02-11T11.32.20.7670000Z" parentGUID="4d6c5ac1-9c41-4f29-96aa-d5cdd98c329c" nodeTypeAlias="Image" path="-1,1568,1627,2141">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[3050952]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1491/om-superbrugsen.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[901]]></umbracoHeight>
  <umbracoWidth><![CDATA[1345]]></umbracoWidth>
</Image>