<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>c1034b9e-36f7-434a-87a1-3a93a5ac1822</Key>
    <Name>Seneste nyheder bånd</Name>
    <Alias>ribbonLatestNews</Alias>
    <Icon>icon-rss color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Folder>Baseline/Ribbons</Folder>
    <Compositions>
      <Composition Key="0a480072-8385-43fb-8d87-6dadd929858d">compositionRibbon</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>0f8cac61-fac9-4b9a-a4cc-6ec78a5d93f4</Key>
      <Name>Overskrift</Name>
      <Alias>headline</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Indhold</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>5cfa6c4c-c1d8-4574-bc0a-bd9e858a8c2d</Key>
      <Name>Nyheder</Name>
      <Alias>news</Alias>
      <Definition>9628ff84-8341-4327-81db-e42646a6936e</Definition>
      <Type>Umbraco.MultiNodeTreePicker2</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[De seneste nyheder fra de valgte lister vises på siden]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Indhold</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>68f34eb8-bfb6-4b0d-b66d-78b00c091e5d</Key>
      <Name>Styles</Name>
      <Alias>styles</Alias>
      <Definition>269530ce-12db-4f50-ae23-e43dd1335dbb</Definition>
      <Type>Our.Umbraco.StackedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Styles</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>6ca9cac2-03c0-4ede-970a-ce489fa5bfd1</Key>
      <Name>Underoverskrift</Name>
      <Alias>subheadline</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Indhold</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Indhold</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Styles</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>