<?xml version="1.0" encoding="utf-8"?>
<Image guid="57aeb6d6-8861-4f47-98eb-d1af7e148e49" id="2045" nodeName="MAD_1600x500.jpg" isDoc="" updated="2020-01-14T12.00.44.7370000Z" parentGUID="b6dd9b91-b184-4659-a5a7-3e990a04d066" nodeTypeAlias="Image" path="-1,1530,1551,1552,2045">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[242765]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1410/mad_1600x500.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[500]]></umbracoHeight>
  <umbracoWidth><![CDATA[1600]]></umbracoWidth>
</Image>