<?xml version="1.0" encoding="utf-8"?>
<Image guid="c88c721c-f731-45b3-8e32-aea37f3dcb5b" id="3364" nodeName="Pigemørkthår" isDoc="" updated="2022-04-13T12.46.30.5300000Z" parentGUID="76c3b5c3-1e91-4b95-80be-e3218b8b3a1e" nodeTypeAlias="Image" path="-1,3327,3364">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[303763]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2447/pigemoerkthaar.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[450]]></umbracoHeight>
  <umbracoWidth><![CDATA[450]]></umbracoWidth>
</Image>