<?xml version="1.0" encoding="utf-8"?>
<Image guid="37b54df9-3410-4d27-94f3-449e2db2eadb" id="1606" nodeName="top_10_hurtige.jpg" isDoc="" updated="2019-10-21T06.38.42.0600000Z" parentGUID="d45f3e78-2252-4150-9b16-5097834c08b0" nodeTypeAlias="Image" path="-1,1530,1546,1605,1606">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[520537]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1002/top_10_hurtige.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[600]]></umbracoHeight>
  <umbracoWidth><![CDATA[1920]]></umbracoWidth>
</Image>