<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Article creater" Key="566472be-adcf-435b-b038-7d38c02ad856" Id="Our.Umbraco.StackedContent" DatabaseType="Ntext">
  <PreValues>
    <PreValue SortOrder="1" Alias="contentTypes"><![CDATA[[
  {
    "icContentTypeGuid": "e409b773-b62c-44af-a7af-dc752019e5e4",
    "nameTemplate": "Artikel"
  }
]]]></PreValue>
    <PreValue SortOrder="2" Alias="enableCopy"><![CDATA[1]]></PreValue>
    <PreValue SortOrder="3" Alias="enablePreview"><![CDATA[1]]></PreValue>
    <PreValue SortOrder="4" Alias="hideLabel"><![CDATA[0]]></PreValue>
    <PreValue SortOrder="5" Alias="maxItems"><![CDATA[0]]></PreValue>
    <PreValue SortOrder="6" Alias="singleItemMode"><![CDATA[0]]></PreValue>
  </PreValues>
</DataType>