<?xml version="1.0" encoding="utf-8"?>
<Image guid="b0e405ce-f0f9-49c7-9f74-412012b8018d" id="3038" nodeName="35900_KundeSurvey_modulgrafik_624x624px.jpg" isDoc="" updated="2022-04-11T12.39.03.4770000Z" parentGUID="77533937-cc29-4466-ae91-767270ddbec7" nodeTypeAlias="Image" path="-1,1706,3297,3038">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[498895]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2183/35900_kundesurvey_modulgrafik_624x624px.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[1200]]></umbracoHeight>
  <umbracoWidth><![CDATA[1200]]></umbracoWidth>
</Image>