<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Style - Catalog - Landing page" Key="a35b4099-57a6-4ebc-91fa-5a8844e75e9d" Id="Our.Umbraco.StackedContent" DatabaseType="Ntext" Folder="Baseline/Style+pickers">
  <PreValues>
    <PreValue SortOrder="1" Alias="contentTypes"><![CDATA[[
  {
    "icContentTypeGuid": "8fab2ff4-b8cd-4683-bc46-aa073546f72e",
    "nameTemplate": "Baggrund"
  },
  {
    "icContentTypeGuid": "16f7f91b-d909-4afa-b52a-f5410ebd211b",
    "nameTemplate": "Tekst"
  },
  {
    "icContentTypeGuid": "a6360cbf-245d-45ae-9143-dc1d1d97eed4",
    "nameTemplate": "Knapper"
  },
  {
    "icContentTypeGuid": "86c8e446-89cd-4175-9ecd-0329a60ad923",
    "nameTemplate": "Link"
  }
]]]></PreValue>
    <PreValue SortOrder="2" Alias="maxItems"><![CDATA[0]]></PreValue>
    <PreValue SortOrder="3" Alias="singleItemMode"><![CDATA[0]]></PreValue>
    <PreValue SortOrder="4" Alias="hideLabel"><![CDATA[0]]></PreValue>
    <PreValue SortOrder="5" Alias="enablePreview"><![CDATA[1]]></PreValue>
    <PreValue SortOrder="6" Alias="enableCopy"><![CDATA[1]]></PreValue>
  </PreValues>
</DataType>