<?xml version="1.0" encoding="utf-8"?>
<Image guid="c78d4128-1e69-4195-abe5-030d0e41a7bd" id="2394" nodeName="34405_Slider_Mobil_600x400_uge27.jpg" isDoc="" updated="2020-06-25T13.35.03.0070000Z" parentGUID="95d35621-bde4-475c-8624-e380fca87f5f" nodeTypeAlias="Image" path="-1,1706,2389,2394">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[106242]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1693/34405_slider_mobil_600x400_uge27.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[400]]></umbracoHeight>
  <umbracoWidth><![CDATA[600]]></umbracoWidth>
</Image>