<?xml version="1.0" encoding="utf-8"?>
<Image guid="4e179861-933d-407f-aab3-3ab93f8f9cf0" id="3636" nodeName="38633 2023 08 Anglamark Priskampagne Slider 2000X500" isDoc="" updated="2023-02-02T13.58.48.6030000Z" parentGUID="a325cfd4-eec8-48a8-8433-bdb051f4ae70" nodeTypeAlias="Image" path="-1,1706,3590,3636">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[93037]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2650/38633_2023-08_anglamark_priskampagne-slider_2000x500.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[500]]></umbracoHeight>
  <umbracoWidth><![CDATA[2000]]></umbracoWidth>
</Image>