<?xml version="1.0" encoding="utf-8"?>
<news guid="9e2d9370-f89b-4ec9-91df-c7d1807637d6" id="2702" nodeName="Julevin" isDoc="" updated="2022-05-17T09.54.19.5270000Z" parentGUID="c5256333-c19e-4cb7-bb55-30517f2f80a5" nodeTypeAlias="news" templateAlias="Baseline_News" sortOrder="19" published="true" isBlueprint="false">
  <bodyEndHtml></bodyEndHtml>
  <bodyScript></bodyScript>
  <contentType></contentType>
  <date>2020-11-23T00:00:00</date>
  <digiSegment></digiSegment>
  <headHtml></headHtml>
  <headline><![CDATA[Julevin]]></headline>
  <headScript></headScript>
  <hideFooter>0</hideFooter>
  <hideFromSitemap>0</hideFromSitemap>
  <hideTop>0</hideTop>
  <metaCanonicalUrl></metaCanonicalUrl>
  <metaDescription><![CDATA[Står du for årets julevin? Vi har lavet en lille guide til, hvordan du vælger den bedste vin, som passer perfekt til et imponerende julemåltid. Se her »]]></metaDescription>
  <metaNoFollow>0</metaNoFollow>
  <metaNoIndex>0</metaNoIndex>
  <metaTitle><![CDATA[Julevin - Læs alt om hvordan du vælger den rette vin til jul]]></metaTitle>
  <nonResponsive>0</nonResponsive>
  <ogImage></ogImage>
  <relations></relations>
  <removeTextShadow>0</removeTextShadow>
  <specialFaviconSmall></specialFaviconSmall>
  <specialFaviconStandard></specialFaviconStandard>
  <subHeadline><![CDATA[Står du for årets julevin, så læs med her. Vi har nemlig lavet en lille guide til, hvordan du vælger den bedste julevin.]]></subHeadline>
  <tags><![CDATA[["Vin"]]]></tags>
  <text><![CDATA[<p>Når hele juledag bruges på at kokkerere en fin julemiddag, skal vinen dertil selvfølgelig også sidde lige i skabet. Og et julebord uden julevin, er det samme som risengrød uden en smørklat – helt forkert! Men hvordan vælger du den rette julevin?</p>
<h2>Vin til juleaften</h2>
<p>Juleaften er hjerternes fest og hvad går mere lige i hjertet, end en god flaske vin? Mange tror fejlagtigt, at <a data-udi="umb://document/d34d3418ceef4802a3101c47b3c38ffa" href="/{localLink:umb://document/d34d3418ceef4802a3101c47b3c38ffa}" title="Amarone - Lær alt om vintypen med det velrespekterede navn">Amarone</a> er den eneste vin, der kan gå til julemad. Faktum er, at en god julevin kan være fremstillet af forskellige druesorter og komme fra forskellige vindistrikter.</p>
<p>Når du skal vælge en vin til maden, bør du dog tage højde for julemadens mest markante elementer; fedme, sødme, vægt, salt og syrlighed. Den bedste smagsoplevelse opnås, når disse smage er i balance, og der er en ligevægt imellem madens smagsintensitet, tekstur (om den er fed eller sprød) samt madens vægt (om det er tung eller let mad).</p>
<p><img style="width: 620px; height: 170px;" src="/media/1898/juleaften-vin.jpg?width=620&amp;height=170&amp;mode=max" alt="" data-udi="umb://media/6a87317c29904273b6ce12d64827fa43" /></p>
<h2>Hvordan vælger man den bedste julevin?</h2>
<p>Rødvin er ikke bare rødvin. Når du skal vælge den perfekte vin til juleaften, er der et par ting at tage højde for. Hvis vinens elementer ikke komplimenterer madens, kan vinen ’gå i stykker’ og smage enten for bitter eller sød.</p>
<p>Dansk julemad – uanset om man er til <a data-udi="umb://document/74944057075e4aa9a70d73fa2ab1270e" href="/{localLink:umb://document/74944057075e4aa9a70d73fa2ab1270e}" title="And på grill">and</a>, <a data-udi="umb://document/3a3b4600b66c449d9232b89276df5ce6" href="/{localLink:umb://document/3a3b4600b66c449d9232b89276df5ce6}" title="Flæskesteg på grill">flæskesteg</a> eller gås – er fed, tung, meget smagfuld og en smule sød. Når du skal vælge årets julevin, bør du tage hensyn til dette. Vinen har til formål at fuldende og forhøje smagsoplevelsen, og derfor er det vigtigt, at vinen matcher julemadens mest karakteristiske elementer:</p>
<ul>
<li><strong>Fedmen</strong> fra sovs og flæskesvær</li>
<li><strong>Sødmen</strong> fra brunkartofler</li>
<li><strong>Syren</strong> fra rødkål</li>
<li>Og julemadens <strong>tunge</strong>, rige smag</li>
</ul>
<h3>Julevin skal passe til madens fedme, sødme og vægt</h3>
<p>Til flæskestegen bør du gå efter saftige og kraftige vine, da de afbalancerer fedmen. Her kan du med fordel gå efter kraftige, komplekse og søde vine som en Châteauneuf-du-Pape fra det franske vindistrikt Rhône. Det er desuden også en god julevin til and.</p>
<p>Sødmen i maden kræver sødme i vinen – og derfor bør du gå efter en rødvin. Et godt valg vil være en kraftig Amarone julevin. Den er fyldt med saft og sødme, og med sin relativt høje alkoholprocent kan den også hamle op med fedmen i julemaden.</p>
<p>Er du til virkelig søde vine, bør du kigge efter den californiske Zinfandel julevin. Den er også rig på sødme og saft, og er en anelse mere sød end Amaronen.</p>
<h3>Sådan udvælger du den bedste vin til juleaften</h3>
<p>Før du tager den første og bedste julevin ned fra hylden, bør du finde ud af om vinen:</p>
<ul>
<li>er fyldig, frugtig og koncentreret. Det vil komplementere den tunge og smagfulde julemad</li>
<li>har frugtsødme. Dette afbalancerer julemadens sødme fra rødkål og brunkartoflerne</li>
<li>har god frugtsyre og tanniner. Det renser munden for fedtet fra julemad som sovs, and og gås.</li>
</ul>
<p><img style="width: 619px; height: 169px;" src="/media/1900/vin-til-jul.jpg?width=619&amp;height=169&amp;mode=max" alt="" data-udi="umb://media/25aff19831a043c0865d3a1e9da99aeb" /></p>
<h2>Klassiske julevine</h2>
<p>Det kan være svært at matche både sødme, syrlighed, salt, fedt og den kraftfulde smag med det klassiske danske julebord. De mange elementer stiller store krav, hvis vinen skal spille perfekt sammen med alle elementerne på julebordet. Vi har dog gjort det lidt lettere for dig ved at finde et par klassiske vine til julemaden:</p>
<ul>
<li><a data-udi="umb://document/d34d3418ceef4802a3101c47b3c38ffa" href="/{localLink:umb://document/d34d3418ceef4802a3101c47b3c38ffa}" title="Amarone - Lær alt om vintypen med det velrespekterede navn">Amarone</a>: Den er sød og har en kraftfuld smag, der gør den til det sikre valg til julemaden.</li>
<li>Châteauneuf-Du-Pape: Den er saftig og kraftig, har en let sødme og en skøn kompleksitet.</li>
<li><a data-udi="umb://document/cdc7f1d56645445b9b8e65aa318be3fc" href="/{localLink:umb://document/cdc7f1d56645445b9b8e65aa318be3fc}" title="Barolo">Barolo</a>: Den er meget kraftfuld med et højt indhold af tannin, der gør den særligt egnet til den fede mad.</li>
<li>Vine fra Sydfrankrig – disse vinhuse producerer vine med saft, en rig sødme og en særlig kraftfuld smag</li>
</ul>
<p>Ovenstående vine har en kombinationen af tannin, frugtsyre og en fyldig frugtsmag, der passer godt til julemad. Med en af disse vine, har du fundet en fantastisk ledsager til julemiddagen.</p>
<h2>Årets bedste julevin</h2>
<p>Årets bedste julevin er en frugtig <a data-udi="umb://document/17f66248b1ef468bb01d7df1a7e8e5cd" href="/{localLink:umb://document/17f66248b1ef468bb01d7df1a7e8e5cd}" title="Rødvin – Hvordan skal en rødvin smage?">rødvin</a>, der har en frisk syre, er rig på modne tanniner og alkohol, der giver bitterhed, indeholder en dejlig frugtsødme og har en dejlig fyldighed. Og vigtigst af alt, at den smager helt igennem fantastisk!</p>
<h2>Find julevin i din nærmeste SuperBrugsen</h2>
<p>Leder du efter en god <a data-udi="umb://document/4354c5f03ca848d8b364cd4960bfe705" href="/{localLink:umb://document/4354c5f03ca848d8b364cd4960bfe705}" title="Vin">vin</a> til årets julebord? Så kom ned i din nærmeste SuperBrugsen og find et stort udvalg af årets bedste julevine.</p>
<p>Husk, julevin behøver ikke kun at være til juleaften! Hos SuperBrugsen fører vi flere fantastiske vine, der kan drikkes i hele julemåneden. <a href="https://superbrugsen.coop.dk/find-butik/">Find din butik her</a>.</p>]]></text>
  <thumbnail><![CDATA[umb://media/f1a4dfc505cb438ea3d080fe5480e314]]></thumbnail>
  <umbracoUrlName></umbracoUrlName>
  <useImageAsTopImage>1</useImageAsTopImage>
</news>