<?xml version="1.0" encoding="utf-8"?>
<Image guid="4d4f987e-dd69-42b8-b98a-0bf547200272" id="3273" nodeName="Slagter 04" isDoc="" updated="2022-03-01T11.39.30.9070000Z" parentGUID="c1a100a8-5bf0-4d16-b9c2-670cac727a9f" nodeTypeAlias="Image" path="-1,3218,3273">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[23386]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2372/slagter_04.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[851]]></umbracoHeight>
  <umbracoWidth><![CDATA[542]]></umbracoWidth>
</Image>