<?xml version="1.0" encoding="utf-8"?>
<Image guid="6d6aea0a-da00-418c-a095-3af34ed10327" id="3292" nodeName="Ølvinvand 02" isDoc="" updated="2022-03-01T11.40.41.7770000Z" parentGUID="c1a100a8-5bf0-4d16-b9c2-670cac727a9f" nodeTypeAlias="Image" path="-1,3218,3292">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[17060]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2391/oelvinvand_02.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[851]]></umbracoHeight>
  <umbracoWidth><![CDATA[447]]></umbracoWidth>
</Image>