<?xml version="1.0" encoding="utf-8"?>
<Image guid="9014587a-b8e9-47c8-96b5-4a792172946d" id="1857" nodeName="Konkurrence_megamenu.jpg" isDoc="" updated="2019-10-21T17.07.00.4830000Z" parentGUID="2cef8618-eded-4726-aaed-ac9697ba026c" nodeTypeAlias="Image" path="-1,1846,1857">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[183163]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1261/konkurrence_megamenu.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[400]]></umbracoHeight>
  <umbracoWidth><![CDATA[600]]></umbracoWidth>
</Image>