<?xml version="1.0" encoding="utf-8"?>
<Image guid="7806a21b-618d-4836-a7a9-004bc1c08dda" id="3361" nodeName="Julieb" isDoc="" updated="2022-04-13T12.42.36.3500000Z" parentGUID="76c3b5c3-1e91-4b95-80be-e3218b8b3a1e" nodeTypeAlias="Image" path="-1,3327,3361">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[321448]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2444/julieb.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[450]]></umbracoHeight>
  <umbracoWidth><![CDATA[450]]></umbracoWidth>
</Image>