<?xml version="1.0" encoding="utf-8"?>
<Image guid="0e01ddbf-4b2e-4526-ad79-2c610e8708c5" id="3490" nodeName="Gopris 2000X500 Groen" isDoc="" updated="2022-08-01T09.32.48.6270000Z" parentGUID="44f09677-9073-4902-9dc0-f2b3b9badf2e" nodeTypeAlias="Image" path="-1,3469,3490">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[6250]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2531/gopris-2000x500-groen.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[501]]></umbracoHeight>
  <umbracoWidth><![CDATA[2001]]></umbracoWidth>
</Image>