<?xml version="1.0" encoding="utf-8"?>
<news guid="eeae672c-7db7-4151-97f2-0621fd69d6c6" id="1520" nodeName="Flere friske krydderier på tilværelsen" isDoc="" updated="2020-01-22T12.05.32.7800000Z" parentGUID="cdadf35d-a61d-4c92-856e-bc53504f6a70" nodeTypeAlias="news" templateAlias="Baseline_News" sortOrder="2" published="true" isBlueprint="false">
  <bodyEndHtml></bodyEndHtml>
  <bodyScript></bodyScript>
  <contentType></contentType>
  <date>2015-07-08T00:00:00</date>
  <digiSegment></digiSegment>
  <headHtml></headHtml>
  <headline><![CDATA[Flere friske krydderier på tilværelsen]]></headline>
  <headScript></headScript>
  <hideFooter>0</hideFooter>
  <hideFromSitemap>0</hideFromSitemap>
  <hideTop>0</hideTop>
  <metaCanonicalUrl></metaCanonicalUrl>
  <metaDescription><![CDATA[Læs om de mange forskellige skønne krydderurter, og hvordan du bruger dem bedst. Få inspiration til brug af friske krydderurter her.]]></metaDescription>
  <metaNoFollow>0</metaNoFollow>
  <metaNoIndex>0</metaNoIndex>
  <metaTitle><![CDATA[Krydderurter – Friske krydderurter i madlavning – Klik her]]></metaTitle>
  <nonResponsive></nonResponsive>
  <ogImage></ogImage>
  <relations></relations>
  <removeTextShadow>0</removeTextShadow>
  <specialFaviconSmall></specialFaviconSmall>
  <specialFaviconStandard></specialFaviconStandard>
  <subHeadline></subHeadline>
  <tags><![CDATA[["Krydderurter","sommer","Frugt og grønt"]]]></tags>
  <text><![CDATA[<p><strong>Sommeren indbyder til at bruge endnu flere friske krydderurter i maden. De fine, delikate smage klæder sommerens retter som grillet fisk, salater, desserter m.m. fantastisk.</strong></p>
<p>Og i SuperBrugsen bugner vores Frugt &amp; Grønt afdelingen af dem, så du skal ikke holde dig tilbage.</p>
<p>Friske krydderurter skal spises hele året. Om vinteren kan et drys persille på en kartoffel give et lille pust af sommer i en kold tid. Og om sommeren er der ingen undskyldning. Her står krydderurterne flottere end nogensinde, helt pakket med god smag til din mad. Her har vi samlet lidt inspiration til, hvad du kan bruge de lækre urter til. God appetit! </p>
<p><strong>Rosmarin<br /></strong>Rosmarin findes både i en fin og en grov variant. Fin rosmarin er god i dressinger og som topping. Altså situationer, hvor du skal kunne tygge på den. Grov rosmarin er fuld af smag, men ikke så sjov at tygge på. Den er god til at stege og marinere med. Men prøv fx også at bruge rosmaringrenene som grillspyd. De er lidt bløde at håndtere, men de giver masser af smag til kød og grøntsager. Og så ser det rigtig godt ud. </p>
<p><strong>Purløg<br /></strong>Purløg kender vi alle sammen. Uundværlig på frokostbordet som det ekstra lille drys, der løfter en kartoffelmad eller en tomatmad til helt nye sommerhøjder. Og hvad ville en rygeost sige, hvis den ikke fik en god gang purløg? Men purløg kan faktisk meget mere. Prøv den i dressinger, på grillede grøntsager eller i en indkogt fond, der skal ha’ et lille sommerdrys. </p>
<p><strong>Koriander<br /></strong>Koriander kender vi fra det asiatiske køkken. Den anderledes (mærkelige, vil nogen sige) smag, der klæder en karryret som intet andet. Men den kan meget mere. Brug koriander i fx salat med friske asparges, tomater, saltede cashewnødder og spinat. Eller i både kolde og varme supper. Prøv også at lave en olie af olivenolie, koriander, salt og peber der stødes eller blendes med et halvt fed hvidløg, og hæld den så ud over grillede rejer, kammuslinger eller fisk. </p>
<p><strong>Basilikum<br /></strong>Efterhånden en klassiker. Og det er vel umuligt at forestille sig en tomatsalat uden. Brug den som et salatblad i en grønsalat. Det giver en overraskende effekt i salaten. Det er også oplagt at lave hjemmelavet pesto med pinjekerner og parmesan. Nye kartofler elsker pesto. Og det gør grillspyd og fisk også. Husk i øvrigt at basilikum skal skæres og ikke hakkes, hvis du skal bruge den som drys. </p>
<p><strong>Salvie<br /></strong>Salvie er god til kraftige retter og velegnet til efterår og vinter. Den smager af meget, så den skal bruges forsigtigt, hvis der er andet, der også skal have plads. Men den kan også om sommeren. Saltimbocca alla Romana er en italiensk klassiker, hvor kalveschnitzler pakkes ind i salvieblade og parmaskinke. Det er fremragende. Der er også den meget simple ravioli med smør og salvie, hvor du bruner smør og sprødsteger salviebladene deri. Vend kogt ravioli i og så et drys parmesan. Det smager vidunderligt med et glas hvidvin på terrassen. Man kan også bruge salvie i marinader eller bare drysset over nye kartofler. </p>
<p><strong>Persille<br /></strong>En dansk klassiker. Uundværlig i nationalretten, men der er virkelig tale om en allround krydderurt her. Og det gælder både bredbladet og kruspersille. Brug dem i salater, dressinger og olier. Kom persille ind i fisken eller kyllingen og grill dem. Mos hakket persille sammen med smør, rul det sammen til en pølse og læg den i fryseren. Så har du altid en skive kryddersmør til en grillet bøf. Brug den i stedet for basilikum i pesto og giv de nye kartofler et anderledes selskab. Det kan næsten ikke gå galt med persille. </p>
<p><strong>Timian<br /></strong>Timian fås ligesom rosmarin i en grov og en fin udgave. Og her gælder samme princip. Skal bladene hele ind i munden, så brug den fine og pluk den. Men blomsterne fra den grove kan sagtens spises og det ser smukt ud på tallerkenen. Ellers brug timian i marinader eller pak gedeost og timian ind i sølvpapir og grill den. Lige en smule akaciehonning på og så over i salaten. Timian passer desuden fremragende til det meste grillede kød. </p>]]></text>
  <thumbnail><![CDATA[umb://media/65355867ec5f4ab4b683fa9443ef91b2]]></thumbnail>
  <umbracoUrlName></umbracoUrlName>
  <useImageAsTopImage>1</useImageAsTopImage>
</news>