<?xml version="1.0" encoding="utf-8"?>
<Image guid="db410e79-8655-4de3-ab74-cc46ff4290f5" id="2659" nodeName="1351_coop_corona_bundbjaelke_slider_600x400_jul.jpg" isDoc="" updated="2020-11-02T13.26.43.7730000Z" parentGUID="68525a27-d1ac-43f8-97e6-20b4c6b4f116" nodeTypeAlias="Image" path="-1,2317,2331,2659">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[83586]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1864/1351_coop_corona_bundbjaelke_slider_600x400_jul.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[400]]></umbracoHeight>
  <umbracoWidth><![CDATA[600]]></umbracoWidth>
</Image>