<?xml version="1.0" encoding="utf-8"?>
<Image guid="3a4aa36c-4edc-4b46-a78e-0382f7470e4a" id="1608" nodeName="brunkager_original.jpeg" isDoc="" updated="2019-10-21T06.38.42.2630000Z" parentGUID="bd65e19e-7506-4b2f-9d6d-acf96309ba7a" nodeTypeAlias="Image" path="-1,1539,1575,1576,1608">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[347488]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpeg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1110/brunkager_original.jpeg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[1920]]></umbracoHeight>
  <umbracoWidth><![CDATA[1920]]></umbracoWidth>
</Image>