<?xml version="1.0" encoding="utf-8"?>
<news guid="deaa524f-bb88-44e0-a34f-13b1d36d8902" id="1514" nodeName="Brug hele appelsinen" isDoc="" updated="2020-01-22T12.15.23.6000000Z" parentGUID="2c2adacc-e3f0-4cd9-a6a5-842d1113ebf9" nodeTypeAlias="news" templateAlias="Baseline_News" sortOrder="3" published="true" isBlueprint="false">
  <bodyEndHtml></bodyEndHtml>
  <bodyScript></bodyScript>
  <contentType></contentType>
  <date>2015-05-03T00:00:00</date>
  <digiSegment></digiSegment>
  <headHtml></headHtml>
  <headline><![CDATA[Brug hele appelsinen]]></headline>
  <headScript></headScript>
  <hideFooter>0</hideFooter>
  <hideFromSitemap>0</hideFromSitemap>
  <hideTop>0</hideTop>
  <metaCanonicalUrl></metaCanonicalUrl>
  <metaDescription><![CDATA[Se, hvordan du bruger hele appelsinen i madlavningen. Det er ikke kun saften og frugtkødet, der kan bruges, men også skrællen. Se video her!]]></metaDescription>
  <metaNoFollow>0</metaNoFollow>
  <metaNoIndex>0</metaNoIndex>
  <metaTitle><![CDATA[Appelsin – Tips til opskrifter med appelsiner – Læs mere her]]></metaTitle>
  <nonResponsive></nonResponsive>
  <ogImage></ogImage>
  <relations></relations>
  <removeTextShadow>0</removeTextShadow>
  <specialFaviconSmall></specialFaviconSmall>
  <specialFaviconStandard></specialFaviconStandard>
  <subHeadline><![CDATA[Appelsinen]]></subHeadline>
  <tags><![CDATA[["Frugt og grønt","appelsin"]]]></tags>
  <text><![CDATA[<p>Når du bruger økologiske appelsiner eller andre citrusfrugter, kan du hele frugten og ikke bare saften og frugtkødet. Selv skrællen kan benyttes til masser af lækkerier. Se i filmen, hvordan en appelsin bliver til både filletter og kompot.</p>
<p><iframe src="https://www.youtube.com/embed/mJBn4b2vGz8?feature=oembed" allowfullscreen="" width="596" height="335" frameborder="0"></iframe></p>]]></text>
  <thumbnail><![CDATA[umb://media/2e8fc9f35ee14fbe974cc28e969eeea7]]></thumbnail>
  <umbracoUrlName></umbracoUrlName>
  <useImageAsTopImage>1</useImageAsTopImage>
</news>