<?xml version="1.0" encoding="utf-8"?>
<Image guid="142df9f1-d733-414c-ac22-2c1c22df2d65" id="3474" nodeName="Unknown 5" isDoc="" updated="2022-07-28T07.57.28.8100000Z" parentGUID="44f09677-9073-4902-9dc0-f2b3b9badf2e" nodeTypeAlias="Image" path="-1,3469,3474">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[269154]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2515/unknown-5.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[1080]]></umbracoHeight>
  <umbracoWidth><![CDATA[1920]]></umbracoWidth>
</Image>