<?xml version="1.0" encoding="utf-8"?>
<Image guid="15599999-8460-428b-9c59-8948caa183cd" id="2824" nodeName="Fastelavnsboller_2.jpg" isDoc="" updated="2021-02-05T10.59.13.5000000Z" parentGUID="1d28f06d-63d4-4e9c-af05-8ecabc6f6344" nodeTypeAlias="Image" path="-1,1539,1563,2823,2824">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[462615]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2003/fastelavnsboller_2.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[500]]></umbracoHeight>
  <umbracoWidth><![CDATA[950]]></umbracoWidth>
</Image>