<?xml version="1.0" encoding="utf-8"?>
<Image guid="a97cd0e2-658a-4a84-8bbf-da1430a867bd" id="1712" nodeName="juleand-med-sauce-og-roedkaal-41501.jpg" isDoc="" updated="2019-10-21T06.38.53.0470000Z" parentGUID="bd65e19e-7506-4b2f-9d6d-acf96309ba7a" nodeTypeAlias="Image" path="-1,1539,1575,1576,1712">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[50745]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1097/juleand-med-sauce-og-roedkaal-41501.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[350]]></umbracoHeight>
  <umbracoWidth><![CDATA[350]]></umbracoWidth>
</Image>