<?xml version="1.0" encoding="utf-8"?>
<Image guid="eaafdd1e-1952-4394-bd7a-94981c54ec51" id="2899" nodeName="Udklip.JPG" isDoc="" updated="2021-03-18T13.50.47.5570000Z" parentGUID="d3f0dc7d-6fd4-4bc7-b283-a4c63549aef8" nodeTypeAlias="Image" path="-1,1539,1575,2890,2899">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[71138]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2068/udklip.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[798]]></umbracoHeight>
  <umbracoWidth><![CDATA[912]]></umbracoWidth>
</Image>