<?xml version="1.0" encoding="utf-8"?>
<Image guid="3e13fef1-9920-476d-a042-307d8e942696" id="2404" nodeName="Pizza på grill - SuperBrugsen 2.png" isDoc="" updated="2020-06-26T09.14.24.0400000Z" parentGUID="093ee0b0-316c-4b03-9d9c-734fa8078d89" nodeTypeAlias="Image" path="-1,1530,1546,1547,2404">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[121259]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{
  "src": "/media/1702/pizzal-paa-grill-superbrugsen-2.png",
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  }
}]]></umbracoFile>
  <umbracoHeight><![CDATA[367]]></umbracoHeight>
  <umbracoWidth><![CDATA[550]]></umbracoWidth>
</Image>