<?xml version="1.0" encoding="utf-8"?>
<Folder guid="bd65e19e-7506-4b2f-9d6d-acf96309ba7a" id="1576" nodeName="Julefrokost" isDoc="" updated="2019-10-21T06.38.39.1230000Z" parentGUID="fde5a87e-3c9e-4cb5-b647-f15a4f18de15" nodeTypeAlias="Folder" path="-1,1539,1575,1576">
  <contents></contents>
</Folder>