<?xml version="1.0" encoding="utf-8"?>
<Image guid="b78ccfe2-b004-4546-b6d6-8b9d0b640b96" id="3603" nodeName="38476 2023 01 Anglamark Priskampagne Slider 2000X500[61]" isDoc="" updated="2022-12-23T11.03.54.4700000Z" parentGUID="a325cfd4-eec8-48a8-8433-bdb051f4ae70" nodeTypeAlias="Image" path="-1,1706,3590,3603">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[181611]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2620/38476_2023-01_anglamark_priskampagne-slider_2000x500-61.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[500]]></umbracoHeight>
  <umbracoWidth><![CDATA[2000]]></umbracoWidth>
</Image>