<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>a03eb79c-917b-4145-826f-45c4226df19d</Key>
    <Name>Quiz spil</Name>
    <Alias>componentGameQuiz</Alias>
    <Icon>icon-theater color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Folder>Baseline/Game</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>f2d1e4b3-b9be-40c1-9c22-b7b2f8922566</Key>
      <Name>Spørgsmål</Name>
      <Alias>questions</Alias>
      <Definition>db240492-8b53-4943-bfbb-273eabfb5852</Definition>
      <Type>Our.Umbraco.StackedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Indhold</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Indhold</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>