<?xml version="1.0" encoding="utf-8"?>
<Image guid="b845cad5-402a-4f78-a638-cbe8f338b92c" id="2757" nodeName="photo-1573489730454-dad17cd1a55e.jpg" isDoc="" updated="2020-12-15T14.58.51.4500000Z" parentGUID="156931d1-a4d4-4581-b7c3-92e8a0a627fe" nodeTypeAlias="Image" path="-1,1530,1556,1557,2756,2757">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[97285]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1943/photo-1573489730454-dad17cd1a55e.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[1100]]></umbracoHeight>
  <umbracoWidth><![CDATA[1100]]></umbracoWidth>
</Image>