<?xml version="1.0" encoding="utf-8"?>
<Image guid="4c89c210-baed-406e-948f-a134ff9d257d" id="3597" nodeName="Gopris Webimg 600X400px 1" isDoc="" updated="2022-12-22T13.27.30.5630000Z" parentGUID="9b740928-1dc4-4a27-991f-0da1bc1c1389" nodeTypeAlias="Image" path="-1,3469,3593,3597">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[26803]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2614/gopris-webimg-600x400px-1.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[400]]></umbracoHeight>
  <umbracoWidth><![CDATA[600]]></umbracoWidth>
</Image>