<?xml version="1.0" encoding="utf-8"?>
<Image guid="1853fa5a-72b0-4c47-8e06-309d65dbd8bc" id="1572" nodeName="32799-produktbillede-af-aem-jord-2019-gruppebillede-5.jpg" isDoc="" updated="2019-10-21T06.38.38.8130000Z" parentGUID="2957c4ea-7600-4c2e-a3e2-dbe0843da4a2" nodeTypeAlias="Image" path="-1,1530,1531,1571,1572">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[4339036]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1125/32799-produktbillede-af-aem-jord-2019-gruppebillede-5.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[3500]]></umbracoHeight>
  <umbracoWidth><![CDATA[7500]]></umbracoWidth>
</Image>