<?xml version="1.0" encoding="utf-8"?>
<Image guid="d9fec2df-a6d6-415f-975e-d55dfe9aff51" id="1847" nodeName="kunder-i-coop-butik.jpg" isDoc="" updated="2019-10-21T17.04.21.5670000Z" parentGUID="2cef8618-eded-4726-aaed-ac9697ba026c" nodeTypeAlias="Image" path="-1,1846,1847">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[411900]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1251/kunder-i-coop-butik.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[1321]]></umbracoHeight>
  <umbracoWidth><![CDATA[1981]]></umbracoWidth>
</Image>