<?xml version="1.0" encoding="utf-8"?>
<Image guid="045cbafe-bc20-4926-96bf-10854df677e8" id="2871" nodeName="Web modul kaffesmagning.jpg" isDoc="" updated="2021-03-08T09.41.36.5830000Z" parentGUID="ba021a92-a262-424f-9340-eb5475f10b6b" nodeTypeAlias="Image" path="-1,2317,2871">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[6192931]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2048/web-modul-kaffesmagning.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[5000]]></umbracoHeight>
  <umbracoWidth><![CDATA[5000]]></umbracoWidth>
</Image>