<?xml version="1.0" encoding="utf-8"?>
<Image guid="08cbda3f-618e-476e-8e14-33249a616580" id="1545" nodeName="rugmel.png" isDoc="" updated="2019-10-21T06.38.36.5900000Z" parentGUID="db765d52-2555-4e74-9b56-38f2a6e86c48" nodeTypeAlias="Image" path="-1,1530,1531,1544,1545">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[283713]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1147/rugmel.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[490]]></umbracoHeight>
  <umbracoWidth><![CDATA[490]]></umbracoWidth>
</Image>