<?xml version="1.0" encoding="utf-8"?>
<Image guid="f49943cb-95de-4582-9e37-2b1ea9ecf135" id="1785" nodeName="skaermbillede-2019-03-18-kl-103715.png" isDoc="" updated="2019-10-21T06.39.00.2700000Z" parentGUID="ca029e0b-1315-4bcb-a50e-87724e207a27" nodeTypeAlias="Image" path="-1,1530,1531,1742,1785">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[918276]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1135/skaermbillede-2019-03-18-kl-103715.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[621]]></umbracoHeight>
  <umbracoWidth><![CDATA[896]]></umbracoWidth>
</Image>