<?xml version="1.0" encoding="utf-8"?>
<Image guid="c371a960-c955-4fbe-806e-9d371b3c8456" id="3259" nodeName="Ko Maelk Ann2" isDoc="" updated="2022-03-01T11.37.36.2700000Z" parentGUID="c1a100a8-5bf0-4d16-b9c2-670cac727a9f" nodeTypeAlias="Image" path="-1,3218,3259">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[42755]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2358/ko_maelk_ann2.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[851]]></umbracoHeight>
  <umbracoWidth><![CDATA[764]]></umbracoWidth>
</Image>