<?xml version="1.0" encoding="utf-8"?>
<Image guid="ebd8eb3a-068d-4d24-90b8-6cade8798835" id="1769" nodeName="soeris4-2000x400.jpg" isDoc="" updated="2019-10-21T06.38.58.4030000Z" parentGUID="74db3a42-aeee-4935-84ce-3d8e53fee307" nodeTypeAlias="Image" path="-1,1530,1534,1535,1769">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[137655]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1186/soeris4-2000x400.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[400]]></umbracoHeight>
  <umbracoWidth><![CDATA[2000]]></umbracoWidth>
</Image>