<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>4287a36e-3573-486b-91db-f0a06f577b66</Key>
    <Name>Find butik bånd</Name>
    <Alias>ribbonFindStore</Alias>
    <Icon>icon-store color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Folder>Baseline/Ribbons</Folder>
    <Compositions>
      <Composition Key="0a480072-8385-43fb-8d87-6dadd929858d">compositionRibbon</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>2d2b64d2-ec93-432f-950b-afab50e51cd9</Key>
      <Name>Find butik link</Name>
      <Alias>findButikLink</Alias>
      <Definition>c8261dbf-b464-4caa-9b98-13aeca4f1137</Definition>
      <Type>RJP.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Defaulter til 'find-butik/']]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>ab31e5c8-260c-4b27-a1ab-97923c15b821</Key>
      <Name>Ugyldigt postnummer</Name>
      <Alias>invalidZipcode</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCEv3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Vises hvis der er indtastet et ugyldigt postnummer]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>502002ca-8f46-499c-a530-7a9a6e67aae9</Key>
      <Name>Label tekst</Name>
      <Alias>labelText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>86e144b0-69df-4b5b-ba0c-09e03f70f9f2</Key>
      <Name>Ingen butikker i søgte postnummer</Name>
      <Alias>noStores</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCEv3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Vises hvis der ikke er nogle butikker i det indtastet postnummer]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>618422b1-b6f4-4b17-9c31-171494798392</Key>
      <Name>Styles</Name>
      <Alias>styles</Alias>
      <Definition>efddd8e0-fb57-4c7f-b0a7-6307ac5f9eb6</Definition>
      <Type>Our.Umbraco.StackedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Styles</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>2571abb8-9eb0-4566-8144-f1905939b51b</Key>
      <Name>Tekst</Name>
      <Alias>text</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCEv3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Styles</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>