<?xml version="1.0" encoding="utf-8"?>
<Image guid="29fef90d-a624-4691-9f98-1e1327717487" id="3659" nodeName="DK RGB Mar23" isDoc="" updated="2023-03-02T08.30.21.5700000Z" parentGUID="8d0d1b31-f430-4fdd-ad52-678e3a30a180" nodeTypeAlias="Image" path="-1,3341,3656,3659">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[14208]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2671/dk_rgb_mar23.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[802]]></umbracoHeight>
  <umbracoWidth><![CDATA[1649]]></umbracoWidth>
</Image>