<?xml version="1.0" encoding="utf-8"?>
<Image guid="acba5728-dfb8-4cf0-8b37-a2e537ae40c6" id="1716" nodeName="kunder-i-coop-butik_2.jpg" isDoc="" updated="2020-02-04T14.46.21.3200000Z" parentGUID="b1f84ddc-5924-45dd-8196-4eefa5594d82" nodeTypeAlias="Image" path="-1,1530,1531,1691,1716">
  <alt><![CDATA[kunder i coop butik]]></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[374005]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{
  "src": "/media/1139/kunder-i-coop-butik_2.jpg",
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  }
}]]></umbracoFile>
  <umbracoHeight><![CDATA[1321]]></umbracoHeight>
  <umbracoWidth><![CDATA[1981]]></umbracoWidth>
</Image>