<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Sub menu item picker" Key="f4cc0e0a-96b0-4e17-8c50-8dee92a3b33d" Id="Our.Umbraco.StackedContent" DatabaseType="Ntext" Folder="Baseline/Menu">
  <PreValues>
    <PreValue SortOrder="1" Alias="contentTypes"><![CDATA[[
  {
    "icContentTypeGuid": "1fd139a2-e029-4d52-923e-35abee71d032",
    "nameTemplate": "Link"
  }
]]]></PreValue>
    <PreValue SortOrder="2" Alias="enableCopy"><![CDATA[1]]></PreValue>
    <PreValue SortOrder="3" Alias="enablePreview"><![CDATA[1]]></PreValue>
    <PreValue SortOrder="4" Alias="hideLabel"><![CDATA[0]]></PreValue>
    <PreValue SortOrder="5" Alias="maxItems"><![CDATA[0]]></PreValue>
    <PreValue SortOrder="6" Alias="singleItemMode"><![CDATA[0]]></PreValue>
  </PreValues>
</DataType>