<?xml version="1.0" encoding="utf-8"?>
<Image guid="a5eea884-6e6e-4f2c-aedb-fddf534ccd74" id="3017" nodeName="2006_coop_corona_slider banners_600x400.png" isDoc="" updated="2022-04-11T12.37.07.6270000Z" parentGUID="179756ef-cf39-4ef7-8450-020198946840" nodeTypeAlias="Image" path="-1,1706,2221,3017">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[17802]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2163/2006_coop_corona_slider-banners_600x400.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[400]]></umbracoHeight>
  <umbracoWidth><![CDATA[600]]></umbracoWidth>
</Image>