<?xml version="1.0" encoding="utf-8"?>
<Image guid="ce33f712-a4b3-459d-97be-42d608ff8328" id="3707" nodeName="38991 Coopmedlem 1%Bonus Udvalgte Varemaerker Medlemsite Mobil 600X400" isDoc="" updated="2023-05-01T10.25.54.5030000Z" parentGUID="77533937-cc29-4466-ae91-767270ddbec7" nodeTypeAlias="Image" path="-1,1706,3297,3707">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[80755]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2712/38991_coopmedlem-1-bonus_udvalgte-varemaerker_medlemsite-mobil_600x400.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[400]]></umbracoHeight>
  <umbracoWidth><![CDATA[600]]></umbracoWidth>
</Image>