<?xml version="1.0" encoding="utf-8"?>
<Image guid="4325e814-48b4-4639-b296-7edb14286a1d" id="1616" nodeName="fg_1.jpg" isDoc="" updated="2019-10-21T06.38.43.0430000Z" parentGUID="b80222e5-657a-4214-a924-da3e3eac4560" nodeTypeAlias="Image" path="-1,1530,1551,1615,1616">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[132256]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1035/fg_1.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[600]]></umbracoHeight>
  <umbracoWidth><![CDATA[1920]]></umbracoWidth>
</Image>