<?xml version="1.0" encoding="utf-8"?>
<Image guid="89ea859e-b56f-454c-8dd3-efbefc11a859" id="3243" nodeName="Frugtoggrønt 04" isDoc="" updated="2022-03-01T11.36.51.3170000Z" parentGUID="c1a100a8-5bf0-4d16-b9c2-670cac727a9f" nodeTypeAlias="Image" path="-1,3218,3243">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[19986]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2342/frugtoggroent_04.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[851]]></umbracoHeight>
  <umbracoWidth><![CDATA[619]]></umbracoWidth>
</Image>