<?xml version="1.0" encoding="utf-8"?>
<Image guid="532ef8e9-b59d-4da3-a625-5e979e339543" id="2708" nodeName="vin-i-vinglas-skaaler.jpg" isDoc="" updated="2020-11-23T13.19.53.1230000Z" parentGUID="b07b69ac-c3bc-4278-988d-0e5e61644747" nodeTypeAlias="Image" path="-1,1530,1556,1557,2708">
  <alt><![CDATA[Vin fra Bourgogne]]></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[65555]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{
  "src": "/media/1903/vin-i-vinglas-skaaler.jpg",
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  }
}]]></umbracoFile>
  <umbracoHeight><![CDATA[188]]></umbracoHeight>
  <umbracoWidth><![CDATA[600]]></umbracoWidth>
</Image>