<?xml version="1.0" encoding="utf-8"?>
<Image guid="ed169761-65a5-484a-b3af-2cd09d5d0297" id="3287" nodeName="Ølvinvand 06" isDoc="" updated="2022-03-01T11.40.39.5470000Z" parentGUID="c1a100a8-5bf0-4d16-b9c2-670cac727a9f" nodeTypeAlias="Image" path="-1,3218,3287">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[24390]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2386/oelvinvand_06.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[851]]></umbracoHeight>
  <umbracoWidth><![CDATA[559]]></umbracoWidth>
</Image>