<?xml version="1.0" encoding="utf-8"?>
<Image guid="e3805b37-79bd-4231-b153-7cecd836edf9" id="1762" nodeName="ribeye.jpg" isDoc="" updated="2019-10-21T06.38.57.7130000Z" parentGUID="9f335fc0-67a1-449a-b15e-bdf3965db500" nodeTypeAlias="Image" path="-1,1530,1548,1549,1762">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[355868]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1030/ribeye.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[600]]></umbracoHeight>
  <umbracoWidth><![CDATA[1920]]></umbracoWidth>
</Image>