<?xml version="1.0" encoding="utf-8"?>
<Image guid="14f29cf3-127f-4e3b-989f-4603293434bc" id="3732" nodeName="Månedenskøb Juni 2000X500" isDoc="" updated="2023-05-17T08.31.01.0800000Z" parentGUID="41e91c01-9b19-4bcf-9117-5a47aee52e3d" nodeTypeAlias="Image" path="-1,1706,3731,3732">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[625718]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2733/maanedenskoeb_juni_2000x500.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[500]]></umbracoHeight>
  <umbracoWidth><![CDATA[2000]]></umbracoWidth>
</Image>