<?xml version="1.0" encoding="utf-8"?>
<Image guid="61e32040-f87b-410a-a3ee-88abf2b741c8" id="1647" nodeName="r-40357.jpg" isDoc="" updated="2020-02-04T14.18.37.8170000Z" parentGUID="bd65e19e-7506-4b2f-9d6d-acf96309ba7a" nodeTypeAlias="Image" path="-1,1539,1575,1576,1647">
  <alt><![CDATA[skru op for julepynten ]]></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[176895]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{
  "src": "/media/1101/r-40357.jpg",
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  }
}]]></umbracoFile>
  <umbracoHeight><![CDATA[1278]]></umbracoHeight>
  <umbracoWidth><![CDATA[960]]></umbracoWidth>
</Image>