<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>9f1ce89e-7100-401a-bffa-174c5d84f7e6</Key>
    <Name>Mega menu</Name>
    <Alias>megaMenu</Alias>
    <Icon>icon-thumbnail-list color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Folder>Baseline/Website+setup</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>7860992d-85b7-4551-8cc5-b50defb58055</Key>
      <Name>Baggrundsfarve</Name>
      <Alias>backgroundColor</Alias>
      <Definition>bcd43a32-d8e3-4006-9e4b-499b9ef75140</Definition>
      <Type>Umbraco.ColorPickerAlias</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Login reminder</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>5ebf3814-f949-4d9e-b7e6-6108ee8f389c</Key>
      <Name>Knap baggrundsfarve</Name>
      <Alias>buttonBackgroundColorReminder</Alias>
      <Definition>bcd43a32-d8e3-4006-9e4b-499b9ef75140</Definition>
      <Type>Umbraco.ColorPickerAlias</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Login reminder</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>da2774f7-26e5-434e-a986-1437937e0d7c</Key>
      <Name>Knap tekstfarve</Name>
      <Alias>buttonTextColorReminder</Alias>
      <Definition>bcd43a32-d8e3-4006-9e4b-499b9ef75140</Definition>
      <Type>Umbraco.ColorPickerAlias</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Login reminder</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>64320183-3ff2-4518-a7b4-d92c5278e21e</Key>
      <Name>Ændre logo link</Name>
      <Alias>changeLogoLink</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Default er at logoet linker til forsiden. Hvis denne klikkes til så vil logoet istedet linke til brugerens nuværende side.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>6f51b7cc-212e-49b3-b88c-67b1fd6ecc26</Key>
      <Name>Links</Name>
      <Alias>coopLinks</Alias>
      <Definition>515ae820-5934-46bd-9a23-153eb212239a</Definition>
      <Type>RJP.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Coop</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>1899fb5a-5a59-4a31-bc36-3684090bb867</Key>
      <Name>Link til Coop medlem</Name>
      <Alias>coopMember</Alias>
      <Definition>c8261dbf-b464-4caa-9b98-13aeca4f1137</Definition>
      <Type>RJP.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Vises i speciel kasse øverst til højre i menuen]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Coop</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>46ad387a-2bc8-4bee-9ab9-0cc3ebd16b98</Key>
      <Name>Facebook</Name>
      <Alias>facebook</Alias>
      <Definition>c8261dbf-b464-4caa-9b98-13aeca4f1137</Definition>
      <Type>RJP.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>SoMe</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>8f9d91d3-c241-4ef4-be21-d26004d22bfa</Key>
      <Name>Skjul søgning</Name>
      <Alias>hideSearch</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Søgning</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>7e6e38f6-0b51-4f9a-806f-9633b56e4756</Key>
      <Name>Instagram</Name>
      <Alias>instagram</Alias>
      <Definition>c8261dbf-b464-4caa-9b98-13aeca4f1137</Definition>
      <Type>RJP.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>SoMe</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>4fcc721f-ef6a-49a6-b431-e43566082b5e</Key>
      <Name>LinkedIn</Name>
      <Alias>linkedIn</Alias>
      <Definition>c8261dbf-b464-4caa-9b98-13aeca4f1137</Definition>
      <Type>RJP.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>SoMe</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>9483b890-1b0e-4f8d-875d-abce843a0097</Key>
      <Name>Logo</Name>
      <Alias>logo</Alias>
      <Definition>838d17a6-d246-4808-918c-0f2186cd0dfd</Definition>
      <Type>Umbraco.MediaPicker2</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Overskrifter linket i "Logo svg"]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>a221d056-5886-4911-ae79-5dcaa4a61fa9</Key>
      <Name>Logo svg</Name>
      <Alias>logoSvg</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>dc5426b2-96b8-4aba-a288-41e16f650862</Key>
      <Name>Menu items</Name>
      <Alias>menuItems</Alias>
      <Definition>02c95ae5-cae1-4020-80aa-219e22b98291</Definition>
      <Type>Our.Umbraco.StackedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>789b1e1d-a845-443d-8612-3aea2accc3d8</Key>
      <Name>Ikonfarve</Name>
      <Alias>soMeColor</Alias>
      <Definition>bcd43a32-d8e3-4006-9e4b-499b9ef75140</Definition>
      <Type>Umbraco.ColorPickerAlias</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Vælg farve til SoMe ikoner. Default er Coop rød.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>SoMe</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>a8e0fe9d-0b94-49ff-a264-c37209309f3f</Key>
      <Name>Butikker overskrift</Name>
      <Alias>storeHeadline</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Vises ovenover butikker i søgeresultatet, såfremt der er nogle.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Søgning</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>91ef1710-8cef-480a-8ceb-fcd0eae18509</Key>
      <Name>Tekst</Name>
      <Alias>text</Alias>
      <Definition>3f324bb3-aedb-4685-a4e4-5ccef8971431</Definition>
      <Type>Umbraco.TinyMCEv3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Login reminder</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>25ce237d-7950-47f9-ab6d-14f23747b606</Key>
      <Name>Tekstfarve</Name>
      <Alias>textColor</Alias>
      <Definition>bcd43a32-d8e3-4006-9e4b-499b9ef75140</Definition>
      <Type>Umbraco.ColorPickerAlias</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Login reminder</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>ba40826e-7dee-4fd4-bb38-78d2f3f10794</Key>
      <Name>Tiktok</Name>
      <Alias>tiktok</Alias>
      <Definition>c8261dbf-b464-4caa-9b98-13aeca4f1137</Definition>
      <Type>RJP.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>SoMe</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Coop</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Caption>Søgning</Caption>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Caption>SoMe</Caption>
      <SortOrder>4</SortOrder>
    </Tab>
    <Tab>
      <Caption>Login reminder</Caption>
      <SortOrder>5</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>