<?xml version="1.0" encoding="utf-8"?>
<Image guid="2d40a05f-2389-49cc-9b66-0d389808d395" id="1867" nodeName="bliv-medlem.jpg" isDoc="" updated="2019-10-21T17.29.19.9630000Z" parentGUID="2cef8618-eded-4726-aaed-ac9697ba026c" nodeTypeAlias="Image" path="-1,1846,1867">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[227026]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1271/bliv-medlem.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[400]]></umbracoHeight>
  <umbracoWidth><![CDATA[600]]></umbracoWidth>
</Image>