<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>09a733ed-33ad-492d-a781-98e95d36a6f8</Key>
    <Name>Quick coop sms</Name>
    <Alias>ribbonQuickCoopSms</Alias>
    <Icon>icon-chat-active color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Folder>Baseline/Ribbons</Folder>
    <Compositions>
      <Composition Key="0a480072-8385-43fb-8d87-6dadd929858d">compositionRibbon</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>d13f5708-8e97-4ff9-9cda-1f32b8c55401</Key>
      <Name>Styles</Name>
      <Alias>styles</Alias>
      <Definition>6dbee8fa-5a9f-4083-b564-c48dbe1faa0f</Definition>
      <Type>Our.Umbraco.StackedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>