<?xml version="1.0" encoding="utf-8"?>
<Image guid="2f88e747-4c4e-4ec8-8949-96879caea657" id="3290" nodeName="Wow Dage Spiral" isDoc="" updated="2022-03-01T11.40.40.8400000Z" parentGUID="c1a100a8-5bf0-4d16-b9c2-670cac727a9f" nodeTypeAlias="Image" path="-1,3218,3290">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[54828]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2389/wow_dage_spiral.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[851]]></umbracoHeight>
  <umbracoWidth><![CDATA[847]]></umbracoWidth>
</Image>