<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>2b9d17b3-b70e-499c-906b-b4ae213f42f4</Key>
    <Name>Style - Padding</Name>
    <Alias>stylePadding</Alias>
    <Icon>icon-shipping-box color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Folder>Baseline/Styles</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>d2307f97-28f6-4c5b-8936-79aed750d721</Key>
      <Name>Padding bund</Name>
      <Alias>paddingBottom</Alias>
      <Definition>eb36794a-7a04-4c33-ad51-ad43ec1fea9c</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Style</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>6e4819b6-00c8-4a3e-b8bd-c7874226907f</Key>
      <Name>Padding bund</Name>
      <Alias>paddingBottomMobile</Alias>
      <Definition>eb36794a-7a04-4c33-ad51-ad43ec1fea9c</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Mobilstyle</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>5fa02bdb-3286-4e4f-b114-f5ea33ae0ead</Key>
      <Name>Padding top</Name>
      <Alias>paddingTop</Alias>
      <Definition>eb36794a-7a04-4c33-ad51-ad43ec1fea9c</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Style</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>84ec6012-d38b-453d-94c3-50dd7a15c371</Key>
      <Name>Padding top</Name>
      <Alias>paddingTopMobile</Alias>
      <Definition>eb36794a-7a04-4c33-ad51-ad43ec1fea9c</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Mobilstyle</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Style</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Mobilstyle</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>