<?xml version="1.0" encoding="utf-8"?>
<Image guid="0a787f1d-641b-4c17-a78c-19964de98f1f" id="1854" nodeName="SB_opskrifter_600x400.jpg" isDoc="" updated="2019-10-21T17.05.14.7030000Z" parentGUID="2cef8618-eded-4726-aaed-ac9697ba026c" nodeTypeAlias="Image" path="-1,1846,1854">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[330592]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1258/sb_opskrifter_600x400.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[400]]></umbracoHeight>
  <umbracoWidth><![CDATA[600]]></umbracoWidth>
</Image>