<?xml version="1.0" encoding="utf-8"?>
<news guid="7c2a17cc-1d7f-4a5b-9d90-994b98303a3a" id="1439" nodeName="Sherry hedvin" isDoc="" updated="2022-05-17T10.15.59.4670000Z" parentGUID="c5256333-c19e-4cb7-bb55-30517f2f80a5" nodeTypeAlias="news" templateAlias="Baseline_News" sortOrder="1" published="true" isBlueprint="false">
  <bodyEndHtml></bodyEndHtml>
  <bodyScript></bodyScript>
  <contentType></contentType>
  <date>2017-12-06T00:00:00</date>
  <digiSegment></digiSegment>
  <headHtml></headHtml>
  <headline><![CDATA[Sherry hedvin]]></headline>
  <headScript></headScript>
  <hideFooter>0</hideFooter>
  <hideFromSitemap>0</hideFromSitemap>
  <hideTop>0</hideTop>
  <metaCanonicalUrl></metaCanonicalUrl>
  <metaDescription><![CDATA[Der findes et hav af forskellige sherryvine. Derfor har vi udarbejdet en oversigt, så du nemt kan finde rundt i de forskellige hedvine. Se her.]]></metaDescription>
  <metaNoFollow>0</metaNoFollow>
  <metaNoIndex>0</metaNoIndex>
  <metaTitle><![CDATA[Sherry – En hedvin med formidabel aroma og smag – Læs her]]></metaTitle>
  <nonResponsive>0</nonResponsive>
  <ogImage></ogImage>
  <relations></relations>
  <removeTextShadow>0</removeTextShadow>
  <specialFaviconSmall></specialFaviconSmall>
  <specialFaviconStandard></specialFaviconStandard>
  <subHeadline><![CDATA[En hedvin fra Spanien]]></subHeadline>
  <tags><![CDATA[["Sherry"]]]></tags>
  <text><![CDATA[<p>Sherryvin, eller blot kendt som sherry, er en hedvin der har en velkendt aroma og konsistens. Hvis du undrer dig over, hvor sherry kommer fra, så kan vi afsløre, at det er en hedvin fra det sydlige Spanien. Vinen bliver især fremstillet af den såkaldte ”palomino-drue” og de bedste druer bliver avlet i en kridhvid og kalkrig jord.</p>
<p> </p>
<p>Produktionsmæssigt foregår det på samme måde, som ved eksempelvis en <a data-udi="umb://document/00453e9c13a24a28887a91843974baab" href="/{localLink:umb://document/00453e9c13a24a28887a91843974baab}" title="Hvad er portvin?"><span>portvin</span> </a>og man stopper gæringen ved at tilsætte alkohol. Dette bevarer aromaen og smagen i vinen og man opnår samtidig en højere alkoholprocent.</p>
<p> </p>
<p>Sherryvinens lagringsmåde er helt speciel, da den foregår på egetræsfade, der kun bliver fyldt 4/5 dele op med vinen. Der bliver derved dannet et lag ”flor” på overfalden og giver både vinen karakter og beskytter mod iltning. Sherryen skal være minimum tre år gammel og de bedste vine ligger 10-20 år på fad.<br /><br /></p>
<p>Lagringstypen er en såkaldt ”solera”, hvor der maksimalt må tappes 1/3 af hvert fad, hvorefter fadet efterfyldes med en ny årgang. Det betyder altså, at hvis der står ”Solera 1965” på etiketten, er det kun få dråber, der er fra denne årgang.</p>
<h2>Sherrytyper – Hvor og hvornår?</h2>
<p>En sherry er fra naturens side tør i smagen, men druerne ”pedro ximénez” og ”moscatel” bliver anvendt til at forsøde <span><a data-udi="umb://document/4354c5f03ca848d8b364cd4960bfe705" href="/{localLink:umb://document/4354c5f03ca848d8b364cd4960bfe705}" title="Vin">vinen</a></span>. Der findes derfor et hav af forskellige sherryer og vi vil her give et indblik i varianterne, og hvor de gør sig bedst i madlavningen.</p>
<p> </p>
<ul>
<li><strong>Amontillado</strong>: Amontillado er en mere elegant vin med en smuk og gylden kulør. Den har en let og elegant smag, der især kommer til udtryk ved den raffinerede duft af hasselnødder, de aromatiske <span><a data-udi="umb://document/eeae672c7db7415197f20621fd69d6c6" href="/{localLink:umb://document/eeae672c7db7415197f20621fd69d6c6}" title="Flere friske krydderier på tilværelsen">urter</a></span> og en snert af pibetobak. En amontillado egner sig derfor perfekt til mandler, nødder, milde oste og røget fisk.</li>
</ul>
<p> </p>
<ul>
<li><strong>Cream</strong>: Farven på en cream er i den meget mørke skala og strækker sig umiddelbart fra kastanje til mørk mahogni og har en snert af sirup over sig. Den dufter markant af røg og tobak og bliver nemt associeret med nougat og karamel. Dens kraftige mundfornemmelse kan med rette nydes samen med foie gras og frugter a la <span><a data-udi="umb://document/deaa524fbb8844e0a34f13b1d36d8902" href="/{localLink:umb://document/deaa524fbb8844e0a34f13b1d36d8902}" title="Brug hele appelsinen">appelsin</a></span> og melon.</li>
</ul>
<p> </p>
<ul>
<li><strong>Fino</strong>: Farven på en fino er lys gul til mørkegylden og har en meget skarp duft. Duften minder meget om <span><a data-udi="umb://document/f56de98b16654bab90a77c4d965b525b" href="/{localLink:umb://document/f56de98b16654bab90a77c4d965b525b}" title="Et godt brød til grillen">brød</a></span> og urter og kan have en snert af urter. Det er en meget let og elegant smag, der blandt andet er velegnet til alt fra aperitif, lyse fisk og kaviar til tørrede frugter og saltet skinke.</li>
</ul>
<p> </p>
<ul>
<li><strong>Manzanilla</strong>: Manzanillas farve har en meget lys, halmfarvet kulør og er kendetegnet ved en meget skarp, frisk og appetitlig duft af kamilleblomst og mandler. Smagen er karakteristisk ved den specielle flor og egner sig perfekt til blandt andet tapas, aperitif, kaviar, oliven og milde oste.</li>
</ul>
<p> </p>
<ul>
<li><strong>Medium</strong>: Farven på en medium strækker sig fra rav- til mørk kanstanje. Dens kraftige duft af lakrids, aromatiske urter og bagte æbler gør den til en sand oplevelse. Smagen kan synes tør og udvikler sig mere til en sødlig oplevelse. En medium egner sig derfor perfekt til foie gras, paté og karryrige retter.</li>
</ul>
<p> </p>
<ul>
<li><strong>Moscatel</strong>: Moscatel kan nemt kendes ved sin karakteristiske duft, der minder om jasmin- og appelsinblomster med en sødlig honningrig oplevelse. Farven minder meget om kastanje til en intens mahogni og smagsoplevelsen er perfekt til desserten. Nyd derfor gerne en moscatel til en frugtsalat, is, tærte eller kage.</li>
</ul>
<p> </p>
<ul>
<li><strong>Oloroso</strong>: Smagen på en oloroso lever i perfekt harmoni med den mørke mahognifarve og det ravgyldne skær. Den har en varm mundfornemmelse og bærer præg af mange kraftige smagsnuancer og dens nøddeagtige duft med røg og tobak. Du kan derfor med rette servere en oloroso til både mandler, oste, vildt og kødrige simreretter.</li>
</ul>
<p> </p>
<ul>
<li><strong>Palo Cortado</strong>: En palo cortado kan nemt kendes på dens mørke kulør, der minder om alt fra kastanje til mahogni. Dens duft kan til forveksling minde om en amontillado, men smagen minder mere om en oloroso. Kombinationen er helt unik og kan derfor opleves til både nødder, mellemlagrede til lagrede oste, vildt og simreretter.</li>
</ul>
<p> </p>
<ul>
<li><strong>Pedro Ximénez</strong>: Hvis du er ude efter en perfekt sherryvin til desserten, så vil en pedro ximénez (PX) egne sig perfekt. Dens mørkebrune, næsten sorte, kulør og dens rige og intense duft af <span><a data-udi="umb://document/b21b9501dcd74d64822cc6573f31cfc3" href="/{localLink:umb://document/b21b9501dcd74d64822cc6573f31cfc3}" title="Bybi honning">honning</a></span> og tørrede frugter er en oplevelse ud over det sædvanlige. Prøv derfor at hælde den over en god vaniljeis, chokolade eller blåskimmelost.</li>
</ul>
<h2>Sherry på tilbud</h2>
<p>Hold øje med vores <span><a data-udi="umb://document/10791bf437c24c909899044e70ba55f4" href="/{localLink:umb://document/10791bf437c24c909899044e70ba55f4}" title="Tilbudsavis">tilbudsavis.</a></span><span> Tilbudsavisen indeholder inspiration, et </span><span>udvalg af aktuelle varer til en god pris – </span><span>og gode tilbud lige nu.</span></p>
<p>Derudover, så tilbyder SuperBrugsens vinhandel alt fra hverdagsvine til skarpe priser, til prisbelønnede vine fra de mest traditionsrige vindistrikter og vinslotte i verden. Hør mere i din <span><a data-udi="umb://document/66ff6b1129f1438586b207f1bb6a524d" href="/{localLink:umb://document/66ff6b1129f1438586b207f1bb6a524d}" title="Find butik">lokale SuperBrugsen</a></span>.</p>]]></text>
  <thumbnail><![CDATA[umb://media/2ccbe897205043008fd6fafdc50965aa]]></thumbnail>
  <umbracoUrlName></umbracoUrlName>
  <useImageAsTopImage>1</useImageAsTopImage>
</news>