<?xml version="1.0" encoding="utf-8"?>
<Image guid="b76fbd59-27dc-4832-a716-994708b4a93e" id="3337" nodeName="FAKTA En Del Af Coop" isDoc="" updated="2022-04-07T13.37.32.4100000Z" parentGUID="49d5dc68-bf08-407d-b12f-314b635df8dc" nodeTypeAlias="Image" path="-1,1625,3337">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[30734]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2422/fakta-en-del-af-coop.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[629]]></umbracoHeight>
  <umbracoWidth><![CDATA[1382]]></umbracoWidth>
</Image>