<?xml version="1.0" encoding="utf-8"?>
<Image guid="d2ccecd7-2e85-49d4-9c8c-85053ec1981d" id="2969" nodeName="Bryllup1.jpg" isDoc="" updated="2021-04-29T08.42.40.0470000Z" parentGUID="3f4e8cb3-560d-49a8-9972-7d4c801185e7" nodeTypeAlias="Image" path="-1,1539,1563,2962,2969">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[288133]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2124/bryllup1.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[450]]></umbracoHeight>
  <umbracoWidth><![CDATA[750]]></umbracoWidth>
</Image>