<?xml version="1.0" encoding="utf-8"?>
<Image guid="b3364f48-07b3-4b7a-bcde-cd8785e9c107" id="3123" nodeName="35546 FDB Slider Uge 45 2000X500[1]" isDoc="" updated="2022-04-11T12.06.25.5100000Z" parentGUID="0d0678d3-7c08-4325-92b1-946e3be27c60" nodeTypeAlias="Image" path="-1,1706,2849,3123">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[87943]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2248/35546_fdb_slider_uge_45_2000x500-1.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[500]]></umbracoHeight>
  <umbracoWidth><![CDATA[2000]]></umbracoWidth>
</Image>