<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>91d7b007-a2a0-4afb-abe3-5e129f0120d9</Key>
    <Name>Post it item</Name>
    <Alias>postItItem</Alias>
    <Icon>icon-post-it color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Folder>Baseline/Post+it</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>939640a8-2880-4567-abf0-38e299e065e5</Key>
      <Name>Knap</Name>
      <Alias>button</Alias>
      <Definition>ae2e6235-7921-4bc9-80d8-079c8e14435d</Definition>
      <Type>Our.Umbraco.StackedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Indhold</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>c275ab17-66dd-4b8d-be02-eadd5a1b8c00</Key>
      <Name>Billede</Name>
      <Alias>image</Alias>
      <Definition>838d17a6-d246-4808-918c-0f2186cd0dfd</Definition>
      <Type>Umbraco.MediaPicker2</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Billedet visen overover teksten]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Indhold</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>4ed9cd4f-b5fd-4eca-abeb-3806a222d84c</Key>
      <Name>Placer knap i midten</Name>
      <Alias>placeBtnAtCenter</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Standard er at knappen er til venstre]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Indhold</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>aa3c2307-fe71-4f55-87df-3df6fbcfd3f2</Key>
      <Name>Styles</Name>
      <Alias>styles</Alias>
      <Definition>861c0563-8a35-40e8-ab7f-0f5c26b9cb34</Definition>
      <Type>Our.Umbraco.StackedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Indhold</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>9c1ecdb6-0e7b-4f0e-9d03-38bb1732b71c</Key>
      <Name>Tekst</Name>
      <Alias>text</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCEv3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Indhold</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Indhold</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>