<?xml version="1.0" encoding="utf-8"?>
<Image guid="e5126e93-d193-4f77-bf8d-3872bf3e8818" id="2911" nodeName="Banner_Kaedesites_2000x500_v2.png" isDoc="" updated="2021-03-29T13.16.36.0030000Z" parentGUID="f988736b-cdc5-4d6e-9869-7db6fd10557e" nodeTypeAlias="Image" path="-1,1706,2908,2911">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[1563076]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2078/banner_kaedesites_2000x500_v2.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[500]]></umbracoHeight>
  <umbracoWidth><![CDATA[2000]]></umbracoWidth>
</Image>