<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>19cdabc7-6de5-4d66-85ca-cf0b325496e5</Key>
    <Name>Side med menu</Name>
    <Alias>pageWithMenu</Alias>
    <Icon>icon-article color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Folder>Baseline/Pages</Folder>
    <Compositions>
      <Composition Key="a7d91edb-313c-4927-9176-1b5eeabaf8a7">compositionPageSettings</Composition>
      <Composition Key="aabcd813-3458-4278-8bae-f587cec6649d">compositionfastTrip</Composition>
      <Composition Key="d3739ce6-78e5-4c43-8c5d-ae785127ef94">compositionSEO</Composition>
      <Composition Key="dd691711-7ec4-4595-9e8e-f5d87d29cb29">compositionRelations</Composition>
    </Compositions>
    <DefaultTemplate>Baseline_PageWithMenu</DefaultTemplate>
    <AllowedTemplates>
      <Template>Baseline_PageWithMenu</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <DocumentType Key="6c22d5e6-f84f-4e1c-8716-10c4471a4679">subpageWithMenu</DocumentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>804a7e07-9d64-4b67-9f9f-c8606fde6cb8</Key>
      <Name>Topbillede</Name>
      <Alias>image</Alias>
      <Definition>135d60e0-64d9-49ed-ab08-893c9ba44ae5</Definition>
      <Type>Umbraco.MediaPicker2</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Indhold</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>a3c5ce6f-ec27-4a62-a13b-522a52dc8ef3</Key>
      <Name>Tekst</Name>
      <Alias>text</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCEv3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Indhold</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Indhold</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>