<?xml version="1.0" encoding="utf-8"?>
<Image guid="356371bc-ff46-4565-900b-5f134e25d5e3" id="3721" nodeName="38794 Topslider 600X400px 01" isDoc="" updated="2023-05-12T10.47.13.3370000Z" parentGUID="c7074681-ffdf-4c93-bf2d-8dc67f9dd53d" nodeTypeAlias="Image" path="-1,1706,3518,3721">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[256858]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2725/38794_topslider_600x400px_01.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[400]]></umbracoHeight>
  <umbracoWidth><![CDATA[600]]></umbracoWidth>
</Image>