<?xml version="1.0" encoding="utf-8"?>
<Image guid="e22c4018-e47e-4c0c-9d6f-a19c418a6474" id="3519" nodeName="37826 Topslider 600X400 V1" isDoc="" updated="2022-09-14T07.58.48.2500000Z" parentGUID="c7074681-ffdf-4c93-bf2d-8dc67f9dd53d" nodeTypeAlias="Image" path="-1,1706,3518,3519">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[84033]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2557/37826_topslider_600x400_v1.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[400]]></umbracoHeight>
  <umbracoWidth><![CDATA[600]]></umbracoWidth>
</Image>