<?xml version="1.0" encoding="utf-8"?>
<Image guid="0a80c9b0-6094-4dde-875e-6316bbda3ea5" id="1550" nodeName="tyndsteg.jpg" isDoc="" updated="2019-10-21T06.38.37.0130000Z" parentGUID="9f335fc0-67a1-449a-b15e-bdf3965db500" nodeTypeAlias="Image" path="-1,1530,1548,1549,1550">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[378407]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1027/tyndsteg.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[600]]></umbracoHeight>
  <umbracoWidth><![CDATA[1920]]></umbracoWidth>
</Image>