<?xml version="1.0" encoding="utf-8"?>
<Image guid="320f66c3-ddc6-498c-9133-8647ae3b03e4" id="3345" nodeName="Aubergine Lidt Mindre" isDoc="" updated="2022-04-08T12.46.31.1270000Z" parentGUID="c1a100a8-5bf0-4d16-b9c2-670cac727a9f" nodeTypeAlias="Image" path="-1,3218,3345">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[18704]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2429/aubergine-lidt-mindre.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[450]]></umbracoHeight>
  <umbracoWidth><![CDATA[720]]></umbracoWidth>
</Image>