<?xml version="1.0" encoding="utf-8"?>
<Image guid="e9f52864-8b47-403c-8759-8c4084e98a3b" id="3423" nodeName="400401571 Plastik Kaedewebsites 2000X500" isDoc="" updated="2022-06-19T10.10.08.8270000Z" parentGUID="0382315a-933c-4265-a806-799cefa1e13e" nodeTypeAlias="Image" path="-1,1706,3316,3423">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[167248]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2483/400401571_plastik_kaedewebsites_2000x500-png.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[500]]></umbracoHeight>
  <umbracoWidth><![CDATA[2000]]></umbracoWidth>
</Image>