<?xml version="1.0" encoding="utf-8"?>
<news guid="b0545b95-65b1-44ec-a09a-b8b3f231d5bd" id="1479" nodeName="Rosévin – Hvad er rosévin og hvordan laves den?" isDoc="" updated="2022-05-17T10.18.32.6070000Z" parentGUID="c5256333-c19e-4cb7-bb55-30517f2f80a5" nodeTypeAlias="news" templateAlias="Baseline_News" sortOrder="3" published="true" isBlueprint="false">
  <bodyEndHtml></bodyEndHtml>
  <bodyScript></bodyScript>
  <contentType></contentType>
  <date>2017-08-07T00:00:00</date>
  <digiSegment></digiSegment>
  <headHtml></headHtml>
  <headline><![CDATA[Hvad er rosévin?]]></headline>
  <headScript></headScript>
  <hideFooter>0</hideFooter>
  <hideFromSitemap>0</hideFromSitemap>
  <hideTop>0</hideTop>
  <metaCanonicalUrl></metaCanonicalUrl>
  <metaDescription><![CDATA[Vi har samlet det lækreste udvalg af gode flasker rosévin. Her kan du læse mere om hvad der kendetegner en rosévin og dens drue. Klik her.]]></metaDescription>
  <metaNoFollow>0</metaNoFollow>
  <metaNoIndex>0</metaNoIndex>
  <metaTitle><![CDATA[Rosévin – Hvad er rosévin og hvordan laves den? – Læs her]]></metaTitle>
  <nonResponsive>0</nonResponsive>
  <ogImage></ogImage>
  <relations></relations>
  <removeTextShadow>0</removeTextShadow>
  <specialFaviconSmall></specialFaviconSmall>
  <specialFaviconStandard></specialFaviconStandard>
  <subHeadline></subHeadline>
  <tags><![CDATA[["Rose","vin"]]]></tags>
  <text><![CDATA[<p><strong>Hvornår er det lige rosésæsonen starter? Og kan den sommerlige, søde, rosafarvede vin nydes udenfor rosésæsonen? Hvordan smager en god flaske rosévin? Alt dette vil du finde svar på her.</strong></p>
<p> </p>
<h2>Hvad er rosévin?</h2>
<p>Rosévin minder mest af smag om hvidvin, da den er let, syrlig og nydes kold. Den har en flot rosa farve som adskiller sig fra den dybe, mørkerøde rødvin og lysegrønne eller gule hvidvin.</p>
<p> </p>
<h2>Hvordan laver man rosévin?</h2>
<p>Mange tror at rosévin fremstilles ved at blande rødvin og hvidvin, som skaber den flotte rosa farve. Dette er dog en misforståelse. Det eneste tidspunkt denne fremstillingsmåde benyttes, er ved rosé <span><a data-udi="umb://document/6246155001ca40e681880ea8ec10b343" href="/{localLink:umb://document/6246155001ca40e681880ea8ec10b343}" title="Champagne">Champagne</a></span>.</p>
<p> </p>
<p>Overordnet set, så brygges vinen på enten grønne eller blå druer. Hvidvin kan fremstilles på begge druer, hvor de mørke skaller fjernes hurtigt for ikke at farve vinen. Det er derimod kun de blå druer, der kan bruges til fremstillingen af rødvin og rosévin, idet farven kommer fra den blå drueskal.</p>
<p> </p>
<p>Ved at lade mosten ligge sammen med de blå drueskaller afgiver skallen farve til rosévin. Det kan derfor argumenteres for, at på et tidspunkt i rødvinens fremstilling, vil vinen have en flot rosa farve.</p>
<p> </p>
<h2>Hvornår løber rosésæsonen?</h2>
<p>Rosésæsonen siges at løbe henover de danske sommermåneder, hvor der tændes op i grillen og iskold vin nødes i den varme sol. Det udelukker dog ikke muligheden for at nyde en kold flaske rosé til en let og lækker fiskeret i vintermånederne.</p>
<p> </p>
<h2>Rosévins distrikter</h2>
<p>Frankrig er den førende aftager af rosévin, som står bag mere end en fjerdedel af alt rosévin i verden. Fransk rosévin er kendt for at være delikate, elegante og koncentrerede i smagen.</p>
<p> </p>
<p>Næst efter Frankrig kommer Italien og Spanien, som kalder den sommerlige vin for rosado i stedet for rosévin. Udover Europa så dyrkes rosévinsdruen også i Australien, Chile og Argentina, som er mere kraftige og syrlige i smagen.</p>
<p> </p>
<h2>Rosévins druer – Shiraz, Zinfandel og Grenache</h2>
<p>Rosévin kan fremstilles på en lang række blå rødvinsdruer, hvor iblandt de mest populære er Shiraz, Zinfandel og Grenache.</p>
<p> </p>
<ul>
<li><strong>Shiraz</strong> druen er en let genkendelig drue, som er meget krydret og kraftig i smagen. Det er en drue der især vokser godt i varme miljøer, som giver druen den søde, krydrede smag og mørkerøde farve. Druen dyrkes i franske Rhône vindistriktet, men også i varme Australien og Californien.</li>
</ul>
<p> </p>
<ul>
<li><strong>Zinfandel</strong> druen er også kendt som vindruernes kamæleon. Druen har en egenskab til at lave fantastiske røde-, hvide- og rosévine. Druen er meget mørk i farven og har en kraftig, krydret og sød smag af svesker, chokolade og nødder. Druen dyrkes primært i USA og i Italien, hvor den går under navnet Primitivo.</li>
</ul>
<p> </p>
<ul>
<li><strong>Grenache </strong>er en spansk drue som senere hen er blevet plantet og dyrket i Frankrig. Drueskallen har en lys farve og vinen har ofte en høj alkoholprocent. Den er sød og frugtig i smagen, hvilket tilsammen gør den oplagt at bruge til fremstillingen af rosévin.</li>
</ul>
<p> </p>
<h2>Hvad drikker man rosévin til?</h2>
<p>Mange drikker rosévin som velkomstdrink inden middagen, hvor lette, salte snacks serveres til den søde, frugtige vin. Her kan især rosévine fra Frankrig anbefales, da de er læskende, friske og lette i det.</p>
<p> </p>
<p>Chilenske rosévine er mere frugtige i smagen, med en tør eftersmag. Disse passer derfor rigtig godt til lette forretter og frokoster.</p>
<p> </p>
<p>Hvis du ønsker at servere <span><a data-udi="umb://document/fd7f84c4b6d640988dcd94f3c66bc4b4" href="/{localLink:umb://document/fd7f84c4b6d640988dcd94f3c66bc4b4}" title="Artikler">grillmad</a></span> eller krydrede retter, så er intense og kraftige rosévine en god idé at servere. Her skal du finde rosévine fra franske Côtes du Rhône, som har fået masser af varme, der giver druen intens smag og sødme.</p>
<p> </p>
<p>Hvad end du vælger at servere en flaske rosévin til, så er det vigtigt at den er iskold, for jo koldere vinen er, des mere smag får den. Du kan læse meget mere i vores guide til at vælge den rigtige flaske <span><a data-udi="umb://document/824221e6cc434f6cad9ec4d121cfa04b" href="/{localLink:umb://document/824221e6cc434f6cad9ec4d121cfa04b}" title="Bliv bedre til at matche vin og mad">vin til maden</a></span>.</p>]]></text>
  <thumbnail><![CDATA[umb://media/bd304dfe269844318353fde0fee23529]]></thumbnail>
  <umbracoUrlName></umbracoUrlName>
  <useImageAsTopImage>1</useImageAsTopImage>
</news>