<?xml version="1.0" encoding="utf-8"?>
<Image guid="a46e1793-42e4-49d2-8c39-c23d204f2903" id="2198" nodeName="2000.png" isDoc="" updated="2020-03-10T09.29.51.0030000Z" parentGUID="4208f9e0-b185-4fab-b101-d42abbb96762" nodeTypeAlias="Image" path="-1,1539,1563,2189,2198">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[394490]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1538/2000.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[400]]></umbracoHeight>
  <umbracoWidth><![CDATA[600]]></umbracoWidth>
</Image>