<?xml version="1.0" encoding="utf-8"?>
<Image guid="5305b1ff-5be9-4f0e-bb99-4c8bb3a47af0" id="3289" nodeName="Ølvinvand 08" isDoc="" updated="2022-03-01T11.40.40.3130000Z" parentGUID="c1a100a8-5bf0-4d16-b9c2-670cac727a9f" nodeTypeAlias="Image" path="-1,3218,3289">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[10477]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2388/oelvinvand_08.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[851]]></umbracoHeight>
  <umbracoWidth><![CDATA[268]]></umbracoWidth>
</Image>