<?xml version="1.0" encoding="utf-8"?>
<Image guid="95256e18-3164-4acc-8a62-4a417f94d516" id="1693" nodeName="soeris1-600x400.jpg" isDoc="" updated="2019-10-21T06.38.51.1870000Z" parentGUID="74db3a42-aeee-4935-84ce-3d8e53fee307" nodeTypeAlias="Image" path="-1,1530,1534,1535,1693">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[88871]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1189/soeris1-600x400.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[400]]></umbracoHeight>
  <umbracoWidth><![CDATA[600]]></umbracoWidth>
</Image>