<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Style - Ribbon Vote" Key="e89af2c0-c445-4a74-948f-690189e86bca" Id="Our.Umbraco.StackedContent" DatabaseType="Ntext" Folder="Baseline/Style+pickers">
  <PreValues>
    <PreValue SortOrder="1" Alias="contentTypes"><![CDATA[[
  {
    "icContentTypeGuid": "fe0c01a9-cfa9-473c-8e57-0c471a057285",
    "nameTemplate": "Baggrund"
  },
  {
    "icContentTypeGuid": "a6360cbf-245d-45ae-9143-dc1d1d97eed4",
    "nameTemplate": "Knapper"
  },
  {
    "icContentTypeGuid": "16f7f91b-d909-4afa-b52a-f5410ebd211b",
    "nameTemplate": "Tekst"
  },
  {
    "icContentTypeGuid": "c150918c-d08c-4409-a29b-41de95d9d833",
    "nameTemplate": "Submit-knap"
  },
  {
    "icContentTypeGuid": "2b9d17b3-b70e-499c-906b-b4ae213f42f4",
    "nameTemplate": "Padding"
  }
]]]></PreValue>
    <PreValue SortOrder="2" Alias="enableCopy"><![CDATA[0]]></PreValue>
    <PreValue SortOrder="3" Alias="enablePreview"><![CDATA[0]]></PreValue>
    <PreValue SortOrder="4" Alias="hideLabel"><![CDATA[0]]></PreValue>
    <PreValue SortOrder="5" Alias="maxItems"><![CDATA[0]]></PreValue>
    <PreValue SortOrder="6" Alias="singleItemMode"><![CDATA[0]]></PreValue>
  </PreValues>
</DataType>