<?xml version="1.0" encoding="utf-8"?>
<Image guid="2c6d0a1c-09ec-4016-a788-b5ad7d60907c" id="3234" nodeName="Frugtoggrønt 08" isDoc="" updated="2022-03-01T11.36.47.0970000Z" parentGUID="c1a100a8-5bf0-4d16-b9c2-670cac727a9f" nodeTypeAlias="Image" path="-1,3218,3234">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[21487]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2333/frugtoggroent_08.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[849]]></umbracoHeight>
  <umbracoWidth><![CDATA[851]]></umbracoWidth>
</Image>