<?xml version="1.0" encoding="utf-8"?>
<Image guid="5b930e64-30db-4fb8-933a-f5d56573726a" id="2165" nodeName="charlota-blunarova-wxZJ-V6DPKc-unsplash.jpg" isDoc="" updated="2020-02-21T11.22.22.6430000Z" parentGUID="194f2d19-105b-4038-8ca7-fe790668473f" nodeTypeAlias="Image" path="-1,1539,1563,2162,2165">
  <alt><![CDATA[Sommerblomster og deres flotte farverige farve ]]></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[3917453]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{
  "src": "/media/1510/charlota-blunarova-wxzj-v6dpkc-unsplash.jpg",
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  }
}]]></umbracoFile>
  <umbracoHeight><![CDATA[4032]]></umbracoHeight>
  <umbracoWidth><![CDATA[3024]]></umbracoWidth>
</Image>