<?xml version="1.0" encoding="utf-8"?>
<Image guid="996a5acf-4f44-4352-bfa3-ea247fb24163" id="1844" nodeName="SB-slagter-menu-600x400.jpg" isDoc="" updated="2019-10-21T17.01.01.6030000Z" parentGUID="e61d1e37-874e-4662-8294-ac4b0465d88d" nodeTypeAlias="Image" path="-1,1530,1548,1844">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[131969]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1249/sb-slagter-menu-600x400.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[400]]></umbracoHeight>
  <umbracoWidth><![CDATA[600]]></umbracoWidth>
</Image>