<?xml version="1.0" encoding="utf-8"?>
<Image guid="ef7814fa-35bd-4485-9c56-ce6c1467e4bc" id="3393" nodeName="Kædesite Banner 1000X500" isDoc="" updated="2022-05-23T11.38.46.7870000Z" parentGUID="78db8246-c665-4110-93bd-d8c5986fa5bb" nodeTypeAlias="Image" path="-1,1706,3213,3393">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[146096]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2463/kaedesite_banner_1000x500.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[500]]></umbracoHeight>
  <umbracoWidth><![CDATA[1000]]></umbracoWidth>
</Image>