<?xml version="1.0" encoding="utf-8"?>
<news guid="d34d3418-ceef-4802-a310-1c47b3c38ffa" id="1507" nodeName="Amarone - Lær alt om vintypen med det velrespekterede navn" isDoc="" updated="2022-05-17T10.01.58.8900000Z" parentGUID="c5256333-c19e-4cb7-bb55-30517f2f80a5" nodeTypeAlias="news" templateAlias="Baseline_News" sortOrder="13" published="true" isBlueprint="false">
  <bodyEndHtml><![CDATA[<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [{
    "@type": "Question",
    "name": "Hvad er Amarone?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Amarone er betegnelsen for en bestemt vintype, som laves efter definerede metoder og med udvalgte druetyper fra Norditalien."
    }
  }, {
    "@type": "Question",
    "name": "Hvor kommer Amarone-vine fra?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Amarone-vine produceres udelukkende i det Norditalienske vindistrikt ”Valpolicella” i Veneto. Vinregionen inddeles i tre områder, som er Classico, Valpantena og Est."
  }
  }, {
    "@type": "Question",
    "name": "Hvilke druesorter er Amarone lavet på?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Amarone-vine laves på forskellige druesorter. De fire gængse druetyper er Corvina, Corvinone, Rondinella og Molinara."
    }
  },  {
    "@type": "Question",
    "name": "Hvordan fremstilles Amarone-vine?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Det særlige ved Amarone-vine er, at druerne bliver plukket og tørrer over vinteren, inden de bliver til en most. Det giver vinene et højt sukker- og alkoholindhold."
        }
    }, {
    "@type": "Question",
    "name": "Hvordan smager Amarone-vine?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Amarone-vine er intense i smagen og smager ofte af kirsebærlikør, sorte figener, kanel, blommer og med fine nuancer af chokolade, brun sukker og grønne peberkorn."
}
    }]
  }
</script>]]></bodyEndHtml>
  <bodyScript></bodyScript>
  <contentType></contentType>
  <date>2018-11-14T00:00:00</date>
  <digiSegment></digiSegment>
  <headHtml></headHtml>
  <headline><![CDATA[Amarone - Lær alt om vintypen med det velrespekterede navn]]></headline>
  <headScript></headScript>
  <hideFooter>0</hideFooter>
  <hideFromSitemap>0</hideFromSitemap>
  <hideTop>0</hideTop>
  <metaCanonicalUrl></metaCanonicalUrl>
  <metaDescription><![CDATA[Hvad er Amarone vin helt præcist? Lær alt om Italiens skønne vintype. Vi besvarer alle de typisk stillede spørgsmål om de udsøgte Amarone vine. Læs her!]]></metaDescription>
  <metaNoFollow>0</metaNoFollow>
  <metaNoIndex>0</metaNoIndex>
  <metaTitle><![CDATA[Amarone – Hvad er Amarone vin? Læs den ultimative guide her]]></metaTitle>
  <nonResponsive>0</nonResponsive>
  <ogImage></ogImage>
  <relations></relations>
  <removeTextShadow>0</removeTextShadow>
  <specialFaviconSmall></specialFaviconSmall>
  <specialFaviconStandard></specialFaviconStandard>
  <subHeadline></subHeadline>
  <tags><![CDATA[["vin","amarone"]]]></tags>
  <text><![CDATA[<p><strong>Kender du bare en lille smule til rødvine, har du med garanti hørt om de sagnomspundne Amarone vine utallige gange. Men hvad dækker betegnelsen ’Amarone’ over? Er det en druetype? Er det et vindistrikt? Eller noget helt tredje?</strong></p>
<p>Bliv klogere her, mens vi guider dig gennem alt, der er værd at vide om Amarone vin.</p>
<h2>Hvad er Amarone vin?</h2>
<p>Amarone er, modsat hvad mange tror, hverken navnet på en druetype eller et vindistrikt. Amarone er betegnelsen for en bestemt vintype, der fremstilles efter nøje definerede metoder og med udvalgte druetyper fra et specifikt vindistrikt i Norditalien.</p>
<p>Det officielle navn for Amarone-vintypen er ”Amarone della Valpolicella”.</p>
<p style="padding-left: 120px;"><strong>Tip!</strong> <br /><em>Det er en god idé at lade Amarone vine ånde inden servering – særligt de dyrere flasker. Åbn derfor gerne vinen et par timer før, du serverer den. Er det en særlig god, ældre årgang, kan det være en god idé at dekantere vinen.</em> </p>
<p>Selvom Amarone ikke direkte dækker over hverken en druetype eller et vindistrikt, er der mange regler, krav og kriterier, en Amarone skal overholde og leve op til for at bære den respektindgydende navn.   </p>
<h2>Hvor produceres Amarone vin?</h2>
<p>Amarone vin produceres udelukkende i det Norditalienske vindistrikt ”Valpolicella” i Veneto. Vinregionen kan inddeles i tre mindre områder: Classico, Valpantena og Est.</p>
<p>Valpolicella kan oversættes til ”dalen med de mange kældre”. Der er naturligvis tale om vinkældre – og dem er der hobevis af i det højtrespekterede vindistrikt.</p>
<p>Valpolicella-distriktet er den andenstørste producent af DOC-vine. DOC er et kvalitetsstempel, der blev indført i Italien i 1963. En DOC-vin skal opfylde en lang række krav, der dækker over alt fra benyttede druetyper og alkoholstyrke til syreindhold og høstudbytte.</p>
<h3>Druetyper fra Valpolicella-distriktet</h3>
<p>I den velrespekterede vinregion dyrkes forskellige druesorter, bl.a. de fire druetyper, som primært benyttes i fremstillingen af Amarone vin:</p>
<ul>
<li>Corvina</li>
<li>Corvinone</li>
<li>Rondinella</li>
<li>Molinara</li>
</ul>
<p>En garvet vinconnaisseur vil med stor sandsynlighed fortælle dig, at Amarone vine, der primært er fremstillet på druetyperne Corvina og Corvinone, er de fineste i klassen.  </p>
<h2>Hvordan fremstilles Amarone vine?</h2>
<p>At prisen på en Amarone vin typisk ligger på +200 kr. pr. flaske hænger sammen med, at det er en meget krævende og langsommelig proces at fremstille Amarone vin.</p>
<p style="padding-left: 150px;"><strong>Tip!<br /></strong><em>Yngre Amarone vine kan sagtens serveres lige under stuetemperatur, mens ældre Amarone vine ifølge nogle vineksperter helst skal serveres en smule køligere. Men det er jo i sidste ende en smagssag. </em>  </p>
<p>Som beskrevet ovenfor er der krav til, hvilke druer der må benyttes i fremstillingen af en Amarone vin – mindst 85% af druerne i en Amarone vin skal nemlig være druer fra listen ovenfor. De resterende 15% kan udgøres af op til 18 forskellige druetyper.</p>
<h3>Druerne skal tørre ind til rosiner over vinteren</h3>
<p>Druerne, der laves Amarone vin på, plukkes typisk i midten af oktober og tørrer over vinteren ind til rosiner. Processen kan tage helt op til 120 dage, før druerne er, som de rutinerede vinbønner ønsker.</p>
<p>Da druerne svinder ind i tørreprocessen, bruges der typisk omkring dobbelt så mange druer i fremstillingen af en Amarone vin, som der benyttes i fremstillingen af andre vintyper. Det er endnu et faktum, der forklarer, hvorfor Amarone vine typisk er nederst på vinkortet ved siden af navne som Brunello og Barolo.</p>
<p>Den langsommelig og omhyggelige fremstillingsproces bevirker, at Amarone vine er intense i smagen, har et højt sukkerindhold og typisk kommer med en alkoholprocent på 15% eller højere.</p>
<h2>Hvordan smager Amarone vine?</h2>
<p>Den meget specifikke fremstillingsproces, vi lige har beskrevet, er med til at give Amarone vine en karakteristisk smag og aroma.</p>
<p style="padding-left: 150px;"><strong>Tip!<br /></strong><em>Server Amarone vin i store vinglas. På den måde har du bedst mulighed for at få alle aromaerne med. </em></p>
<p>Det er selvfølgelig vanskeligt at skære alle Amarone vine over én kam, men der er flere karakteristika, der kan siges at være gældende for ’typiske’ Amarone vine. Helt overordnet har Amarone vine ry for at være intense i smagen.</p>
<p>Smagsnuancerne i en god Amarone vin vil typisk være i retning af kirsebærlikør, sorte figener, kanel, blommer og med fine nuancer af chokolade, brun sukker og grønne peberkorn.</p>
<h3>Hvilken type mad går godt til Amarone vine?</h3>
<p>Amarone vinenes intense smag spiller generelt godt op mod krydrede kødretter. Eksempelvis er Amarone vine fantastiske at parre med simre- og gryderetter, der er kraftige i smagen. Amarone vine fungerer også rigtigt fint til grillet og/eller røget kød.</p>
<p>Det er altså en vin, der vil kunne ledsage de fleste hovedretter, der har kød på tallerkenen. Men det er faktisk også en vin, der er passer rigtigt godt til julemad, der typisk er fedt og salt, sødt og surt.  </p>
<p>Amarone også af flere er blevet udråbt som den perfekte ”julevin” og er i øvrigt blandt danskernes favoritter.</p>
<h2>Ripasso – Amarones lillebror</h2>
<p>En anden vintype, der også passer perfekt til ”tunge” kødretter og dansk julemad, er vintypen Ripasso, der ligesom Amarone vine også produceres i Valpolicella-distriktet.</p>
<p>Ripasso er også meget passende ofte blevet beskrevet som ”Amarones lillebror”. At Amarone og Ripasso minder om hinanden er ikke så underligt. Ripasso vine fermenterer nemlig på druekvastet fra Amarone-produktionen, hvor vinen forfines i smagen.</p>
<p>Fremstillingsmetoden for Ripasso vine er således betydeligt mindre krævende, end det er tilfældet med Amarone vine, hvorfor Ripasso vine oftest er noget billigere end Amarone vine. Dertil, så må vinbønderne producere ca. dobbelt så mange Ripasso-flasker, som de må producere Amarone vine.</p>
<p>Begge vintyper har de seneste 10 år oplevet en markant stigning i efterspørgsel – og det forstår man godt!</p>
<p>Hvis du ønsker at gøre et godt køb på en Amarone eller Ripasso, bør du holde øje med vores <a data-udi="umb://document/10791bf437c24c909899044e70ba55f4" href="/{localLink:umb://document/10791bf437c24c909899044e70ba55f4}" title="Tilbudsavis"><span>tilbudsavis</span> </a>– <span>Tilbudsavisen indeholder inspiration, et </span><span>udvalg af aktuelle varer til en god pris – </span><span>og gode tilbud lige nu.</span></p>
<h2><br />FAQ om Amarone</h2>
<p><strong>Hvad er Amarone?<br /></strong>Amarone er betegnelsen for en bestemt vintype, som laves efter definerede metoder og med udvalgte druetyper fra Norditalien.</p>
<p><strong>Hvor kommer Amarone-vine fra?<br /></strong>Amarone-vine produceres udelukkende i det Norditalienske vindistrikt ”Valpolicella” i Veneto. Vinregionen inddeles i tre områder, som er Classico, Valpantena og Est.</p>
<p><strong>Hvilke druesorter er Amarone lavet på?<br /></strong>Amarone-vine laves på forskellige druesorter. De fire gængse druetyper er Corvina, Corvinone, Rondinella og Molinara.</p>
<p><strong>Hvordan fremstilles Amarone-vine?<br /></strong>Det særlige ved Amarone-vine er, at druerne bliver plukket og tørrer over vinteren, inden de bliver til en most. Det giver vinene et højt sukker- og alkoholindhold.</p>
<p><strong>Hvordan smager Amarone-vine?<br /></strong>Amarone-vine er intense i smagen og smager ofte af kirsebærlikør, sorte figener, kanel, blommer og med fine nuancer af chokolade, brun sukker og grønne peberkorn.</p>]]></text>
  <thumbnail><![CDATA[umb://media/750ede92e27e4ed295c2fac367c079ad]]></thumbnail>
  <umbracoUrlName></umbracoUrlName>
  <useImageAsTopImage>0</useImageAsTopImage>
</news>