<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Footer components" Key="c8636691-0fe1-4f1e-bcff-93c0cc58f6e6" Id="Our.Umbraco.StackedContent" DatabaseType="Ntext" Folder="Baseline/Component+pickers">
  <PreValues>
    <PreValue SortOrder="1" Alias="contentTypes"><![CDATA[[
  {
    "icContentTypeGuid": "4eff01c7-2b7b-4c19-b590-38c2b886deb4",
    "nameTemplate": "Image"
  }
]]]></PreValue>
    <PreValue SortOrder="2" Alias="enableCopy"><![CDATA[1]]></PreValue>
    <PreValue SortOrder="3" Alias="enablePreview"><![CDATA[1]]></PreValue>
    <PreValue SortOrder="4" Alias="hideLabel"><![CDATA[0]]></PreValue>
    <PreValue SortOrder="5" Alias="maxItems"><![CDATA[0]]></PreValue>
    <PreValue SortOrder="6" Alias="singleItemMode"><![CDATA[0]]></PreValue>
  </PreValues>
</DataType>