<?xml version="1.0" encoding="utf-8"?>
<Image guid="334132b3-797e-4340-af38-c2b3ba0633b2" id="2753" nodeName="photo-1558150052-fddeedcf27d4.jpg" isDoc="" updated="2020-12-15T14.50.23.5830000Z" parentGUID="fc3978b1-62a5-43fd-9707-71a7e875901d" nodeTypeAlias="Image" path="-1,1530,1556,1557,2751,2753">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[98425]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1941/photo-1558150052-fddeedcf27d4.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[901]]></umbracoHeight>
  <umbracoWidth><![CDATA[1351]]></umbracoWidth>
</Image>