<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>e88d9187-af2e-4ebe-add7-e394260b48be</Key>
    <Name>Spil bånd</Name>
    <Alias>ribbonGame</Alias>
    <Icon>icon-game color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Folder>Baseline/Ribbons</Folder>
    <Compositions>
      <Composition Key="0a480072-8385-43fb-8d87-6dadd929858d">compositionRibbon</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>27cbed3d-938d-4676-b82c-0bb862cf36c9</Key>
      <Name>Aktiv fra</Name>
      <Alias>activeFrom</Alias>
      <Definition>5046194e-4237-453c-a547-15db3a07c4e1</Definition>
      <Type>Umbraco.Date</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Datoen fra og med formularen skal vises. Det er også denne periode, der afgør hvilken intro, der skal bruges.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Indhold</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>12adb310-6780-4d81-99fe-3e7cc157f733</Key>
      <Name>Aktiv til</Name>
      <Alias>activeTo</Alias>
      <Definition>5046194e-4237-453c-a547-15db3a07c4e1</Definition>
      <Type>Umbraco.Date</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Datoen til og med formularen skal vises.Det er også denne periode, der afgør hvilken intro, der skal bruges.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Indhold</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>ac212f79-ebcb-409e-bff4-be4f75681882</Key>
      <Name>Tilmeldingsform</Name>
      <Alias>form</Alias>
      <Definition>7f0df461-d09f-495c-9aea-e658eb0cedf0</Definition>
      <Type>Baseline.ChainFormPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Tekster</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>894d73ee-67eb-4596-a315-1e20c60fcf87</Key>
      <Name>Spil</Name>
      <Alias>game</Alias>
      <Definition>a3cd7020-6fef-44fc-a53f-d095e3c32ebe</Definition>
      <Type>Our.Umbraco.StackedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Er som standard i højre side]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Indhold</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>87498456-5dc7-44e5-8a8a-5eae2fe0b1e6</Key>
      <Name>Spillet tabt tekst</Name>
      <Alias>gameLostText</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCEv3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Tekster</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>a4f7ce34-79f7-47d0-9e1a-3b48056bc8be</Key>
      <Name>Spillet tabt tekst udenfor periode</Name>
      <Alias>gameLostTextWhenInactive</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCEv3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Tekster</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>9bbc3b43-3a07-4a8a-8acc-7384ad26db69</Key>
      <Name>Spil siden</Name>
      <Alias>gameStyles</Alias>
      <Definition>564ed1e3-3e9c-46a1-814b-07eac7518033</Definition>
      <Type>Our.Umbraco.StackedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Styles</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>4b7749a5-73ae-409b-af72-284f0fb6e515</Key>
      <Name>Spillet vundet tekst</Name>
      <Alias>gameWonText</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCEv3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Tekster</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>119b21de-6bac-4f47-8131-d9fe2330325e</Key>
      <Name>Spillet vundet tekst udenfor periode</Name>
      <Alias>gameWonTextWhenInactive</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCEv3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Tekster</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>b079d7bb-874c-4a10-b2c5-e21fcbe65203</Key>
      <Name>Intro i aktiv periode</Name>
      <Alias>introActivePeriod</Alias>
      <Definition>9480dd9d-a55e-4974-b185-80fe1db885bf</Definition>
      <Type>Our.Umbraco.StackedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Er som standard i venstre side]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Indhold</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>bbf63f44-331c-44c7-b9a1-216ed3f3d64b</Key>
      <Name>Introduktions tekst</Name>
      <Alias>introductionText</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCEv3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Tekster</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>c36008a5-07ea-4d86-adad-fb3caaa324ed</Key>
      <Name>Introduktions tekst udenfor periode</Name>
      <Alias>introductionTextWhenInactive</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCEv3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Tekster</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>d90262d8-5a71-4e3e-abfa-53dc630ff69c</Key>
      <Name>Intro undenfor aktiv periode</Name>
      <Alias>introInactivePeriod</Alias>
      <Definition>9480dd9d-a55e-4974-b185-80fe1db885bf</Definition>
      <Type>Our.Umbraco.StackedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Er som standard i venstre side]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Indhold</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>2fcb9195-62e4-4b4b-b73c-3e4f28fc5cd6</Key>
      <Name>Intro siden</Name>
      <Alias>introStyles</Alias>
      <Definition>564ed1e3-3e9c-46a1-814b-07eac7518033</Definition>
      <Type>Our.Umbraco.StackedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Styles</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>9c5ffe00-dd7f-45d3-b048-4bec3da3d394</Key>
      <Name>Omvendt indhold</Name>
      <Alias>reverseContent</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Som standard er introen til venstre og spillet til højre]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Indhold</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>9b9df481-5dd6-429d-8239-0b66ab17021c</Key>
      <Name>Generelt</Name>
      <Alias>styles</Alias>
      <Definition>435bbf23-367e-4cab-af3a-3af72a37d8e8</Definition>
      <Type>Our.Umbraco.StackedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Vil have indflydelse på både højre og venstre side.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Styles</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Indhold</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Tekster</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Caption>Styles</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>