<?xml version="1.0" encoding="utf-8"?>
<Image guid="cb2b83d9-69f4-43fd-9948-ee686f07fae7" id="1743" nodeName="butcher.jpg" isDoc="" updated="2019-10-21T06.38.55.9100000Z" parentGUID="ce17dcb3-d045-4db9-aaf7-b2367ee92271" nodeTypeAlias="Image" path="-1,1530,1548,1566,1743">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[190710]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1024/butcher.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[600]]></umbracoHeight>
  <umbracoWidth><![CDATA[1920]]></umbracoWidth>
</Image>