<?xml version="1.0" encoding="utf-8"?>
<Image guid="6011fec9-9cff-4fec-894d-fcf7deb7cf90" id="3477" nodeName="BK Go Pris Hver Dag 2000X500 Topslide" isDoc="" updated="2022-07-28T08.11.37.5100000Z" parentGUID="44f09677-9073-4902-9dc0-f2b3b9badf2e" nodeTypeAlias="Image" path="-1,3469,3477">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[65056]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2518/bk_go_pris_hver_dag_2000x500-topslide.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[500]]></umbracoHeight>
  <umbracoWidth><![CDATA[2000]]></umbracoWidth>
</Image>