<?xml version="1.0" encoding="utf-8"?>
<Image guid="6fb969b7-0fff-4976-aa54-56b7c79c6253" id="1660" nodeName="meyerlogo.png" isDoc="" updated="2019-10-21T06.38.47.2870000Z" parentGUID="cf850fa7-2cb4-4cc5-b8f4-e31a98fabe4a" nodeTypeAlias="Image" path="-1,1530,1534,1573,1660">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[83425]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1197/meyerlogo.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[253]]></umbracoHeight>
  <umbracoWidth><![CDATA[500]]></umbracoWidth>
</Image>