<?xml version="1.0" encoding="utf-8"?>
<Image guid="26806592-1d46-4549-85df-70182f8f1f88" id="1588" nodeName="fakta_dk-madplan-topimage-mobile.jpg" isDoc="" updated="2019-10-21T06.38.40.3200000Z" parentGUID="55543541-614d-46b1-ad94-5c8d92c9f509" nodeTypeAlias="Image" path="-1,1539,1563,1564,1588">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[25367]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1164/fakta_dk-madplan-topimage-mobile.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[395]]></umbracoHeight>
  <umbracoWidth><![CDATA[500]]></umbracoWidth>
</Image>