<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>6954f236-d146-41eb-b04b-4c958954d46a</Key>
    <Name>Billedkomponent</Name>
    <Alias>componentImage</Alias>
    <Icon>icon-photo-album color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Folder>Baseline/Components</Folder>
    <Compositions>
      <Composition Key="a64c295f-8755-4190-84d3-1f8e2845b2ab">compositionPopUpComponent</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>221ae838-3ff4-4e86-8a88-5da14fe3854d</Key>
      <Name>Knap tekst</Name>
      <Alias>buttonText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Hvis denne udfyldes vil der vises en knap med linket. Der skal også vælges et link.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Indhold</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>6a93b1b9-52fd-44fd-b2c5-bd4cb0506a9b</Key>
      <Name>Slå prissplash fra</Name>
      <Alias>disablePriceSplash</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Hvis dette felt afkrydses, så vil en evt. prissplash ikke blive vist på produktet.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Indhold</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>e7abe0e8-b9b2-4a1f-880f-400a1c17b8e3</Key>
      <Name>Overskrift</Name>
      <Alias>headline</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Overskrift, der som default vises ovenover video. Virker kun i billedslideren.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Billedslider</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>0c12545a-2111-4ca2-a6c8-ad5bb0fd15e2</Key>
      <Name>Lad link kun være på billedet</Name>
      <Alias>hideLinkName</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Skjuler linktekst over/under billedet. Man kan stadig trykke på billedet for at bruge linket. Virker kun i billedslideren.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Indhold</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>27e036f3-e620-425d-8354-775a2fcfb982</Key>
      <Name>Billede</Name>
      <Alias>image</Alias>
      <Definition>838d17a6-d246-4808-918c-0f2186cd0dfd</Definition>
      <Type>Umbraco.MediaPicker2</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[<b>Anbefalet størrelser</b>
<i>Fuld skærm</i>
Bredde: 3000px. 
Højde: Valgfri. 500px ofte brugt.

<i>I split & Barcodescanner & Panel & i billedslider & i Produktvælgertesten</i>
Bredde: 1600px. 
Højde: Valgfri.

<i>I menu</i>
Bredde: 350px]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Indhold</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>c38e1e6a-0222-476f-b811-5e2534fd7b99</Key>
      <Name>Billede</Name>
      <Alias>imageMobile</Alias>
      <Definition>838d17a6-d246-4808-918c-0f2186cd0dfd</Definition>
      <Type>Umbraco.MediaPicker2</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Responsive billeder der kun vises på mobil devices.

<b>Anbefalet størrelser</b>
Nyere mobile devices har x3 i opløsningen.
Derfor anbefales: 
Bredde: 2600px. 
Højde: Valgfri.

<i>I billedslider & panel</i>
Bredde: 1600px
Højde: Valgfri]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Mobil</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>fd22f62f-725e-49b6-8c68-92dfd74285c2</Key>
      <Name>Link</Name>
      <Alias>link</Alias>
      <Definition>c8261dbf-b464-4caa-9b98-13aeca4f1137</Definition>
      <Type>RJP.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Indhold</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>b95915fe-e3ff-4cea-9c1b-a62bff0b4c76</Key>
      <Name>Tekst</Name>
      <Alias>text</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Kort tekst, der som default vises ovenover video. Virker kun i billedslideren.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Billedslider</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Indhold</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Mobil</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Caption>Billedslider</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>