<?xml version="1.0" encoding="utf-8"?>
<Image guid="396da9c1-5927-4a63-9358-a854808166e4" id="3414" nodeName="400401571 Plastik Kaedewebsites 2000X500" isDoc="" updated="2022-06-15T10.47.28.1200000Z" parentGUID="f988736b-cdc5-4d6e-9869-7db6fd10557e" nodeTypeAlias="Image" path="-1,1706,2908,3414">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[0]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2480/400401571_plastik_kaedewebsites_2000x500.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[200]]></umbracoHeight>
  <umbracoWidth><![CDATA[200]]></umbracoWidth>
</Image>