<?xml version="1.0" encoding="utf-8"?>
<Image guid="4248c50d-3780-4565-b420-a2c11fae773d" id="1614" nodeName="SB EFTERÅR - 01-mandeltarte-med-smcrkaramel.png" isDoc="" updated="2019-10-21T06.38.42.8970000Z" parentGUID="c756f5e5-a9fb-4c22-988d-7103ebd309cb" nodeTypeAlias="Image" path="-1,1539,1540,1541,1542,1614">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[3799562]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1121/sb-efteraar-01-mandeltarte-med-smcrkaramel.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[2560]]></umbracoHeight>
  <umbracoWidth><![CDATA[1920]]></umbracoWidth>
</Image>