<?xml version="1.0" encoding="utf-8"?>
<Image guid="f037a7a1-e6b9-4214-8e01-c3b4ac6a529c" id="1780" nodeName="top.jpg" isDoc="" updated="2019-10-21T06.38.59.6300000Z" parentGUID="d61af5d5-9dec-464d-8fc4-568d7f9f0d5b" nodeTypeAlias="Image" path="-1,1530,1548,1664,1780">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[108682]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1059/top.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[600]]></umbracoHeight>
  <umbracoWidth><![CDATA[1920]]></umbracoWidth>
</Image>