<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Mobile Tablet and Desktop Dropdown" Key="7dc1d278-c638-4608-8913-4cd2dbd07493" Id="Umbraco.DropDown.Flexible" DatabaseType="Nvarchar" Folder="Baseline/General">
  <PreValues>
    <PreValue SortOrder="1" Alias="0"><![CDATA[Desktop]]></PreValue>
    <PreValue SortOrder="2" Alias="1"><![CDATA[Mobile and tablet]]></PreValue>
    <PreValue SortOrder="3" Alias="2"><![CDATA[Both]]></PreValue>
    <PreValue SortOrder="4" Alias="multiple"><![CDATA[0]]></PreValue>
  </PreValues>
</DataType>