<?xml version="1.0" encoding="utf-8"?>
<Image guid="bb1fab5e-31d5-4614-82e2-2d64ebd2199c" id="1928" nodeName="FBmark_600x400.jpg" isDoc="" updated="2019-11-04T15.06.12.8730000Z" parentGUID="a33c66cf-e7e0-45c0-b7bb-42426c9a4e86" nodeTypeAlias="Image" path="-1,1530,1534,1920,1928">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[264648]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1324/fbmark_600x400.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[400]]></umbracoHeight>
  <umbracoWidth><![CDATA[600]]></umbracoWidth>
</Image>