<?xml version="1.0" encoding="utf-8"?>
<Image guid="8d4e9d4d-f8e2-4245-84de-8530c08cf1db" id="3390" nodeName="KV SB Uge20 Desktop" isDoc="" updated="2022-05-18T06.44.32.3770000Z" parentGUID="705e1366-c03d-4faf-b1dc-76606e03385d" nodeTypeAlias="Image" path="-1,1706,3209,3390">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[1144821]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2460/kv_sb_uge20_desktop.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[1000]]></umbracoHeight>
  <umbracoWidth><![CDATA[4000]]></umbracoWidth>
</Image>