<?xml version="1.0" encoding="utf-8"?>
<Image guid="d093cebc-fe4e-4133-bf09-b0b3be63b3db" id="3328" nodeName="Boller I Karry 1280 920Px" isDoc="" updated="2022-04-06T14.56.28.6200000Z" parentGUID="76c3b5c3-1e91-4b95-80be-e3218b8b3a1e" nodeTypeAlias="Image" path="-1,3327,3328">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[110690]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2413/boller-i-karry_1280_920px.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[920]]></umbracoHeight>
  <umbracoWidth><![CDATA[1280]]></umbracoWidth>
</Image>