<?xml version="1.0" encoding="utf-8"?>
<news guid="dda921fe-5105-4605-95d3-74c0becfdf80" id="1513" nodeName="Pinot Noir - Hvad er Pinot Noir?" isDoc="" updated="2022-05-17T10.01.00.3000000Z" parentGUID="c5256333-c19e-4cb7-bb55-30517f2f80a5" nodeTypeAlias="news" templateAlias="Baseline_News" sortOrder="14" published="true" isBlueprint="false">
  <bodyEndHtml></bodyEndHtml>
  <bodyScript></bodyScript>
  <contentType></contentType>
  <date>2019-01-30T00:00:00</date>
  <digiSegment></digiSegment>
  <headHtml><![CDATA[<script type="application/ld+json">
{
"@context": "https://schema.org",
"@type": "FAQPage",
"mainEntity": [{
"@type": "Question",
"name": "Hvad er Pinot Noir?",
"acceptedAnswer": {
"@type": "Answer",
"text": "Pinot Noir er en af de ældste druesorter i verden. Den er kendetegnet ved at være skrøbelig og smagslet. Druen stammer oprindeligt fra den franske vinregion Bourgogne."
}
},{
"@type": "Question",
"name": "Hvad er Pinot Noir lavet på?",
"acceptedAnswer": {
"@type": "Answer",
"text": "Pinot Noir er lavt på druen med samme navn. Druen kan dog smage vidst forskelligt, da den er skrøbelig overfor jord- og klimaforhold. Dermed bærer en Pinot Noir præg af forskellige regionale områder – alt efter hvor den er dyrket."
}
},{
"@type": "Question",
"name": "Hvor produceres Pinot Noir?",
"acceptedAnswer": {
"@type": "Answer",
"text": "Pinot Noir produceres og dyrkes både i Europa, USA og andre steder i verden. De mest velkendte områder er Bourgogne i Frankrig, Ahr i Tyskland og i det solrige Californien."
}
}]
}
</script>]]></headHtml>
  <headline><![CDATA[Pinot Noir – Hvad er Pinot Noir vin?]]></headline>
  <headScript></headScript>
  <hideFooter>0</hideFooter>
  <hideFromSitemap>0</hideFromSitemap>
  <hideTop>0</hideTop>
  <metaCanonicalUrl></metaCanonicalUrl>
  <metaDescription><![CDATA[Hvad er Pinot Noir vin helt præcist? Lær alt om den ædle druetype fra Bourgogne. Vi besvarer alle de typisk stillede spørgsmål om Pinot Noir. Læs med her!]]></metaDescription>
  <metaNoFollow>0</metaNoFollow>
  <metaNoIndex>0</metaNoIndex>
  <metaTitle><![CDATA[Pinot Noir – Hvad er Pinot Noir vin? – Læs vores guide her]]></metaTitle>
  <nonResponsive>0</nonResponsive>
  <ogImage></ogImage>
  <relations></relations>
  <removeTextShadow>0</removeTextShadow>
  <specialFaviconSmall></specialFaviconSmall>
  <specialFaviconStandard></specialFaviconStandard>
  <subHeadline></subHeadline>
  <tags><![CDATA[["vin","guide","pinot noir"]]]></tags>
  <text><![CDATA[<p>Pinot Noir er én af de ældste druesorter i verden. Dyrkningen af druesorten kan spores helt tilbage til før vor tidsregning, hvor den efter sigende skulle have tryllebundet enhver, der smagte den.</p>
<p>Pinot Noir er en skrøbelig og smagslet druesort og er derfor letpåvirkelig af klima- og dyrkningsforhold. Druesorten er også blevet klonet mange gange, og selv under næsten de samme jord- og klimaforhold kan vine brygget på Pinot Noir druen smage vidt forskelligt. Derfor har Pinot Noir vine typisk tydelige regionale præg. <br /><br /></p>
<p>Oprindeligt stammer Pinot Noir druen fra den berømte, franske vinregion Bourgogne, og druesorten har historisk set været med til at give Bourgogne det flotte ry for at være et de bedste rødvinsdistrikter i verden.</p>
<p> </p>
<h2>Pinot Noir rødvine</h2>
<p>Som før beskrevet spiller region og dyrkningsforhold en stor rolle for, hvordan vine fremstillet på Pinot Noir druesorten smager. Dog er der nogle fælles karakteristika, og en Pinot Noir rødvin har ofte smagsnuancer af bærsødme og skovbund.</p>
<p style="padding-left: 120px;"><strong>Vidste du?</strong></p>
<p style="padding-left: 120px;"><em>De berømte og dyre Dom Perignon champagner er altid lavet på en blanding af Pinot Noir og Chardonnay. Blandingsforholdet er normalt 50/50 til 60/40. </em></p>
<p>Pinot Noir druer er meget tyndskindede sammenlignet med andre druesorter, og den karakteristiske farve og tannin i rødvine lavet på Pinot Noir druer kommer fra drueskindet.</p>
<p>Af samme grund er udbyttet af druen ikke lige så stort sammenlignet med andre druesorter, og det er en af flere faktorer, der er med til at forklare, hvorfor Pinot Noir rødvine er pristungere end mange andre gode rødvine.  <em> </em></p>
<p>”Bourgogne Pinot Noir” rødvine er således også blandt de mest eftertragtede og dyreste vine i verden. Pris og efterspørgsel varierer fra vintage til vintage.     <em> </em></p>
<h2>Hvor produceres Pinot Noir vine?</h2>
<p>Pinot Noir dyrkes og fremstilles mange andre steder i verden udover i hjemstavnen Bourgogne i Frankrig. Vindistrikter, der har lange forårs- og efterårsperioder, giver de bedste forhold for dyrkning af Pinot Noir druer og fremstilling af Pinot Noir vine.</p>
<p> </p>
<h3>Pinot Noir vine fremstillet i Europa</h3>
<p>Udover i den sagnomspundne Bourgogne vinregion, produceres der også Pinot Noir vine i Tyskland, hvilke går under navnet ”Spatburgunder”. De produceres i regionen Ahr, der typisk oplever højere temperaturer end andre vindistrikter i Tyskland, hvilket giver gode dyrkningsforhold for den sarte Pinot Noir drue.</p>
<p>I det vinglade Norditalien produceres også Pinot Noir vine – her kaldes de dog ikke Pinot Noir, men Pinot Nero. Pinot Nero vine fra Italien er typisk mørkere og rigere end dem, der produceres i Frankrig.</p>
<p> </p>
<h3>Pinot Noir vine fra USA's vestkyst</h3>
<p>På den anden side af Atlanten findes også vinmarker med de eftertragtede Pinot Noir druer. I det altid solrige Californien produceres også Pinot Noir vine, der typisk har smagsnuancer af sorte kirsebær og hindbær som effekt af det varme klima.</p>
<p>Lidt længere oppe ad Vestkysten, i Oregon, producerer de også Pinot Noir vine. Smagspaletten på disse vine er oftest frugtig og let, hvorfor de er mindre komplekse end en mere typisk Pinot Noir vin.  </p>
<p>Der produceres også Pinot Noir vine andre steder i verden - bl.a. i New Zealand.</p>
<p> </p>
<h3>Kvalitetsvine på tilbud?</h3>
<p>I <span><a rel="noopener" data-udi="umb://document/4354c5f03ca848d8b364cd4960bfe705" href="/{localLink:umb://document/4354c5f03ca848d8b364cd4960bfe705}" target="_blank" title="Vin">SuperBrugsens vinhandel</a></span> finder du altid mange lækre vine. Det er derfor en god idé at holde øje med vores <span><a rel="noopener" data-udi="umb://document/10791bf437c24c909899044e70ba55f4" href="/{localLink:umb://document/10791bf437c24c909899044e70ba55f4}" target="_blank" title="Tilbudsavis">tilbudsavis</a></span>. <span>Tilbudsavisen indeholder inspiration, et </span><span>udvalg af aktuelle varer til en god pris – </span><span>og gode tilbud lige nu.</span></p>
<p>Har du mod på mere læsning, kan du passende fortsætte med at læse om <a rel="noopener" data-udi="umb://document/d34d3418ceef4802a3101c47b3c38ffa" href="/{localLink:umb://document/d34d3418ceef4802a3101c47b3c38ffa}" target="_blank" title="Amarone - Lær alt om vintypen med det velrespekterede navn">Amarone vin</a>, eller finde andet spændende læsestof i vores samling af <span><a rel="noopener" data-udi="umb://document/c5256333c19e4cb7bb5530517f2f80a5" href="/{localLink:umb://document/c5256333c19e4cb7bb5530517f2f80a5}" target="_blank" title="Artikler 2">vinrelaterede artikler</a></span>.</p>
<p>God fornøjelse!</p>
<h2>FAQ om Pinot Noir</h2>
<p><strong>Hvad er Pinot Noir?</strong><br />Pinot Noir er en af de ældste druesorter i verden. Den er kendetegnet ved at være skrøbelig og smagslet. Druen stammer oprindeligt fra den franske vinregion Bourgogne.<br /><br /><strong>Hvad er Pinot Noir lavet på?</strong><br />Pinot Noir er lavt på druen med samme navn. Druen kan dog smage vidst forskelligt, da den er skrøbelig overfor jord- og klimaforhold. Dermed bærer en Pinot Noir præg af forskellige regionale områder – alt efter hvor den er dyrket.<br /><br /><strong>Hvor produceres Pinot Noir?</strong><br />Pinot Noir produceres og dyrkes både i Europa, USA og andre steder i verden. De mest velkendte områder er Bourgogne i Frankrig, Ahr i Tyskland og i det solrige Californien.</p>]]></text>
  <thumbnail><![CDATA[umb://media/f17c606a78ca4bfc99bf5f5dac5909ff]]></thumbnail>
  <umbracoUrlName></umbracoUrlName>
  <useImageAsTopImage>1</useImageAsTopImage>
</news>