<?xml version="1.0" encoding="utf-8"?>
<Image guid="37a3fb29-6af9-461e-8042-42156dd13da1" id="2998" nodeName="Blå_fødselsdag.jpg" isDoc="" updated="2021-05-05T13.25.48.4630000Z" parentGUID="c00904ed-dcc7-4b67-bc30-b65ca320c0c7" nodeTypeAlias="Image" path="-1,1539,1563,2990,2998">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[324950]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2145/blaa_foedselsdag.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[450]]></umbracoHeight>
  <umbracoWidth><![CDATA[750]]></umbracoWidth>
</Image>