<?xml version="1.0" encoding="utf-8"?>
<Image guid="b1f4ac2c-769e-4a51-846b-ddac7d9db44b" id="2428" nodeName="1200 x 800.jpg" isDoc="" updated="2020-06-30T13.40.00.6600000Z" parentGUID="5f18a5a0-6db1-43ef-a0d5-13306f3fc8ed" nodeTypeAlias="Image" path="-1,2426,2428">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[438867]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1719/1200-x-800.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[800]]></umbracoHeight>
  <umbracoWidth><![CDATA[1200]]></umbracoWidth>
</Image>