<?xml version="1.0" encoding="utf-8"?>
<Image guid="f4d93429-c9f2-4363-92eb-6a1279606385" id="3678" nodeName="BK Fødselsdag Header Grafik 2 500X400px" isDoc="" updated="2023-03-20T12.14.23.7030000Z" parentGUID="d0ee4845-6de3-46fe-b48d-a11fa9ec19ab" nodeTypeAlias="Image" path="-1,3675,3678">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[78244]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2687/bk_foedselsdag_header-grafik-2-500x400px.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[400]]></umbracoHeight>
  <umbracoWidth><![CDATA[500]]></umbracoWidth>
</Image>