<?xml version="1.0" encoding="utf-8"?>
<Image guid="7732d19c-d2a2-41df-9aa1-4a7a9ebb282e" id="2635" nodeName="VinSmagning_kædesite_TopSlidePC_600x400.jpg" isDoc="" updated="2020-10-23T10.40.08.4270000Z" parentGUID="277ff1ae-cf60-4879-9fc8-97e74d455394" nodeTypeAlias="Image" path="-1,1706,1877,2635">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[84100]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1847/vinsmagning_kaedesite_topslidepc_600x400.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[400]]></umbracoHeight>
  <umbracoWidth><![CDATA[600]]></umbracoWidth>
</Image>