<?xml version="1.0" encoding="utf-8"?>
<Image guid="c121d3fa-b0cb-48d5-ad59-dc74b4e9d0e5" id="2462" nodeName="frugtoggrønt.png" isDoc="" updated="2020-07-28T11.00.13.7400000Z" parentGUID="1e5c0d14-cae6-4068-ac62-8054739ffe57" nodeTypeAlias="Image" path="-1,1530,1551,2462">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[2363163]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1748/frugtoggroent.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[1308]]></umbracoHeight>
  <umbracoWidth><![CDATA[1629]]></umbracoWidth>
</Image>