<?xml version="1.0" encoding="utf-8"?>
<Image guid="298a5613-f172-47b5-a56f-2809d95c1a96" id="3257" nodeName="Håndgrønt (1)" isDoc="" updated="2022-03-01T11.37.35.5070000Z" parentGUID="c1a100a8-5bf0-4d16-b9c2-670cac727a9f" nodeTypeAlias="Image" path="-1,3218,3257">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[19466]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2356/haandgroent.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[851]]></umbracoHeight>
  <umbracoWidth><![CDATA[651]]></umbracoWidth>
</Image>