<?xml version="1.0" encoding="utf-8"?>
<Image guid="0db290f3-5932-4926-b607-781b7c4b9f03" id="1555" nodeName="soeris2-600x400.jpg" isDoc="" updated="2019-10-21T06.38.37.4530000Z" parentGUID="fb3eb803-227d-46dd-8695-f4556a871a5a" nodeTypeAlias="Image" path="-1,1530,1531,1554,1555">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[77839]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1155/soeris2-600x400.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[400]]></umbracoHeight>
  <umbracoWidth><![CDATA[600]]></umbracoWidth>
</Image>