<?xml version="1.0" encoding="utf-8"?>
<Image guid="85a7c0b4-6667-4424-94ed-282fd8a8d3da" id="3067" nodeName="35424_Playmobil_Slider_uge31_2000x500.jpg" isDoc="" updated="2022-04-11T12.47.02.2670000Z" parentGUID="0d0678d3-7c08-4325-92b1-946e3be27c60" nodeTypeAlias="Image" path="-1,1706,2849,3067">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[529803]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2208/35424_playmobil_slider_uge31_2000x500.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[500]]></umbracoHeight>
  <umbracoWidth><![CDATA[2000]]></umbracoWidth>
</Image>