<?xml version="1.0" encoding="utf-8"?>
<Image guid="099cd620-82bf-4c1d-8611-5d8254922bd2" id="2152" nodeName="Dunlopillo_web_slider_2000x500[2].jpg (2)" isDoc="" updated="2022-04-11T12.28.34.3370000Z" parentGUID="0d0678d3-7c08-4325-92b1-946e3be27c60" nodeTypeAlias="Image" path="-1,1706,2849,2152">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[373777]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1501/dunlopillo_web_slider_2000x500-2.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[1042]]></umbracoHeight>
  <umbracoWidth><![CDATA[4167]]></umbracoWidth>
</Image>