<?xml version="1.0" encoding="utf-8"?>
<Image guid="dd027791-30c7-4ee7-a5e2-16eaf44dfb3c" id="3585" nodeName="Kædesites Mobil 600X400 Endelig Fredag 9Dec" isDoc="" updated="2022-12-07T08.41.25.7870000Z" parentGUID="d37c80f7-cc96-4a64-bef1-85ec0df05616" nodeTypeAlias="Image" path="-1,1706,3568,3585">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[1275734]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2604/kaedesites_mobil_600x400_endelig-fredag_9dec.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[1667]]></umbracoHeight>
  <umbracoWidth><![CDATA[2500]]></umbracoWidth>
</Image>