<?xml version="1.0" encoding="utf-8"?>
<Image guid="6075e1c5-9dad-4c07-972d-e95c0904b00c" id="1646" nodeName="risengroed-med-kanelsukker-kandiserede-violer-og-smoer_original.jpeg" isDoc="" updated="2020-02-04T14.19.59.4430000Z" parentGUID="bd65e19e-7506-4b2f-9d6d-acf96309ba7a" nodeTypeAlias="Image" path="-1,1539,1575,1576,1646">
  <alt><![CDATA[risengrød til julemiddagen ]]></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[316960]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpeg]]></umbracoExtension>
  <umbracoFile><![CDATA[{
  "src": "/media/1103/risengroed-med-kanelsukker-kandiserede-violer-og-smoer_original.jpeg",
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  }
}]]></umbracoFile>
  <umbracoHeight><![CDATA[1920]]></umbracoHeight>
  <umbracoWidth><![CDATA[1920]]></umbracoWidth>
</Image>