<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>8b43e394-cd56-4dc4-be10-3afc8e8fc069</Key>
    <Name>Produktvælger - Prisvalg</Name>
    <Alias>productFinderPriceChoice</Alias>
    <Icon>icon-price-dollar color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Folder>Baseline/Product</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>61600df2-d0bb-4c7d-a6e2-c533f7dc7496</Key>
      <Name>Prisseperator</Name>
      <Alias>priceSeperator</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Prisen, der afgør hvor testen skal deles. Eks: Indtastes der 50 vil der blive udskrevet "over 50" og "under 50"]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>cff6e922-c261-4284-8ace-cddc720a2a0c</Key>
      <Name>Tekst</Name>
      <Alias>text</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>