<?xml version="1.0" encoding="utf-8"?>
<Image guid="4d026529-46c0-4742-830d-7e7ba5db13b2" id="2226" nodeName="1003200_Coop_OpfordringTilHjaelp_600x400-2.jpg" isDoc="" updated="2020-03-20T08.17.30.6000000Z" parentGUID="179756ef-cf39-4ef7-8450-020198946840" nodeTypeAlias="Image" path="-1,1706,2221,2226">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[38513]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1564/1003200_coop_opfordringtilhjaelp_600x400-2.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[400]]></umbracoHeight>
  <umbracoWidth><![CDATA[600]]></umbracoWidth>
</Image>