<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>78ed7354-7b98-491d-9072-1af4c786cee3</Key>
    <Name>Tekst og billede bånd</Name>
    <Alias>ribbonTextAndImage</Alias>
    <Icon>icon-layout color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Folder>Baseline/Ribbons</Folder>
    <Compositions>
      <Composition Key="0a480072-8385-43fb-8d87-6dadd929858d">compositionRibbon</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>f02f8b33-585e-4126-b485-6a98b593d56a</Key>
      <Name>Style - Bund</Name>
      <Alias>backgroundBottomStyle</Alias>
      <Definition>7656e1c9-5abd-467e-9c48-7a493ce90a7d</Definition>
      <Type>Our.Umbraco.StackedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Style til den nederste del af baggrunden]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Baggrunde</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>cc886de8-7b7f-4120-a7fb-d1a7bddb5c13</Key>
      <Name>Style - Top</Name>
      <Alias>backgroundTopStyle</Alias>
      <Definition>b9fd80f1-5f81-4db4-9af4-8e56e70f3441</Definition>
      <Type>Our.Umbraco.StackedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Style til den øverste del af baggrunden]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Baggrunde</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>dbecca5b-3314-4a33-be88-f498200c6d08</Key>
      <Name>Knap</Name>
      <Alias>button</Alias>
      <Definition>ae2e6235-7921-4bc9-80d8-079c8e14435d</Definition>
      <Type>Our.Umbraco.StackedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Indhold - Tekst</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>8efa99a1-09f7-42c7-a20f-c0b9b4742903</Key>
      <Name>Style</Name>
      <Alias>contentStyle</Alias>
      <Definition>18071245-7cce-4fad-a62e-d3ab60709c7c</Definition>
      <Type>Our.Umbraco.StackedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Kun teksten og baggrund her]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Indhold - Tekst</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>d7575867-0d11-4ee4-8998-c664d6f1a2f8</Key>
      <Name>Højde på baggrund top</Name>
      <Alias>heightBackgroundTop</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Kun på desktop. Defaulter til 670px.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Baggrunde</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>73a96895-9bd5-415b-b3ac-232d069d255b</Key>
      <Name>Padding over tekst - Desktop</Name>
      <Alias>paddingOverTextDesktop</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Default er 335px
Denne bestemmer, hvor meget af billedet skal være synligt over tekstboksen]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Indhold - Tekst</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>809abebc-3bb4-4847-bf70-7d0ddbfc76f8</Key>
      <Name>Padding over tekst - Tablet</Name>
      <Alias>paddingOverTextTablet</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Default er 225px
Denne bestemmer, hvor meget af billedet skal være synligt over tekstboksen]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Indhold - Tekst</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>d268284b-d462-4148-8cf8-78cca696d7e4</Key>
      <Name>Kort tekst over</Name>
      <Alias>shortText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Bliver vist ovenover tekst og over "Kort tekst - "Under". Kunne f.eks. være et tal. Vises med stor font størrelse.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Indhold - Tekst</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>3f473ccf-f47b-47b2-abd4-c3e3a5fa508e</Key>
      <Name>Kort tekst - Under</Name>
      <Alias>shortTextUnder</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Vises under "Kort tekst - Over" og med en mindre fontstørrelse.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Indhold - Tekst</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>a149991b-a562-4a0d-91a2-97b163ebb997</Key>
      <Name>Vis baggrund top som alm. billede på mobil</Name>
      <Alias>showBackgroundTopAsImageOnMobile</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Baggrunde</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>c1493438-ca5f-4006-a28b-f9ea528e4d0c</Key>
      <Name>Styles - Padding</Name>
      <Alias>styles</Alias>
      <Definition>4feca587-2578-4418-9ef0-cfb40e43d09c</Definition>
      <Type>Our.Umbraco.StackedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Afgør padding over/under båndet]]></Description>
      <SortOrder>7</SortOrder>
      <Tab>Indhold - Tekst</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>97a00b36-1c90-40da-9fc3-2f44733daee2</Key>
      <Name>Tekst</Name>
      <Alias>text</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCEv3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Indhold - Tekst</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Indhold - Tekst</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Baggrunde</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>