<?xml version="1.0" encoding="utf-8"?>
<Image guid="0548f4dc-fad6-48b8-a049-80ecd09b006a" id="2568" nodeName="OK_uge39_1200x600.jpg" isDoc="" updated="2020-09-23T09.47.18.0670000Z" parentGUID="5f18a5a0-6db1-43ef-a0d5-13306f3fc8ed" nodeTypeAlias="Image" path="-1,2426,2568">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[201624]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1813/ok_uge39_1200x600.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[600]]></umbracoHeight>
  <umbracoWidth><![CDATA[1200]]></umbracoWidth>
</Image>