<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Styles - Product Showcase" Key="d141be3a-d012-497c-bb46-698a257e1f8d" Id="Our.Umbraco.StackedContent" DatabaseType="Ntext" Folder="Baseline/Style+pickers">
  <PreValues>
    <PreValue SortOrder="1" Alias="contentTypes"><![CDATA[[
  {
    "icContentTypeGuid": "ffdb785f-c30e-4776-bd59-c5bdcc21da3c",
    "nameTemplate": "Produkt showcase"
  },
  {
    "icContentTypeGuid": "2b9d17b3-b70e-499c-906b-b4ae213f42f4",
    "nameTemplate": "Padding"
  }
]]]></PreValue>
    <PreValue SortOrder="2" Alias="enableCopy"><![CDATA[0]]></PreValue>
    <PreValue SortOrder="3" Alias="enablePreview"><![CDATA[1]]></PreValue>
    <PreValue SortOrder="4" Alias="hideLabel"><![CDATA[0]]></PreValue>
    <PreValue SortOrder="5" Alias="maxItems"><![CDATA[0]]></PreValue>
    <PreValue SortOrder="6" Alias="singleItemMode"><![CDATA[0]]></PreValue>
  </PreValues>
</DataType>