<?xml version="1.0" encoding="utf-8"?>
<Image guid="4e866aee-a71f-4daa-9806-286516d1d770" id="1628" nodeName="image-0527.jpg" isDoc="" updated="2019-10-21T06.38.44.0630000Z" parentGUID="55543541-614d-46b1-ad94-5c8d92c9f509" nodeTypeAlias="Image" path="-1,1539,1563,1564,1628">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[72443]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1168/image-0527.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[850]]></umbracoHeight>
  <umbracoWidth><![CDATA[850]]></umbracoWidth>
</Image>