<?xml version="1.0" encoding="utf-8"?>
<Image guid="c4d7677e-b1c5-4747-b6d2-0419d575bade" id="3193" nodeName="36678 Slider Mobil 600X400 02" isDoc="" updated="2022-02-09T08.08.43.4130000Z" parentGUID="fb540af0-455d-4d92-8144-fde965e6dc24" nodeTypeAlias="Image" path="-1,1706,3189,3193">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[103063]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2302/36678_slider_mobil_600x400_02.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[400]]></umbracoHeight>
  <umbracoWidth><![CDATA[600]]></umbracoWidth>
</Image>