<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Styles - Catalog" Key="5ea92599-70bb-44d4-b962-2286a74a2fba" Id="Our.Umbraco.StackedContent" DatabaseType="Ntext" Folder="Baseline/Style+pickers">
  <PreValues>
    <PreValue SortOrder="1" Alias="contentTypes"><![CDATA[[
  {
    "icContentTypeGuid": "8fab2ff4-b8cd-4683-bc46-aa073546f72e",
    "nameTemplate": "Baggrund"
  },
  {
    "icContentTypeGuid": "16f7f91b-d909-4afa-b52a-f5410ebd211b",
    "nameTemplate": "Tekst"
  }
]]]></PreValue>
    <PreValue SortOrder="2" Alias="enableCopy"><![CDATA[0]]></PreValue>
    <PreValue SortOrder="3" Alias="enablePreview"><![CDATA[1]]></PreValue>
    <PreValue SortOrder="4" Alias="hideLabel"><![CDATA[0]]></PreValue>
    <PreValue SortOrder="5" Alias="maxItems"><![CDATA[0]]></PreValue>
    <PreValue SortOrder="6" Alias="singleItemMode"><![CDATA[0]]></PreValue>
  </PreValues>
</DataType>