<?xml version="1.0" encoding="utf-8"?>
<Image guid="f7529a10-da45-4df7-9183-245fda2b7c29" id="1921" nodeName="brystfillet_600x400.jpg" isDoc="" updated="2019-11-04T15.06.07.9500000Z" parentGUID="a33c66cf-e7e0-45c0-b7bb-42426c9a4e86" nodeTypeAlias="Image" path="-1,1530,1534,1920,1921">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[128777]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1317/brystfillet_600x400.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[400]]></umbracoHeight>
  <umbracoWidth><![CDATA[600]]></umbracoWidth>
</Image>