<?xml version="1.0" encoding="utf-8"?>
<Image guid="84dd6f02-7fb6-44b0-add3-3b9512d5669c" id="2638" nodeName="34565_nytårsmenu_Topslidere_2000x500.jpg" isDoc="" updated="2020-10-23T11.07.29.1100000Z" parentGUID="3b238b5f-bda8-4ef1-a530-a32c795d23c5" nodeTypeAlias="Image" path="-1,1581,1895,1896,2636,2638">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[587196]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1849/34565_nytaarsmenu_topslidere_2000x500.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[500]]></umbracoHeight>
  <umbracoWidth><![CDATA[2000]]></umbracoWidth>
</Image>