<?xml version="1.0" encoding="utf-8"?>
<Image guid="90b0b27f-cfd8-4bcd-b275-af4077537c8d" id="3284" nodeName="Tøj 03" isDoc="" updated="2022-03-01T11.40.05.5370000Z" parentGUID="c1a100a8-5bf0-4d16-b9c2-670cac727a9f" nodeTypeAlias="Image" path="-1,3218,3284">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[9049]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2383/toej_03.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[731]]></umbracoHeight>
  <umbracoWidth><![CDATA[851]]></umbracoWidth>
</Image>