<?xml version="1.0" encoding="utf-8"?>
<Image guid="420811cf-ce29-4293-b4d1-363776316f71" id="1858" nodeName="SB-om-os-600x400.jpg" isDoc="" updated="2019-10-21T17.08.07.9830000Z" parentGUID="2cef8618-eded-4726-aaed-ac9697ba026c" nodeTypeAlias="Image" path="-1,1846,1858">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[186647]]></umbracoBytes>
  <umbracoExtension><![CDATA[jpg]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1262/sb-om-os-600x400.jpg", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[400]]></umbracoHeight>
  <umbracoWidth><![CDATA[600]]></umbracoWidth>
</Image>