<?xml version="1.0" encoding="utf-8"?>
<Image guid="56455112-4a93-4ef4-ac1a-1ed8254bb91b" id="3478" nodeName="BK Go Pris Hver Dag 600X400 Mobile" isDoc="" updated="2022-07-28T08.11.39.8330000Z" parentGUID="44f09677-9073-4902-9dc0-f2b3b9badf2e" nodeTypeAlias="Image" path="-1,3469,3478">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[28015]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2519/bk_go_pris_hver_dag_600x400-mobile.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[400]]></umbracoHeight>
  <umbracoWidth><![CDATA[600]]></umbracoWidth>
</Image>