<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>d719ae2d-3d71-4000-a401-8e0e2c646a0d</Key>
    <Name>Knapkomponent</Name>
    <Alias>componentButton</Alias>
    <Icon>icon-tab color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Folder>Baseline/Components</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>cb44e937-b318-4598-a3e9-e046ea3cdc3c</Key>
      <Name>Knap</Name>
      <Alias>button</Alias>
      <Definition>c8261dbf-b464-4caa-9b98-13aeca4f1137</Definition>
      <Type>RJP.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Indhold</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>a12b4586-90a3-4034-8bbe-df04c2fa9bb5</Key>
      <Name>Størrelse</Name>
      <Alias>size</Alias>
      <Definition>dde62912-3492-4252-85a8-846306ff8d9f</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Vælg en størrelse. Hvis du ikke vælger noget får knappen bare standardstørrelsen]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Indhold</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>e51c07a8-fa63-4c20-8094-8ba148888343</Key>
      <Name>Udseende</Name>
      <Alias>style</Alias>
      <Definition>c8be2be3-09ee-4db8-a0d3-16e6b5985c8f</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Indhold</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>3d9ea8ac-3a5c-4e5b-b471-58bf1c006132</Key>
      <Name>Fuld bredde</Name>
      <Alias>wide</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Indhold</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Indhold</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>