<?xml version="1.0" encoding="utf-8"?>
<Image guid="89dd2519-7780-4678-96cb-d0e0e58ba635" id="3548" nodeName="37534 Nytaar Slider Mobil 600X400" isDoc="" updated="2022-10-07T07.55.13.0070000Z" parentGUID="2ee1e026-f171-4a5f-b2a3-5a24eef20102" nodeTypeAlias="Image" path="-1,1706,2007,3548">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[63686]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/2576/37534_nytaar_slider_mobil_600x400.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[400]]></umbracoHeight>
  <umbracoWidth><![CDATA[600]]></umbracoWidth>
</Image>