<?xml version="1.0" encoding="utf-8"?>
<Image guid="64f70a96-ec01-4e88-aa67-fd4a1fb0cd06" id="2770" nodeName="Coop_Sliderbanner_Desktop_2000x500.png" isDoc="" updated="2020-12-17T13.13.51.6470000Z" parentGUID="631902dc-a303-44a8-a0f8-a758c52eb53b" nodeTypeAlias="Image" path="-1,1706,2643,2770">
  <alt></alt>
  <eanNumber></eanNumber>
  <normalPrice></normalPrice>
  <productDetails></productDetails>
  <productIcon></productIcon>
  <productType></productType>
  <relations></relations>
  <umbracoBytes><![CDATA[21602]]></umbracoBytes>
  <umbracoExtension><![CDATA[png]]></umbracoExtension>
  <umbracoFile><![CDATA[{"src": "/media/1953/coop_sliderbanner_desktop_2000x500.png", "crops": []}]]></umbracoFile>
  <umbracoHeight><![CDATA[500]]></umbracoHeight>
  <umbracoWidth><![CDATA[2000]]></umbracoWidth>
</Image>